{% set artisan = __SELF__.loggedInArtisan %}
        <form novalidate data-request="onUpdate" method="post" data-request-validate data-request-files data-request-flash>  
            {{ form_token() }}
            {{ form_sessionKey() }}
            <input type="hidden" name="slug" value="{{artisan.slug}}">
            <div class="form-group">
                <label for="company_name">Name</label>
                <input name="company_name" type="text" class="form-1-style2 border1 borderf7 b-radius3" id="accountName" value="{{artisan.company_name}}" />
            </div>
            <div class="form-group">
                <label for="accountNumber">Phone Number</label>
                <input name="phone_number" type="number" class="form-1-style2 border1 borderf7 b-radius3" placeholder="2340000000000" id="accountNumber" value="{{ artisan.phone_number }}" />
            </div>
            <div class="form-group">
                <label for="description">Description</label> <br/>
                <textarea name="description" class="form-1-style2 border1 borderf7 b-radius3">{{artisan.description}}</textarea>
            </div> 
            <div class="clearfix"></div>
            <div class="form-group">
                <label>Artisan Image</label>
                    <input type="file" data-request="onImageUpload" accept="image/*" name="artisan_image" data-request-files data-request-flash>  
                <div id="artisan_image">
                {% if not artisan.artisan_image.path %}
                    <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Artisan Image" class="b-radius3 img-responsive artisanheaderimage">
                {% else %}
                    <img src="{{ artisan.artisan_image.path }}" alt="Artisan Image" class="b-radius3 img-responsive artisanheaderimage">
                {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label>Gallery Images</label>
                    <input type="file" data-request="onGalleryUpload" accept="image/*" name="premium_gallery[]" data-request-files data-request-flash multiple/>  
                <div id="premium_gallery">
                    {% if not artisan.premium_gallery %}
                    <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Artisan Image" class="b-radius3 img-responsive artisanheaderimage">
                {% else %}
                    {% for galleryItem in artisan.premium_gallery %}
                        <img src="{{ galleryItem.path }}" alt="Artisan Image" class="galleryimage" />
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <button type="submit" class="submit-btn button1-1 b-radius3 right30 button-orange top20">Save</button>
        </form>

