description = "Artisan Dashboard layout"
[session]
security = "all"
redirect = "home"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/analytics' %}
        <meta charset="utf-8">
        <title>Jambolo - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <!-- <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}"> -->
   
        <link href="{{ 'assets/css/master.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        {# <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color1.css'|theme }}" title="color1" media="all" data-default-color="true" /> #}
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.css'|theme }}" media="all" />
        <link rel="stylesheet" href="{{ 'assets/css/mystyles.css'|theme }}" media="all" />
       <!--  <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color2.css'|theme }}" title="color2" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color3.css'|theme }}" title="color3" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color4.css'|theme }}" title="color4" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color5.css'|theme }}" title="color5" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color6.css'|theme }}" title="color6" media="all" /> -->
        <!-- <link rel="stylesheet" href="{{ 'assets/css/normalize.min.css'|theme}}">
        <link rel="stylesheet" href="{{ 'assets/css/jquery.collapsible.demo.css'|theme}}"> -->

        {% styles %}


    </head>
    <body>

        <!-- Header -->
        <header>
            {% partial 'artisandashboard/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
        {# <div id="page-preloader"><span class="spinner"></span></div> #}

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% partial 'artisandashboard/sidenav' %}
                </div>

                <div class="col-md-8">
                    {% page %}
                </div>
            </div>
        </div>

            
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'artisandashboard/footer' %}
        </footer>
     
        <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
        
        <script src="{{ 'assets/js/modernizr.custom.js'|theme }}"></script>
        <script src="{{ 'assets/js/classie.js'|theme }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJENVjGB6htvKEOie5CQwa0JuazL-AXw"></script>
        <script src="{{ 'assets/switcher/js/switcher.js'|theme}}"></script>
        <script src="{{ 'assets/chosen/chosen.jquery.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        <script src="{{ 'assets/js/bootstrap-slider.js'|theme }}"></script>
        <script src="{{ 'assets/js/bootstrap-datepicker.js'|theme }}"></script>
        <script src="{{ 'assets/js/datepicker.js'|theme }}"></script>
        <script src="{{ 'assets/slider-pro/js/jquery.sliderPro.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.smooth-scroll.js'|theme }}"></script>
        <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
        {# <script src="{{ 'assets/js/jquery.placeholder.min.js.map'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.placeholder.min.js'|theme }}"></script>      #}
        {# <script src="{{ 'assets/js/theme.js'|theme }}"></script> #}
       

       
        

    </body>
</html>
