{% set sizes = Shop.sizes %}
{% set colors = Shop.colors %}
{% set frames = Shop.frames %}
{% set shippingCost = 1000 %}
{% set sizes = Shop.sizes %}
{% set cart = Cart.dbCart %}
{% set cartTotal = Cart.dbCartTotal %}
<section class="shopping-cart">
    <!-- .shopping-cart -->

    


    <div class="container">
			
			{% if cart is not empty %}
			<form data-request="onSubmitCheckout" method="post" id="checkoutform">
				<div class="col-md-8">
					<div style="">
						<div style=" padding:20px; background:#dedede; border: none; border-radius:10px 10px 0 0;" >
							<a href="/marketplace" class="button grey">Continue Shopping</a>
							<span style="padding:5px">You have {{cart|length}} item(s) to checkout</span>
							<a href="/cart" class="button darkgrey">Back to Cart</a>
						</div>
						<div id="shippinginfo">
                            <h4>Billing & Shipping Information</h4>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="">First name</label>
									<input name="first_name_shipping" class="form-control" placeholder="First Name" type="text" value="{{user.name}}"/>
								</div>
								<div class="form-group col-md-6">
									<label for="">Last name</label>	
									<input name="last_name_shipping" class="form-control" placeholder="Last Name" type="text" value="{{user.surname}}"/>	
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="">E-mail</label>
									<input name="email_shipping" class="form-control" readonly placeholder="Email" type="email" value="{{user.email}}"/>
								</div>
								<div class="form-group col-md-6">
									<label for="">Phone Number</label>
									<input name="phone_number_shipping" class="form-control" placeholder="Telephone" type="text" value="{{user.phone_number}}"/>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="">Address 1</label>
									<input name="address_shipping1" class="form-control" placeholder="Address 1" type="text" value="{{user.address1}}"/>	
								</div>
								<div class="form-group col-md-4">
									<label for="">Address 2</label>
									<input name="address_shipping2" class="form-control" placeholder="Address 2" type="text" value="{{user.address2}}"/>	
								</div>
								<div class="form-group col-md-4">
									<label for="">City</label>	
									<input name="city_shipping" class="form-control" placeholder="City" type="text" value="{{user.city}}"/>
								</div>
							</div>
                    	</div>
					</div>
				</div>
			

			<div class="col-md-4" style="">
				<div style="display:inline-block; border: 1px solid #e1e8ed; border-radius:4px; padding:45px; padding-top:15px; background-color: #222; color: #fff">
					<h3>Order Review</h3>
					{% for cartItem in cart %}
							<div style="">
								<h5>{{cartItem.product.name}} x {{cartItem.quantity}}</h5>
                                	<h6>NGN {{cartItem.cost| number_format(2, '.', ',')}}</h6>
								<hr style="margin-top:10px; margin-bottom:10px">
							</div>	
						{% endfor %}
					
					<h4>Shipping: NGN 1,000</h4>
					{% set finalTotal = cartTotal + shippingCost %}
                    <h4>Total: NGN {{ finalTotal|number_format(2,'.', ',')}}<br/>
						<span id="coupondiscount" style="color:red!important;">
						</span>
					</h4>
		
                    <div class="lable">
                    {#<h3>Coupon Code</h3>
                    <input type="text" id="couponcode" style="color:#333" placeholder="Get a discount with a coupon code"> #}
                    <div style="margin-top:10px;">
                        {# <a id="couponsubmit" class="button red" style="cursor:pointer; padding:7.5px 10px; color:#fff !important; border-color:#fff">Apply Coupon</a> #}
                        <button type="submit" title="Place Order" class="button red" style="padding:5px 10px; color:#fff !important; border-color:#fff" form="checkoutform">
                            Place Order
                        </button>
                    </div>
                    
                    {# <p class="f-left">Forgot an Item? <a href="#">Edit Your Cart</a></p> #}
                </div>
                    
					
				</div>
				
			
			</div>
			</form>

			{% else %}
				<div class="col-md-12">
					<h3>You do not have any items in your cart</h3>
					<div style="margin-top:50px;">
						<a href="/marketplace" class="button red" >Go Shopping</a>
					</div>
				</div>
			{% endif %}
		</div>

        <!-- /.shopping-cart -->
</section>