{% set sizes = Shop.sizes %}
{% set colors = Shop.colors %}
{% set frames = Shop.frames %}
{% set shippingCost = 1000 %}
{% set cart = Cart.dbCart %}
{% set cartTotal = Cart.dbCartTotal %}
<section class="shopping-cart">
		<!-- .shopping-cart -->
        
		<div class="container">
        {% if not cart %}
            <h5>
                There are no items in your cart. Please visit the
                    <a style="color:blue !important" href="{{'prints-ajax'|page}}">prints </a>page to add some items for checkout
            </h5>
        {% else %}
        
        <div class="row">
            <div class="col-md-7">
            <div class="tabContent" id="tabContent1">
                    <div class="panel-group" id="accordion">
                        {% if not user %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Create a new account </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="shipping-outer">
                                            <h4>Create a new account</h4>
                                            <p>You must be logged in to complete checkout. Please register below if you do not have an account or use the login form</p>
                                            <form name="register-form" data-request="onRegister" enctype="multipart/form-data" >
                                            <div class="row">
                                                <div class="col-md-6 counttry">
                                                    <div class="lable">First Name</div>
                                                    <input name="name" placeholder="Enter First Name" type="text">
                                                </div>
                                                <div class="col-md-6 counttry">
                                                    <div class="lable">Last Name</div>
                                                    <input name="surname" placeholder="Enter Last Name" type="text">
                                                </div>
                                                <div class="col-md-12 counttry">
                                                    <div class="lable">Email:</div>
                                                    <input name="email" placeholder="Enter email" type="text">
                                                </div>
                                                <div class="col-md-6 counttry">
                                                    <div class="lable">Password:</div>
                                                    <input name="password" placeholder="Enter Password" type="password">
                                                </div>
                                                <div class="col-md-6 counttry">
                                                    <div class="lable">Password:</div>
                                                    <input name="password_confirmation" placeholder="Enter Password" type="password">
                                                </div>
                                            </div>
                                            <button type="submit" class="button2">Register</button>
                                            </form>
                                            {# <a href="#" class="button3">Checkout as guest</a> #}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="shipping-outer">
                                            <h4>Login to your account</h4>
                                            <form name="register-form" data-request="onSignin" enctype="multipart/form-data" >
                                                <div class="row">
                                                    <div class="col-md-12 counttry">
                                                        <div class="lable">Email:</div>
                                                        <input name="login" placeholder="Enter email" type="text">
                                                    </div>
                                                    <div class="col-md-12 counttry">
                                                        <div class="lable">Password:</div>
                                                        <input name="password" placeholder="Enter password" type="password">
                                                    </div>
                                                </div>
            
                                                <button type="submit" class="button2">Login</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <form data-request="onSubmitCheckout" method="post" id="checkoutform">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Billing Information</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="shipping-outer">
                                        <div class="col-sm-4 col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 counttry">
                                                    <div class="label">First Name*</div>
                                                    <span class="error">{{errors.first('name')}}</span>
                                                    <input name="first_name" placeholder="First Name" type="text" value="{{user.name}}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="col-md-12 counttry">
                                                <div class="label">Last Name*</div>
                                                <span class="error">{{errors.first('surname')}}</span>
                                                <input name="last_name" placeholder="Last Name" type="text" value="{{user.surname}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12">
                                            <div class="label">Email*</div>
                                            <span class="error">{{errors.first('email')}}</span>
                                            <input name="email" placeholder="Email" type="email" value="{{user.email}}" >
                                        </div>
                                        <div class="col-sm-12 col-md-12">
                                            <div class="label">Address*</div>
                                            <span class="error">{{errors.first('address')}}</span>
                                            <input name="address" placeholder="Address" type="text"  value="{{user.address}}">
                                        </div>
                                        {# <div class="col-sm-4 col-md-4">
                                            <div class="lable">Country</div>
                                            <div class="size State">
                                                <div class="select-option">
                                                <select name="country">
                                                    <option value="AF">Afghanistan</option>
                                                    <option value="AX">Åland Islands</option>
                                                    <option value="AL">Albania</option>
                                                    <option value="DZ">Algeria</option>
                                                    <option value="AS">American Samoa</option>
                                                    <option value="AD">Andorra</option>
                                                    <option value="AO">Angola</option>
                                                    <option value="AI">Anguilla</option>
                                                    <option value="AQ">Antarctica</option>
                                                    <option value="AG">Antigua and Barbuda</option>
                                                    <option value="AR">Argentina</option>
                                                    <option value="AM">Armenia</option>
                                                    <option value="AW">Aruba</option>
                                                    <option value="AU">Australia</option>
                                                    <option value="AT">Austria</option>
                                                    <option value="AZ">Azerbaijan</option>
                                                    <option value="BS">Bahamas</option>
                                                    <option value="BH">Bahrain</option>
                                                    <option value="BD">Bangladesh</option>
                                                    <option value="BB">Barbados</option>
                                                    <option value="BY">Belarus</option>
                                                    <option value="BE">Belgium</option>
                                                    <option value="BZ">Belize</option>
                                                    <option value="BJ">Benin</option>
                                                    <option value="BM">Bermuda</option>
                                                    <option value="BT">Bhutan</option>
                                                    <option value="BO">Bolivia</option>
                                                    <option value="BA">Bosnia and Herzegovina</option>
                                                    <option value="BW">Botswana</option>
                                                    <option value="BV">Bouvet Island</option>
                                                    <option value="BR">Brazil</option>
                                                    <option value="IO">British Indian Ocean Territory</option>
                                                    <option value="VG">British Virgin Islands</option>
                                                    <option value="BN">Brunei</option>
                                                    <option value="BG">Bulgaria</option>
                                                    <option value="BF">Burkina Faso</option>
                                                    <option value="BI">Burundi</option>
                                                    <option value="KH">Cambodia</option>
                                                    <option value="CM">Cameroon</option>
                                                    <option value="CA">Canada</option>
                                                    <option value="CV">Cape Verde</option>
                                                    <option value="KY">Cayman Islands</option>
                                                    <option value="CF">Central African Republic</option>
                                                    <option value="TD">Chad</option>
                                                    <option value="CL">Chile</option>
                                                    <option value="CN">China</option>
                                                    <option value="CX">Christmas Island</option>
                                                    <option value="CC">Cocos (Keeling) Islands</option>
                                                    <option value="CO">Colombia</option>
                                                    <option value="KM">Comoros</option>
                                                    <option value="CG">Congo - Brazzaville</option>
                                                    <option value="CD">Congo - Kinshasa</option>
                                                    <option value="CK">Cook Islands</option>
                                                    <option value="CR">Costa Rica</option>
                                                    <option value="CI">Côte d’Ivoire</option>
                                                    <option value="HR">Croatia</option>
                                                    <option value="CU">Cuba</option>
                                                    <option value="CY">Cyprus</option>
                                                    <option value="CZ">Czech Republic</option>
                                                    <option value="DK">Denmark</option>
                                                    <option value="DJ">Djibouti</option>
                                                    <option value="DM">Dominica</option>
                                                    <option value="DO">Dominican Republic</option>
                                                    <option value="EC">Ecuador</option>
                                                    <option value="EG">Egypt</option>
                                                    <option value="SV">El Salvador</option>
                                                    <option value="GQ">Equatorial Guinea</option>
                                                    <option value="ER">Eritrea</option>
                                                    <option value="EE">Estonia</option>
                                                    <option value="ET">Ethiopia</option>
                                                    <option value="FK">Falkland Islands</option>
                                                    <option value="FO">Faroe Islands</option>
                                                    <option value="FJ">Fiji</option>
                                                    <option value="FI">Finland</option>
                                                    <option value="FR">France</option>
                                                    <option value="GF">French Guiana</option>
                                                    <option value="PF">French Polynesia</option>
                                                    <option value="TF">French Southern Territories</option>
                                                    <option value="GA">Gabon</option>
                                                    <option value="GM">Gambia</option>
                                                    <option value="GE">Georgia</option>
                                                    <option value="DE">Germany</option>
                                                    <option value="GH">Ghana</option>
                                                    <option value="GI">Gibraltar</option>
                                                    <option value="GR">Greece</option>
                                                    <option value="GL">Greenland</option>
                                                    <option value="GD">Grenada</option>
                                                    <option value="GP">Guadeloupe</option>
                                                    <option value="GU">Guam</option>
                                                    <option value="GT">Guatemala</option>
                                                    <option value="GG">Guernsey</option>
                                                    <option value="GN">Guinea</option>
                                                    <option value="GW">Guinea-Bissau</option>
                                                    <option value="GY">Guyana</option>
                                                    <option value="HT">Haiti</option>
                                                    <option value="HM">Heard &amp; McDonald Islands</option>
                                                    <option value="HN">Honduras</option>
                                                    <option value="HK">Hong Kong SAR China</option>
                                                    <option value="HU">Hungary</option>
                                                    <option value="IS">Iceland</option>
                                                    <option value="IN">India</option>
                                                    <option value="ID">Indonesia</option>
                                                    <option value="IR">Iran</option>
                                                    <option value="IQ">Iraq</option>
                                                    <option value="IE">Ireland</option>
                                                    <option value="IM">Isle of Man</option>
                                                    <option value="IL">Israel</option>
                                                    <option value="IT">Italy</option>
                                                    <option value="JM">Jamaica</option>
                                                    <option value="JP">Japan</option>
                                                    <option value="JE">Jersey</option>
                                                    <option value="JO">Jordan</option>
                                                    <option value="KZ">Kazakhstan</option>
                                                    <option value="KE">Kenya</option>
                                                    <option value="KI">Kiribati</option>
                                                    <option value="KW">Kuwait</option>
                                                    <option value="KG">Kyrgyzstan</option>
                                                    <option value="LA">Laos</option>
                                                    <option value="LV">Latvia</option>
                                                    <option value="LB">Lebanon</option>
                                                    <option value="LS">Lesotho</option>
                                                    <option value="LR">Liberia</option>
                                                    <option value="LY">Libya</option>
                                                    <option value="LI">Liechtenstein</option>
                                                    <option value="LT">Lithuania</option>
                                                    <option value="LU">Luxembourg</option>
                                                    <option value="MO">Macau SAR China</option>
                                                    <option value="MK">Macedonia</option>
                                                    <option value="MG">Madagascar</option>
                                                    <option value="MW">Malawi</option>
                                                    <option value="MY">Malaysia</option>
                                                    <option value="MV">Maldives</option>
                                                    <option value="ML">Mali</option>
                                                    <option value="MT">Malta</option>
                                                    <option value="MH">Marshall Islands</option>
                                                    <option value="MQ">Martinique</option>
                                                    <option value="MR">Mauritania</option>
                                                    <option value="MU">Mauritius</option>
                                                    <option value="YT">Mayotte</option>
                                                    <option value="MX">Mexico</option>
                                                    <option value="FM">Micronesia</option>
                                                    <option value="MD">Moldova</option>
                                                    <option value="MC">Monaco</option>
                                                    <option value="MN">Mongolia</option>
                                                    <option value="ME">Montenegro</option>
                                                    <option value="MS">Montserrat</option>
                                                    <option value="MA">Morocco</option>
                                                    <option value="MZ">Mozambique</option>
                                                    <option value="MM">Myanmar (Burma)</option>
                                                    <option value="NA">Namibia</option>
                                                    <option value="NR">Nauru</option>
                                                    <option value="NP">Nepal</option>
                                                    <option value="NL">Netherlands</option>
                                                    <option value="AN">Netherlands Antilles</option>
                                                    <option value="NC">New Caledonia</option>
                                                    <option value="NZ">New Zealand</option>
                                                    <option value="NI">Nicaragua</option>
                                                    <option value="NE">Niger</option>
                                                    <option value="NG">Nigeria</option>
                                                    <option value="NU">Niue</option>
                                                    <option value="NF">Norfolk Island</option>
                                                    <option value="MP">Northern Mariana Islands</option>
                                                    <option value="KP">North Korea</option>
                                                    <option value="NO">Norway</option>
                                                    <option value="OM">Oman</option>
                                                    <option value="PK">Pakistan</option>
                                                    <option value="PW">Palau</option>
                                                    <option value="PS">Palestinian Territories</option>
                                                    <option value="PA">Panama</option>
                                                    <option value="PG">Papua New Guinea</option>
                                                    <option value="PY">Paraguay</option>
                                                    <option value="PE">Peru</option>
                                                    <option value="PH">Philippines</option>
                                                    <option value="PN">Pitcairn Islands</option>
                                                    <option value="PL">Poland</option>
                                                    <option value="PT">Portugal</option>
                                                    <option value="PR">Puerto Rico</option>
                                                    <option value="QA">Qatar</option>
                                                    <option value="RE">Réunion</option>
                                                    <option value="RO">Romania</option>
                                                    <option value="RU">Russia</option>
                                                    <option value="RW">Rwanda</option>
                                                    <option value="BL">Saint Barthélemy</option>
                                                    <option value="SH">Saint Helena</option>
                                                    <option value="KN">Saint Kitts and Nevis</option>
                                                    <option value="LC">Saint Lucia</option>
                                                    <option value="MF">Saint Martin</option>
                                                    <option value="PM">Saint Pierre and Miquelon</option>
                                                    <option value="WS">Samoa</option>
                                                    <option value="SM">San Marino</option>
                                                    <option value="ST">São Tomé and Príncipe</option>
                                                    <option value="SA">Saudi Arabia</option>
                                                    <option value="SN">Senegal</option>
                                                    <option value="RS">Serbia</option>
                                                    <option value="SC">Seychelles</option>
                                                    <option value="SL">Sierra Leone</option>
                                                    <option value="SG">Singapore</option>
                                                    <option value="SK">Slovakia</option>
                                                    <option value="SI">Slovenia</option>
                                                    <option value="SB">Solomon Islands</option>
                                                    <option value="SO">Somalia</option>
                                                    <option value="ZA">South Africa</option>
                                                    <option value="GS">South Georgia &amp; South Sandwich Islands</option>
                                                    <option value="KR">South Korea</option>
                                                    <option value="ES">Spain</option>
                                                    <option value="LK">Sri Lanka</option>
                                                    <option value="VC">St. Vincent &amp; Grenadines</option>
                                                    <option value="SD">Sudan</option>
                                                    <option value="SR">Suriname</option>
                                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                                    <option value="SZ">Swaziland</option>
                                                    <option value="SE">Sweden</option>
                                                    <option value="CH">Switzerland</option>
                                                    <option value="SY">Syria</option>
                                                    <option value="TW">Taiwan</option>
                                                    <option value="TJ">Tajikistan</option>
                                                    <option value="TZ">Tanzania</option>
                                                    <option value="TH">Thailand</option>
                                                    <option value="TL">Timor-Leste</option>
                                                    <option value="TG">Togo</option>
                                                    <option value="TK">Tokelau</option>
                                                    <option value="TO">Tonga</option>
                                                    <option value="TT">Trinidad and Tobago</option>
                                                    <option value="TN">Tunisia</option>
                                                    <option value="TR">Turkey</option>
                                                    <option value="TM">Turkmenistan</option>
                                                    <option value="TC">Turks and Caicos Islands</option>
                                                    <option value="TV">Tuvalu</option>
                                                    <option value="UG">Uganda</option>
                                                    <option value="UA">Ukraine</option>
                                                    <option value="AE">United Arab Emirates</option>
                                                    <option value="GB">United Kingdom</option>
                                                    <option value="US" selected="selected">United States</option>
                                                    <option value="UY">Uruguay</option>
                                                    <option value="UM">U.S. Outlying Islands</option>
                                                    <option value="VI">U.S. Virgin Islands</option>
                                                    <option value="UZ">Uzbekistan</option>
                                                    <option value="VU">Vanuatu</option>
                                                    <option value="VA">Vatican City</option>
                                                    <option value="VE">Venezuela</option>
                                                    <option value="VN">Vietnam</option>
                                                    <option value="WF">Wallis and Futuna</option>
                                                    <option value="EH">Western Sahara</option>
                                                    <option value="YE">Yemen</option>
                                                    <option value="ZM">Zambia</option>
                                                    <option value="ZW">Zimbabwe</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div> #}
                                        {# <div class="col-sm-4 col-md-4">
                                            <div class="lable">State</div>
                                            <div class="size State">
                                                <div class="select-option">
                                                    <select name="state">
                                                <option value="">Please select state</option>
                                                {% for state in states %}
                                                    <option value="state">{{state}}</option>
                                                {% endfor %}
                                            </select>
                                                </div>
                                            </div>
                                        </div> #}
                                        <div class="col-sm-4 col-md-4">
                                            <div class="lable">City*</div>
                                            <span class="error">{{errors.first('city')}}</span>
                                            <input name="city" placeholder="City" type="text" value="{{user.city}}">
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="lable">Telephone*</div>
                                            <span class="error">{{errors.first('phone_number')}}</span>
                                            <input name="phone_number" placeholder="Telephone" type="text" value="{{user.phone_number}}">
                                        </div>
                                        {# <div class="col-sm-4 col-md-4">
                                            <div class="lable">Zip/Postal Code</div>
                                            <input name="zip" placeholder="Zip/Postal Code" type="text">
                                        </div> #}
                                        <div class="col-sm-12 col-md-12">
                                            <input name="use_for_shipping" value="yes" type="radio" class="radio shippingAddress" checked />
                                            <label class="label-radio">Ship to this address</label>
                                            <input name="use_for_shipping" value="no" type="radio" class="radio shippingAddress" />
                                            <label class="label-radio">Ship to different address</label>
                                        </div>
                                        {# <div class="col-sm-4 col-md-4">
                                            <a href="#" class="button2">Continue</a>
                                        </div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="shippinginfo" class="panel panel-default hide">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Shipping Information</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="shipping-outer">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="row">
                                            <div class="col-md-12 counttry">
                                                <div class="lable">First Name</div>
                                                <input name="first_name_shipping" placeholder="First Name" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="col-md-12 counttry">
                                            <div class="lable">Last Name</div>
                                            <input name="last_name_shipping" placeholder="Last Name" type="text" />
                                        </div>
                                    </div>
                                    {# <div class="col-sm-4 col-md-4">
                                        <div class="col-md-12 counttry">
                                            <div class="lable">Company</div>
                                            <input name="Company" placeholder="Company" type="text" />
                                        </div>
                                    </div> #}
                                    <div class="col-sm-12 col-md-12">
                                        <div class="lable">Email</div>
                                        <input name="email_shipping" placeholder="Email" type="email" />
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="lable">Address</div>
                                        <input name="address_shipping" placeholder="Address" type="text" />
                                    </div>
                                    {# <div class="col-sm-12 col-md-12">
                                        <div class="lable">Street Address 2</div>
                                        <input name="address2" placeholder="Address2" type="text">
                                    </div> #}
                                    {# <div class="col-sm-4 col-md-4">
                                        <div class="lable">Country</div>
                                        <div class="size State">
                                            <div class="select-option">
                                                <select>
                                            <option value="AF">Afghanistan</option>
                                            <option value="AX">Åland Islands</option>
                                            <option value="AL">Albania</option>
                                            <option value="DZ">Algeria</option>
                                            <option value="AS">American Samoa</option>
                                            <option value="AD">Andorra</option>
                                            <option value="AO">Angola</option>
                                            <option value="AI">Anguilla</option>
                                            <option value="AQ">Antarctica</option>
                                            <option value="AG">Antigua and Barbuda</option>
                                            <option value="AR">Argentina</option>
                                            <option value="AM">Armenia</option>
                                            <option value="AW">Aruba</option>
                                            <option value="AU">Australia</option>
                                            <option value="AT">Austria</option>
                                            <option value="AZ">Azerbaijan</option>
                                            <option value="BS">Bahamas</option>
                                            <option value="BH">Bahrain</option>
                                            <option value="BD">Bangladesh</option>
                                            <option value="BB">Barbados</option>
                                            <option value="BY">Belarus</option>
                                            <option value="BE">Belgium</option>
                                            <option value="BZ">Belize</option>
                                            <option value="BJ">Benin</option>
                                            <option value="BM">Bermuda</option>
                                            <option value="BT">Bhutan</option>
                                            <option value="BO">Bolivia</option>
                                            <option value="BA">Bosnia and Herzegovina</option>
                                            <option value="BW">Botswana</option>
                                            <option value="BV">Bouvet Island</option>
                                            <option value="BR">Brazil</option>
                                            <option value="IO">British Indian Ocean Territory</option>
                                            <option value="VG">British Virgin Islands</option>
                                            <option value="BN">Brunei</option>
                                            <option value="BG">Bulgaria</option>
                                            <option value="BF">Burkina Faso</option>
                                            <option value="BI">Burundi</option>
                                            <option value="KH">Cambodia</option>
                                            <option value="CM">Cameroon</option>
                                            <option value="CA">Canada</option>
                                            <option value="CV">Cape Verde</option>
                                            <option value="KY">Cayman Islands</option>
                                            <option value="CF">Central African Republic</option>
                                            <option value="TD">Chad</option>
                                            <option value="CL">Chile</option>
                                            <option value="CN">China</option>
                                            <option value="CX">Christmas Island</option>
                                            <option value="CC">Cocos (Keeling) Islands</option>
                                            <option value="CO">Colombia</option>
                                            <option value="KM">Comoros</option>
                                            <option value="CG">Congo - Brazzaville</option>
                                            <option value="CD">Congo - Kinshasa</option>
                                            <option value="CK">Cook Islands</option>
                                            <option value="CR">Costa Rica</option>
                                            <option value="CI">Côte d’Ivoire</option>
                                            <option value="HR">Croatia</option>
                                            <option value="CU">Cuba</option>
                                            <option value="CY">Cyprus</option>
                                            <option value="CZ">Czech Republic</option>
                                            <option value="DK">Denmark</option>
                                            <option value="DJ">Djibouti</option>
                                            <option value="DM">Dominica</option>
                                            <option value="DO">Dominican Republic</option>
                                            <option value="EC">Ecuador</option>
                                            <option value="EG">Egypt</option>
                                            <option value="SV">El Salvador</option>
                                            <option value="GQ">Equatorial Guinea</option>
                                            <option value="ER">Eritrea</option>
                                            <option value="EE">Estonia</option>
                                            <option value="ET">Ethiopia</option>
                                            <option value="FK">Falkland Islands</option>
                                            <option value="FO">Faroe Islands</option>
                                            <option value="FJ">Fiji</option>
                                            <option value="FI">Finland</option>
                                            <option value="FR">France</option>
                                            <option value="GF">French Guiana</option>
                                            <option value="PF">French Polynesia</option>
                                            <option value="TF">French Southern Territories</option>
                                            <option value="GA">Gabon</option>
                                            <option value="GM">Gambia</option>
                                            <option value="GE">Georgia</option>
                                            <option value="DE">Germany</option>
                                            <option value="GH">Ghana</option>
                                            <option value="GI">Gibraltar</option>
                                            <option value="GR">Greece</option>
                                            <option value="GL">Greenland</option>
                                            <option value="GD">Grenada</option>
                                            <option value="GP">Guadeloupe</option>
                                            <option value="GU">Guam</option>
                                            <option value="GT">Guatemala</option>
                                            <option value="GG">Guernsey</option>
                                            <option value="GN">Guinea</option>
                                            <option value="GW">Guinea-Bissau</option>
                                            <option value="GY">Guyana</option>
                                            <option value="HT">Haiti</option>
                                            <option value="HM">Heard &amp; McDonald Islands</option>
                                            <option value="HN">Honduras</option>
                                            <option value="HK">Hong Kong SAR China</option>
                                            <option value="HU">Hungary</option>
                                            <option value="IS">Iceland</option>
                                            <option value="IN">India</option>
                                            <option value="ID">Indonesia</option>
                                            <option value="IR">Iran</option>
                                            <option value="IQ">Iraq</option>
                                            <option value="IE">Ireland</option>
                                            <option value="IM">Isle of Man</option>
                                            <option value="IL">Israel</option>
                                            <option value="IT">Italy</option>
                                            <option value="JM">Jamaica</option>
                                            <option value="JP">Japan</option>
                                            <option value="JE">Jersey</option>
                                            <option value="JO">Jordan</option>
                                            <option value="KZ">Kazakhstan</option>
                                            <option value="KE">Kenya</option>
                                            <option value="KI">Kiribati</option>
                                            <option value="KW">Kuwait</option>
                                            <option value="KG">Kyrgyzstan</option>
                                            <option value="LA">Laos</option>
                                            <option value="LV">Latvia</option>
                                            <option value="LB">Lebanon</option>
                                            <option value="LS">Lesotho</option>
                                            <option value="LR">Liberia</option>
                                            <option value="LY">Libya</option>
                                            <option value="LI">Liechtenstein</option>
                                            <option value="LT">Lithuania</option>
                                            <option value="LU">Luxembourg</option>
                                            <option value="MO">Macau SAR China</option>
                                            <option value="MK">Macedonia</option>
                                            <option value="MG">Madagascar</option>
                                            <option value="MW">Malawi</option>
                                            <option value="MY">Malaysia</option>
                                            <option value="MV">Maldives</option>
                                            <option value="ML">Mali</option>
                                            <option value="MT">Malta</option>
                                            <option value="MH">Marshall Islands</option>
                                            <option value="MQ">Martinique</option>
                                            <option value="MR">Mauritania</option>
                                            <option value="MU">Mauritius</option>
                                            <option value="YT">Mayotte</option>
                                            <option value="MX">Mexico</option>
                                            <option value="FM">Micronesia</option>
                                            <option value="MD">Moldova</option>
                                            <option value="MC">Monaco</option>
                                            <option value="MN">Mongolia</option>
                                            <option value="ME">Montenegro</option>
                                            <option value="MS">Montserrat</option>
                                            <option value="MA">Morocco</option>
                                            <option value="MZ">Mozambique</option>
                                            <option value="MM">Myanmar (Burma)</option>
                                            <option value="NA">Namibia</option>
                                            <option value="NR">Nauru</option>
                                            <option value="NP">Nepal</option>
                                            <option value="NL">Netherlands</option>
                                            <option value="AN">Netherlands Antilles</option>
                                            <option value="NC">New Caledonia</option>
                                            <option value="NZ">New Zealand</option>
                                            <option value="NI">Nicaragua</option>
                                            <option value="NE">Niger</option>
                                            <option value="NG">Nigeria</option>
                                            <option value="NU">Niue</option>
                                            <option value="NF">Norfolk Island</option>
                                            <option value="MP">Northern Mariana Islands</option>
                                            <option value="KP">North Korea</option>
                                            <option value="NO">Norway</option>
                                            <option value="OM">Oman</option>
                                            <option value="PK">Pakistan</option>
                                            <option value="PW">Palau</option>
                                            <option value="PS">Palestinian Territories</option>
                                            <option value="PA">Panama</option>
                                            <option value="PG">Papua New Guinea</option>
                                            <option value="PY">Paraguay</option>
                                            <option value="PE">Peru</option>
                                            <option value="PH">Philippines</option>
                                            <option value="PN">Pitcairn Islands</option>
                                            <option value="PL">Poland</option>
                                            <option value="PT">Portugal</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="QA">Qatar</option>
                                            <option value="RE">Réunion</option>
                                            <option value="RO">Romania</option>
                                            <option value="RU">Russia</option>
                                            <option value="RW">Rwanda</option>
                                            <option value="BL">Saint Barthélemy</option>
                                            <option value="SH">Saint Helena</option>
                                            <option value="KN">Saint Kitts and Nevis</option>
                                            <option value="LC">Saint Lucia</option>
                                            <option value="MF">Saint Martin</option>
                                            <option value="PM">Saint Pierre and Miquelon</option>
                                            <option value="WS">Samoa</option>
                                            <option value="SM">San Marino</option>
                                            <option value="ST">São Tomé and Príncipe</option>
                                            <option value="SA">Saudi Arabia</option>
                                            <option value="SN">Senegal</option>
                                            <option value="RS">Serbia</option>
                                            <option value="SC">Seychelles</option>
                                            <option value="SL">Sierra Leone</option>
                                            <option value="SG">Singapore</option>
                                            <option value="SK">Slovakia</option>
                                            <option value="SI">Slovenia</option>
                                            <option value="SB">Solomon Islands</option>
                                            <option value="SO">Somalia</option>
                                            <option value="ZA">South Africa</option>
                                            <option value="GS">South Georgia &amp; South Sandwich Islands</option>
                                            <option value="KR">South Korea</option>
                                            <option value="ES">Spain</option>
                                            <option value="LK">Sri Lanka</option>
                                            <option value="VC">St. Vincent &amp; Grenadines</option>
                                            <option value="SD">Sudan</option>
                                            <option value="SR">Suriname</option>
                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                            <option value="SZ">Swaziland</option>
                                            <option value="SE">Sweden</option>
                                            <option value="CH">Switzerland</option>
                                            <option value="SY">Syria</option>
                                            <option value="TW">Taiwan</option>
                                            <option value="TJ">Tajikistan</option>
                                            <option value="TZ">Tanzania</option>
                                            <option value="TH">Thailand</option>
                                            <option value="TL">Timor-Leste</option>
                                            <option value="TG">Togo</option>
                                            <option value="TK">Tokelau</option>
                                            <option value="TO">Tonga</option>
                                            <option value="TT">Trinidad and Tobago</option>
                                            <option value="TN">Tunisia</option>
                                            <option value="TR">Turkey</option>
                                            <option value="TM">Turkmenistan</option>
                                            <option value="TC">Turks and Caicos Islands</option>
                                            <option value="TV">Tuvalu</option>
                                            <option value="UG">Uganda</option>
                                            <option value="UA">Ukraine</option>
                                            <option value="AE">United Arab Emirates</option>
                                            <option value="GB">United Kingdom</option>
                                            <option value="US" selected="selected">United States</option>
                                            <option value="UY">Uruguay</option>
                                            <option value="UM">U.S. Outlying Islands</option>
                                            <option value="VI">U.S. Virgin Islands</option>
                                            <option value="UZ">Uzbekistan</option>
                                            <option value="VU">Vanuatu</option>
                                            <option value="VA">Vatican City</option>
                                            <option value="VE">Venezuela</option>
                                            <option value="VN">Vietnam</option>
                                            <option value="WF">Wallis and Futuna</option>
                                            <option value="EH">Western Sahara</option>
                                            <option value="YE">Yemen</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="lable">State/Province</div>
                                        <div class="size State">
                                            <div class="select-option">
                                                <select name="State">
                                            <option value="">Please select region, state or province</option>
                                            <option value="1">Alabama</option>
                                            <option value="2">Alaska</option>
                                            <option value="3">American Samoa</option>
                                            <option value="4">Arizona</option>
                                            <option value="5">Arkansas</option>
                                            <option value="6">Armed Forces Africa</option>
                                            <option value="7">Armed Forces Americas</option>
                                            <option value="8">Armed Forces Canada</option>
                                            <option value="9">Armed Forces Europe</option>
                                            <option value="10">Armed Forces Middle East</option>
                                            <option value="11">Armed Forces Pacific</option>
                                            <option value="12">California</option>
                                            <option value="13">Colorado</option>
                                            <option value="14">Connecticut</option>
                                            <option value="15">Delaware</option>
                                            <option value="16">District of Columbia</option>
                                            <option value="17">Federated States Of Micronesia</option>
                                            <option value="18">Florida</option>
                                            <option value="19">Georgia</option>
                                            <option value="20">Guam</option>
                                            <option value="21">Hawaii</option>
                                            <option value="22">Idaho</option>
                                            <option value="23">Illinois</option>
                                            <option value="24">Indiana</option>
                                            <option value="25">Iowa</option>
                                            <option value="26">Kansas</option>
                                            <option value="27">Kentucky</option>
                                            <option value="28">Louisiana</option>
                                            <option value="29">Maine</option>
                                            <option value="30">Marshall Islands</option>
                                            <option value="31">Maryland</option>
                                            <option value="32">Massachusetts</option>
                                            <option value="33">Michigan</option>
                                            <option value="34">Minnesota</option>
                                            <option value="35">Mississippi</option>
                                            <option value="36">Missouri</option>
                                            <option value="37">Montana</option>
                                            <option value="38">Nebraska</option>
                                            <option value="39">Nevada</option>
                                            <option value="40">New Hampshire</option>
                                            <option value="41">New Jersey</option>
                                            <option value="42">New Mexico</option>
                                            <option value="43">New York</option>
                                            <option value="44">North Carolina</option>
                                            <option value="45">North Dakota</option>
                                            <option value="46">Northern Mariana Islands</option>
                                            <option value="47">Ohio</option>
                                            <option value="48">Oklahoma</option>
                                            <option value="49">Oregon</option>
                                            <option value="50">Palau</option>
                                            <option value="51">Pennsylvania</option>
                                            <option value="52">Puerto Rico</option>
                                            <option value="53">Rhode Island</option>
                                            <option value="54">South Carolina</option>
                                            <option value="55">South Dakota</option>
                                            <option value="56">Tennessee</option>
                                            <option value="57">Texas</option>
                                            <option value="58">Utah</option>
                                            <option value="59">Vermont</option>
                                            <option value="60">Virgin Islands</option>
                                            <option value="61">Virginia</option>
                                            <option value="62">Washington</option>
                                            <option value="63">West Virginia</option>
                                            <option value="64">Wisconsin</option>
                                            <option value="65">Wyoming</option>
                                        </select>
                                            </div>
                                        </div>
                                    </div> #}
                                    <div class="col-sm-4 col-md-4">
                                        <div class="lable">City</div>
                                        <input name="city_shipping" placeholder="City" type="text" />
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="lable">Telephone</div>
                                        <input name="phone_number_shipping" placeholder="Telephone" type="text" />
                                    </div>
                                    {# <div class="col-sm-4 col-md-4">
                                        <div class="lable">Fax</div>
                                        <input name="Fax" placeholder="Fax" type="text" />
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="lable">Zip/Postal Code</div>
                                        <input name="Zip" placeholder="Zip/Postal Code" type="text" />
                                    </div> #}
                                    {# <div class="col-sm-12 col-md-12">
                                        <input name="use_for_shipping" value="" type="radio" class="radio" />
                                        <label class="label-radio">Ship to this address</label>
                                        <input name="use_for_shipping" value="" type="radio" class="radio" />
                                        <label class="label-radio">Ship to different address</label>
                                    </div> #}
                                    {# <div class="col-sm-4 col-md-4">
                                        <a href="#" class="button2">Continue</a>
                                    </div> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                {% for cartItem in cart %}
                <div class="cart-content">
                    <div class="col-sm-4 col-md-4">
                        <img src="{{cartItem.product_image}}" width="40" height="60" alt="13" style="margin-top:5px">
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div class="pro-text">
                            <a href="#" style="display:inline">{{cartItem.product}} x </a><input class="order-review-quantity" type="number" name="quantity" value="{{cartItem.quantity|raw}}"> 
                            {# <div class="close">x</div> #}
                            <strong style="display:block">NGN {{cartItem.cost|raw}}</strong>
                            <dt>Size</dt>
                            <select name="size" id="" class="form-control mozissue">
                                <option value="">Please select a size</option>
                                {% for size in sizes %}
                                    <option value="{{size.slug}}" {% if size.slug == cartItem.size %} selected {% endif %}>{{size.size}}</option>
                                {% endfor %}
                            </select>           
                            <dt>Frame</dt>
                            <select name="frame" id="" class="form-control mozissue">
                                <option value="">Please select a frame</option>
                                {% for frame in frames %}
                                    <option value="{{frame.slug}}" {% if frame.slug == cartItem.frame %} selected {% endif %}>{{frame.frame}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                {# <div class="item">
                    <div class="item-image" style="display:inline">
                        <img src="{{cartItem.product_image}}" style="width:80px" class="product-image-checkout">
                    </div>
                    <div class="item-details">
                        <span class="product-name">{{cartItem.product}}</span>
                        <span> &nbsp;
                            <a data-request="onRemoveFromCart" data-request-data="product:{{cartItem.id}},size:{{cartItem.size}},frame:{{cartItem.frame}}" style="cursor:pointer; color:red !important; font-size:10px;">Remove Item</a>
                        </span>
                        <div class="col-md-3">
                            <dt>Color</dt>
                            <dd>black</dd>
                            <dt>Size</dt>
                            <select name="size" id="" class="form-control mozissue">
                                <option value="">Please select a size</option>
                                {% for size in sizes %}
                                    <option value="{{size.slug}}" {% if size.slug == cartItem.size %} selected {% endif %}>{{size.size}}</option>
                                {% endfor %}
                            </select>           
                            <dt>Frame</dt>
                            <select name="frame" id="" class="form-control mozissue">
                                <option value="">Please select a frame</option>
                                {% for frame in frames %}
                                    <option value="{{frame.slug}}" {% if frame.slug == cartItem.frame %} selected {% endif %}>{{frame.frame}}</option>
                                {% endfor %}
                            </select>
                            <label>Material</label>
                            <dd>Rattan</dd>
                        </div>

                    </div>
                </div> #}
                {% endfor %}
                <form class="woocommerce-cart-form" data-request="onCartUpdate" method="post" id="cartform">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Order Review</a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div id="checkout-step-review" class="step a-item" style="">
                                    <div class="order-review" id="checkout-review-load">
                                        <div id="checkout-review-table-wrapper">
                                            <table class="data-table linearize-table checkout-review-table" id="checkout-review-table">
                                                <thead>
                                                    <tr class="first last">
                                                        <th rowspan="1">Product</th>
                                                        <th colspan="1" class="a-center">Price</th>
                                                        <th rowspan="1" class="a-center">Qty</th>
                                                        <th colspan="1" class="a-center">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                
                                                {% for cartItem in cart %}
                                                    <tr class="first last">
                                                        {# <input type="hidden" name="products[]" value="{{cartItem.slug}}"> #}
                                                        <td>
                                                            <img src="{{cartItem.product_image}}" style="width:80px" class="product-image-checkout">
                                                                <div class="product-info-checkout">
                                                                    <h4 class="product-name">{{cartItem.product}}</h4>
                                                                    <span> &nbsp;
                                                                        {# <a data-request="onRemoveFromCart" data-request-data="product:{{cartItem.id}},size:{{cartItem.size}},frame:{{cartItem.frame}}" style="cursor:pointer; color:red !important; font-size:10px;">Remove Item</a> #}
                                                                    </span>
                                                                    <dl class="item-options">
                                                                        {# <dt>Color</dt>
                                                                        <dd>black</dd> #}
                                                                        <dt>Size</dt>
                                                                        <select name="size" id="" class="form-control mozissue">
                                                                            <option value="">Please select a size</option>
                                                                            {% for size in sizes %}
                                                                                <option value="{{size.slug}}" {% if size.slug == cartItem.size %} selected {% endif %}>{{size.size}}</option>
                                                                            {% endfor %}
                                                                        </select>           
                                                                        <dt>Frame</dt>
                                                                        <select name="frame" id="" class="form-control mozissue">
                                                                            <option value="">Please select a frame</option>
                                                                            {% for frame in frames %}
                                                                                <option value="{{frame.slug}}" {% if frame.slug == cartItem.frame %} selected {% endif %}>{{frame.frame}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        {# <label>Material</label>
                                                                        <dd>Rattan</dd> #}
                                                                    </dl>
                                                                </div>
                                                        </td>
                                                        <td class="a-right" data-rwd-label="Price">
                                                            <span class="cart-price">
                                                                <span class="price" style="font-size:16px">
                                                                    <div style="padding-top:60px; padding-bottom:40px"> 
                                                                        NGN {{cartItem.cost|raw}}
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </td>
                                                        <td class="a-center" data-rwd-label="Qty">
                                                            <div style="padding-top:60px; padding-bottom:40px">
                                                                <input type="number" name="quantity" value="{{cartItem.quantity|raw}}"> 
                                                            </div>
                                                        </td>
                                                        <!-- sub total starts here -->
                                                        <td class="a-right last" data-rwd-label="Subtotal">
                                                            <span class="cart-price">
                                                                <span class="price" style="font-size:16px">
                                                                    <div style="padding-top:60px; padding-bottom:40px"> 
                                                                        NGN {{cartItem.cost|raw * cartItem.quantity|raw}}
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                <tr class="first">
                                                    <td style="" class="a-right" colspan="3">
                                                        Subtotal
                                                    </td>
                                                    <td style="" class="a-right last">
                                                        <span class="price">NGN {{cartTotal}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="" class="a-right" colspan="3">
                                                        Shipping &amp; Handling (Flat Rate - Fixed)
                                                    </td>
                                                    <td style="" class="a-right last">
                                                        <span class="price">NGN 1000</span>
                                                    </td>
                                                </tr>
                                                <tr class="last">
                                                    <td style="" class="a-right" colspan="3">
                                                        <strong>Grand Total</strong>
                                                    </td>
                                                    <td style="" class="a-right last">
                                                        <strong><span class="price total">NGN {{ cartTotal + shippingCost }}</span></strong>
                                                    </td>
                                                </tr>

                                                {# <tr class="first last odd">
                                                    
                                                    
                                                </tr> #}
                                            </table>
                                        </div>
                                        <div id="checkout-review-submit">
                                            <div class="buttons-set" id="review-buttons-container">
                                                <button type="submit" title="Place Order" class="button blackhover" form="cartform">
                                                    Update Cart
                                                </button>
                                                <button data-request="onFlush" class="button blackhover">CLEAR SHOPPING CART</button>
                                                {# <p class="f-left">Forgot an Item? <a href="#">Edit Your Cart</a></p> #}
                                            </div>
                                        </div>
                                        {# <div class="col-sm-4 col-md-4">
                                            <a href="#collapse2" class="button2">Continue</a>
                                        </div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
       
            
             
			<!-- Accordions -->
                
			{# <div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Shipping Method</a>
					</h4>
				</div>
				<div id="collapse4" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Fixed <span>NGN {{shippingCost}}</span></p>
					</div>
				</div>
			</div> #}
			{# <div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Payment Information</a>
					</h4>
				</div>
				<div id="collapse5" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="shipping-outer">
							<div class="col-sm-12 col-md-12">
								<input name="use_for_shipping" value="" type="radio" class="radio">
								<label class="label-radio">Credit Card (saved) </label>
							</div>
							<div class="col-sm-12 col-md-12">
								<input name="use_for_shipping" value="" type="radio" class="radio">
								<label class="label-radio">Check / Money order </label>
							</div>
						</div>
					</div>
				</div>
			</div> #}
            {# <button type="submit" title="Place Order" class="button">Place Order</button> #}
            <div id="checkout-review-submit">
                <div class="buttons-set" id="review-buttons-container">
                    <div class="lable">Coupon Code</label>
                        <input type="text" name="coupon_code" id="coupon" placeholder="Get a discount with a coupon code">
                    <button type="submit" title="Place Order" class="button blackhover" form="checkoutform">Place Order</button>
                    {# <p class="f-left">Forgot an Item? <a href="#">Edit Your Cart</a></p> #}
                </div>
            </div>
        </form>
        {% endif %}
		</div>
        
		<!-- /.shopping-cart -->
	</section>