{% set products = __SELF__.products %}
{% set artisan = ArtisanDashboard.loggedInArtisan %}
 <a href="{{'create-product'|page}}" class="btn btn-primary">Add Product</a>

<div class="card">
            {# <div class="header">
                <h2 class="title">Prints</h2>
                <p class="category"></p>
            </div> #}
            <div class="content">
                {# <h3 style="text-align:center; line-height:40px">Add Print</h3> #}
                {# <ul>
                    <li>Click on "Create a project": Fill and submit project creation form</li>
                    <li>Click on "Create a project item": Fill and submit project item creation form. make sure you select the appropriate existing project for each item </li>
                    
                </ul> #}
                <div class="content table-responsive table-full-width">
   
    <table class="table table-striped">

        <thead>
            <th>id</th>
            {# <th>Product sku</th> #}
            <th>Product Name</th>
            <th>Product image</th>
            <th>Actions</th>
            {# <th>Hover image</th> #}
            {# <th>Nª Likes</th>
            <th>Nª Orders</th> #}
        </thead>
        <tbody>
            {% for product in ArtisanDashboard.loggedInArtisan.products %}
                <tr>
                    <td><a href="{{'edit-product'|page({'slug':product.slug})}}">{{product.id}}</a></td>
                    {# <td><a href="{{'edit-product'|page({'slug':product.slug})}}">{{product.name}}</a></td>   #}
                    <td><a href="{{'edit-product'|page({'slug':product.slug})}}">{{product.name}}</a></td>  
                    <td><img src="{{product.product_image.path}}" alt="" width="50"></td>  
                    <td><button data-request="onProductDelete" data-request-data="product:{{product.id}}">Delete</button></td>
                    {# <td><img src="{{product.hover_image.path}}" alt="" width="50"></td> #}
                    {# <td><a>{{product.favorites_count}} </a></td>  
                    <td><a> {{product.orderCount|length}}</a></td>   #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            </div>
        </div>
