{% set products = __SELF__.homeProducts %}
{% for product in products %}
    <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="product-img">
            {% if product.new %}
                <span class="pro-label new-label">new</span>
            {% endif %}
            <a href="{{'new-single-product'|page({'product-slug':product.slug}) }}"><img
                    src="{{ product.product_image.path }}" alt="" /></a>
            <div class="product-action clearfix">
                {# <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a> #}
                {# <a href="#" data-toggle="modal" data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a> #}
                {# <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a> #}
                {# <a href="#" class="addtocart" data-toggle="tooltip" data-placement="top" title="Add To Cart" data-productid="{{product.id}}">Add to cart</a> #}
            </div>
        </div>
        <div class="product-info clearfix">
            <div class="fix">
                <h4 class="post-title"><a
                        href="{{'new-single-product'|page({'product-slug':product.slug}) }}">{{str_limit(product.name, 20)}}</a>
                </h4>
                
            </div>
            <div>
            <p class="hidden-sm">{{product.category.category_name}}</p></div>
            
            <div class="fix">
                <span class="pro-price floatleft">NGN {{product.price|number_format(2, '.', ',')}}</span>
                {# <span class="pro-rating floatright">
                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                </span> #}
            </div>
        </div>
    </div>
{% endfor %}