{% set products = __SELF__.recentProducts %}
{% for product in products %}    
    <div class="single-product col-lg-12">
        <div class="product-img">
            {% if product.new %}
                <span class="pro-label new-label">new</span>
            {% endif %}
            <a href="{{'new-single-product'|page({'product-slug':product.slug}) }}"><img src="{{product.product_image.path}}" alt="" /></a>
        </div>
        <div class="product-info">
            <h4 class="post-title"><a href="{{'new-single-product'|page({'product-slug':product.slug}) }}">{{product.name}}</a></h4>
            <span class="pro-price">NGN {{product.price|number_format(2, '.', ',')}}</span>
        </div>
    </div>
{% endfor %}