{% set products = __SELF__.allProducts %}
{% set totalCount = __SELF__.totalCount %}

<div class="col-md-9 col-sm-12 col-xs-12">
                            <!-- Shop-Content End -->
                            <div class="shop-content mt-tab-30 mt-xs-30">
                                <div class="product-option mb-30 clearfix">
                                    <!-- Nav tabs -->
                                    <ul class="shop-tab">
                                        <li class="active"><a href="#grid-view" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a></li>
                                        <li><a href="#list-view"  data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a></li>
                                    </ul>
                                    <div class="showing text-right hidden-xs">
                                        <p class="mb-0">Showing {{products|length}} of {{totalCount}} Results</p>
                                    </div>
                                </div>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="grid-view">                            
                                        <div class="row">
                                            {% for product in products %}
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="single-product">
                                                        <div class="product-img">
                                                            {# <span class="pro-label new-label">new</span> #}
                                                            <span class="pro-price-2">NGN {{product.price|number_format(2, '.', ',')}}</span>
                                                            <a href="{{'new-single-product'|page({'product-slug':product.slug}) }}"><img src="{{ product.product_image.path }}" alt="" /></a>
                                                        </div>
                                                        <div class="product-info clearfix text-center">
                                                            <div class="fix">
                                                                <h4 class="post-title"><a href="{{'new-single-product'|page({'product-slug':product.slug}) }}">{{product.name}}</a></h4>
                                                            </div>
                                                            {# <div class="fix">
                                                                <span class="pro-rating">
                                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                                </span>
                                                            </div> #}
                                                            <div class="product-action">
                                                                {# <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a> #}
                                                                {# <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a> #}
                                                                {# <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a> #}
                                                                <a href="" class="addtocart" data-request="onAddToDBCart" data-request-data="product_id: '{{product.id}}'" data-productid="{{product.id}}" >
                                                                {# <i class="zmdi zmdi-shopping-cart-plus"></i> #} Add to cart
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane" id="list-view">                           
                                        <div class="row shop-list">
                                            <!-- Single-product start -->
                                            {% for product in products %}
                                                <div class="col-lg-12">
                                                <div class="single-product clearfix">
                                                    <div class="product-img">
                                                        {# <span class="pro-label new-label">new</span> #}
                                                        <span class="pro-price-2">NGN {{product.price|number_format(2, '.', ',')}}</span>
                                                        <a href="{{'new-single-product'|page({'product-slug':product.slug}) }}"><img src="{{ product.product_image.path }}" alt="" /></a>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="fix">
                                                            <h4 class="post-title floatleft"><a href="{{'new-single-product'|page({'product-slug':product.slug}) }}">{{product.name}}</a></h4>
                                                            {# <span class="pro-rating floatright">
                                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                                <span>( 27 Rating )</span>
                                                            </span> #}
                                                        </div>
                                                        <div class="fix mb-20">
                                                            <span class="pro-price">NGN {{product.price|number_format(2, '.', ',')}}</span>
                                                        </div>
                                                        <div class="product-description">
                                                            <p>{{product.product_excerpt}}</p>
                                                        </div>
                                                        <div class="clearfix">
                                                            <div class="cart-plus-minus">
                                                                <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box">
                                                            </div>
                                                            <div class="product-action clearfix">
                                                                {# <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a> #}
                                                                <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                                                {# <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a> #}
                                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart" data-request="onAddToDBCart" data-request-data="product_id: '{{product.id}}'" data-productid="{{product.id}}" ><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                          
                                        </div>
                                    </div>
                                </div>
                                <!-- Pagination start -->
                                <div class="shop-pagination  text-center">
                                    <div class="pagination">
                                        {# <ul> #}
                                            {{products.render|raw}}
                                            {# <li><a href="#"><i class="zmdi zmdi-long-arrow-left"></i></a></li>
                                            <li><a href="#">01</a></li>
                                            <li class="active"><a href="#">02</a></li>
                                            <li><a href="#">03</a></li>
                                            <li><a href="#">04</a></li>
                                            <li><a href="#">05</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a></li> #}
                                        {# </ul> #}
                                    </div>
                                </div>
                                <!-- Pagination end -->
                            </div>
                            <!-- Shop-Content End -->
                        </div>




