title = "Associations"
url = "/associations/:slug"
layout = "associationsLayout"
is_hidden = 0

[AssociationDetails]

[AssociationLeadership]
[AssociationArtisanSearch]
==
<div class="row associationheader"  {% if not AssociationDetails.association.headerimage %} style="background-image: url('{{'assets/img/noimg.jpg'| theme}}'); background-repeat: no-repeat; background-size: cover; background-position: center"{% else %}  style="background-image: url('{{AssociationDetails.association.headerimage.path}}'); background-repeat: no-repeat; background-size: cover; background-position: center" {% endif %}>

    <div class="m1170 p-relative h250">
        <div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            About {{AssociationDetails.association.abbreviation}}
            
        </div>
    </div>
</div>

<section>

	<div class="row row-explore-nerby bgf3 p-bottom60">
		<div class="m1170">
		
			<div class="col-sm-12">
				<!-- <div class="about-title extrabold uppercase color333 top60 btm15">
					<span class="bgf3 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">About Association</span>
				</div> -->
				
				{% component 'AssociationDetails' %}	
			</div>
		</div>
	</div>
</section>