title = "Contact us"
url = "/contact-us"
layout = "searchLayout"
is_hidden = 0

[ContactForm]
==

<div class="row h-third-row">
	<div class="m1170 p-relative h250">
		<div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
			Contact us
			<div class="h-current-page">
				<a href="#" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Contact us
			</div>
		</div>
	</div>
</div>


<section style="padding-bottom:30px">
			<div class="container-fluid">

				<!-- <div class="row row-gmaps">
					<div class="col-sm-12 padding0">
						<div id="map-canvas" class="cont-gmaps"></div>
					</div>
				</div> -->
				<div class="row margin0">

					{% component 'ContactForm' %}
				</div>
			</div>
			<div class="clearfix"></div>
		</section>