title = "FAQs"
url = "/faqs"
layout = "searchLayout"
is_hidden = 0
[FaqLast]
questionNumber = 10
==


<div class="row h-third-row">
	<div class="m1170 p-relative h250">
		<div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
			FAQs
			<div class="h-current-page">
				<a href="#" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> FAQs
			</div>
		</div>
	</div>
</div>


<section style="margin: 40px">
	
	<div class="container-fluid">
		
<div class="row">
	<div class="col-md-10 col-md-offset-1">

        <div>
  <h2>Frequently Asked Questions</h2>
   {% component 'FaqLast' %}
 </div>


		<!-- <div>
        <button data-toggle="collapse" data-target="#box1" data-group="toggles" aria-expanded="true">
            Will Jambolo Online services guarantee quality of work produced by listed Artisans?
        </button>
        <div class="boxaccordion" id="box1" aria-expanded="true">
            <p>
                No. Our site, www.jambolo.com is a platform that aggregates and provides access to frequently needed blue collar services. The site also seeks to promote quality customer services and competition amongst such service providers in Nigeria. The site also provides a rating tool where dissatisfied customers can express their dissatisfaction or otherwise with the quality of work produced by the artisans/small businesses.
            </p>
        </div>
        </div> -->
		<!-- -->

       <!--  <div>
        <button data-toggle="collapse" data-target="#box2" data-group="toggles" aria-expanded="true">
            What do I do if I am very satisfied/dissatisfied with the quality of work provided by an artisan/small business on Jambolo?
        </button>
        <div class="boxaccordion" id="box2" aria-expanded="true">
            <p>
                Register as a user on www.jambolo.com and access the rating tool to provide feedback on the quality of work provided by the service provider. This will provide valuable information for other users who wish to use the service provider in the future.
            </p>
        </div>
        </div> -->

        <!-- -->

     <!--    <div>
        <button data-toggle="collapse" data-target="#box3" data-group="toggles" aria-expanded="true">
            Can artisans/small business service providers upload their business details on jambolo?
        </button>
        <div class="boxaccordion" id="box3" aria-expanded="true">
            <p>
                No. The Jambolo Business Development Team will need to physiacally visit the service provider or any affiliated association that controls such services in that particular areafield surveys to verify the identity and capacity of the propective vendor to deliver specific services. This procedure ensures that only Service Providers that are physically verified are listed on www.jambolo.com.
            </p>
        </div>
        </div> -->

        <!-- -->

       <!--  <div>
        <button data-toggle="collapse" data-target="#box4" data-group="toggles" aria-expanded="true">
            Does Jambolo negotiate cost of services provided on behalf of users?
        </button>
        <div class="boxaccordion" id="box4" aria-expanded="true">
            <p>
                No. At this point in time, Jambolo.com does not offer this service. Service costs can be negotiated and agreed with the service provider after engaging them through the www.jambolo.com.
            </p>
        </div>
        </div> -->

        <!-- -->

       <!--  <div>
        <button data-toggle="collapse" data-target="#box5" data-group="toggles" aria-expanded="true">
            What cities does Jambolo cover?
        </button>
        <div class="boxaccordion" id="box5" aria-expanded="true">
            <p>
                For now, www.Jambolo.com  covers only Lagos metropolis but there are plans to expand to other major cities in Nigeria from 2016.
            </p>
        </div>
        </div> -->

        <!-- -->

      <!--   <div>
        <button data-toggle="collapse" data-target="#box6" data-group="toggles" aria-expanded="true">
            Why was Jambolo established?
        </button>
        <div class="boxaccordion" id="box6" aria-expanded="true">
            <p>
                www.jambolo.com was established to provide a means of accessing blue collar services using internet powered devices such as computers, tablet devices and smartphones. By providing easy access to Artisans, we hope that the level of engagement between Customer and Service Provider on this platform will engender improved quality of service delivery amongst blue collar/small business services in Nigeria.
            </p>
        </div>
        </div> -->


    </div>


  </div>



	</div>

</section>