title = "Leadership"
url = "/associations/:slug/leadership"
layout = "associationsLayout"
is_hidden = 0

[AssociationDetails]
[AssociationLeadership]
==
<section>
	<div class="row row-explore-nerby bgf3 p-bottom60">
		<div class="m1170">
			<div class="col-sm-12">
				<div class="about-title extrabold uppercase color333 top60 btm15">
					<span class="bgf3 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Association Executives</span>
				</div>
				{% component 'AssociationLeadership' %}		
			</div>
		</div>
	</div>
</section>
