title = "login"
url = "/login"
layout = "default"
description = "Login Page"
meta_title = "Jambolo Login"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[resetPassword]
paramCode = "code"
==
<!-- Get directions API_KEY 
AIzaSyCOJYIH1FZLLIKB-gJX1IAMr4PUdasaT_Q -->
<div class="row h-third-row">
    <div class="m1170 p-relative h250">
        <div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            Sign-in
            <div class="h-current-page">
                <a href="#" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Sign in
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin: 30px;">
<section>
	{% if not user %}

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <h3>User Login</h3>
            <p>Login as an <a href="{{'artisanlogin'|page}}">Artisan</a></p>
            {% partial 'site/user-login' %}
        </div>
        <div class="col-md-6 col-md-offset-3"> 
        {% component 'resetPassword' %}
        </div>
    </div>

{% else %}
<div class="col-md-6 col-md-offset-3">
    {% partial account ~ '::activation_check' %}

    
    {% partial 'site/user-update' %}
  

    {% partial account ~ '::deactivate_link' %}
  </div>
{% endif %}	
</section>
</div>