title = "register"
url = "/register"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[imageUploader]
placeholderText = "Click or drag images to upload"
maxSize = 5
fileTypes = ".gif,.jpg,.jpeg,.png"
imageWidth = 100
imageHeight = 100
imageMode = "crop"
modelClass = "RainLab\User\Models\User"
modelKeyColumn = "avatar"
identifierValue = "{{ :id }}"
deferredBinding = 1
==
<div class="row h-third-row">
    <div class="m1170 p-relative h250">
        <div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            Register
            <div class="h-current-page">
                <a href="#" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Register
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin: 30px;">
<section>
	{% if not user %}

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            
            {% partial 'site/user-register' %}
        </div>

    </div>

{% else %}

  <div class="col-md-6 col-md-offset-3">
    {% partial account ~ '::activation_check' %}

    
    {% partial 'site/user-update' %}
  

    {% partial account ~ '::deactivate_link' %}
  </div>

{% endif %}	
</section>
</div>