{% set loginArtisan = __SELF__.loginArtisan %}
   {#} {{loginArtisan.company_name}}#}
{# <div class="row h-third-row">
    <div class="m1170 p-relative h250">
        <div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            Artisan Sign-in
            <div class="h-current-page">
                <a href="#" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Sign in
            </div>
        </div>
    </div>
</div> #}

<div class="container" style="margin: 30px;">
<section>
    <div class="row">
        
        <div class="row">
		<div class="col-lg-5 col-lg-offset-4">
            <h4>Artisan Login</h4>
			{# <h2>User Login</h2> #}
            {# <p>Login as an <a href="{{'artisanlogin'|page}}">Artisan</a></p> #}
			<form method="post" data-request="onArtisanSignin">
				<div class="form-group">
					<label for="">Phone Number</label>
					<input type="text" class="form-control" name="phone_number" id="userSigninLogin" placeholder="Enter your phone number">
				</div><!-- /.form-group -->

				<div class="form-group">
					<label for="">Password</label>
					<input class="form-control" name="password" type="password" id="userSigninPassword">
				</div><!-- /.form-group -->

				<div class="form-group-btn">
					<button type="submit" class="btn btn-primary pull-right">Sign In</button>
				</div><!-- /.form-group-btn -->

				{# <div class="form-group-bottom-link">
					<a href="reset-password.html">I forgot my password <i class="fa fa-long-arrow-right"></i></a>
				</div><!-- /.form-group-bottom-link --> #}
			</form>
		</div><!-- /.col-* -->
	</div><!-- /.row -->

</section>
</div>