[session]
security = "user"
redirect = "login"

==
{% component 'session' %}
{{ form_ajax('onUpdate', { model: user }) }}

    <div class="form-group">
        <label for="accountName">Full Name</label>
        <input name="name" type="text" class="form-1-style2 border1 borderf7 b-radius3" id="accountName" value="{{ form_value('name') }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-1-style2 border1 borderf7 b-radius3" id="accountEmail" value="{{ form_value('email') }}">
    </div>

    <div class="form-group">
        <label for="accountNumber">Phone Number</label>
        <input name="phone_number" type="number" class="form-1-style2 border1 borderf7 b-radius3" placeholder="2340000000000" id="accountNumber" value="{{ form_value('phone_number') }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">New Password</label>
        <input name="password" type="password" class="form-1-style2 border1 borderf7 b-radius3" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">Confirm New Password</label>
        <input name="password_confirmation" type="password" class="form-1-style2 border1 borderf7 b-radius3" id="accountPasswordConfirm">
    </div>
    
    
    <div class="clearfix"></div>

    <button type="submit" class="submit-btn button1-1 b-radius3 right30 button-orange top20">Save</button>

{{ form_close() }}