<p class="lead">
    Please check your email for the activation code.
</p>

<form
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group">
        <label for="resetCode">Activation Code</label>
        <input name="code" type="text" class="form-1-style2 border1 borderf7 b-radius3" id="resetCode" placeholder="Enter the activation code" value="{{ __SELF__.code }}">
    </div>

    <div class="form-group">
        <label for="resetPassword">New Password</label>
        <input name="password" type="password" class="form-1-style2 border1 borderf7 b-radius3" id="resetPassword" placeholder="Enter a new password">
    </div>

    <button type="submit" class="submit-btn button1-1 b-radius3 right30 button-orange top20t">Reset password</button>
</form>
