
<form
    data-request="onSignin">
    <div class="form-group">
        <!-- <label for="userSigninLogin">{{ loginAttributeLabel }}</label> -->
        <input
            name="login"
            type="text"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="userSigninLogin"
            placeholder="Enter your {{ loginAttributeLabel|lower }}" />
    </div>

    <div class="form-group">
        <!-- <label for="userSigninPassword">Password</label> -->
        <input
            name="password"
            type="password"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="userSigninPassword"
            placeholder="Enter your password" />
    </div>

    <button type="submit" class="submit-btn button1-1 b-radius3 right30 button-orange top20">Sign in</button>
</form>

