[imageUploader]
placeholderText = "Click or drag images to upload"
maxSize = 5
fileTypes = ".gif,.jpg,.jpeg,.png"
imageWidth = 100
imageHeight = 100
imageMode = "crop"
modelClass = "RainLab\User\Models\User"
modelKeyColumn = "avatar"
identifierValue = "{{ :id }}"
deferredBinding = 1

[session]
security = "all"

==
{% component 'session' %}
<form
    data-request="onRegister" enctype="multipart/form-data">
    <div class="form-group">
        <!-- <label for="registerName">Full Name</label> -->
        <input
            name="name"
            type="text"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerName"
            placeholder="Enter your full name" />
    </div>

    <div class="form-group">
        <!-- <label for="registerEmail">Email</label> -->
        <input
            name="email"
            type="email"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerEmail"
            placeholder="Enter your email" />
    </div>

    <div class="form-group">
        <!-- <label for="registerPhone">Phone number</label> -->
        <input
            name="phone_number"
            type="text"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerPhone"
            placeholder="2340000000000" />
    </div>

    <div class="form-group">
        <!-- <label for="registerPassword">Password</label> -->
        <input
            name="password"
            type="password"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerPassword"
            placeholder="Choose a password" />
    </div>

    
    
    <div class="clearfix"></div>

    <button type="submit" class="submit-btn button1-1 b-radius3 right30 button-orange top20">Register</button>
</form>