{% set artisan = ArtisanDashboard.loggedInArtisan %}
{% set categories = ArtisanDashboard.categories %}
{% set areas = ArtisanDashboard.areas %}
{% set states = ArtisanDashboard.states %}
{% set cities = ArtisanDashboard.cities %}
<form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data" id="artisanform" data-request-validate data-request-files data-request-flash>
    {{ form_token() }} {{ form_sessionKey() }}
    <div class="admin-box">
        <fieldset>
            <legend>Image</legend>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Listing Image</label>
                        <div id="avatar">
                            {% if artisan.artisan_image %}
                                <img src="{{artisan.artisan_image.path}}" alt="">
                            {% endif %}
                        </div>
                        <input type="file" data-request="onAvatarUpload" name="avatar" class="form-control" data-request-validate data-request-files data-request-flash>
                    </div>
                    <!-- /.form-group -->
                </div>
                {# <div class="col-sm-4">
                    <div class="form-group">
                        <label>Display Name</label>
                        <input type="text" class="form-control" name="display_name" value="{{artisan.display_name}}">
                    </div>
                    <!-- /.form-group -->
                </div> #}
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>e-mail</label>
                        <input type="text" class="form-control" name="email" value="{{artisan.email}}">
                    </div>
                    <!-- /.form-group -->
                </div>

                {# <div class="col-sm-12">
                    <label>Bio</label>
                    <textarea name="bio" class="form-control" form="artisanform">{{artisan.bio}}</textarea>
                </div> #}
                <!-- /.col-* -->
            </div>

            <!-- /.row -->
        </fieldset>
        <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
        </div>
{# </form> #}

{# <form data-request="onUpdate" method="post"  data-request-validate class="form-group" enctype="multipart/form-data"> #}
    {# {{ form_token() }} {{ form_sessionKey() }} #}
    <fieldset>
        <legend>Listing Information</legend>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Company name</label>
                    <input type="text" class="form-control" name="name" value="{{artisan.company_name}}">
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="name" value="{{artisan.name}}">
                </div>
                <!-- /.form-group -->
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="surname" value="{{artisan.surname}}">
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Phone Number</label>

                    <input type="text" class="form-control" name="phone_number" value="{{artisan.phone_number}}">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Description</label>

                    <textarea class="form-control" name="description">{{artisan.description}}</textarea>
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Address</label>

                    <textarea class="form-control" name="description">{{artisan.address}}</textarea>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Category</label>
                    <select name="category_id" class="form-control">
                        {% for category in categories %}
                            <option value="{{category.id}}" {% if artisan.category.category_name == category.category_name %} selected {% endif %}>{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <!-- /.form-group -->
            </div>
             <div class="col-sm-4">
                <div class="form-group">
                    <label>State</label>
                    <select name="state_id" class="form-control">
                        {% for state in states %}
                            <option value="{{state.id}}" {% if artisan.state.state_name == state.state_name %} selected {% endif %}>{{state.state_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>City</label>
                    <select name="city_id" class="form-control">
                        {% for city in cities %}
                            <option value="{{city.id}}" {% if artisan.city.city_name == city.city_name %} selected {% endif %}>{{city.city_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Area</label>
                    <select name="area_id" class="form-control">
                        {% for area in areas %}
                            <option value="{{area.id}}" {% if artisan.area.area_name == area.area_name %} selected {% endif %}>{{area.area_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>


    

{# </form> #}

{# <form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data">
    {{ form_token() }} {{ form_sessionKey() }}

    <fieldset>
        <legend>Billing Information</legend>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Address 1</label>

                    <input type="text" class="form-control" name="address" value="{{artisan.address1
                    }}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Address 2</label>

                    <input type="text" class="form-control" name="address2" value="{{artisan.address2}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" value="{{artisan.city}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="state" value="{{artisan.state}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country" value="{{artisan.country}}">
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>
</form> #}

{# <form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data"> #}
    {# {{ form_token() }} {{ form_sessionKey() }} #}

    <fieldset>
        <legend>Change Password</legend>

        <div class="row">


            <div class="col-sm-4">
                <div class="form-group">
                    <label>New password</label>
                    <input type="text" class="form-control" name="password" type="password" id="accountPassword">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Retype Password</label>
                    <input type="text" class="form-control" name="password_confirmation" type="password" id="accountPasswordConfirm">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>
    </div>
</form>
