{% set product = DashboardProducts.product %}
{% set manufacturers = DashboardProducts.manufacturers %}
{% set categories = DashboardProducts.categories %}
{% set colors = DashboardProducts.colors %}

<form data-request="onCreateProduct" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
    <fieldset>
        <legend>Product Details</legend>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="hidden" name="artisan_id" value="{{user.artisan_id}}">
                    <label for="product_name">Product Name</label>
                    <input type="text" name="product_name" class="form-control">    
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="hidden" name="artisan_id" value="{{user.artisan_id}}">
                    <label for="product_name">Price</label>
                    <input type="text" name="price" class="form-control">    
                </div>
            </div>
            {# <div class="col-sm-3">
                <div class="form-group">
                    <label for="product_reference">Print Reference</label>
                    <input type="text" name="product_reference" class="form-control">   
                </div>
            </div> #}
            {# <div class="col-sm-3">
                <div class="form-group">
                    <label for="category_id">Print Categories</label>
                        <select type="text" name="category_id" class="form-control">
                                <option value="">Choose a category</option>
                            {% for category in categories %}
                                <div style="display:block"> <input type="checkbox" value="{{category.id}}" id="cat{{category.id}}" name="category_id[]" /> <label for="cat{{category.id}}">{{category.category_name}}</label></div>
                            {% endfor %}
                        </select>  
                </div>
            </div> #}
            {# <div class="col-sm-3">
                <div class="form-group">
                    <label for="colors[]">Print Colors</label> <br/>
                    <span style="font-size:10px; line-height:5px">Hold "ctrl" on windows or "cmd" on mac to select multiple colors</span>
                        <select name="colors[]" class="form-control" multiple>
                            {% for color in colors %}
                                <div style="display:block"> <input type="checkbox" value="{{color.id}}" id="col{{color.id}}" name="color_id[]" /> <label for="col{{color.id}}">{{color.color}}</label></div>
                                <option value="{{color.id}}">{{color.color}}</option>
                            {% endfor %}
                        </select>
                </div>
            </div> #}
        </div>
    </fieldset>
    <fieldset>
        <legend>Product Description</legend>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="product_excerpt">Product Excerpt (Short description)</label>
                    <textarea name="product_excerpt" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="product_description">Product Description</label>
                    <textarea name="product_description" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Product Image</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="product_image">Product Image</label>                
                    <input class="form-control" name="product_image" id="imageForm" type="file" accept="image/*" data-request="onProductImageUpload" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            {# <div class="col-sm-6">
                <div class="form-group">
                    <label for="product_image">Print Hover Image</label>                
                    <input class="form-control" name="hover_image" id="imageForm" type="file" accept="image/*" data-request="onHoverImageUpload" data-request-validate data-request-files data-request-flash/>
                </div>
            </div> #}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">       
                    <div id="product_image">Product Image Preview</div>
                </div>
            </div>
            {# <div class="col-sm-6">
                <div class="form-group">                    
                    <div id="hover_image">Hover Image Preview</div>
                </div>
                </div>
            </div> #}
        </div>
    </fieldset>
    {# <fieldset>
        <legend>Print Slider Images</legend>
        <div class="row"> 
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 1</label>                
                    <input class="form-control" name="image1" id="imageForm" type="file" accept="image/*" data-request="onImageOne" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 2</label>                
                    <input class="form-control" name="image2" id="imageForm" type="file" accept="image/*" data-request="onImage2" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 3</label>                
                    <input class="form-control" name="image3" id="imageForm" type="file" accept="image/*" data-request="onImage3" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 4</label>                
                    <input class="form-control" name="image4" id="imageForm" type="file" accept="image/*" data-request="onImage4" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div id="product_image1"></div>
            </div>
            <div class="col-sm-3">
                <div id="product_image2"></div>
            </div>
            <div class="col-sm-3">
                <div id="product_image3"></div>
            </div>
            <div class="col-sm-3">
                <div id="product_image4"></div>
            </div>
        </div>
    </fieldset> #}
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Create Product</button>
    </div>
</form>



