{% set product = DashboardProducts.product %}
{% set manufacturers = DashboardProducts.manufacturers %}
{% set categories = DashboardProducts.categories %}
{% set colors = DashboardProducts.colors %}
{% set artisan = ArtisanDashboard.loggedInArtisan %}

<form data-request="onSaveGallery" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
    <input type="hidden" name="artisan_id" value="{{artisan.id}}" />
    <fieldset>
        <legend>Image(s)</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="product_image">Image(s)</label>                
                    <input class="form-control" name="premium_gallery[]" id="imageForm" type="file" accept="image/*" data-request="onAddToGallery" multiple="multiple" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            {# <div class="col-sm-6">
                <div class="form-group">
                    <label for="product_image">Print Hover Image</label>                
                    <input class="form-control" name="hover_image" id="imageForm" type="file" accept="image/*" data-request="onHoverImageUpload" data-request-validate data-request-files data-request-flash/>
                </div>
            </div> #}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">       
                    <div id="premium_gallery">Gallery Images Preview</div>
                </div>
            </div>
            {# <div class="col-sm-6">
                <div class="form-group">                    
                    <div id="hover_image">Hover Image Preview</div>
                </div>
                </div>
            </div> #}
        </div>
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Add To Gallery</button>
    </div>
</form>



