{# <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a> <span class="navbar-brand">Welcome {{ user.name }}</span>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       
						<li>
                            <a data-request="onLogout" data-request-data="redirect: '/'">
								<i class="ti-settings"></i>
								
                                <p>Sign out</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav> #}
        <div class="admin-header">
			<div class="admin-header-navigation">
				<div class="container-fluid">
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="{{'/'}}" class="nav-link">Back to Main Site</a></li>
						{# <li class="nav-item"><a href="{{'profile'|page}}" class="nav-link">Profile</a></li> #}
						{# <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li> #}
					</ul> 

					<ul class="nav nav-pills secondary">
						<li class="nav-item user-avatar-wrapper hidden-sm-down">
							<a href="{{'profile'|page}}" class="nav-link circle user-avatar-image" style="background-image: url('{{user.avatar.path}}')"></a>
							<span class="user-avatar-status"></span>

							<ul class="header-more-menu">
								<li><a href="{{'profile'|page}}">Profile</a></li>
								<li><a data-request="onLogout" data-request-data="redirect: '/'" style="cursor: pointer">Logout</a></li>
							</ul>	
						</li>
					</ul>		

					<button class="navbar-toggler pull-xs-right hidden-lg-up" type="button" data-toggle="collapse" data-target=".dashboard-nav-primary">
                        <i class="md-icon">menu</i>
                    </button>									
				</div><!-- /.container -->
			</div><!-- /.admin-header-navigation -->

			{# <div class="admin-header-search">
				<form method="get" action="?">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="md-icon">search</i>
						</div><!-- /.input-group-addon -->

						<input type="text" class="form-control" placeholder="Enter your search keyword ...">
					</div><!-- /.form-group -->
				</form>
			</div><!-- /.admin-header-search --> #}
		</div><!-- /admin-header -->