{% set categories = ArtisanDashboard.categories %}
{% set areas = ArtisanDashboard.areas %}
{% set states = ArtisanDashboard.states %}
{% set cities = ArtisanDashboard.cities %}
{# <div class="alert alert-danger" data-validate-error>
    <p data-message></p>
</div> #}
<form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data" id="userform" data-request-validate data-request-files data-request-flash>
    {# {{ form_token() }}
    {{ form_sessionKey() }} #}
    <div class="admin-box">
        <fieldset>
            <legend>Social</legend>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Profile</label>
                        <div id="avatar">
                            {% if user.avatar %}
                                <img src="{{user.avatar.path}}" alt="">
                            {% endif %}
                        </div>
                        <input type="file" data-request="onAvatarUpload" name="avatar" class="form-control" data-request-validate data-request-files data-request-flash>
                    </div>
                    <!-- /.form-group -->
                </div>
                {# <div class="col-sm-4">
                    <div class="form-group">
                        <label>Display Name</label>
                        <input type="text" class="form-control" name="display_name" value="{{user.display_name}}">
                    </div>
                    <!-- /.form-group -->
                </div> #}
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>e-mail</label>
                        <input type="text" class="form-control" name="email" value="{{user.email}}">
                    </div>
                    <!-- /.form-group -->
                </div>

                {# <div class="col-sm-12">
                    <label>Bio</label>
                    <textarea name="bio" class="form-control" form="userform">{{user.bio}}</textarea>
                </div> #}
                <!-- /.col-* -->
            </div>

            <!-- /.row -->
        </fieldset>
        <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
        </div>
{# </form> #}

{# <form data-request="onUpdate" method="post"  data-request-validate class="form-group" enctype="multipart/form-data"> #}
    {# {{ form_token() }} {{ form_sessionKey() }} #}
    <fieldset>
        <legend>Personal Information</legend>

        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="name" value="{{user.name}}">
                </div>
                <!-- /.form-group -->
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="surname" value="{{user.surname}}">
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Phone Number</label>

                    <input type="text" class="form-control" name="phone_number" value="{{user.phone_number}}">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>

{# </form> #}

{# <form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data">
    {{ form_token() }} {{ form_sessionKey() }}

    <fieldset>
        <legend>Billing Information</legend>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Address 1</label>

                    <input type="text" class="form-control" name="address" value="{{user.address1
                    }}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Address 2</label>

                    <input type="text" class="form-control" name="address2" value="{{user.address2}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" value="{{user.city}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="state" value="{{user.state}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country" value="{{user.country}}">
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>
</form> #}

{# <form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data"> #}
    {# {{ form_token() }} {{ form_sessionKey() }} #}
{% if user.artisan_id %}
<fieldset>
        <legend>Listing Information</legend>
{# {{user.artisan.company_name}} #}
        <input type="hidden" name="slug" value="{{user.listing.slug}}">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Company name</label>
                    <input type="text" class="form-control" name="company_name" value="{{user.listing.company_name}}">
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="first_name" value="{{user.listing.first_name}}">
                </div>
                <!-- /.form-group -->
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="last_name" value="{{user.listing.last_name}}">
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Phone Number</label>

                    <input type="text" class="form-control" name="phone_number" value="{{user.listing.phone_number}}">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description">{{user.listing.description}}</textarea>
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Address</label>

                    <textarea class="form-control" name="description">{{user.listing.address}}</textarea>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Category</label>
                    <select name="category_id" class="form-control">
                        {% for category in categories %}
                            <option value="{{category.id}}" {% if user.listing.category.category_name == category.category_name %} selected {% endif %}>{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <!-- /.form-group -->
            </div>
             <div class="col-sm-4">
                <div class="form-group">
                    <label>State</label>
                    <select name="state_id" class="form-control">
                        {% for state in states %}
                            <option value="{{state.id}}" {% if user.listing.state.state_name == state.state_name %} selected {% endif %}>{{state.state_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>City</label>
                    <select name="city_id" class="form-control">
                        {% for city in cities %}
                            <option value="{{city.id}}" {% if user.listing.city.city_name == city.city_name %} selected {% endif %}>{{city.city_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Area</label>
                    <select name="area_id" class="form-control">
                        {% for area in areas %}
                            <option value="{{area.id}}" {% if user.listing.area.area_name == area.area_name %} selected {% endif %}>{{area.area_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </fieldset>
{% endif %}
    <fieldset>
        <legend>Change Password</legend>

        <div class="row">


            <div class="col-sm-4">
                <div class="form-group">
                    <label>New password</label>
                    <input type="text" class="form-control" name="password" type="password" id="accountPassword">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Retype Password</label>
                    <input type="text" class="form-control" name="password_confirmation" type="password" id="accountPasswordConfirm">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>
    </div>
</form>
