{% set allCategoryArtisans = __SELF__.allCategoryArtisans %}
{% set category = __SELF__.category %}

<section>
	<div class="row row-explore-nerby bgf3 p-bottom60">
		<div class="m1170">
			<div class="col-sm-12">
				<div class="about-title extrabold uppercase color333 top60 btm15">
					<span class="bgf3 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">{{category.category_name}}</span>
				</div>
					

	

<div class="results-container lr-15">
						
						<div>
						{% for artisan in allCategoryArtisans %}	

							<div class="col-sm-3 top60">
								<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="memb-photo memb-photo1">
										{% if not artisan.artisan_image.path %}
											<img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="wd" class="b-radius3 img-responsive ">
										{% else %}
											<img src="{{ artisan.artisan_image.path }}" alt="wd" class="b-radius3 img-responsive ">
										{% endif %}
										<div class="memb-photo-hover memb-photo-hover1">
											<div class="memb-photo-links">
												<a href="#">
													<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
												</a>
												<a href="#">
													<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
												</a><br />
												<ul class="list-styles raitings-stars p-left10 inl-flex">
													
													{{'<li><i class="fa fa-star"></i></li>' | str_repeat((artisan.overall_average_rating|round(0,'floor'))) }}
				{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-(artisan.overall_average_rating|round(0,'floor'))) }}
													<!-- <li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li> -->
												</ul>
											</div>
										</div>
									</div>
									<div class="memb-txt">
										<div class="font11 semibold uppercase blue">{{artisan.category.category_name}}</div>
										<div class="font14 color333 uppercase"><b><a href="{{'artisan'|page({slug:artisan.slug}) }}">{{str_limit(artisan.company_name, 20)}}</a></b></div>
										{# <div class="font14 color333 uppercase"><b>{{artisan.first_name}} &nbsp; {{artisan.last_name}}</b></div> #}
										<div class="font12 color777 p-top10"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ str_limit(artisan.address,20)}}</div>
										{% if user %}
										<div class="font12 color777 p-top10"><i class="fa fa-phone"></i>{{artisan.phone_number}}</div>
										{% else %}
										<div class="font12 color777 p-top10">You need to be registered to view this information</div>
										{% endif %}
									</div>
								</div>
							</div>					
							
							
							
							{% endfor %}	
							<div class="clearfix"></div>					
						
						</div>
						{{allCategoryArtisans.render|raw}}
						
						<div class="clearfix"></div>
						<!-- <div class="text-center">
							<a href="04-category-2.html"><div class="grey-gradient-btn readmore-btn b-radius3 color777 uppercase top60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">load more</div></a>
						</div> -->
					</div>				
					<div class="clearfix"></div>		
							
							
							


			</div>
		</div>
	</div>
</section>

