{% set allCategoryArtisans = __SELF__.allCategoryArtisans %}
{% set category = __SELF__.category %}
{% set resultCount = __SELF__.resultCount %}
{% set everyCategoryArtisan = __SELF__.everyCategoryArtisan %}

<div class="main">
    <div class="main-inner">
        <div class="content">
            <div class="container-fluid fullwidth-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="map-leaflet" class="full" style="height:300px"></div>
                    </div>
                    <!-- /.col-* -->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {# <div class="filter filter-white push-bottom">
                            {% partial 'HomeArtisanSearch::searchpagefilter'%}
                        </div> #}
                        <!-- /.filter -->
                        <div class="row" style="padding:15px 0px; text-align:center">
                            <div class="col-sm-12">
                                {# {% if alternateResults is not null or alternateResults is not empty %} Your search for {{categoryObject.category_name}} in
                                {{areaName.area_name}} returned
                                <span class="extrabold blue">{{resultsCount}}</span> results.
                                <span> Here are {{categoryObject.category_name}} (artisans) in different areas you may consider.</span>

                                {% else %} Your search returned
                                <span class="extrabold blue">{{resultsCount}}</span> result{% if resultsCount>1%}s{% endif %} {% endif %} #}
                                <h2>{{category.category_name}}</h2>
                                Your search returned
                                <span class="extrabold blue">{{resultCount}}</span> result{% if resultsCount>1%}s{% endif %}
                            </div>
                        </div>
                        <div class="row" style="padding:15px 0px">
                            {% for artisan in allCategoryArtisans %}

                            <div class="col-sm-6 col-md-3">
                                <div class="card">
                                    {% if artisan.artisan_image.path %}
													<div class="card-image" style="background-image: url('{{ artisan.artisan_image.path }}');">
												{% elseif artisan.category.category_image.path %}
													<div class="card-image" style="background-image: url('{{ artisan.category.category_image.path }}');">
                                                {% else %}
                                                    <div class="card-image" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">
										        {% endif %}

                                            <a href="{{'artisan'|page({slug:artisan.slug}) }}"></a>
                                            {% if artisan.premium %}
                                            <div class="card-image-rating">
                                                {{'
                                                <i class="fa fa-star"></i>' | str_repeat((5|round(0,'floor'))) }}
                                                {{'
                                                <i class="fa fa-star-o"></i>' | str_repeat(5-(5|round(0,'floor'))) }}

                                            <span style="color:rgb(223, 47, 47)">PREMIUM</span>
                                            </div> 
                                            {% else %}
                                                <div class="card-image-rating">
                                                {{'
                                                <i class="fa fa-star"></i>' | str_repeat((artisan.overall_average_rating|round(0,'floor'))) }}
                                                {{'
                                                <i class="fa fa-star-o"></i>' | str_repeat(5-(artisan.overall_average_rating|round(0,'floor'))) }}

                                            </div>

                                            {% endif %}
                                            <!-- /.card-image-rating -->
                                        </div>
                                        <!-- /.card-image -->

                                        <div class="card-content">
                                            <h3>
                                                <a href="{{'category-artisans'|page({'slug':artisan.category.slug})}}">{{artisan.category.category_name}}</a>
                                            </h3>
                                            <h2>
                                                <a href="{{'artisan'|page({slug:artisan.slug}) }}">{{str_limit(artisan.company_name, 20)}}</a>
                                            </h2>
                                            <span>{{artisan.area.area_name}}</span>
                                        </div>
                                        <!-- /.card-content -->

                                        <div class="card-actions">
                                            <a href="listing-detail.html" class="card-action-icon">
                                                {#
                                                <i class="md-icon">favorite</i> #}
                                            </a>
                                            <a href="listing-detail.html" class="card-action-icon">
                                                {#
                                                <i class="md-icon">flag</i> #}
                                            </a>
                                            <a href="{{'artisan'|page({slug:artisan.slug}) }}" class="card-action-btn btn btn-transparent">Show More</a>
                                        </div>
                                        <!-- /.card-actions -->
                                </div>
                                    <!-- /.card -->
                            </div>
                                <!-- /.col-* -->

                                 {% endfor %}
                            <div class="clearfix"></div>
                                <div class="pagination-container">{{allCategoryArtisans.render|raw}}</div>
								
							
                        </div>
                        <!-- /.row -->

                        {#
                        <div class="center">
                            <a href="#" class="btn btn-secondary btn-large">Load More</a>
                        </div> #}
                        <!-- /.center -->
                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-inner -->
</div>
<!-- /.main -->


<script type="text/javascript">
    var artisans = {{ everyCategoryArtisan |json_encode()|raw}};
    var assetsBaseDir = "{{ asset('themes/jambolo/assets/') }}";
</script>

