/* Theme Style Overrides */

#associationsearch {
    padding-top: 40px;
}

.associationselect {
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #999;
}

.associationsearchbutton {
    height: 60px;
}



.about-nav-left:before {
    content: '';
    position: absolute;
    top: 0px;
    right: -85px;
    border: 55px solid transparent;
    z-index: 999;
    border-left: 30px solid #e8403e;
}

.whiteBackground{
    background-color: #fff !important;
    
}

.whiteBackground > a > h6 {
    color: #e8403e !important;
}

.find-btn2 {
    height: 58px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
    float: left;
    width: 100%;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
}

.find-btn{
    border:none !important;
}

.h-first-row{
    background-color: #E8403E !important;
    color:#fff;
}

.h-first-row a{
    font-weight: bolder;
    color:#fff;
    padding-left: 5px;
}

.homeassociationlist > a{
    text-align: center !important;
    text-decoration: none !important;
}

.brandlogo{
	display: block;
	max-width: 80% !important;
	height: auto;
}

.brandlogo2{
    display: block;
    max-width: 30% !important;
    height: auto;
}

.active a{
	color: #E8403E !important;
	font-weight: bolder;
	
}

.nav-right-menu li{
	line-height: 15px !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;

}

.searchButton div {
	background-color: #800000 !important;
}

.searchButton a {
	color: #E8403E !important;
}

/* ===================== */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating label {
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===================== */
.rating2 {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating2 input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating2 label {
    display: inline-block;
    font-size: 0;
}

.rating2 > label:before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating2 > label:hover:before,
.rating2 > label:hover ~ label:before,
.rating2 > label.selected:before,
.rating2 > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===================== */
.rating3 {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating3 input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating3 label {
    display: inline-block;
    font-size: 0;
}

.rating3 > label:before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating3 > label:hover:before,
.rating3 > label:hover ~ label:before,
.rating3 > label.selected:before,
.rating3 > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* displaying stars */

span.stars, span.stars span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}


/* header image size */

.artisanheaderimage {
    width: 200px !important;
    height: auto !important;
}



/* association styles */

.logo {
    width: 200px;
    height: auto;
    display: block;
}

.logo-title {
    margin-left: 80px;
    padding-top: 10px;
    position: absolute;
}


/* category grid */



.wrapper {
        margin: 80px;
        display: grid;
        grid-gap: 26px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 10fr) ) ;
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #f9f9f9;
        color: #888;
        border-left: #E8403E 6px solid;
        border-radius: 0.3px;
        padding: 8px;
        font-size: 15px;
        font-weight: 600;
        box-shadow: 0 2px 2px -2px rgba(0,0,0,0.4);
        line-height: 22px;

    }

    .box:hover {

        background-color: #f5f5f5;

    }

    .box a {
        color: #555;
    }

    .box a:hover {
        color:#e8403e;
        text-decoration: none;
    }

.font12 {
    font-size: 12px;
}

.featuredcategory {
    color: #fff !important;
}

.associationHeader{
    height: 250px;
}

.dashboardpadding{
    padding: 30px !important;
}

.sidenav{
    padding: 40px;
    border-right: 1px #333 solid;
}

.sidenav > ul {
    list-style: none;
    padding-left:40px;
}

.sidenav > ul li a{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

.sidenav > ul li a:hover{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}



#artisanimage {
    width: 80px;
    height: auto;
    display: block;
}

.galleryimage {

    padding: 2px !important;
    width: 200px;
    height: auto;

}