<ul class="menu nav nav-stacked">
		    <li class="nav-item"><a class="nav-link" href="{{'/'}}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{{'about-jambolo'|page}}">About us</a></li>
						<li class="nav-item"><a class="nav-link" href="{{'/categories'}}">Categories</a></li>
						<li class="nav-item"><a class="nav-link" href="{{'/faqs'}}">FAQs</a></li>
    </ul><!-- /.nav -->
    

