[FooterCategories]
==
	<div class="footer">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4">
						{# <div class="widget right-border"> #}
						<div class="widget">
							<h2 class="widgettitle"><img src="{{'assets/img/jambolologo.png'|theme}}" alt="Jambolo"></h2>
							<p>
								Jambolo.com is an online business directory for artisans and small and medium scale enterprises (“SMEs”) in Nigeria. 
							</p>
						</div><!-- /.widget -->
					</div><!-- /.col-* -->
					<div class="col-xs-12 col-sm-12 col-md-4 ">
						<div class="widget">
							<h2 class="widgettitle">Social</h2>

							<ul class="nav nav-pills nav-pills-social">
							
								<li class="nav-item">
									
									<a href="https://www.facebook.com/jambolodotcom/" class="nav-link"><i class="fab fa-facebook fa-3x"></i></a>
								</li>
								<li class="nav-item">
									
									<a href="https://twitter.com/Jambolodotcom" class="nav-link"><i class="fab fa-twitter fa-3x"></i></a>
								</li>
								<li class="nav-item">
									
									<a href="#" class="nav-link"><i class="fab fa-linkedin fa-3x"></i></a>
								</li>
								<li class="nav-item">
									
									<a href="https://www.instagram.com/jambolodotcom/" class="nav-link"><i class="fab fa-instagram fa-3x"></i></a>
								</li>
							</ul>
						</div><!-- /.widget -->
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class="widget">
							<h2 class="widgettitle">Some Categories</h2>
							<ul class="nav nav-stacked">
								{% partial 'FooterCategories::newtheme' %}
							</ul>
						</div><!-- /.widget -->
					</div><!-- /.col-* -->						
					{# <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
						<div class="widget">
							<h2 class="widgettitle">Admin</h2>
							<ul class="nav nav-stacked">
								<li class="nav-item"><a href="#" class="nav-link">Dashboard</a></li>
								<li class="nav-item"><a href="#" class="nav-link">Reviews</a></li>
								<li class="nav-item"><a href="#" class="nav-link">Users</a></li>
								<li class="nav-item"><a href="#" class="nav-link">Listings</a></li>
							</ul>
						</div><!-- /.widget -->
					</div><!-- /.col-* -->				 #}
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-widgets -->
		<div class="footer-top">
			<div class="container">
				{# <div class="footer-top-left">
					<strong class="hidden-xs-down">Supported credit cards:</strong>
					<i class="fa fa-cc-stripe"></i>
					<i class="fa fa-cc-visa"></i>
					<i class="fa fa-cc-discover"></i>
					<i class="fa fa-cc-mastercard"></i>
				</div><!-- /.footer-top-left --> #}
				<div class="footer-top-left">
					{# <strong class="hidden-xs-down">Call Center Numbers:</strong>
					<strong>
					<a style="margin:0px; padding:0px" href="tel:09090022116">+234 909-002-2116</a> |
					<a href="tel:09090033116">+234 909-003-3116</a>
					
					</strong> #}
					{# <i class="fa fa-cc-stripe"></i>
					<i class="fa fa-cc-visa"></i>
					<i class="fa fa-cc-discover"></i>
					<i class="fa fa-cc-mastercard"></i> #}
				</div><!-- /.footer-top-left -->
				<div class="footer-top-right">
					<a id="myBtn" class="footer-top-action">
						<i class="md-icon">vertical_align_top</i>
					</a><!-- /.footer-top-action -->
					<ul class="nav nav-pills">
						<li class="nav-item"><a class="nav-link" href="{{'/'}}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{{'about-jambolo'|page}}">About us</a></li>
						<li class="nav-item"><a class="nav-link" href="{{'/categories'}}">Categories</a></li>
						<li class="nav-item"><a class="nav-link" href="{{'/faqs'}}">FAQs</a></li>
					</ul>
				</div><!-- /.footer-top-right -->
			</div><!-- /.container -->
		</div><!-- /.footer-top -->
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-left">
					<a href="{{'home'|page}}">Jambolo | The Artisan Directory</a>
				</div><!-- /.footer-bottom-left -->
				<div class="footer-bottom-right">
					&copy; 2018 - All Rights Reserved. <a href="#">Privacy Policy </a>
				</div><!-- /.footer-bottom-right -->			
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->
	</div><!-- /.footer -->