[session]
security = "all"

==
{% component 'session' %}
{% set numberAreas = HomeArtisans.numberAreas %}
{% set numberArtisans = HomeArtisans.numberArtisans %}
{% set numberUsers = HomeArtisans.numberUsers %}
{% set numberCategories = HomeArtisans.numberCategories %}
{% set areas = HomeArtisanSearch.areas %}
{% set categories = HomeArtisanSearch.artisanCategories %}

<div>
    {% if flash  %}
        {% if message == "The email has already been taken." %}
            <script type="text/javascript">
                window.open("{{'The_Trusted_Nigerian_Artisans_Directory.pdf'|media}}");
                window.location("{{ '/'|page }}");
            </script>
        {% endif %}
        <p data-control="flash-message" data-interval="5" class="success">{{message}}</p>
    {% endif %}
</div>
<div>
    {% flash error %}
        <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>
    {% endflash %}
</div>


<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand"><img src="{{'assets/img/jambolologo.png'|theme}}" alt="" class="header-top-logo img img-responsive"></h3>
            {# <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav> #}
        </div>
    </header>

    <main role="main" class="inner cover">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7" style="padding-top:100px;">
                    <div class="landing-text" style="text-align:left">
                        <h3>
                            Free Ebook
                        </h3>
                        <h4>
                            Gain Access to over 300 trusted, verified and affordable Artisans of various categories in Lagos state
                        </h4>
                        <hr style="border-color:#fff">
                        <h5>
                            As soon as you sign up and register, you stand a chance to win a free service on Jambolo.com
                        </h5>
                    </div>
                    <div class="social-media">
                        <a href="https://www.facebook.com/jambolodotcom/"> <i class="fab fa-facebook fa-3x"></i></a>
                        <a href="https://twitter.com/Jambolodotcom"> <i class="fab fa-twitter fa-3x"></i></a>
                        <a href="https://www.instagram.com/jambolodotcom/"><i class="fab fa-instagram fa-3x"></i></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form">
                        <form method="post" data-request="onVerification" >
                            <h5>Kindly provide your e-mail and password for verification</h5>
                            <hr style="border-color:#fff">
                                    <fieldset >
                                        <div class="row">
                                            
											<div class="col-sm-6">
												<div class="form-group">
													<label>Email</label>
													<input type="text" name="email" class="form-control" />
												</div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Password</label>

                                                      <input type="password" name="password" class="form-control"/>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                        </div><!-- /.row -->

                                    </fieldset>
                                    <button type="submit" class="landing-button">Get Access Now</button>
                                </form>
                    </div>
                </div>
            </div>
        </div>

        {# <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
            text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p> #}
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            {# <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> #}
        </div>
    </footer>
</div>



<!-- /.main -->