[FooterCategories]
[account]
[FullCategoryList]
==
 <div class="topnav">
  <a class="nohover" >Call Center Numbers:</a>
  <a class="" href="tel:09090022116">+234 909-002-2116</a>
  <a href="tel:09090033116">+234 909-003-3116</a>
  <ul class="pull-right list-styles inl-flex">
    {% if user %}
        <li> <a >Hello {{user.name}}</a>  </li>
        <li> <a data-request="onLogout" data-request-data="redirect: '/'">Sign out</a></li>
    {% else %}
        <li> <a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    {% endif %}
  </ul>
</div> 
<div class="header">
    <div class="header-inner">
        <div class="header-top">
            <div class="container">
                <a href="/">
                    <img src="{{'assets/img/jambolologo.png'|theme}}" alt="" class="header-top-logo">
                </a>
                <div class="nav-primary-wrapper collapse navbar-toggleable-sm">
                    <ul class="nav nav-pills ">
                        <li class="nav-item has-submenu">
                            <a href="{{'/'}}" class="nav-link {% if this.page.id == 'home' %} active2 {% endif %}">Home</a>					
                        </li>
                        <li class="nav-item has-submenu">
                            <a href="{{'about-jambolo'|page}}" class="nav-link {% if this.page.id == 'about-jambolo' %} active2 {% endif %} ">About us</a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a href="{{'/categories'}}" class="nav-link {% if this.page.id == 'directory' %} active2 {% endif %}">Categories</a>
                        </li>
                         <li class="nav-item has-submenu">
                            <a href="{{'/premium'}}" class="nav-link {% if this.page.id == 'premium' %} active2 {% endif %}">Premium</a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a href="{{'/faqs'}}" class="nav-link {% if this.page.id == 'faqs' %} active2 {% endif %}">FAQs</a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a href="{{'/blog'}}" class="nav-link {% if this.page.id == 'blog' %} active2 {% endif %}">Blog</a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a href="{{'/marketplace'}}" class="nav-link {% if this.page.id == 'marketplace' %} active2 {% endif %}">Marketplace</a>
                        </li>
                    </ul><!-- /.nav -->
                </div><!-- /.nav-primary-wrapper -->
                <ul class="nav nav-pills secondary">
                    {# <li class="nav-item">
                        <a href="#" class="nav-link circle"><i class="md-icon">search</i></a>
                    </li>
                    <li class="nav-item"><a href="submit.html" class="nav-link circle"><i class="md-icon">add</i></a></li> #}
                    {# <li class="nav-item user-avatar-wrapper">
                        <a href="#" class="nav-link circle user-avatar-image" style="background-image: url('assets/img/tmp/profile-1.jpg')"></a>
                        <span class="user-avatar-status"></span>

                        <ul class="header-more-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Password</a></li>
                            <li><a href="#">Submissions</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>							
                    </li> #}
                </ul>
                <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                    <i class="md-icon">menu</i>
                </button>						
            </div><!-- /.container -->
        </div><!-- /.header-top -->
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-label hidden-md-down">
                    I'm looking for
                </div><!-- /.header-bottom-label -->
                <ul class="nav nav-pills extrastylenav">
                    {% set premiumCategories = FullCategoryList.allPremiumCategories %}
{% for category in premiumCategories %}
    <li class="nav-item"><a href="{{'premium-category-artisans'|page({'slug':category.slug})}}" class="nav-link">{{str_limit(category.category_name, 15)}}</a></li>
{% endfor %}
                </ul><!-- /.nav -->
                {# <div class="header-bottom-more">
                    <i class="md-icon">more_horiz</i>
                    <ul class="header-more-menu">
                        <li><a href="submit.html">Submit New</a></li>
                        <li><a href="listings.html">All Listings</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div><!-- /.header-bottom-more --> #}
            </div><!-- /.container -->
        </div><!-- /.header-bottom -->		
    </div><!-- /.header-inner -->
</div><!-- /.header -->