{% component 'session' %}
{% set numberAreas = HomeArtisans.numberAreas %}
{% set numberArtisans = HomeArtisans.numberArtisans %}
{% set numberUsers = HomeArtisans.numberUsers %}
{% set numberCategories = HomeArtisans.numberCategories %}
{% set areas = HomeArtisanSearch.areas %}
{% set categories = HomeArtisanSearch.artisanCategories %}

<div>
    {% if flash  %}
        {# {% if message == "The email has already been taken." %}
            <script type="text/javascript">
                window.open("{{'The_Trusted_Nigerian_Artisans_Directory.pdf'|media}}");
                window.location("{{ '/'|page }}");
            </script>
        {% endif %} #}
        <p data-control="flash-message" data-interval="5" class="success">{{message}}</p>
    {% endif %}
</div>
<div>
    {% flash error %}
        <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>
    {% endflash %}
</div>


<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand"><img src="{{'assets/img/jambolologo.png'|theme}}" alt="" class="header-top-logo img img-responsive"></h3>
            {# <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav> #}
        </div>
    </header>

    <main role="main" class="inner cover">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7" style="padding-top:100px;">
                    <div class="landing-text" style="text-align:left">
                        <h3>
                            Free Service
                        </h3>
                        <h4>
                            Jambolo.com is the No. 1 online business services directory for the best verified artisans in Lagos.
                        </h4>
                        <hr style="border-color:#fff">
                        <h5>
                            As soon as you sign up and register, you have access to comment on and rate artisans that service you and much more
                        </h5>
                        <h5>
                            Jambolo for Me, Jambolo for You, Jambolo for Life
                        </h5>

                    </div>
                    <div class="social-media">
                        <a href="https://www.facebook.com/jambolodotcom/"> <i class="fab fa-facebook fa-3x"></i></a>
                        <a href="https://twitter.com/Jambolodotcom"> <i class="fab fa-twitter fa-3x"></i></a>
                        <a href="https://www.instagram.com/jambolodotcom/"><i class="fab fa-instagram fa-3x"></i></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form">
                        <form method="post" data-request="onRegister" >
                            <h5>Kindly register below to access your free service</h5>
                            {# <h6><a class="btn" href="/free-e-book" style="color:#FFF; font-weight:bold; text-transform: uppercase">Click here</a> if you are already registered to access your free ebook</h6> #}
                            {# <h6 style="font-size:10px">*Please note that you need to allow/enable browser pop-ups for Jambolo to access your e-book</h6> #}
                            <hr style="border-color:#fff">
                                    <fieldset >
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Full Name</label>

                                                
                                                        <input type="text" name="name" class="form-control" />
                                                        <input type="hidden" name="surname" value="N/A">
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                            {# <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>

                                                     <input type="text" name="surname" class="form-control" />
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* --> #}
											<div class="col-sm-6">
												<div class="form-group">
													<label>Email</label>
													<input type="text" name="email" class="form-control" />
												</div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                        </div><!-- /.row -->

                                        <div class="row">
                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Phone number</label>

                                                      <input type="number" name="phone_number" class="form-control" />
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                            <div class="col-sm-6">
                                                
                                                <div class="form-group">
                                                    <label>Location</label>

                                                    <select class="form-control" name="area_id" required>
                                                    <option value="">Please Choose your location</option>
												{% for area in areas %}
                                                        <option value="{{area.id}}">{{area.area_name}}</option>
												{% endfor %}
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->

                                        </div>
                                        
                                        {# <div class="row">


                                            
											<div class="col-sm-6">
                                                
                                                <div class="form-group">
                                                    <label>Location</label>

                                                    <select class="form-control" name="area_id" required>
                                                    <option value="">Please Choose your location</option>
												{% for area in areas %}
                                                        <option value="{{area.id}}">{{area.area_name}}</option>
												{% endfor %}
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Your Preferred Artisan Category</label>

                                                    <select class="form-control" name="category_id" required>
                                                        <option value="">Please Choose a Category</option>
                                                        {% for category in categories %}
                                                        <option value="{{category.id}}">{{category.category_name}}</option>
												{% endfor %}
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
											
											
                                        </div><!-- /.row --> #}
                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Password</label>

                                                      <input type="password" name="password" class="form-control"/>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Confirm Password</label>

                                                      <input type="password" name="password_confirm" class="form-control"/>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                        </div><!-- /.row -->
                                        <div class="row col-sm-12">
                                            <input type="checkbox" name="registration-consent" id="regconsent" /> <label for="regconsent">I have agreed that I can be registered on jambolo.com</label>
                                            <em>*Discounts and/or free services are not on purchase items but on the services an artisan provides</em>
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="landing-button">Get Access Now</button>
                                </form>
                    </div>
                </div>
            </div>
        </div>

        {# <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
            text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p> #}
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            {# <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> #}
        </div>
    </footer>
</div>



<!-- /.main -->