[account]
paramCode = "code"
forceSecure = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[HomeArtisans]

[DisplayAds]

[ssbuttonsnb]
fa = "maxcdn"
twitter = 1
facebook = 1
google+ = 1
linkedin = 1
order_twitter = 1
order_facebook = 2
order_google+ = 3
order_linkedin = 5
==
{% set topAd = DisplayAds.topAd %}
{% set rightAd = DisplayAds.rightAd %}
{% set pageUrl = this.controller.currentPageUrl() %}
{% set page = this.page %}


<div class="main">
    <div class="main-inner">
        <div class="content-title">
            <div class="container">
                <h1>{{post.title}}</h1>
                <ul class="breadcrumb">
                    <li><a href="/blog">Blog</a> <i class="md-icon">keyboard_arrow_right</i></li>
                    <li class="active">{{post.title}}</li>
                </ul><!-- /.breadcrumb -->
            </div><!-- /.container -->
        </div><!-- /.content-title -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="content">
                        <div class="container push-top-bottom">
                            <div class="adspacetop">
                                {% if topAd %}
                                    <img src="{{topAd.ad_image.path}}" alt="">
                                {% endif %}
                            </div>
                            <div class="post-detail">
                                {{post.content_html|raw}}
								<br> <br>
                                {# <h3>3 comments in this topic</h3> #}

                                {# <ul class="comments" style="margin-top:10px">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-author">
                                                <a href="#" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>
                                            </div><!-- /.comment-author -->

                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <div class="comment-meta-author">
                                                        Posted by <a href="#">admin</a>
                                                    </div><!-- /.comment-meta-author -->

                                                    <div class="comment-meta-reply">
                                                        <a href="#">Reply</a>
                                                    </div>

                                                    <div class="comment-meta-date">
                                                        <span>8:54 PM 11/23/2016</span>
                                                    </div>
                                                </div><!-- /.comment -->

                                                <div class="comment-body">
                                                    <div class="comment-rating">
                                                        <i class="md-icon">star</i>
                                                        <i class="md-icon">star</i>
                                                        <i class="md-icon">star</i>
                                                        <i class="md-icon">star</i>
                                                        <i class="md-icon">star</i>
                                                    </div><!-- /.comment-rating -->

                                                    Integer condimentum sodales metus, quis pellentesque nisi tempor
                                                    at. Quisque ornare efficitur risus eu bibendum. Donec feugiat
                                                    consequat magna in interdum. Donec malesuada orci et mi fermentum
                                                </div><!-- /.comment-body -->
                                            </div><!-- /.comment-content -->
                                        </div><!-- /.comment -->

                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <div class="comment-author">
                                                        <a href="#" style="background-image: url('assets/img/tmp/profile-2.jpg');"></a>
                                                    </div><!-- /.comment-author -->

                                                    <div class="comment-content">
                                                        <div class="comment-meta">
                                                            <div class="comment-meta-author">
                                                                Posted by <a href="#">admin</a>
                                                            </div><!-- /.comment-meta-author -->

                                                            <div class="comment-meta-reply">
                                                                <a href="#">Reply</a>
                                                            </div>

                                                            <div class="comment-meta-date">
                                                                <span>8:54 PM 11/23/2016</span>
                                                            </div>
                                                        </div><!-- /.comment -->

                                                        <div class="comment-body">
                                                            <div class="comment-rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-o"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </div><!-- /.comment-rating -->

                                                            Donec malesuada orci et mi fermentum, ac tincidunt arcu
                                                            tincidunt. Ut fringilla tellus sem, quis rhoncus dolor
                                                            condimentum id. Vivamus ut commodo felis. Fusce in lacus
                                                            egestas, mattis ex et, molestie est.
                                                        </div><!-- /.comment-body -->
                                                    </div><!-- /.comment-content -->
                                                </div><!-- /.comment -->
                                            </li>
                                        </ul>
                                    </li>

                                    
                                </ul> #}

                                {# <h2>Reply to this post</h2> #}

								{# Posting a feedback #}
                Share on: {% component 'ssbuttonsnb' %}
                <br><br>
				{% partial 'site/topic/default' %}

                                
                            </div><!-- /.post-detail -->
                            
                        </div><!-- /.container -->
                    </div><!-- /.content -->
				</div><!-- /.col-* -->
				


				

                <div class="col-md-4 col-lg-3">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widgettitle">Recent Listings</h2>

                            <div class="cards-small-wrapper">
								{% partial 'HomeArtisans::blog-artisans' %}
                                {# <div class="card-small">
                                    <div class="card-small-image">
                                        <a href="#" style="background-image: url('assets/img/tmp/card-2.jpg');"></a>
                                    </div><!-- /.card-small-image -->

                                    <div class="card-small-content">
                                        <h3><a href="listing-detail.html">Cozzy Coffee Shop</a></h3>
                                        <h4><a href="listing-detail.html">Drink &amp; Food</a></h4>
                                    </div><!-- /.card-small-content -->
                                </div><!-- /.card-small -->

                                <div class="card-small">
                                    <div class="card-small-image">
                                        <a href="#" style="background-image: url('assets/img/tmp/card-1.jpg');"></a>
                                    </div><!-- /.card-small-image -->

                                    <div class="card-small-content">
                                        <h3><a href="listing-detail.html">Piano Lessons For Beginners</a></h3>
                                        <h4><a href="listing-detail.html">Education</a></h4>
                                    </div><!-- /.card-small-content -->
                                </div><!-- /.card-small -->

                                <div class="card-small">
                                    <div class="card-small-image">
                                        <a href="#" style="background-image: url('assets/img/tmp/card-3.jpg');"></a>
                                    </div><!-- /.card-small-image -->

                                    <div class="card-small-content">
                                        <h3><a href="listing-detail.html">Delicious Ocean Restaurant</a></h3>
                                        <h4><a href="listing-detail.html">Restaurant</a></h4>
                                    </div><!-- /.card-small-content -->
                                </div><!-- /.card-small -->

                                <div class="card-small">
                                    <div class="card-small-image">
                                        <a href="#" style="background-image: url('assets/img/tmp/card-4.jpg');"></a>
                                    </div><!-- /.card-small-image -->

                                    <div class="card-small-content">
                                        <h3><a href="listing-detail.html">Healthy Breakfast</a></h3>
                                        <h4><a href="listing-detail.html">Food &amp; Drink</a></h4>
                                    </div><!-- /.card-small-content -->
                                </div><!-- /.card-small --> #}

                            </div><!-- /.cards-small-wrapper -->
                        </div><!-- /.widget -->

                        {# <div class="widget">
                            <h2 class="widgettitle">Reviews</h2>

                            <div class="reviews">

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">See H. Oceguera</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star</i><i class="md-icon">star_border</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-2.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Claude M. Tinsley</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star</i><i class="md-icon">star</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-3.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Diedre S. Coleman</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star_border</i><i class="md-icon">star_border</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-4.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">John K. Olvera</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star_half</i><i class="md-icon">star_border</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-5.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Wayne S. Hernandez</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star</i><i class="md-icon">star</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-6.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Charles B. Stocks</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star_border</i><i class="md-icon">star_border</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-7.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Micheal S. Haynes</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star_border</i><i class="md-icon">star_half</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                            </div><!-- /.reviews -->
                        </div><!-- /.widget --> #}

                        <div class="widget">
                            <h2 class="widgettitle">Navigation</h2>
							{% partial 'site/blog-navigation' %}
                            
                            {# <ul class="menu nav nav-stacked">
                                <li class="nav-item">
                                    <a href="listings.html" class="nav-link">Listings</a>
                                </li>

                                <li class="nav-item">
                                    <a href="blog.html" class="nav-link">Blog</a>
                                </li>

                                <li class="nav-item">
                                    <a href="admin-dashboard.html" class="nav-link">Dashboard</a>
                                </li>

                                <li class="nav-item">
                                    <a href="submit.html" class="nav-link">Upoad Listing</a>
                                </li>
                            </ul><!-- /.nav --> #}
                        </div><!-- /.widget -->
                        <div class="adspaceright">
                            {% if topAd %}
                                <img src="{{topAd.ad_image.path}}" alt="">
                            {% endif %}
                        </div>
                    </div><!-- /.sidebar -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->