[blogPosts]
[blogCategories]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
{% set lastCategory = post.categories|last %}
{% for post in posts %}
<div class="post">
    <div class="post-date">
        <strong>{{ post.published_at|date("d") }}</strong>
        <span>{{ post.published_at|date("M") }}</span>
    </div>

    <div class="post-image">
		{% if post.featured_images|first %} {% set image = post.featured_images|first %} 
			<a href="{{ post.url }}" class="post-image-link" style="background-image: url('{{image.path}}');"></a>
		{% else %} 
		
		<a href="{{ post.url }}" class="post-image-link" style="background-image: url('assets/img/tmp/hero.jpg');"></a>
		{% endif %}

        

        <div class="post-author">
            <span class="post-author-image">
                <a href="blog-detail.html" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>
            </span><!-- /.post-author-image -->

            <a href="{{ post.url }}">
                <span class="post-author-name">{{post.user.name}} {{post.user.surname}}</span>
            </a>
        </div><!-- /.post-author -->
    </div><!-- /.post-image -->

    <div class="post-title">
        <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
    </div><!-- /.post-title -->

    <div class="post-meta">
        <div class="post-meta-item">
            Posted by <a href="blog-detail.html">{{post.user.name}}</a>
        </div><!-- /.post-meta-item -->

        <div class="post-meta-item">
            <i class="fa fa-calendar"></i> {{post.published_at|date('d/m/y')}}
        </div><!-- /.post-meta-item -->

        {# <div class="post-meta-item">
            <i class="fa fa-comment"></i> <a href="blog-detail.html">3 comments</a>
        </div><!-- /.post-meta-item --> #}
    </div><!-- /.post-meta -->

    <div class="post-content">
        <p>
           {{post.summary|raw}}
        </p>
    </div><!-- /.post-content -->

    <div class="post-read-more">
        <a href="{{ post.url }}">Read More <i class="fa fa-chevron-right"></i></a>
    </div><!-- /.post-read-more -->
</div><!-- /.post-->

{% endfor %}



