[session]
security = "all"

==
{% component 'session' %}

<div class="container" style="padding-top:50px; padding-bottom:50px">
	


	<div class="row">
		<div class="col-lg-5 col-lg-offset-4">
        
			<h2>User Registration</h2>
            {# <p>Register as an <a href="{{'artisanlogin'|page}}">Artisan</a></p> #}
			<form method="post" data-request="onRegister">
				<div class="form-group">
					<label for="">First name</label>
					<input type="text" class="form-control" name="name" placeholder="">
				</div><!-- /.form-group -->

                <div class="form-group">
					<label for="">Last name</label>
					<input type="text" class="form-control" name="surname" placeholder="">
				</div>

                <div class="form-group">
					<label for="">E-mail</label>
					<input type="email" class="form-control" name="email" placeholder="">
				</div>

                <div class="form-group">
					<label for="">Phone Number</label>
					<input type="text" class="form-control" name="phone_number" placeholder="">
				</div>

				<div class="form-group">
					<label for="">Password</label>
					<input class="form-control" name="password" type="password" id="userSigninPassword">
				</div><!-- /.form-group -->

                <div class="form-group">
					<label for="">Confirm Password</label>
					<input class="form-control" name="password_confirm" type="password" id="userSigninPassword">
				</div><!-- /.form-group -->

				<div class="form-group-btn">
					<button type="submit" class="btn btn-primary pull-right">Register</button>
				</div><!-- /.form-group-btn -->

				{# <div class="form-group-bottom-link">
					<a href="reset-password.html">I forgot my password <i class="fa fa-long-arrow-right"></i></a>
				</div><!-- /.form-group-bottom-link --> #}
			</form>
		</div><!-- /.col-* -->
	</div><!-- /.row -->
</div>