<div class="container" style="padding-top:50px; padding-bottom:50px">
	{# <a href="/" class="return-back">
	<i class="fa fa-long-arrow-left"></i> Return Back</a>
</a> #}


	<div class="row">
		<div class="col-lg-5 col-lg-offset-4">
			{# <h2>User Login</h2> #}
            {# <p>Login as an <a href="{{'artisanlogin'|page}}">Artisan</a></p> #}
			<form method="post" data-request="onSignin">
				<div class="form-group">
					<label for="">Username</label>
					<input type="text" class="form-control" name="login" id="userSigninLogin" placeholder="Enter your {{ loginAttributeLabel|lower }}">
				</div><!-- /.form-group -->

				<div class="form-group">
					<label for="">Password</label>
					<input class="form-control" name="password" type="password" id="userSigninPassword">
				</div><!-- /.form-group -->

			

				<div class="form-group-btn">
					<span>If you don't have an account</span>
					<a href="/register">register here </a>
					<button type="submit" class="btn btn-primary pull-right">Sign In</button>
				</div><!-- /.form-group-btn -->

				{# <div class="form-group-bottom-link">
					<a href="reset-password.html">I forgot my password <i class="fa fa-long-arrow-right"></i></a>
				</div><!-- /.form-group-bottom-link --> #}
			</form>
		</div><!-- /.col-* -->
	</div><!-- /.row -->
</div>


{# 
<form
    data-request="onSignin">
    <div class="form-group">
        <!-- <label for="userSigninLogin">{{ loginAttributeLabel }}</label> -->
        <input
            name="login"
            type="text"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="userSigninLogin"
            placeholder="Enter your {{ loginAttributeLabel|lower }}" />
    </div>

    <div class="form-group">
        <!-- <label for="userSigninPassword">Password</label> -->
        <input
            name="password"
            type="password"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="userSigninPassword"
            placeholder="Enter your password" />
    </div>

    <button type="submit" class="submit-btn button1-1 b-radius3 right30 button-orange top20">Sign in</button>
</form> #}

