{% set cities = __SELF__.cities %}
{% set areas = __SELF__.areas %}
{% set states = __SELF__.states %}
{% set artisanCategories = __SELF__.artisanCategories %}
{% set areasInCity = __SELF__.areasInCity %}
{% set association = __SELF__.association %}

<form method="post" value="onSearch" action="{{ url('find-artisan') }}">
<input type="hidden" />
    <div class="col-sm-10 col-sm-offset-2">
    <div class="col-sm-3 p-left0 p-right0">
        <div class="btn-group width100 associationselect">
            <div class="custom-select select-type4 high category">
                <select id="cityselect" data-request="onChooseCity" data-request-data="city:0" data-request-success="triggerChosenUpdate()" data-minimum-input-length="2"
                data-ajax--delay="300" name="city" class="chosen-select" select-no-search>
                    <option value="0" selected="selected">- Choose Your City -</option>
                {% for city in cities %}
                    <option value="{{city.id}}">{{city.city_name}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-left0 p-right0">
        <div class="btn-group width100 associationselect">
            <div class="custom-select select-type4 high category">
                <select id="areaDropdown2" name="area" type="text" class="chosen-select">
            
                </select>
            </div>
        </div>
    </div>
    
    <input  name="association" type="hidden" value="{{association.id}}" />
    <div class="col-sm-3 p-left0 p-right0">
        <div class="btn-group width100">
            <button class="find-btn associationsearchbutton">search</button>
        </div>
    </div>
    </div>
</form>