{% set cities = __SELF__.cities %}
{% set areas = __SELF__.areas %}
{% set states = __SELF__.states %}
{% set artisanCategories = __SELF__.artisanCategories %}
{% set areasInCity = __SELF__.areasInCity %}
{% set association = __SELF__.association %}
<div class="container">
    {# <div style="margin: 0 auto; height: auto; padding:15px"> #}
    
    
    <form  method="post" value="onSearch" action="{{ url('find-artisan') }}" style="margin:0 auto">
										<div class="input-group first col-sm-12 col-md-4">
											<div class="input-group-addon">
												<i class="md-icon">my_location</i>
											</div>
											<!-- /.input-group-addon -->
											<select name="city" id="" class="form-control" data-request="onChooseCity">
												<option value="">Choose a city</option>
												{% for city in cities %}
                            	                    <option value="{{city.id}}">{{city.city_name}}</option>
                                                {% endfor %}
											</select>
										</div>
										<!-- /.input-group  -->

										<div class="input-group col-sm-12 col-md-4">
											<div class="input-group-addon">
												<i class="md-icon">my_location</i>
											</div>
											<!-- /.input-group-addon -->
											<select name="area" id="areaDropdown2" class="form-control">
												<option value="">Choose an area</option>
												<!--{% for areaIncity in areasInCity %}
                                <option value="{{artisanCategory.id}}">{{areaInCity.area_name}}</option>
                            {% endfor %} -->
											</select>
										</div>
										<!-- /.input-group  -->

										<input  name="association" type="hidden" value="{{association.id}}" />
										<!-- /.input-group  -->

										<div class="form-group last col-sm-12 col-md-4">
											<button type="submit" class="btn btn-primary btn-block">Search</button>
										</div>
										<!-- /.col-* -->
									</form>

{# </div> #}
</div>
