{% set orderDetails = __SELF__.orderDetails %}

<div class="card">
    <div class="content">
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    {% for orderDetail in orderDetails %}
                        <tr>
                            
                            <td>{{orderDetail.product.name|raw}}</td>
                            <td>{{orderDetail.quantity}}</td>
                            <td>NGN {{orderDetail.price|number_format(2, '.', ',')}}</td>
                            <td>NGN {{orderDetail.total|number_format(2, '.', ',')}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
