{% set association = __SELF__.association %}

<div class="row cat-partners">
    <div class="m1170">
     

        <div class="partners margin60 f-left">
            {{association.about_us|raw}}
        
        </div>
    </div>
</div>


<div class="row cat-partners">
    <div class="col-md-6">
        <div class="m1170">
            <div class="about-title extrabold uppercase top60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <span class="font22 color555">Partnership</span>
            </div>

            <div class="partners margin60 f-left">
                {{association.partnership|raw}}
            
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="m1170">
            <div class="about-title extrabold uppercase top60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <span class="font22 color555">Services</span>
            </div>

            <div class="partners margin60 f-left">
                {{association.services|raw}}
            
            </div>
        </div>
    </div>
    
</div>



