{% set association = __SELF__.association %}
{% set leader = __SELF__.associationLeader %}
<div class="main">
				<div class="main-inner">


					<div class="content">
						<div class="content-title">
							<div class="container">
								<h1 style="font-size:15px;">About {{association.association_name}}</h1>

								<ul class="breadcrumb">
									<li>
										<a href="{{'/'}}">Home</a>
										<i class="md-icon">keyboard_arrow_right</i>
									</li>


									<li class="active">About {{association.abbreviation}}</li>

								</ul>
								<!-- /.breadcrumb -->
							</div>
							<!-- /.container -->
						</div>
                        {# <img src="{{association.headerimage.path}}" alt=""> #}
						<!-- /.content-title -->
						<div class="container push-top-bottom">
							<div class="row">
								<div class="col-sm-8" style="text-align:left;">
									<h4>About us</h4>
									<h6 style="line-height:30px">{{association.about_us|raw}}</h6>
								</div>
								<div class="col-sm-4">
									<h4>Association Leader</h4>
									{% if leader %}
									<div class="card">
										{% if not leader.photo.path %}
                                    	<div class="card-image" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">
                                    {% else %}
                                        <div class="card-image" style="background-image: url('{{ leader.photo.path }}');">
                                    {% endif %}
                                        </div>

										<div class="card-content">
                                            {# <h3>
                                                <a href="{{'category-artisans'|page({'slug':artisan.category.slug})}}">{{artisan.category.category_name}}</a>
                                            </h3> #}
                                            <h2>
                                                {{str_limit(leader.name, 20)}}
                                            
                                            </h2>
                                            <span><a href="tel:{{ leader.phone_number }}">{{ leader.phone_number }}</a></span> <br>
                                            {{ str_limit(leader.position, 40)}}
                                        </div>
									</div>
									{% endif %}
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-6" style="text-align:center">
									<h4>Partnership</h4>
									<h6 style="line-height:30px">
										{{association.partnership|raw}}
									</h6>
								</div>
                                <div class="col-sm-6" style="text-align:center">
									<h4>Our Services</h4>
									<h6 style="line-height:30px">
										{{association.services|raw}}
									</h6>
								</div>
							</div>
							


							{# <div class="row">
								<div class="col-sm-3">
									<div class="box-small center">
										<h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Directory of Best Quality</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center">
										<h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Verified Artisans</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center">
										<h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Well-Organized Listings</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center">
										<h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Free Listings</h6>
									</div>
								</div>
							</div> #}
						
						</div>
						<!-- /.container -->
						<div class="partners">
							<div class="container">

								<h4>Partnering Associations</h4>
								<div class="carousel">
								{% partial 'Associations::newtheme' %}
								</div>
							</div>
							<!-- /.container -->
						</div>
						
					</div>
					
					<!-- /.content -->
				</div>
				<!-- /.main-inner -->
			</div>
