{% set executives = __SELF__.executives %}
{% set zonalChairmen = __SELF__.zonalChairmen %}



	
<div class="main">
				<div class="main-inner">


					<div class="content">
						<div class="content-title">
							<div class="container">
								<h1>Association Executives</h1>

								<ul class="breadcrumb">
									<li>
										<a href="{{'/'}}">Home</a>
										<i class="md-icon">keyboard_arrow_right</i>
									</li>


									<li class="active">Association Executives</li>

								</ul>
								<!-- /.breadcrumb -->
							</div>
							<!-- /.container -->
						</div>


{% for executive in executives %}

{# <div class="col-sm-3 top60 f-left">
	<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
		<div class="memb-photo memb-photo1">
		{% if executive.photo %}
			<img src="{{executive.photo.path}}" alt="wd">
		{% else %}
			<img src="{{'assets/img/noimg.jpg'|theme}}" alt="">
		{% endif %}

		</div>
		<div class="memb-txt">
			<!-- <span class="font11 semibold uppercase blue">beauty & spa</span><br /> -->
			<b class="font14 color333 uppercase">{{ str_limit(executive.name, 40)}}</b><br />
			<b class="font14 color333 ">{{ str_limit(executive.position, 40)}}</b><br />
			<!-- <span class="font12 color777">5108 Macarthur Blvd NW Unit B, Washington, DC 20016</span> -->
			<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>{{executive.phone_number}}</b></div>
		</div>
	</div>
</div> #}


    <div class="col-sm-6 col-md-3">
                                <div class="card">
                                    {% if not executive.photo.path %}
                                    	<div class="card-image" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">
                                    {% else %}
                                        <div class="card-image" style="background-image: url('{{ executive.photo.path }}');">
                                    {% endif %}

                                            {# <a href="{{'artisan'|page({slug:artisan.slug}) }}"></a> #}

                                            {# <div class="card-image-rating">
                                                {{'
                                                <i class="fa fa-star"></i>' | str_repeat((artisan.overall_average_rating|round(0,'floor'))) }}
                                                {{'
                                                <i class="fa fa-star-o"></i>' | str_repeat(5-(artisan.overall_average_rating|round(0,'floor'))) }}

                                            </div> #}
                                            <!-- /.card-image-rating -->
                                        </div>
                                        <!-- /.card-image -->

                                        <div class="card-content">
                                            {# <h3>
                                                <a href="{{'category-artisans'|page({'slug':artisan.category.slug})}}">{{artisan.category.category_name}}</a>
                                            </h3> #}
                                            <h2>
                                                {{str_limit(executive.name, 20)}}
                                            
                                            </h2>
                                            <span>{{ executive.phone_number }}</span> <br>
                                            {{ str_limit(executive.position, 40)}}
                                        </div>
                                        <!-- /.card-content -->

                                    
                                </div>
                                    <!-- /.card -->
                            </div>
                                <!-- /.col-* -->

{% endfor %}
</div>
</div>
</div>