.copyright-area {
    background-color: #DF2F2F;
    color: #fff;
}

.copyright-area a {
    color: #fff;
}

.footer-area {
    background-color: #474747;
    color: #fff;
}

.footer-area a {
    color: #fff;
}

.footer-area h3 {
    color: #fff;
}

.footer-area ul li a{
    color: #fff;
}

.open {
    color: #666 !important;
}

.activecat {
    color:#DF2F2F;
}

.product-action a {
    color: #666666;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.product-action a.addtocart {
    width: 100% !important;
}

.product-style-2 .product-action {
    background: none;
}

.color-title {
    margin-right: 10px;
    width: 100%;
}

.submit-button {
    height: 40px !important;
}