description = "Default layout"
[categorySEO]
[session]
security = "all"
redirect = "home"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/analytics' %}
        <meta charset="utf-8">
        <title>Jambolo - {{ this.page.title }}</title>
        <meta name="author" content="Jambolo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-01.png'|theme }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">    
        <link rel="stylesheet" type="text/css" href="{{ 'assets/slick/slick/slick.css'|theme }}"/>
        <link rel="stylesheet" type="text/css" href="{{ 'assets/slick/slick/slick-theme.css'|theme }}"/>
        <link href="{{'assets/fonts/font-awesome/css/font-awesome.min.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/libraries/owl-carousel/owl.carousel.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/leaflet.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/leaflet.markercluster.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/leaflet.markercluster.default.css'|theme}}" rel="stylesheet" type="text/css">        
        <link href="{{'assets/css/materialist.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary">
         <!-- Compiled and minified CSS -->
    
        <link href="{{'assets/css/mystyles.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary">

        
    </head>
    <body>
        <div class="page-wrapper">
            <!-- Header -->
            <div class="header-wrapper">
                {% if this.page.id == 'associations' or this.page.id == 'leadership' or this.page.id == 'find-association-artisan' or this.page.id == 'chairmen' %}
                    {% partial 'associations/header' %}
                {% else %}
                    {% partial 'site/header' %}
                {% endif %}
            </div>
            <!-- /.header-wrapper -->
            <!-- Content -->
            <div class="main-wrapper">
                {% page %}
            </div>
            <!-- Footer -->
            <div class="footer-wrapper">
                {% partial 'site/footer' %}
            </div>
            <!-- /.footer-wrapper -->
        </div>
        <script type="text/javascript" src="{{'assets/js/jquery.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/tether.min.js'|theme}}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJENVjGB6htvKEOie5CQwa0JuazL-AXw"></script>
        <script type="text/javascript" src="{{'assets/js/bootstrap.min.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/leaflet.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/leaflet.markercluster.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/libraries/owl-carousel/owl.carousel.min.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/materialist.js'|theme}}"></script>
        {# <script src="{{ 'assets/switcher/js/switcher.js'|theme}}"></script> #}
        <script src="{{ 'assets/chosen/chosen.jquery.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.placeholder.min.js'|theme }}"></script>
        {# <script src="{{ 'assets/js/jquery.placeholder.min.js.map'|theme }}"></script> #}
        <script src="{{ 'assets/js/jquery.smooth-scroll.js'|theme }}"></script>
        <!-- Compiled and minified JavaScript -->
        <script type="text/javascript" src="{{ 'assets/slick/slick/slick.js'|theme }}"></script>
        <script src="{{ 'assets/js/theme.js'|theme }}"></script>
        <script src="{{ 'assets/js/theme2.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
        <script>
            $('#cityselect').change(function(){
                console.log($(this).val());
                if($(this).data())
                    $(this).attr('data-request-data', 'city:'+$(this).val());
                    $(this).removeData('request-data'); 
            })   
        </script>
        <script>
            function triggerChosenUpdate(){$('#areaDropdown2').trigger('chosen:updated');}
        </script>
<script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();



    function plotCurrentLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var currLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                // plot the currLocation on Google Maps, or handle accordingly:

                new google.maps.Marker({
                    title: 'Current Location',
                    map: map,
                    position: currLocation
                });

                map.setCenter(currLocation);
            });
        }
    }

    function getDirections() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        navigator.geolocation.getCurrentPosition(function (position) {
            var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            console.log(pos);
        });



        var request = {
            origin: pos.lat + ',' + pos.lng,
            destination: artisan.latitude + ',' + artisan.longitude,
            travelMode: 'DRIVING'
        };
        directionsDisplay.setMap(map);
        directionsService.route(request, function (result, status) {
            if (status == 'OK') {
                directionsDisplay.setDirections(result);
            }
        });


    }

</script>

<script>
    $(document).ready(function(){
    $('.carousel').slick({
    dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
  lazyLoad: 'ondemand'
  });
  });
</script>

<script>
    $(document).ready(function(){
        window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document

$('#myBtn').click(function(){
    //document.body.scrollTop = 0; // For Safari
    //document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

    $('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
});
    

    });
</script>



    </body>
</html>
