description = "Search layout"

[session]
security = "all"
redirect = "home"

[HomeArtisanSearch]
[Associations]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/analytics' %}
        <meta charset="utf-8">
        <title>Jambolo - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Jambolo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-01.png'|theme }}">
   
        <link href="{{ 'assets/css/master.css'|theme }}" rel="stylesheet">
        <!-- <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color1.css'|theme }}" title="color1" media="all" data-default-color="true" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color2.css'|theme }}" title="color2" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color3.css'|theme }}" title="color3" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color4.css'|theme }}" title="color4" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color5.css'|theme }}" title="color5" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color6.css'|theme }}" title="color6" media="all" /> -->

        {% styles %}


    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'associations/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
        <div id="page-preloader"><span class="spinner"></span></div>
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'associations/footer' %}
        </footer>

        <!-- Scripts -->
        <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/modernizr.custom.js'|theme }}"></script>
        <script src="{{ 'assets/js/classie.js'|theme }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJENVjGB6htvKEOie5CQwa0JuazL-AXw"></script>
        <script src="{{ 'assets/switcher/js/switcher.js'|theme}}"></script>
        <script src="{{ 'assets/chosen/chosen.jquery.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        <script src="{{ 'assets/js/bootstrap-slider.js'|theme }}"></script>
        <script src="{{ 'assets/js/bootstrap-datepicker.js'|theme }}"></script>
        <script src="{{ 'assets/js/datepicker.js'|theme }}"></script>
        <script src="{{ 'assets/slider-pro/js/jquery.sliderPro.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.smooth-scroll.js'|theme }}"></script>
        <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.placeholder.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/theme.js'|theme }}"></script>
        
        {% framework extras %}
        {% scripts %}
        <script>
    $('#cityselect').change(function(){
         console.log($(this).val());
         if($(this).data())
         $(this).attr('data-request-data', 'city:'+$(this).val());
         $(this).removeData('request-data');
    });   

    $('.rating input').change(function () {
                var $radio = $(this);
                $('.rating .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

     $('.rating2 input').change(function () {
                var $radio = $(this);
                $('.rating2 .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

    $('.rating3 input').change(function () {
                var $radio = $(this);
                $('.rating3 .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });



    $.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
        // Create stars holder
        var $span = $('<span />').width(size);
        // Replace the numerical value with stars
        $(this).html($span);
    });
}

$(function() {
    $('span.stars').stars();
});
 
</script>


<script>
    $('#cityselect').change(function(){
         console.log($(this).val());
         if($(this).data())
         $(this).attr('data-request-data', 'city:'+$(this).val());
         $(this).removeData('request-data');
         
    })   
 
</script>

<script>
    function triggerChosenUpdate(){
        $('#areaDropdown2').trigger('chosen:updated');
    }
</script>

    </body>
</html>
