description = "Landing layout"
[categorySEO]

==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/analytics' %}
        <meta charset="utf-8">
        {# <title>Jambolo - {{ this.page.title }}</title> #}
        {% if this.page.id == "category-artisans" %}
            {% component 'categorySEO' %}
        {% elseif this.page.id == 'home' %}
            <meta name="description" content="Jambolo.com is an online business directory for verified artisans in Lagos and small and
medium scale enterprises. If you are looking for blue collar services in Nigeria, you do not need to
phone a friend, just log on to jambolo.com or call +234 909-002-2116">
            <meta name="title" content="Artisans in Lagos, Lagos Artisans, Blue collar services in Nigeria, Artisans Lagos | jambolo.com">
            <title>Artisans in Lagos, Lagos Artisans, Blue collar services in Nigeria, Artisans Lagos | jambolo.com</title>
            <meta name="keywords" content="Artisans in Lagos, Lagos Artisans, Blue collar services in Nigeria, Artisans Lagos, Aluminium Works, Auto Battery Dealer, Blacksmith, Auto Spare Parts Dealer, Borehole Installation, Bricklayer">
        {% else %}
            <title>Jambolo - {{ this.page.title }}</title>
            <meta name="description" content="{{ this.page.meta_description }}">
            {# <meta name="title" content="{{ this.page.title }}"> #}
        {% endif %}
        <meta name="author" content="Jambolo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-01.png'|theme }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">      
        
        {# <link href="{{'assets/css/materialist.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary"> #}
         <!-- Compiled and minified CSS -->
    
        {# <link href="{{'assets/css/mystyles.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary"> #}
        <link href="{{'assets/css/landingstyles.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary">
        <link href="{{'assets/css/cover.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary">

        
    </head>
    <body >
        
          
                {% page %}
            
        <script type="text/javascript" src="{{'assets/js/jquery.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/tether.min.js'|theme}}"></script>
        {# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #}
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> #}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% framework extras %}
        {% scripts %}

    <script>
     var chatDiv = document.createElement('div');
     chatDiv.className = 'fb-customerchat';
     chatDiv.setAttribute('page_id', '2047769102211460');
     chatDiv.setAttribute('ref', 'bcb9e3af539f2a92ec8fcb769e7584c3a256a21e36f6c3a769');
     chatDiv.setAttribute('logged_in_greeting', "Hi! How can we help you?");
     chatDiv.setAttribute('logged_out_greeting', "Hi! We\'re here to answer any questions you may have");
     document.body.appendChild(chatDiv);
     window.fbAsyncInit = function() {
       FB.init({
         appId            : '2015199145383303',
         autoLogAppEvents : true,
         xfbml            : true,
         version          : 'v2.12'
       });
     };
     (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  
  


    </body>
</html>
