description = "Marketplace Default layout"
[categorySEO]
[session]
security = "all"
redirect = "home"
==
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Jambolo | Marketplace</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		<!-- Place favicon.ico in the root directory -->

		<!-- Google Font -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

		<!-- all css here -->
		<!-- bootstrap v3.3.6 css -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/bootstrap.min.css'|theme}}">
		<!-- animate css -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/animate.css'|theme}}">
		<!-- jquery-ui.min css -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/jquery-ui.min.css'|theme}}">
		<!-- meanmenu css -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/meanmenu.min.css'|theme}}">
		<!-- nivo-slider css -->
		<link rel="stylesheet" href="{{'assets/marketplace/lib/css/nivo-slider.css'|theme}}">
		<link rel="stylesheet" href="{{'assets/marketplace/lib/css/preview.css'|theme}}">
		<!-- slick css -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/slick.css'|theme}}">
		<!-- lightbox css -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/lightbox.min.css'|theme}}">
		<!-- material-design-iconic-font css -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/material-design-iconic-font.css'|theme}}">
		<!-- All common css of theme -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/default.css'|theme}}">
		<!-- style css -->
		<link rel="stylesheet" href="{{'assets/marketplace/style.css'|theme}}">
        <!-- shortcode css -->
        <link rel="stylesheet" href="{{'assets/marketplace/css/shortcode.css'|theme}}">
		<!-- responsive css -->
		<link rel="stylesheet" href="{{'assets/marketplace/css/responsive.css'|theme}}">
        <link rel="stylesheet" href="{{'assets/marketplace/css/mystyles.css'|theme}}">
		<!-- modernizr css -->
		<script src="{{'assets/marketplace/js/vendor/modernizr-2.8.3.min.js'|theme}}"></script>
        
	</head>
    <body>
          <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div> 
     <div>{% flash error %} <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>{% endflash %}</div> 
        <div class="wrapper bg-dark-white">
       
       
            <!-- Header -->
            
                {% partial 'marketplace/header' %}
            
            <!-- /.header-wrapper -->
            <!-- Content -->
            
                {% page %}
           
            <!-- Footer -->
           
                {% partial 'marketplace/footer' %}            
            <!-- /.footer-wrapper -->
        </div>
 

        <script src="{{'assets/marketplace/js/vendor/jquery-1.12.0.min.js'|theme}}"></script>
		<!-- bootstrap js -->
		<script src="{{'assets/marketplace/js/bootstrap.min.js'|theme}}"></script>
		<!-- jquery.meanmenu js -->
		<script src="{{'assets/marketplace/js/jquery.meanmenu.js'|theme}}"></script>
		<!-- slick.min js -->
		<script src="{{'assets/marketplace/js/slick.min.js'|theme}}"></script>
		<!-- jquery.treeview js -->
		<script src="{{'assets/marketplace/js/jquery.treeview.js'|theme}}"></script>
		<!-- lightbox.min js -->
		<script src="{{'assets/marketplace/js/lightbox.min.js'|theme}}"></script>
		<!-- jquery-ui js -->
		<script src="{{'assets/marketplace/js/jquery-ui.min.js'|theme}}"></script>
		<!-- jquery.nivo.slider js -->
		<script src="{{'assets/marketplace/lib/js/jquery.nivo.slider.js'|theme}}"></script>
		<script src="{{'assets/marketplace/lib/home.js'|theme}}"></script>
		<!-- jquery.nicescroll.min js -->
		<script src="{{'assets/marketplace/js/jquery.nicescroll.min.js'|theme}}"></script>
		<!-- countdon.min js -->
		<script src="{{'assets/marketplace/js/countdon.min.js'|theme}}"></script>
		<!-- wow js -->
		<script src="{{'assets/marketplace/js/wow.min.js'|theme}}"></script>
		<!-- plugins js -->
		<script src="{{'assets/marketplace/js/plugins.js'|theme}}"></script>
		<!-- main js -->
		<script src="{{'assets/marketplace/js/main.js'|theme}}"></script>
        {% framework extras %}
        {% scripts %}

         <script>
            $(document).on('click','.addtocart', function(){
                //alert('Hello');
                var product_id = $(this).attr('data-productid');
                console.log(product_id);
                $.request('onAddToDBCart', {
                    data: {product_id:product_id}
                });
            });

            $(document).on('click', '.proaddtocart', function(){
                //console.log('hello');
                var product_id = $('[name=product]').val();
                var quantity = $('[name=quantity]').val();
                if($('[name=shoesize]')){
                    var size = $('[name=shoesize]').val();
                } else if($('[name=bedsize]')) {
                    var size = $('[name=bedsize]').val();
                }
                
                console.log(product_id);
                console.log(quantity);
                console.log(size);
                $.request('onAddToDBCart', {
                    data: {
                        product_id: product_id,
                        quantity: quantity,
                        size: size,

                    }
                });
            });
        </script>
       

{# 
    Chat bot Implementation - Mobile Monkey
#}


    
    <script>
     var chatDiv = document.createElement('div');
     chatDiv.className = 'fb-customerchat';
     chatDiv.setAttribute('page_id', '2047769102211460');
     chatDiv.setAttribute('ref', 'bcb9e3af539f2a92ec8fcb769e7584c3a256a21e36f6c3a769');
     chatDiv.setAttribute('logged_in_greeting', "Hi! How can we help you?");
     chatDiv.setAttribute('logged_out_greeting', "Hi! We\'re here to answer any questions you may have");
     document.body.appendChild(chatDiv);
     window.fbAsyncInit = function() {
       FB.init({
         appId            : '2015199145383303',
         autoLogAppEvents : true,
         xfbml            : true,
         version          : 'v2.12'
       });
     };
     (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
     <script>
        $(document).on('change','#sizeselectCart',function(){
            var clickedSize = $('option:selected', this).attr('data-price');
            var product = $('option:selected', this).attr('data-product');
            var index = $('option:selected', this).attr('data-index');
            var quantity = $('.quantity'+index).val();
            $.request('onSizeSelectCart', {
                data: {sizeInText: clickedSize, product: product, index:index, quantity:quantity}
            });
        });
    </script>
    <script>
        function getQuantityIndex(value,index){
            var dataPrice = $('.finalprice'+index).children('span').attr('data-price');
            var cost = dataPrice * value;
            console.log(cost);
            $.request('onChangeQuantityCart', {
                data: {index:index,cost:cost}
            });
		};
    </script>
    {# <script>
        function getQuantityIndex(value,index){
            var dataPrice = $('.finalprice'+index).children('span').attr('data-price');
            var cost = dataPrice * value;
            console.log(cost);
            $.request('onChangeQuantityCart', {
                data: {index:index,cost:cost}
            });
		};
    </script> #}
    <script>
        $(document).on('change','.quantity',function(){
            var clickedSize = $('option:selected', this).attr('data-price');
            var product = $('option:selected', this).attr('data-product');
            var index = $('option:selected', this).attr('data-index');
            var quantity = $('.quantity'+index).val();
            $.request('onChangeQuantityCart', {
                data: {sizeInText: clickedSize, product: product, index:index, quantity:quantity}
            });
        });
    </script>

    {# <script>
	$('#productquantity').change(function(){
		$.request('onOptions');
});
</script> #}
  
  

{% partial 'login-modal' %}
{% partial 'register-modal' %}

{% partial 'site/log-reg-modal' %}
    </body>
</html>
