description = "Search layout"

[session]
security = "all"
redirect = "home"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/analytics' %}
        <meta charset="utf-8">
        <title>Jambolo - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Jambolo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-01.png'|theme }}">
   
        <link href="{{ 'assets/css/master.css'|theme }}" rel="stylesheet">
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color1.css'|theme }}" title="color1" media="all" data-default-color="true" />
       <!--  <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color2.css'|theme }}" title="color2" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color3.css'|theme }}" title="color3" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color4.css'|theme }}" title="color4" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color5.css'|theme }}" title="color5" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ 'assets/switcher/css/color6.css'|theme }}" title="color6" media="all" /> -->
        <!-- <link rel="stylesheet" href="{{ 'assets/css/normalize.min.css'|theme}}">
        <link rel="stylesheet" href="{{ 'assets/css/jquery.collapsible.demo.css'|theme}}"> -->

        {% styles %}


    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
        <div id="page-preloader"><span class="spinner"></span></div>
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->

       <!--  <script src="{{ [
    '@jquery',
    '@framework',
    '@framework.extras',
    'assets/js/bootstrap.min.js',
    'assets/js/modernizr.custom.js',
    'assets/js/classie.js',
    'assets/switcher/js/switcher.js',
    'assets/chosen/chosen.jquery.min.js',
    'assets/js/app.js',
    'assets/js/bootstrap-slider.js',
    'assets/js/bootstrap-datepicker.js',
    'assets/js/datepicker.js',
    'assets/slider-pro/js/jquery.sliderPro.min.js',
    'assets/js/jquery.smooth-scroll.js',
    'assets/js/wow.min.js',
    'assets/js/jquery.placeholder.min.js',
    'assets/js/theme.js'



]|theme }}"></script> -->



       <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/modernizr.custom.js'|theme }}"></script>
        <script src="{{ 'assets/js/classie.js'|theme }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJENVjGB6htvKEOie5CQwa0JuazL-AXw"></script>
      <script src="{{ 'assets/switcher/js/switcher.js'|theme}}"></script>
        <script src="{{ 'assets/chosen/chosen.jquery.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        <script src="{{ 'assets/js/bootstrap-slider.js'|theme }}"></script>
        <script src="{{ 'assets/js/bootstrap-datepicker.js'|theme }}"></script>
        <script src="{{ 'assets/js/datepicker.js'|theme }}"></script>
        <script src="{{ 'assets/slider-pro/js/jquery.sliderPro.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.smooth-scroll.js'|theme }}"></script>
        <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.placeholder.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.placeholder.min.js.map'|theme }}"></script>
        <script src="{{ 'assets/js/theme.js'|theme }}"></script>



        <!-- <script src="{{ 'assets/js/jquery.collapsible.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.collapsible.demo.js'|theme }}"></script>
         -->
         {% framework extras %}
        {% scripts %} 
        <script>
            $('#cityselect').change(function(){
                 console.log($(this).val());
                 if($(this).data())
                 $(this).attr('data-request-data', 'city:'+$(this).val());
                 $(this).removeData('request-data');
            });   

            $('.rating input').change(function () {
                var $radio = $(this);
                $('.rating .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

            $('.rating2 input').change(function () {
                var $radio = $(this);
                $('.rating2 .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

            $('.rating3 input').change(function () {
                var $radio = $(this);
                $('.rating3 .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

            $.fn.stars = function() {
            return $(this).each(function() {
                // Get the value
                var val = parseFloat($(this).html());
                // Make sure that the value is in 0 - 5 range, multiply to get width
                var size = Math.max(0, (Math.min(5, val))) * 16;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        }

        $(function() {
            $('span.stars').stars();
        });
 
</script>

<script>
    var directionsDisplay;
            var directionsService = new google.maps.DirectionsService();



    function plotCurrentLocation() {
   if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
         var currLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

         // plot the currLocation on Google Maps, or handle accordingly:

         new google.maps.Marker({ title: 'Current Location',
                                  map: map, 
                                  position: currLocation });

         map.setCenter(currLocation);
      });
   }
}

    function getDirections(){
                directionsDisplay = new google.maps.DirectionsRenderer();
                navigator.geolocation.getCurrentPosition(function(position){
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        console.log(pos);
                    });

                

                var request = {
                    origin: pos.lat+','+pos.lng,
                    destination: artisan.latitude+','+artisan.longitude, 
                    travelMode: 'DRIVING'
                };
                directionsDisplay.setMap(map);
                directionsService.route(request, function(result, status){
                    if (status == 'OK') {
                        directionsDisplay.setDirections(result);
                    }
                });

                
            }
</script>

    </body>
</html>
