description = "Default layout"

[categorySEO]

[session]
security = "all"
redirect = "home"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/analytics' %}
        <meta charset="utf-8">
        {# <title>Jambolo - {{ this.page.title }}</title> #}
        {% if this.page.id == "category-artisans" %}
            {% component 'categorySEO' %}
        {% elseif this.page.id == 'home' %}
            <meta name="description" content="Jambolo.com is an online business directory for verified artisans in Lagos and small and
medium scale enterprises. If you are looking for blue collar services in Nigeria, you do not need to
phone a friend, just log on to jambolo.com or call +234 909-002-2116">
            <meta name="title" content="Artisans in Lagos, Lagos Artisans, Blue collar services in Nigeria, Artisans Lagos | jambolo.com">
            <title>Artisans in Lagos, Lagos Artisans, Blue collar services in Nigeria, Artisans Lagos | jambolo.com</title>
            <meta name="keywords" content="Artisans in Lagos, Lagos Artisans, Blue collar services in Nigeria, Artisans Lagos, Aluminium Works, Auto Battery Dealer, Blacksmith, Auto Spare Parts Dealer, Borehole Installation, Bricklayer">
        {% else %}
            <title>Jambolo - {{ this.page.title }}</title>
            <meta name="description" content="{{ this.page.meta_description }}">
            {# <meta name="title" content="{{ this.page.title }}"> #}
        {% endif %}
        <meta name="author" content="Jambolo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-01.png'|theme }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">    
        <link rel="stylesheet" type="text/css" href="{{ 'assets/slick/slick/slick.css'|theme }}"/>
        <link rel="stylesheet" type="text/css" href="{{ 'assets/slick/slick/slick-theme.css'|theme }}"/>
        <link href="{{'assets/fonts/font-awesome/css/font-awesome.min.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/libraries/owl-carousel/owl.carousel.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/leaflet.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/leaflet.markercluster.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/leaflet.markercluster.default.css'|theme}}" rel="stylesheet" type="text/css">        
        <link href="{{'assets/css/materialist.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary">
         <!-- Compiled and minified CSS -->
    
        <link href="{{'assets/css/mystyles.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary">

        
    </head>
    <body>
        <div class="page-wrapper">
        <div>{% flash success %}
            {# {% if message == "Registration Successful" or message == "Verification successful" %}
                <script type="text/javascript">
                    window.open("{{'The_Trusted_Nigerian_Artisans_Directory.pdf'|media}}");
                </script>
            {% endif %} #}
        <p data-control="flash-message" data-interval="5" class="success">{{message}}</p>{% endflash %}</div>
        <div>{% flash error %}
        <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>{% endflash %}</div>
            <!-- Header -->
            <div class="header-wrapper">
                {% if this.page.id == 'associations' or this.page.id == 'leadership' or this.page.id == 'find-association-artisan' or this.page.id == 'chairmen' %}
                    {% partial 'associations/header' %}
                {% else %}
                    {% partial 'site/header' %}
                {% endif %}
            </div>
            <!-- /.header-wrapper -->
            <!-- Content -->
            <div class="main-wrapper">
                {% page %}
            </div>
            <!-- Footer -->
            <div class="footer-wrapper">
                {% partial 'site/footer' %}
            </div>
            <!-- /.footer-wrapper -->
        </div>
        <script type="text/javascript" src="{{'assets/js/jquery.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/tether.min.js'|theme}}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJENVjGB6htvKEOie5CQwa0JuazL-AXw"></script>
        <script type="text/javascript" src="{{'assets/js/bootstrap.min.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/leaflet.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/leaflet.markercluster.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/libraries/owl-carousel/owl.carousel.min.js'|theme}}"></script>
        <script type="text/javascript" src="{{'assets/js/materialist.js'|theme}}"></script>
        {# <script src="{{ 'assets/switcher/js/switcher.js'|theme}}"></script> #}
        <script src="{{ 'assets/chosen/chosen.jquery.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.placeholder.min.js'|theme }}"></script>
        {# <script src="{{ 'assets/js/jquery.placeholder.min.js.map'|theme }}"></script> #}
        <script src="{{ 'assets/js/jquery.smooth-scroll.js'|theme }}"></script>
        <!-- Compiled and minified JavaScript -->
        <script type="text/javascript" src="{{ 'assets/slick/slick/slick.js'|theme }}"></script>
        <script src="{{ 'assets/js/theme.js'|theme }}"></script>
        <script src="{{ 'assets/js/theme2.js'|theme }}"></script>
        <script src="{{ 'assets/js/call-counter.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
        <script>
            $('#cityselect').change(function(){
                console.log($(this).val());
                if($(this).data())
                    $(this).attr('data-request-data', 'city:'+$(this).val());
                    $(this).removeData('request-data'); 
            })   
        </script>
        <script>
            function triggerChosenUpdate(){$('#areaDropdown2').trigger('chosen:updated');}
            
            $('#areasearchtoggle').click(function (e) {
                $(this).siblings().removeClass('active');
                $('#numbersearch').removeClass('active');
                $('#areasearch').addClass('active');
                $(this).addClass('active');
            });

            $('#numbersearchtoggle').click(function (e) {
                $(this).siblings().removeClass('active');
                $('#areasearch').removeClass('active');
                $('#numbersearch').addClass('active');
                $(this).addClass('active');
            });
        </script>
<script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();



    function plotCurrentLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var currLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                // plot the currLocation on Google Maps, or handle accordingly:

                new google.maps.Marker({
                    title: 'Current Location',
                    map: map,
                    position: currLocation
                });

                map.setCenter(currLocation);
            });
        }
    }

    function getDirections() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        navigator.geolocation.getCurrentPosition(function (position) {
            var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            console.log(pos);
        });



        var request = {
            origin: pos.lat + ',' + pos.lng,
            destination: artisan.latitude + ',' + artisan.longitude,
            travelMode: 'DRIVING'
        };
        directionsDisplay.setMap(map);
        directionsService.route(request, function (result, status) {
            if (status == 'OK') {
                directionsDisplay.setDirections(result);
            }
        });


    }

</script>

<script>
    $(document).ready(function(){
    $('.carousel').slick({
    dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
  lazyLoad: 'ondemand'
  });
  });
</script>

<script>
    $(document).ready(function(){
        window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document

$('#myBtn').click(function(){
    //document.body.scrollTop = 0; // For Safari
    //document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

    $('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
});
    

    });
</script>

<script>
            $('#cityselect').change(function(){
                 console.log($(this).val());
                 if($(this).data())
                 $(this).attr('data-request-data', 'city:'+$(this).val());
                 $(this).removeData('request-data');
            });   

            $('.rating input').change(function () {
                var $radio = $(this);
                $('.rating .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

            $('.rating2 input').change(function () {
                var $radio = $(this);
                $('.rating2 .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

            $('.rating3 input').change(function () {
                var $radio = $(this);
                $('.rating3 .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

            $.fn.stars = function() {
            return $(this).each(function() {
                // Get the value
                var val = parseFloat($(this).html());
                // Make sure that the value is in 0 - 5 range, multiply to get width
                var size = Math.max(0, (Math.min(5, val))) * 16;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        }

        $(function() {
            $('span.stars').stars();
        });
 
</script>


{# 
    Chat bot Implementation - Mobile Monkey
#}


    
    <script>
     var chatDiv = document.createElement('div');
     chatDiv.className = 'fb-customerchat';
     chatDiv.setAttribute('page_id', '2047769102211460');
     chatDiv.setAttribute('ref', 'bcb9e3af539f2a92ec8fcb769e7584c3a256a21e36f6c3a769');
     chatDiv.setAttribute('logged_in_greeting', "Hi! How can we help you?");
     chatDiv.setAttribute('logged_out_greeting', "Hi! We\'re here to answer any questions you may have");
     document.body.appendChild(chatDiv);
     window.fbAsyncInit = function() {
       FB.init({
         appId            : '2015199145383303',
         autoLogAppEvents : true,
         xfbml            : true,
         version          : 'v2.12'
       });
     };
     (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  
  

{% partial 'login-modal' %}
{% partial 'register-modal' %}
    </body>
</html>