{% set categories = __SELF__.randomCategories %}
{% set premiumCategories = FullCategoryList.allPremiumCategories %}
{% for category in categories %}
    <li class="nav-item"><a href="{{'category-artisans'|page({'slug':category.slug})}}" class="nav-link">{{str_limit(category.category_name, 15)}}</a></li>
{% endfor %}