{% set categories = __SELF__.randomCategories %}
{% set premiumCategories = FullCategoryList.allPremiumCategories %}
{% for category in premiumCategories %}
    <li class="nav-item"><a href="{{'premium-category-artisans'|page({'slug':category.slug})}}" class="nav-link">{{category.category_name}}</a></li>
{% endfor %}