{% set categories = __SELF__.randomCategories %}


{% for category in categories %}
	<li><a href="{{'category-artisans'|page({'slug':category.slug})}}" ><i class="fa icon-chevron-right">&nbsp;</i>{{category.category_name}}</a></li>							
{% endfor %}							
						