{% set categories = __SELF__.randomCategories %}
{% for category in categories %}
    <li>
        <a href="{{'category-artisans'|page({'slug':category.slug})}}">{{str_limit(category.category_name, 15)}}</a>
    </li>
{% endfor %}