{% set prints = __SELF__.printsSales %}
{% for print in prints %}
<div class="col-5">
                <!-- .pro-text -->
                <div class="pro-text">
                    <!-- .pro-img -->
                    <a href="{{'product-details'|page({'slug':print.slug})}}">
                     {% if print.hover_image %}
								<div class="pro-img"> <img class="mainimage" src="{{print.product_image.path}}" alt="2"><img class="altimage" src="{{print.hover_image.path}}" alt="2">
								{% else %}
									<div class="pro-img"> <img class="" src="{{print.product_image.path}}" alt="2">
								{% endif %}
                        
                        <!-- .hover-img -->
                        <div class="hover-img">
                            <ul>
                                {% if user %}
                        {% component 'Newfav' print_id = print.id %}
                    {% endif %}
                                 {% if not print.homeitem %}
                                         <li><a href="#" data-toggle="modal" data-target="#quickModal" data-request="onView" data-request-data="slug: '{{print.slug}}'" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                    {% endif %}
                            </ul>
                        </div>
                        {% if print.new and print.sale_off %}
                            <div class="new tage">
                                
                                <span class="new-text">NEW</span>
                                <span class="pres-text">-{{print.sale_amount}}%</span>
                                
                            </div>
                        {% elseif print.sale_off %}
                            <div class="discount tage">
                                <span class="discount-text">-{{print.sale_amount}}%</span>
                            </div>
                        {% endif %}
                        <!-- /.hover-img -->
                    </div>
                    <!-- /.pro-img -->
                    <a href="{{'product-details'|page({'slug':print.slug})}}">{{str_limit(print.product_name|raw, 25)}}</a>
                    
                    {% if print.homeitem %}
                      									{# <form id="myCart_form" data-request="onAddHomeItemToCart" data-request-flash class="cart" method="post" enctype='multipart/form-data'>

                       <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="price" value="{{homeitem.price}}" />
										<input type="hidden" name="product" value="{{homeitem.id}}" />
									 	<a href="#" class="addtocart2">+ Add to cart</a>
                                         </form> #}
                     {% else %}
                    {% if not product.out_of_stock %}
									 <a href="#" data-toggle="modal" data-target="#quickModal" data-request="onView" data-request-data="slug: '{{print.slug}}'" data-whatever="@mdo">+ Add to cart</a>
										{% endif %}
                    {% endif %}
                    {% if print.homeitem %}
            <div class="price">NGN {{print.price}}
        {% else %}
            <div class="price">NGN {{print.base_price.base_price}}
        {% endif %}
                        {# <span>200</span> #}
                    </div>
                    </a>
                </div>
                <!-- /.pro-text -->
            </div>

{% endfor %}
