
{% set products = __SELF__.products %}
{% if products.lastPage > 1 %}
<ul class="pagination">

    {% if products.currentPage > 1 %}
        <li>
            <a class="button " href="{{ products.previousPageUrl }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </li>
    {% else %}
        <li>
            <a class="button disabled" href="nojavascript...void(0)"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </li>
    {% endif %}

    {% for page in 1..products.lastPage %}
    <li>
        <a 
            class="page {{ products.currentPage == page ? 'active' : null }}" 
            href="{{ this.page.baseFileName | page }}?q={{ searchproducts.query }}&amp;page={{ page }}">
            {{ page }}
        </a>
    </li>
    {% endfor %}

    {% if products.lastPage > products.currentPage %}
        <li>
            <a href="{{ products.nextPageUrl }}" class="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </li>
    {% else %}
        <li>
            <a href="nojavascript...void(0)" class="button disabled"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </li>
    {% endif %}

</ul>
{% endif %}