{% set prints = prints %}
{% for print in prints %}
                        
                        <div class="col-md-4" style="padding:18px 30px;">
							<!-- .pro-text -->
							<div class="pro-text">
								<!-- .pro-img -->
								<div class="pro-img"> <img class="frames" src="{{print.product_image.path}}" alt="2">
									<!-- .hover-img -->
									<div class="hover-img">
										<ul>
											<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
											<li><a href="#" data-toggle="modal" data-target="#quickModal" data-request="onView" data-request-data="slug: '{{print.slug}}'" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									{% if print.new and print.sale_off %}
                            <div class="new tage">
                                
                                <span class="new-text">NEW</span>
                                <span class="pres-text">-{{print.sale_amount}}%</span>
                                
                            </div>
            {% elseif print.new %}
                <div class="new tage">
                                <span class="new-text">NEW</span>
                            </div>
            {% elseif print.sale_off %}
                            <div class="discount tage">
                                <span class="discount-text">-{{print.sale_amount}}%</span>
                            </div>
            {% endif %}
									<!-- /.hover-img -->
								</div>
								
								
								<!-- /.pro-img --><a href="{{'product-details'| page({'slug':print.slug})}}">{{print.product_name}}</a>
								<a href="#" class="addtocart">+ Add to cart</a>
								<div class="price">NGN {{ print.price }}</div>
							</div>
							<!-- /.pro-text -->
						</div>
                        {% endfor %}
					</div>
					{{prints.render|raw}}