{% set artisans = __SELF__.artisans %}
{% for artisan in artisans %}
<div class="card-small">
                                    <div class="card-small-image">
                                        {% if artisan.artisan_image.path %}
													
                                                        <a href="{{'artisan'|page({slug:artisan.slug}) }}" style="background-image: url('{{ artisan.artisan_image.path }}');"></a>
												{% elseif artisan.category.category_image.path %}
													
                                                        <a href="{{'artisan'|page({slug:artisan.slug}) }}" style="background-image: url('{{ artisan.category.category_image.path }}');"></a>
                                                {% else %}
                                                 
                                                    <a href="{{'artisan'|page({slug:artisan.slug}) }}" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');"></a>
										        {% endif %}
                                        
                                    </div><!-- /.card-small-image -->

                                    <div class="card-small-content">
                                        <h3><a href="{{'artisan'|page({slug:artisan.slug}) }}">{{artisan.company_name}}</a></h3>
                                        <h4><a href="{{'category-artisans'|page({'slug':category.slug})}}">{{artisan.category.category_name}}</a></h4>
                                    </div><!-- /.card-small-content -->
                                </div><!-- /.card-small -->
{% endfor %}