{% set artisans = __SELF__.artisans %}
{% for artisan in artisans %}
    <div class="col-sm-6 col-md-4">
												<div class="card">
												{% if artisan.artisan_image.path %}
													<div class="card-image" style="background-image: url('{{ artisan.artisan_image.path }}');">
												{% elseif artisan.category.category_image.path %}
													<div class="card-image" style="background-image: url('{{ artisan.category.category_image.path }}');">
                                                {% else %}
                                                    <div class="card-image" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">
										        {% endif %}
													
														<a href="{{'artisan'|page({slug:artisan.slug}) }}"></a>
                                                            
														{% if artisan.premium %}
                                            <div class="card-image-rating">
                                                {{'
                                                <i class="fa fa-star"></i>' | str_repeat((5|round(0,'floor'))) }}
                                                {{'
                                                <i class="fa fa-star-o"></i>' | str_repeat(5-(5|round(0,'floor'))) }}

                                            <span style="color:rgb(223, 47, 47)">PREMIUM</span>
                                            </div> 
                                            {% else %}
                                                <div class="card-image-rating">
                                                {{'
                                                <i class="fa fa-star"></i>' | str_repeat((artisan.overall_average_rating|round(0,'floor'))) }}
                                                {{'
                                                <i class="fa fa-star-o"></i>' | str_repeat(5-(artisan.overall_average_rating|round(0,'floor'))) }}

                                            </div>

                                            {% endif %}
														<!-- /.card-image-rating -->
													</div>
													<!-- /.card-image -->

													<div class="card-content">
														<h3>
															<a href="{{'category-artisans'|page({'slug':artisan.category.slug})}}">{{artisan.category.category_name}}</a>
														</h3>
														<h2>
															<a href="{{'artisan'|page({slug:artisan.slug}) }}">{{str_limit(artisan.company_name, 20)}}</a>
														</h2>
													</div>
													<!-- /.card-content -->

													<div class="card-actions">
														<a href="listing-detail.html" class="card-action-icon">
															{# <i class="md-icon">favorite</i> #}
														</a>
														<a href="listing-detail.html" class="card-action-icon">
															{# <i class="md-icon">flag</i> #}
														</a>
														<a href="{{'artisan'|page({slug:artisan.slug}) }}" class="card-action-btn btn btn-transparent">Show More</a>
													</div>
													<!-- /.card-actions -->
												</div>
												<!-- /.card -->
											</div>
											<!-- /.col-* -->
{% endfor %}