{% set categories = __SELF__.categories %}
{% for category in categories %}
<div class="col-xs-12 col-sm-6 col-lg-3">
										<div class="card">
                                            {% if not category.category_image.path %}
                                                    <div class="card-image small no-line" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">									
										        {% else %}
                                                    <div class="card-image small no-line" style="background-image: url('{{ category.category_image.path }}');">		
										        {% endif %}
											
												<a href="{{'category-artisans'|page({slug:category.slug}) }}"></a>

												{# <div class="card-image-icon">
													<i class="md-icon">home</i>
												</div> #}
												<!-- /.card-image-icon -->

												<div class="card-image-count">
													<strong>{{category.categoryartisans.count}}</strong>
													<span>Artisans</span>
												</div>
												<!-- /.card-image-count -->
											</div>
											<!-- /.card-image -->

											<div class="card-content">
												<h2>
													<a href="{{'category-artisans'|page({'slug':category.slug})}}">{{str_limit(category.category_name, 18)}}</a>

													
												</h2>
											</div>
											<!-- /.card-content -->
										</div>
										<!-- /.card -->
									</div>
									<!-- /.col-* -->
                                    {% endfor %}