[orders]
==
{% set orders = orders.orders %}
<div class="card">
           
            <div class="content">
<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <th>Order ID</th>
            <th>Order Total</th>
            <th>Order Address</th>
            <th>Order City</th>
            <th>Order Date</th>
            <th>Order Status</th>
            
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{{'user-dash/orderdetails'|page({'slug':order.id})}}">Nº JMB-{{order.created_at|date('m/d/y')}}{{order.id}}</a></td>
                    <td>NGN {{order.total}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.city}}</td>
                    <td>{{order.created_at}}</td>
                    <td>{{order.status.name}}</td>
                      
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>