[ArtisanDashboard]
==
{# <div class="sidebar-wrapper">
    
    <ul class="dashboardnav">
        <li class="{% if this.page.id == 'my-account' %}active{% endif %}">
            <a href="{{'my-account' | page}}">
                <i class="ti-panel"></i>
                
                <p>Profile</p>
                
            </a>
        </li>
       
        {% if user.regular == 1 %}
        
        <li class="{% if this.page.id == 'orders' %}active{% endif %}">
            <a href="{{'orders'|page}}">
                <i class="ti-pencil-alt2"></i>
                <p>Orders</p>
            </a>
        </li>
        

        {% else %}
         <li class="{% if this.page.id == 'products' %}active{% endif %}">
            <a href="{{'dashboard-products' | page}}">
                <i class="ti-pencil-alt2"></i>
                <p>Prints</p>
            </a>
        </li>
        {% endif %}
       
    </ul>
</div> #}
<div class="admin-sidebar">
		<a href="/" class="hidden-md-down">
			<img src="{{'assets/img/jambolologo.png'|theme}}" alt="" class="admin-sidebar-logo" style="width:100% !important; height:100px !important;">
		</a>

		{# <a href="submit.html" class="btn btn-primary btn-block hidden-md-down">Add Print</a> #}

		<div class="dashboard-nav-primary collapse navbar-toggleable-md">
			<ul class="nav nav-pills nav-stacked">
				{# <li class="nav-item">
					<a href="{{'my-account'|page}}" class="nav-link {% if this.page.id == 'my-account' %}active{% endif %}"><i class="md-icon">dashboard</i> Dashboard</a>
				</li>
                {% if user.type_id == 2 %}
				<li class="nav-item">
					<a href="{{'dashboard-prints'|page}}" class="nav-link {% if this.page.id == 'create-print' or this.page.id == 'dashboard-prints' %}active{% endif %}"><i class="md-icon">view_list</i> My Prints <span>{{user.prints|length}}</span></a>
				</li>
                {% elseif user.type_id == 3 %}
                <li class="nav-item">
					<a href="admin-listings.html" class="nav-link "><i class="md-icon">view_list</i> My Work <span>{{user.prints|length}}</span></a>
				</li>
                {% endif %}

                <li class="nav-item">
					<a href="{{'orders'|page}}" class="nav-link {% if this.page.id == 'orders' or this.page.id == 'orderdetails' %}active{% endif %}"><i class="md-icon">rate_review</i> Orders</a>
				</li> #}

				{# <li class="nav-item">
					<a href="admin-reviews.html" class="nav-link "><i class="md-icon">rate_review</i> Reviews</a>
				</li>

				<li class="nav-item">
					<a href="admin-users.html" class="nav-link "><i class="md-icon">people</i> Users <span>1</span></a>
				</li> #}
				<li class="nav-item">
					<a href="{{'user-dash/my-account'|page}}" class="nav-link {% if this.page.id == 'my-account' %}active{% endif %}"><i class="md-icon">store</i>Dashboard</a>
				</li>
				<li class="nav-item">
					<a href="{{'user-dash/orders'|page}}" class="nav-link {% if this.page.id == 'my-orders' %}active{% endif %}"><i class="md-icon">store</i>My Orders</a>
				</li>
				<li class="nav-item">
					<a href="{{'user-dash/user-settings'|page}}" class="nav-link {% if this.page.id == 'settings' %}active{% endif %}"><i class="md-icon">settings</i>My Settings</a>
				</li>

				<li class="nav-item">
					<a data-request="onLogout" data-request-data="redirect: '/'" style="cursor: pointer" class="nav-link"><i class="md-icon">power_settings_new</i>Logout</a>
				</li>
			</ul>
		</div>

		<hr class="hidden-md-down">

		{# <div class="hidden-md-down">
			<h2>Recent Activity</h2>

			<ul class="recent">
				<li><img src="{{'assets/dashboard2/assets/img/tmp/profile-1.jpg' | theme}}" alt=""> <a href="#">Adam Smith</a> has added new listing into <a href="#">properties</a> category.</li>
				<li><img src="{{'assets/dashboard2/assets/img/tmp/profile-2.jpg' | theme}}" alt=""> <a href="#">Kim Makin</a> is asking for the agent role with review provilege.</li>
				<li><img src="{{'assets/dashboard2/assets/img/tmp/profile-3.jpg' | theme}}" alt=""> <a href="#">Kilee Baker</a> has created new account</a> category.</li>						
			</ul>
		</div> #}
	</div><!-- /.admin-sidebar -->