{% set executives = __SELF__.executives %}
{% set zonalChairmen = __SELF__.zonalChairmen %}



	


{% for zonalChairman in zonalChairmen %}
	{{zonalChairman.name}}
{% endfor %}




{% for executive in executives %}

<div class="col-sm-3 top60 f-left">
	<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
		<div class="memb-photo memb-photo1">
		{% if executive.photo %}
			<img src="{{executive.photo.path}}" alt="wd">
		{% else %}
			<img src="{{'assets/img/noimg.jpg'|theme}}" alt="">
		{% endif %}

		</div>
		<div class="memb-txt">
			<!-- <span class="font11 semibold uppercase blue">beauty & spa</span><br /> -->
			<b class="font14 color333 uppercase">{{ str_limit(executive.name, 40)}}</b><br />
			<b class="font14 color333 ">{{ str_limit(executive.position, 40)}}</b><br />
			<!-- <span class="font12 color777">5108 Macarthur Blvd NW Unit B, Washington, DC 20016</span> -->
			<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>{{executive.phone_number}}</b></div>
		</div>
	</div>
</div>

{% endfor %}