{% set zonalChairmen = __SELF__.zonalChairmen %}
	
<div class="main">
				<div class="main-inner">


					<div class="content">
						<div class="content-title">
							<div class="container">
								<h1>Association Zonal Chairmen</h1>

								<ul class="breadcrumb">
									<li>
										<a href="{{'/'}}">Home</a>
										<i class="md-icon">keyboard_arrow_right</i>
									</li>


									<li class="active">Association Zonal Chairmen</li>

								</ul>
								<!-- /.breadcrumb -->
							</div>
							<!-- /.container -->
						</div>

{% for chairman in zonalChairmen %}
	 <div class="col-sm-6 col-md-3">
                                <div class="card">
                                    {% if not chairman.photo.path %}
                                    	<div class="card-image" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">
                                    {% else %}
                                        <div class="card-image" style="background-image: url('{{ chairman.photo.path }}');">
                                    {% endif %}

                                            {# <a href="{{'artisan'|page({slug:artisan.slug}) }}"></a> #}

                                            {# <div class="card-image-rating">
                                                {{'
                                                <i class="fa fa-star"></i>' | str_repeat((artisan.overall_average_rating|round(0,'floor'))) }}
                                                {{'
                                                <i class="fa fa-star-o"></i>' | str_repeat(5-(artisan.overall_average_rating|round(0,'floor'))) }}

                                            </div> #}
                                            <!-- /.card-image-rating -->
                                        </div>
                                        <!-- /.card-image -->

                                        <div class="card-content">
                                            {# <h3>
                                                <a href="{{'category-artisans'|page({'slug':artisan.category.slug})}}">{{artisan.category.category_name}}</a>
                                            </h3> #}
                                            <h2>
                                                {{str_limit(chairman.name, 20)}}
                                            
                                            </h2>
                                            <span><a href="tel:{{ chairmen.phone_number }}">{{ chairmen.phone_number }}</a></span> <br>
                                            {{ str_limit(chairman.position, 40)}}
                                        </div>
                                        <!-- /.card-content -->

                                    
                                </div>
                                    <!-- /.card -->
                            </div>
                                <!-- /.col-* -->

{% endfor %}





</div>
</div>
</div>