<footer>
    <!-- Footer-area start -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-footer">
                        <h3 class="footer-title  title-border">Contact Us</h3>
                        <ul class="footer-contact">
                            {# <li><span>Address :</span>28 Green Tower, Street Name,<br>New York City, USA</li> #}
                            <li><span>Cell-Phone :</span>+234 909-002-2116 | +234 909-003-3116</li>
                            <li><span>Email :</span>info@jambolo.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="single-footer">
                        <h3 class="footer-title  title-border">accounts</h3>
                        <ul class="footer-menu">
                            <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>My Account</a></li>
                            {# <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>My Wishlist</a></li> #}
                            <li><a href="/marketplace/cart"><i class="zmdi zmdi-dot-circle"></i>My Cart</a></li>
                            <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Sign In</a></li>
                            {# <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Check out</a></li> #}
                        </ul>
                    </div>
                </div>
                {# <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="single-footer">
                        <h3 class="footer-title  title-border">Products</h3>
                        <ul class="footer-menu">
                            <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>New Products</a></li>
                            <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Top Sellers</a></li>
                            <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Manufactirers</a></li>
                            <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Suppliers</a></li>
                            <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Specials</a></li>
                        </ul>
                    </div>
                </div> #}
                <div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
                    <div class="single-footer">
                        <h3 class="footer-title  title-border">your choice Products</h3>
                        <div class="footer-product">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="footer-thumb">
                                        <a href="#"><img src="img/footer/1.jpg" alt="" /></a>
                                        <div class="footer-thumb-info">
                                            <p><a href="#">Furniture Product<br>Name</a></p>
                                            <h4 class="price-3">$ 60.00</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="footer-thumb">
                                        <a href="#"><img src="img/footer/1.jpg" alt="" /></a>
                                        <div class="footer-thumb-info">
                                            <p><a href="#">Furniture Product<br>Name</a></p>
                                            <h4 class="price-3">$ 60.00</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-area end -->
    <!-- Copyright-area start -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p class="mb-0">&copy; <a href="{{'/marketplace-home'}}" target="_blank"> Jambolo Marketplace </a> 2020. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="payment  text-right">
                        <a href="#"><img src="img/payment/1.png" alt="" /></a>
                        <a href="#"><img src="img/payment/2.png" alt="" /></a>
                        <a href="#"><img src="img/payment/3.png" alt="" /></a>
                        <a href="#"><img src="img/payment/4.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright-area start -->
</footer>
<!-- FOOTER END -->
<!-- QUICKVIEW PRODUCT -->

                    <div id="quickview-wrapper">
                        <!-- Modal -->
                        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-product">
                                            <div class="product-images">
                                                <div class="main-image images">
                                                    <img alt="#" src="img/product/quickview-photo.jpg" />
                                                </div>
                                            </div><!-- .product-images -->

                                            <div class="product-info">
                                                <h1>{{product.name}}</h1>
                                                <div class="price-box-3">
                                                    <hr />
                                                    <div class="s-price-box">
                                                        <span class="new-price">NGN
                                                            {{product.price|number_format(2, '.', ',')}}</span>
                                                        {# <span class="old-price">$190.00</span> #}
                                                    </div>
                                                    <hr />
                                                </div>
                                                <a href="shop.html" class="see-all">See all features</a>
                                                <div class="quick-add-to-cart">
                                                    <form method="post" class="cart">
                                                        <div class="numbers-row">
                                                            <input type="number" id="french-hens" value="3">
                                                        </div>
                                                        <button class="single_add_to_cart_button" type="submit">Add to
                                                            cart</button>
                                                    </form>
                                                </div>
                                                <div class="quick-desc">
                                                    {{ product.product_description|raw }}
                                                </div>
                                                <div class="social-sharing">
                                                    <div class="widget widget_socialsharing_widget">
                                                        <h3 class="widget-title-modal">Share this product</h3>
                                                        <ul class="social-icons">
                                                            <li><a target="_blank" title="Google +" href="#"
                                                                    class="gplus social-icon"><i
                                                                        class="zmdi zmdi-google-plus"></i></a></li>
                                                            <li><a target="_blank" title="Twitter" href="#"
                                                                    class="twitter social-icon"><i
                                                                        class="zmdi zmdi-twitter"></i></a></li>
                                                            <li><a target="_blank" title="Facebook" href="#"
                                                                    class="facebook social-icon"><i
                                                                        class="zmdi zmdi-facebook"></i></a></li>
                                                            <li><a target="_blank" title="LinkedIn" href="#"
                                                                    class="linkedin social-icon"><i
                                                                        class="zmdi zmdi-linkedin"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!-- .product-info -->
                                        </div><!-- .modal-product -->
                                    </div><!-- .modal-body -->
                                </div><!-- .modal-content -->
                            </div><!-- .modal-dialog -->
                        </div>
                        <!-- END Modal -->
                    </div>
              