<!-- Mobile-header-top Start -->
<div class="mobile-header-top hidden-lg hidden-md hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- header-search-mobile start -->
                <div class="header-search-mobile">
                    <div class="table">
                        <div class="table-cell">
                            <ul>
                                {# <li><a class="search-open" href="#"><i class="zmdi zmdi-search"></i></a></li> #}
                                {# <li><a href="login.html"><i class="zmdi zmdi-lock"></i></a></li> #}
                                {# <li><a href="my-account.html"><i class="zmdi zmdi-account"></i></a></li> #}
                                {# <li><a href="wishlist.html"><i class="zmdi zmdi-favorite"></i></a></li> #}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header-search-mobile start -->
            </div>
        </div>
    </div>
</div>
<!-- Mobile-header-top End -->
<!-- HEADER-AREA START -->
<header id="sticky-menu" class="header">
    <div class="header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 col-xs-7">
                    <div class="logo text-center">
                        <a href="{{'/'}}"><img class="img img-responsive" style="margin:0 auto" src="{{'assets/img/jambolologo.png'|theme}}" width="150" alt="Jambolo Logo" /></a>
                    </div>
                </div>
                {% partial Cart~'::new-DBminicart' cart=cart total=total %}
            </div>
        </div>
    </div>
    <!-- MAIN-MENU START -->
    <div class="menu-toggle hamburger hamburger--emphatic hidden-xs">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
    <div class="main-menu  hidden-xs">
        <nav>
            <ul>
                <li><a href="{{'/'}}">Jambolo Home</a>
                    {# <div class="sub-menu menu-scroll">
                        <ul>
                            <li class="menu-title">Page's</li>
                            <li><a href="index.html">Home Version 1</a></li>
                            <li><a href="index-2.html">Home Version 2</a></li>
                        </ul>
                    </div> #}
                </li>
                <li><a href="/marketplace">Marketplace Home</a>
                    {# <div class="sub-menu menu-scroll">
                        <ul>
                            <li class="menu-title">Page's</li>
                            <li><a href="index.html">Home Version 1</a></li>
                            <li><a href="index-2.html">Home Version 2</a></li>
                        </ul>
                    </div> #}
                </li>
                <li><a href="/about-jambolo">about us</a></li>
                <li><a href="/marketplace/shop">products</a>
                    {# <div class="mega-menu menu-scroll">
                        <div class="table">
                            <div class="table-cell">
                                <div class="half-width">
                                    <ul>
                                        <li class="menu-title">best brands</li>
                                        <li><a href="#">henning koppel</a></li>
                                        <li><a href="#">jehs + Laub</a></li>
                                        <li><a href="#">vicke lindstrand</a></li>
                                        <li><a href="#">don chadwick</a></li>
                                        <li><a href="#">akiko kuwahata</a></li>
                                        <li><a href="#">barbro berlin</a></li>
                                        <li><a href="#">cecilia hall</a></li>
                                        <li><a href="#">don chadwick</a></li>
                                    </ul>
                                </div>
                                <div class="half-width">
                                    <ul>
                                        <li class="menu-title">popular brands</li>
                                        <li><a href="#">akiko kuwahata</a></li>
                                        <li><a href="#">barbro berlin</a></li>
                                        <li><a href="#">cecilia hall</a></li>
                                        <li><a href="#">don chadwick</a></li>
                                        <li><a href="#">henning koppel</a></li>
                                        <li><a href="#">jehs + Laub</a></li>
                                        <li><a href="#">vicke lindstrand</a></li>
                                        <li><a href="#">don chadwick</a></li>
                                    </ul>
                                </div>
                                <div class="full-width">
                                    <div class="mega-menu-img">
                                        <a href="single-product.html"><img src="img/megamenu/1.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <div class="pb-80"></div>
                            </div>
                        </div>
                    </div> #}
                </li>
                <li><a href="/blog">blog</a></li>
                {# <li><a href="/marketplace">marketplace</a></li> #}
            </ul>
        </nav>
    </div>
    <!-- MAIN-MENU END -->
</header>
<!-- HEADER-AREA END -->
<!-- Mobile-menu start -->
<div class="mobile-menu-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="/">Jambolo home</a>
                                {# <ul>
                                    <li><a href="index.html">Home Version 1</a></li>
                                    <li><a href="index-2.html">Home Version 2</a></li>
                                </ul> #}
                            </li>
                            <li><a href="/marketplace">Marketplace Home</a></li>
                            <li><a href="/about-us">About us</a></li>
                            <li><a href="/marketplace/shop">products</a></li>
                            
                            <li><a href="/blog">blog</a></li>
                            {# <li><a href="#">pages</a>
                                <ul>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="single-product-sidebar.html">Single Product Sidebar</a></li>
                                    <li><a href="cart.html">Shopping Cart</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="order.html">Order</a></li>
                                    <li><a href="login.html">login / Registration</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                    <li><a href="single-blog-sidebar.html">Single Blog Sidebar</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">about us</a></li>
                            <li><a href="contact.html">contact</a></li> #}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>