{% set categorySEO = __SELF__.category %}
<meta name="title" content="{{categorySEO.seotitle}}" />
<title>{{categorySEO.seotitle}}</title>
<meta name="description" content="{{categorySEO.seodescription}}" />
<meta name="keywords" content="{{categorySEO.keywords}}" />