<div class="m1170">

						<div class="main-content-contucts">
							<div class="col-sm-5 top40 p-right20">
								<h5 class="color333 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="extrabold uppercase bgfff p-right20">get in touch</span></h5>
								<div class=" font13 top30 color777 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">Please contact us if you need any help and we will get back to
									you as soon as possible.
								</div>
								<table class="tbl-contact-txt top20">
									<tr class=" wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<td class="td1">ADDRESS</td>
										<td class="td2"><div><b>Jambolo | The Artisan Directory</b></div>
											<div>29 Ijaoye street,yaba, lagos, Nigeria.</div></td>
									</tr>
									<tr class=" wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<td class="td1">Telephone</td>
										<td class="td2">234-08091652586 / 234-08182156246 / 234-08132597396.</td>
									</tr>
									<tr class=" wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<td class="td1">EMAIL</td>
										<td class="td2">info@jambolo.com</td>
									</tr>
									
									{# <tr class=" wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<td class="td1">we are SOCIAL</td>
										<td class="td2">
											<a href="#"><i class="fa fa-facebook left0"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
											<a href="#"><i class="fa fa-dribbble"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</td>
									</tr> #}
								</table>
							</div>
							<div class="col-sm-7 top40">
								<h5 class="color333 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="extrabold uppercase bgfff p-right20">send message</span></h5>
								<div id="success"></div>
								<form novalidate id="contactForm" data-request="onSend" class="el-form-1 f-left width100" data-request-validate data-request-flash>
									<div class="col-sm-6 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<input id="user-name" name="name" class="form-1-style2 border1 borderf7 b-radius3" required="required" placeholder="Full Name *" />
										<span data-validate-for="name">Hey! We would need your name</span>
									</div>
									<div class="col-sm-6 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<input id="user-email" name="email" class="form-1-style2 border1 borderf7 b-radius3" required="required" placeholder="Email Address *" />
										<span data-validate-for="email">Without your e-mail we cannot reach you :-)</span>
									</div>
									<div class="col-sm-12 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<input id="user-subject" name="subject" class="form-1-style2 border1 borderf7 b-radius3" placeholder="Subject" />
										<span data-validate-for="subject">What's the subject matter?</span>
									</div>
									<div class="col-sm-12 top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<textarea id="user-message" name="content" class="form-1-style2 border1 borderf7 b-radius3" placeholder="Message *" required="required"></textarea>
										<span data-validate-for="content">We need more details about why you are contacting us</span><br/>
										<input type="submit" value="SUBMIT" class="submit-btn button1-1 b-radius3 right30 button-orange top20">
										 <!-- <div class="alert alert-danger" data-validate-error>  -->
        								<p data-message></p>
									</div>
								</form>
							</div>
						</div>

					</div>