{% set areasInCity = areasInCity %}
<option >- Choose Your Area -</option>
{% for areaInCity in areasInCity %}
    <option value="{{areaInCity.id}}">{{areaInCity.area_name}}</option>
{% endfor %}                                                
