{% set cities = __SELF__.cities %}
{% set areas = __SELF__.areas %}
{% set states = __SELF__.states %}
{% set artisanCategories = __SELF__.artisanCategories %}
{% set areasInCity = __SELF__.areasInCity %}

<form method="post" value="onSearch" action="{{ url('find-artisan') }}">
<input type="hidden">
<div class="home-2-filter m1170 pl-15 pr-15" data-wow-delay="0.7s" data-wow-duration="1.5s">                                    
    <div class="make-reservation home-reservation">
        <div class="reservation-dropdowns top40">
            <div class="col-sm-3 p-left0 p-right0">
                <div class="btn-group width100">
                    <div class="custom-select select-type4 high location">
                        <select id="cityselect" data-request="onChooseCity" data-request-data="city:0" data-request-success="triggerChosenUpdate()" data-minimum-input-length="2"
                                data-ajax--delay="300" name="city" class="chosen-select" select-no-search>
                            <option value="0" selected="selected">- Choose Your City -</option>
                            {% for city in cities %}
                            	<option value="{{city.id}}">{{city.city_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-left0 p-right0">
                <div class="btn-group width100">
                    <div id="areaDropdown" class="custom-select select-type4 high category">
                         <select id="areaDropdown2" name="area" class="chosen-select"> 
                            <option value="0">- Choose Area -</option>
                            <!--{% for areaIncity in areasInCity %}
                                <option value="{{artisanCategory.id}}">{{areaInCity.area_name}}</option>
                            {% endfor %} -->
                        </select>  
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-left0 p-right0">
                <div class="btn-group width100">
                    <div class="custom-select select-type4 high category">
                        <select name="category" class="chosen-select">
                            <option value="0">- Choose Category -</option>
                            {% for artisanCategory in artisanCategories %}
                            	<option value="{{artisanCategory.id}}">{{artisanCategory.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-left0 p-right0">
                <div class="btn-group width100">
                    <button class="find-btn">Search</button>
                </div>
            </div><div class="clearfix"></div>
        </div>
    </div>
</div>

</form>



                    
