{% set cities = __SELF__.cities %}
{% set areas = __SELF__.areas %}
{% set states = __SELF__.states %}
{% set artisanCategories = __SELF__.artisanCategories %}
{% set areasInCity = __SELF__.areasInCity %}
<form  method="post" value="onSearch" action="{{ url('find-artisan') }}">
										<div class="input-group first col-sm-12 col-md-3">
											<div class="input-group-addon">
												<i class="md-icon">my_location</i>
											</div>
											<!-- /.input-group-addon -->
											<select name="city" id="" class="form-control" data-request="onChooseCity">
												<option value="">Choose a city</option>
												{% for city in cities %}
                            	                    <option value="{{city.id}}">{{city.city_name}}</option>
                                                {% endfor %}
											</select>
										</div>
										<!-- /.input-group  -->

										<div class="input-group col-sm-12 col-md-3">
											<div class="input-group-addon">
												<i class="md-icon">my_location</i>
											</div>
											<!-- /.input-group-addon -->
											<select name="area" id="areaDropdown2" class="form-control">
												<option value="">Choose an area</option>
												
											</select>
										</div>
										<!-- /.input-group  -->

										<div class="input-group col-sm-12 col-md-3">
											<div class="input-group-addon">
												<i class="md-icon">search</i>
											</div>
											<!-- /.input-group-addon -->
											<select name="category" id="" class="form-control">
												<option value="">Choose a category</option>
												{% for artisanCategory in artisanCategories %}
                            	<option value="{{artisanCategory.id}}">{{artisanCategory.category_name}}</option>
                            {% endfor %}
											</select>
										</div>
										<!-- /.input-group  -->

										<div class="form-group last col-sm-12 col-md-3">
											<button type="submit" class="btn btn-primary btn-block">Search</button>
										</div>
										<!-- /.col-* -->
									</form>