{% set cities = __SELF__.cities %}
{% set areas = __SELF__.areas %}
{% set states = __SELF__.states %}
{% set artisanCategories = __SELF__.artisanCategories %}
{% set areasInCity = __SELF__.areasInCity %}

<form method="post" value="onSearch" action="{{ url('find-artisan') }}">
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>City</label>

														<select name="city" id="" class="form-control" data-request="onChooseCity">
												<option value="">Choose a city</option>
												{% for city in cities %}
                            	                    <option value="{{city.id}}">{{city.city_name}}</option>
                                                {% endfor %}
											</select>
													</div>
													<!-- /.form-group -->
												</div>
												<!-- /.col-* -->

												<div class="col-md-4">
													<div class="form-group">
														<label>Area</label>
                                                        <select name="area" id="areaDropdown2" class="form-control">
												<option value="">Choose an area</option>
												<!--{% for areaIncity in areasInCity %}
                                <option value="{{artisanCategory.id}}">{{areaInCity.area_name}}</option>
                            {% endfor %} -->
											</select>
													
													</div>
													<!-- /.form-group -->
												</div>
												<!-- /.col-* -->

												<div class="col-md-4">
                                                <div class="form-group">
                                                <label>Category</label>
													<select name="category" id="" class="form-control">
												<option value="">Choose a category</option>
												{% for artisanCategory in artisanCategories %}
                            	<option value="{{artisanCategory.id}}">{{artisanCategory.category_name}}</option>
                            {% endfor %}
											</select>
                                            </div>
                                            <!-- /.form-group -->
												</div>
												<!-- /.col-* -->

												
												<!-- /.col-* -->
											</div>
                                            <div class="row">
                                                <div class="col-md-12">
													<div class="form-group-btn form-group-btn-placeholder-gap">
														<button type="submit" class="btn btn-primary btn-block">Search</button>
													</div>
													<!-- /.form-group -->
												</div>
                                            </div>
											<!-- /.row -->
										</form>