{% set cities = __SELF__.cities %}
{% set areas = __SELF__.areas %}
{% set states = __SELF__.states %}
{% set artisanCategories = __SELF__.artisanCategories %}
{% set areasInCity = __SELF__.areasInCity %}
<form  method="post" value="onSearch" action="{{ url('find-artisan') }}">
										
										<!-- /.input-group  -->

										<div class="input-group col-sm-12 col-md-9">
											<div class="input-group-addon">
												<i class="md-icon">dialpad</i>
											</div>
											<!-- /.input-group-addon -->
											{# <select name="area" id="areaDropdown2" class="form-control">
												<option value="">Choose an area</option>
												
											</select> #}
											<input type="text" name="phone_number" class="form-control" placeholder="ex: 08001234567">
										</div>
										<!-- /.input-group  -->

										
										<!-- /.input-group  -->

										<div class="form-group last col-sm-12 col-md-3">
											<button type="submit" class="btn btn-primary btn-block">Search</button>
										</div>
										<!-- /.col-* -->
									</form>