{% set artisan = __SELF__.artisan %}
{% set relatedArtisans = __SELF__.relatedArtisans %}
{% set overallAverageRounded = DisplayCommentsAndRatings.overallAverageRounded %}

<!-- 160.153.131.205 -->
<header>
			<div class="container-fluid">
				
				<div class="row h-third-row listing-details-header" style="background-image: url('{{artisan.category.category_image.path}}')">
					<div class="m1170 h570 valign-table">

						<div class="col-sm-12 valign-table-cell">
							<div class="p-relative">
								<div class="list-det-left">
									<div class="list-det-ico wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										{% if not artisan.artisan_image.path %}
											<img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="wd" class="b-radius3 img-responsive artisanheaderimage">
										{% else %}
											<img src="{{ artisan.artisan_image.path }}" alt="wd" class="b-radius3 img-responsive artisanheaderimage">
										{% endif %}
										
									</div>
									<div class="list-det-title colorfff uppercase wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
										{% if artisan.premium %}<i class="fa fa-diamond">
											&nbsp;
										</i> {% endif %} {{ artisan.company_name }}
										<ul class="list-styles raitings-stars p-left10 inl-flex">
											{{'<li><i class="fa fa-star"></i></li>' | str_repeat(overallAverageRounded) }}
											{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-overallAverageRounded) }}
										</ul>
									</div>
									<div class="font13 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">In {{artisan.category.category_name}}, {{ artisan.area.area_name }}, {{ artisan.city.city_name }} | {% if artisan.association%}Member of {{artisan.association.association_name}}{%endif%}</div>
									<div class="list-det-address top20 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><i class="fa fa-map-marker"></i> {{ artisan.address }} 
									</div>
									
									<div class="clearfix"></div>
									<div class=" wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">							
										<div class="f-left p-right20">
											<ul class="list-styles new-first-det start0 f-left">
												
												
												{% if user %}
												<li>
													<a href="#">
														<i class="fa fa-phone">
															&nbsp;
														</i>{{artisan.phone_number}}
													</a>
												</li>
												{% else %}
												<li>
													<a href="#">
														<i class="fa fa-phone">
															&nbsp;
														</i>You need to be registered to view this information
													</a>
												</li>
												{% endif %}
												<!-- <li><a href="#"><i class="fa fa-envelope-o">&nbsp;</i>support@lamesad.com</a></li> -->
											</ul>
										</div>
										<div class="f-left">
											<ul class="list-styles new-first-det start0 f-left">
												<!-- <li><a href="#"><i class="fa fa-laptop">&nbsp;</i>www.lamesa.com</a></li> -->
												<!-- <li><a href="#"><i class="fa fa-heart-o">&nbsp;</i>102 Favorites</a></li> -->
												<!-- <li><a href="#"><i class="fa fa-share-alt">&nbsp;</i>share</a></li> -->
											</ul>
										</div>
									</div><div class="clearfix"></div>
								</div>

								<a href="#writecomment"><div class="write-review b-radius3 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><i class="fa fa-plus-circle"></i>write a review</div></a>
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="row listing-details-main">
					<div class="m1170 pl-15 pr-15">

						<div class="make-reservation">
							<div class="about-title extrabold uppercase">
								<span class="font22 color333">Make a free reservation</span>
							</div>
							<div class="reservation-dropdowns top40">
								<div class="col-sm-3 p-left0 p-right0">
									<div class="btn-group width100">
										<div class="custom-select select-type4 category">
											<select class="chosen-select">
												<option value="0">Business Services</option>
												<option value="1">1 people</option>
												<option value="2">2 people</option>
												<option value="3">3 people</option>
												<option value="4">4 people</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-3 p-left0 p-right0">
									<div class="btn-group width100">
										<div class="custom-select select-type4 location">
											<select class="chosen-select">
												<option value="2">Today</option>
												<option value="3">Tomorrow</option>
												<option value="4">Other Date</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-3 p-left0 p-right0">
									<div class="btn-group width100">
										<div class="custom-select select-type4 category">
											<select class="chosen-select">
												<option value="1">6 : 00 PM</option>
												<option value="2">6 : 00 AM</option>
												<option value="4">Any hour</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-3 p-left0 p-right0">
									<div class="btn-group width100">
										<a href="#"><div class="find-btn">FIND MY TABLE</div></a>
									</div>
								</div><div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>	 -->

			</div>	
		</header>	
		<section><h2 class="hidden">WD</h2>	
			<div class="container-fluid">
				<div class="row listing-details-main">
					<div class="m1170">
						<div class="col-sm-3 listing-details-left">
							<nav>
								<div class="left-1-menu nav-right-menu">
									<ul class="start0 list-style top-menu top60">
										<!-- <li class="menu-link top0 "><i class="fa fa-star">&nbsp;</i>About restaurant</li> -->
										{# <li class="menu-link"><a href="#imagegallery"><i class="fa fa-picture-o">&nbsp;</i>Images gallery</a></li> #}
										<!-- <li class="menu-link "><i class="fa fa-film">&nbsp;</i>videos</li> -->
										<!-- <li class="menu-link "><i class="fa fa-folder-open">&nbsp;</i>Special offers</li> -->
										<li class="menu-link "><a href="#rating"><i class="fa fa-pencil">&nbsp;</i>Rating & reviews</a></li>
									</ul>				
								</div><div class="clearfix"></div>
							</nav>

							<!-- <div class="nav-right-menu opening-hours">
								<div class="right-title uppercase"><i class="fa fa-clock-o">&nbsp;</i>opening hours</div>
								<table class="width100">
									<tr>
										<td class="td1">Monday - Friday</td>
										<td class="td2">10 AM  -  11PM</td>
									</tr>
									<tr>
										<td class="td1">Saturday</td>
										<td class="td2">11 AM  -  10PM</td>
									</tr>
									<tr>
										<td class="td1">Sunday</td>
										<td class="td2">Close</td>
									</tr>
								</table>
							</div> -->
							<!-- <div class="listing-owner">
								<div class="sidebar-orange uppercase"><i class="fa fa-user">&nbsp;</i>Listing owner</div>
								<img src="media/pages/owner.jpg" alt="wd">
								<h6 class="uppercase"><b>JOHN SMITH</b></h6>
								<div class="font11 semibold color777">Chef & Food Researcher</div>
								<div class="soc-icons">
									<a href="#"><img src="media/buttons/grey-mail.png" alt="wd"></a>
									<a href="#"><img src="media/buttons/grey-fb.png" alt="wd"></a>
									<a href="#"><img src="media/buttons/grey-gplus.png" alt="wd"></a>
									<a href="#"><img src="media/buttons/grey-tw.png" alt="wd"></a>
									<div class="clearfix"></div>
								</div>
								<br />
								Eiusmod tempor incidiunt labore velit dol
								emagna aliqu sedu enimi nim veniam ut
								quis nostraud exercition eullamco laboris
								orem ipsu dolor sit amet dui consectetur
								adipisicing elit sed eiusmod tempor incid
								idunt labore etu dolore
								<hr class="margin40">
							</div> -->
							<!-- <div class="calendar">
								<div class="right-title uppercase"><i class="fa fa-calendar">&nbsp;</i>calendar</div>
								<div class="cal-container">
									<div class="hero-unit">
										<div class="date"  ></div>
									</div>
								</div>
								<div class="select-time top40 uppercase">select your time</div>
								<div class="select-time-list">
									<a href="#"><div class="width50 f-left text-right">10:00 AM</div></a>
									<a href="#"><div class="width50 f-left">11:00 PM</div></a>
									<a href="#"><div class="width50 f-left text-right">12:00 PM</div></a>
									<a href="#"><div class="width50 f-left">1:00 PM</div></a>
									<a href="#"><div class="width50 f-left text-right">2:00 PM</div></a>
									<a href="#"><div class="width50 f-left">3:00 PM</div></a>
									<a href="#"><div class="width50 f-left text-right">4:00 PM</div></a>
									<a href="#"><div class="width50 f-left">5:00 PM</div></a>
									<a href="#"><div class="width50 f-left text-right">6:00 PM</div></a>
									<a href="#"><div class="width50 f-left">7:00 PM</div></a>
									<a href="#"><div class="width50 f-left text-right">8:00 PM</div></a>
									<a href="#"><div class="width50 f-left">9:00 PM</div></a>
									<a href="#"><div class="width50 f-left text-right">10:00 PM</div></a>
									<a href="#"><div class="width50 f-left">11:00 AM</div></a>
									<div class="clearfix"></div>
								</div>
								<div class="total-cost semibold color333">Total Cost: <b class="p-left10">$50.00</b></div>
							</div>	 -->

						</div>

						<div class="col-sm-9 listing-details-right top60">
							<div id="map-canvas" class="list-cont-gmaps"></div><div class="clearfix"></div> <div style="float:right">
							<!-- <button class="submit-btn button-orange" id="getdirections">Show Directions</button> -->
							</div> 
							{% if artisan.premium %}
							 <article><h2 class="hidden">WD</h2>
								<div class="about-title extrabold uppercase color333 top60">
									<span class="bgfff " data-wow-delay="0.7s" data-wow-duration="1.5s">About {{artisan.company_name}}</span>
								</div>
								<!-- <div class="font14 color333 uppercase top20 " data-wow-delay="0.7s" data-wow-duration="1.5s">
									<b>
										Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt labore
										dolore magna aliqua enim.
									</b>
								</div> -->
								<div class="top20 " data-wow-delay="0.7s" data-wow-duration="1.5s">
									{{artisan.description}}
								</div>
								<!-- <div class="font13 color777 " data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="col-sm-3 p-right70 top40 p-left0">
										<b>Dining Style</b><br />
										Casual Dining Style
										<br /><br />
										<b>Cuisines</b><br />
										American, Asian
										<br /><br />
										<b>Price Range</b><br />
										$130 and under
									</div>
									<div class="col-sm-9 p-right40 top40 p-left0">
										<b>Additional Features</b><br />
										Banquet/Private Rooms, Bar Dining, Bar/Lounge, Beer, Cafe, Delivery, Full Bar,
										Gluten-free Menu, Late Night, Non-Smoking Area, Non-Smoking Restaurant,
										Patio/Outdoor Dining, Personal wines welcome, Personal wines welcome (corkage fee
										applies), Private Room, Smoking Area, Takeout, Weekend Brunch, Wheelchair Access,
										<br /><br />
										<b>Payment Options</b><br />
										AMEX, Discover, MasterCard, Visa
									</div>
								</div>  -->
								<div class="clearfix"></div>
							</article> 
							
							 <article id="imagegallery" class="art-images-gallery ">
								<h2 class="hidden">WD</h2>
								<div class="about-title extrabold uppercase color333 top60">
									<span class="bgfff">Image gallery</span>
								</div>
								<div class="images-gallery valign-table top40">
									<div class="slider-pro images-gallery-slider" data-width="960" data-height="500" data-fade="true" data-arrows="true" data-buttons="false" data-full-screen="true" data-shuffle="true" data-small-size="500" data-medium-size="1000" data-large-size="3000" data-thumbnail-arrows="true" data-autoplay="true" >
										<div class="sp-slides">
											{% for galleryItem in artisan.premium_gallery %}
											<div class="sp-slide">
												<img class="sp-image" src="{{galleryItem.path}}" alt="Gallery Image">
												<img class="sp-thumbnail" src="{{galleryItem.path}}" alt="Gallery Image">
											</div>
											{% endfor %}
											{# <div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-2.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-2.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-3.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-3.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-1.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-1.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-2.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-2.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-3.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-3.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-1.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-1.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-2.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-2.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-3.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-3.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-1.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-1.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-2.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-2.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-3.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-3.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-1.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-1.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-2.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-2.jpg" alt="Gallery Image">
											</div>
											<div class="sp-slide">
												<img class="sp-image" src="media/690x390/gallery-big-3.jpg" alt="Gallery Image">
												<img class="sp-thumbnail" src="media/690x390/gallery-small-3.jpg" alt="Gallery Image">
											</div> #}
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</article> 
							{% endif %}
							<!-- <article class="list-det-video ">
								<h2 class="hidden">WD</h2>
								<div class="about-title extrabold uppercase color333 top60">
									<span class="bgfff">video</span>
								</div>
								<div class="top60">
									<div class="first-pict">
 										<div id="player"></div>
									</div>
									<div class="clearfix"></div>
								</div>			
							</article> -->
							<!-- <div class="about-title extrabold uppercase color333 top60 " data-wow-delay="0.7s" data-wow-duration="1.5s">
								<span class="bgfff">special offers</span>
							</div>
							<div class="left-15 right-15 spec-off">		
								<div class="col-sm-6 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<article><h2 class="hidden">WD</h2>
										<div class="other-post top40">
											<div class="first-pict">
												<img src="media/390x186/spec-off-1.jpg" alt="wd">
												<div class="pict-data2 uppercase">Friday, November 30, 2015</div>
											</div>
											<div class="font14 color333 extrabold uppercase top30">Thanksgiving Dinner Special Menus
											</div>
											<ul class="list-styles new-first-det start0 f-left top10">
												<li><a href="#"><i class="fa fa-heart-o">&nbsp;</i>30 Likes</a></li>
												<li><a href="#"><i class="fa fa-share-alt">&nbsp;</i>share this</a></li>
											</ul>
											<div class="clearfix"></div>
											Eiusmod tempor incidiunt labore velit dolore magn aliqu sed
											enimi nim veniam quis nostraud exercition.	
										</div>			
									</article>
								</div>

								<div class="col-sm-6 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<article><h2 class="hidden">WD</h2>
										<div class="other-post top40">
											<div class="first-pict">
												<img src="media/390x186/spec-off-2.jpg" alt="wd">
												<div class="pict-data2 uppercase">Sunday, december 31, 2016</div>
											</div>
											<div class="font14 color333 extrabold uppercase top30">New Year's Eve Special offer</div>
											<ul class="list-styles new-first-det start0 f-left top10">
												<li><a href="#"><i class="fa fa-heart-o">&nbsp;</i>30 Likes</a></li>
												<li><a href="#"><i class="fa fa-share-alt">&nbsp;</i>share this</a></li>
											</ul>
											<div class="clearfix"></div>
											Eiusmod tempor incidiunt labore velit dolore magn aliqu sed
											enimi nim veniam quis nostraud exercition.
										</div>			
									</article>
								</div>
							</div> -->
							<div class="clearfix"></div>

							<div id="rating" class="about-title extrabold uppercase color333 top60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<span class="bgfff">rating &amp; review</span>
							</div>	
							{% component 'OverallRating' %}
							<div class="raiting-review-sort top40">
								<!-- <div class="btn-group f-right font11 semibold color777 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="dropdown-btn-list dropdown-btn1 dropdown-btn1-1 btn btn-lg dropdown-toggle uppercase" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										sort reviews by
										<i class="fa fa-angle-down"></i>
									</div>
									<ul class="dropdown-menu width100 uppercase">
										<li><a href="#">raiting</a></li>
										<li><a href="#">date</a></li>
										<li><a href="#">user</a></li>
									</ul>
								</div> -->
								<div class="clearfix"></div>
								<div class="blog-det-comments">
									<div class="blog-det-comment top40 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
										<table>
											{% component 'DisplayCommentsAndRatings' %}
										</table>
									</div>	
								</div>


								<div id="writecomment" class="about-title extrabold uppercase top40 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
									<span class="bgfff font22 color333">Rate &amp; Comment</span>
								</div>
									{% if user %}
										{% component 'Rating' %}
									{% else %}
									<p>You must be registered and logged in to rate and comment</p>
									{% endif %}
								<div class="clearfix"></div>		
							</div>	
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="row top80 related-listings-row">
					<div class="related-listings p-bottom60">
						<div class="m1170 p-top40">

							<div class="about-title extrabold uppercase wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<span class="font22 color333">related artisans</span>
							</div>

							<div class="font14 text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Get overview of some trending & featured listings here !!!</div>

							<div id="myCarousel2" class="carousel slide blog-reviews" data-interval="3000">
								<!-- <ol class="carousel-indicators blog-reviews-pagination">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
								</ol>  -->
								<div class="clearfix"></div>  
								<div class="carousel-inner">
									<div class="active item">
										<div class="members-acc">
											{% for relatedArtisan in relatedArtisans %}
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo1">{% if not relatedArtisan.artisan_image.path %}
											<img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="wd" class="b-radius3 img-responsive ">
										{% else %}
											<img src="{{ relatedArtisan.artisan_image.path }}" alt="wd" class="b-radius3 img-responsive ">
										{% endif %}
														<div class="memb-photo-hover memb-photo-hover1">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	{{'<li><i class="fa fa-star"></i></li>' | str_repeat((relatedArtisan.overall_average_rating|round(0,'floor'))) }}
				{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-(relatedArtisan.overall_average_rating|round(0,'floor'))) }}


																	<!-- <li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li> -->
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">{{relatedArtisan.category.category_name}}</span><br />
														<b class="font14 color333 uppercase"><a href="{{'artisan'|page({slug:relatedArtisan.slug}) }}">{{relatedArtisan.company_name}}</a></b><br />
														<span class="font12 color777">{{relatedArtisan.address}}, {{relatedArtisan.area.area_name}}, {{relatedArtisan.city.city_name}}</span>
														{% if user %}
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>{{relatedArtisan.phone_number}}</b></div>
														{% else %}
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>You need to be registered to view this information</b></div>
														{% endif %}
													</div>
												</div>
											</div>
											{% endfor %}
											
											<div class="clearfix"></div>
										</div>
									</div>
									<!-- <div class="item">
										<div class="members-acc">
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo1">
														<img src="media/262x260/relat-list-1.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover1">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">beauty & spa</span><br />
														<b class="font14 color333 uppercase">Amicus Hair and Beauty</b><br />
														<span class="font12 color777">5108 Macarthur Blvd NW Unit B, Washington, DC 20016</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(202) 364-6772</b></div>
													</div>
												</div>
											</div>
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo2">
														<img src="media/262x260/relat-list-2.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover2">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">automotive</span><br />
														<b class="font14 color333 uppercase">Ridenow sports</b><br />
														<span class="font12 color777">17202 N Cave Creek Rd, Phoenix, AZ 85032</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(602) 910-6249</b></div>
													</div>

												</div>

											</div>
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo3">
														<img src="media/262x260/relat-list-3.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover3">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">hotels</span><br />
														<b class="font14 color333 uppercase">Novotel Forest Resort</b><br />
														<span class="font12 color777">60800 Pines Blvd, Pembroke Pines, FL 33026</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(954) 435-1062</b></div>
													</div>							
												</div>					
											</div>
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo4">
														<img src="media/262x260/relat-list-4.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover4">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">entertainment</span><br />
														<b class="font14 color333 uppercase">Blue Room Cinebar</b><br />
														<span class="font12 color777">2306 Almaden Road, San Jose, CA 95125</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(408) 265-7373</b></div>
													</div>							
												</div>						
											</div>
											<div class="clearfix"></div>
										</div>
									</div> -->

									<!-- <div class="item">
										<div class="members-acc">
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo1">
														<img src="media/262x260/relat-list-1.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover1">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">beauty & spa</span><br />
														<b class="font14 color333 uppercase">Amicus Hair and Beauty</b><br />
														<span class="font12 color777">5108 Macarthur Blvd NW Unit B, Washington, DC 20016</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(202) 364-6772</b></div>
													</div>
												</div>
											</div>
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo2">
														<img src="media/262x260/relat-list-2.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover2">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">automotive</span><br />
														<b class="font14 color333 uppercase">Ridenow sports</b><br />
														<span class="font12 color777">17202 N Cave Creek Rd, Phoenix, AZ 85032</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(602) 910-6249</b></div>
													</div>

												</div>

											</div>
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo3">
														<img src="media/262x260/relat-list-3.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover3">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">hotels</span><br />
														<b class="font14 color333 uppercase">Novotel Forest Resort</b><br />
														<span class="font12 color777">60800 Pines Blvd, Pembroke Pines, FL 33026</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(954) 435-1062</b></div>
													</div>							
												</div>					
											</div>
											<div class="col-sm-3 top60 f-left">
												<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
													<div class="memb-photo memb-photo4">
														<img src="media/262x260/relat-list-4.jpg" alt="wd">
														<div class="memb-photo-hover memb-photo-hover4">
															<div class="memb-photo-links">
																<a href="#">
																	<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
																</a>
																<a href="#">
																	<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
																</a><br />
																<ul class="list-styles raitings-stars p-left10 inl-flex">
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="memb-txt">
														<span class="font11 semibold uppercase blue">entertainment</span><br />
														<b class="font14 color333 uppercase">Blue Room Cinebar</b><br />
														<span class="font12 color777">2306 Almaden Road, San Jose, CA 95125</span>
														<div class="font12 color777 top10"><i class="fa fa-phone"></i> <b>(408) 265-7373</b></div>
													</div>							
												</div>						
											</div>
											<div class="clearfix"></div>
										</div>
									</div> -->
								</div>
							</div><div class="clearfix"></div>
						</div>

					</div>
				</div>

			</div>
		</section>
		<script type="text/javascript">
			var artisan = {{artisan|json_encode()|raw}};
			//var urlBase = "themes/jambolo/";
			var assetsBaseDir = "{{ asset('themes/jambolo/assets/') }}";
		</script>
		<script type="text/javascript">
			var dataRequestParams = {};
			dataRequestParams.artisan_id = artisan.id;
			dataRequestParams.user_id = {{user.id|json_encode|raw}};
			var service;
			var quality;
			var pricing;
			function rateService(rating){
				service = rating;
				console.log(service);
				dataRequestParams.service = service;
			}
			
			function rateQuality(rating){
				quality = rating;
				console.log(quality);
				dataRequestParams.quality = quality;
			}

			function ratePricing(rating){
				pricing = rating;
				console.log(pricing);
				dataRequestParams.pricing = pricing;
				console.log(dataRequestParams);
			}

			function changeDataRequestAttributes(){
					dataRequestParams.comments = $('#comment').val();
         			$('#el-form-1').attr('data-request-data', JSON.stringify(dataRequestParams));
         			$('#el-form-1').removeData('request-data');			
				//$('#el-form-1').attr('data-request-data', 'service:'+service+',quality:'+quality+',pricing:'+pricing+',artisan_id:'+artisan.id);
			}



		</script>
		
		