{% set artisan = __SELF__.artisan %}
{% set relatedArtisans = __SELF__.relatedArtisans %}
{% set overallAverageRounded = DisplayCommentsAndRatings.overallAverageRounded %}
{% set prev = __SELF__.prev %}
<!-- 160.153.131.205 -->

{# new theme #}
<div class="main">
				<div class="main-inner">


					<div class="content">
						<div class="content-title">
							<div class="container">
								<h1>Artisan Detail Page</h1>

								<ul class="breadcrumb">
									<li>
										<a href="{{'/'}}">Home</a>
										<i class="md-icon">keyboard_arrow_right</i>
									</li>
									{% if not prev == url('/') and prev == this.page.url %}
									
									<li>
									<a href="{{prev}}">Artisan List</a>
									<i class="md-icon">keyboard_arrow_right</i>
									</li>
									{% endif %}

									<li class="active">Listing Detail Page</li>

								</ul>
								<!-- /.breadcrumb -->
							</div>
							<!-- /.container -->
						</div>
						<!-- /.content-title -->

						{# <div class="listing-navigation">
							<a href="#">
								<i class="md-icon">keyboard_arrow_right</i>
							</a>

							<a href="#">
								<i class="md-icon">favorite_border</i>
							</a>

							<a href="#">
								<i class="md-icon">compare</i>
							</a>

							<a href="#">
								<i class="md-icon">keyboard_arrow_left</i>
							</a>
						</div> #}
						<!-- /.listing-navigation -->

						<div class="container">
							<div class="row">
								<div class="col-md-8 col-lg-9">
									<div class="push-top-bottom">
										<div class="listing-detail">
											<div class="gallery">
												{# <div class="gallery-item" style="background-image: url('assets/img/tmp/gallery/1.jpg');">
													<div class="gallery-item-description">
														Quisque ornare efficitur risus eu bibendum
													</div>
													<!-- /.gallery-item-description -->
												</div>
												<!-- /.gallery-item -->

												<div class="gallery-item" style="background-image: url('assets/img/tmp/gallery/2.jpg');">
													<div class="gallery-item-description">
														Quisque ornare efficitur risus eu bibendum
													</div>
													<!-- /.gallery-item-description -->
												</div>
												<!-- /.gallery-item --> #}
                                                {% if artisan.artisan_image.path %}
													<div class="gallery-item" style="background-image: url('{{ artisan.artisan_image.path }}');">

												{% elseif artisan.category.category_image.path %}
													<div class="gallery-item" style="background-image: url('{{ artisan.category.category_image.path }}');">

												{% else %}
													<div class="gallery-item" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">

												{% endif %}
												
													<div class="gallery-item-description">
														{% if artisan.premium == 1 %}
														<i class="fa fa-diamond">
														<span style="font-size:10px; color:#FFF">Premium</span>
											&nbsp;
										</i> {% endif %} {{ artisan.company_name }}
													</div>
													<!-- /.gallery-item-description -->
												</div>
												
												<!-- /.gallery-item -->
											</div>
											<!-- /.gallery -->

											
											{% if artisan.premium %}
												{% if artisan.description %}
													<h2>Description</h2>
													{{ artisan.description }}
												{% endif %}
												{% if artisan.products is not empty %}
													<h2>Products - <a href="{{'artisan-products'|page({'slug':artisan.slug})}}" style="font-size:15px">View all</a></h2>
													<div class="row">
														{% for product in artisan.products|slice(0,7) %}
															<div class="col-md-3">
																<div class="product" style="height:200px;">
																	<a href="{{'single-product'|page({'slug':artisan.slug, 'product-slug':product.slug})}}">
																		<img src="{{product.product_image.path}}" width="200" alt="">
																	</a>
																</div>
																<a href="{{'single-product'|page({'slug':artisan.slug, 'product-slug':product.slug})}}">
																	<p style="margin-bottom:5px; text-transform:capitalize">{{product.name}}</p>
																</a>
																<span>NGN {{product.price|number_format(2, '.', ',')}}</span>
															</div>
														{% endfor %}
													</div>
													
												{% endif %}
												{% if artisan.premium_gallery is not empty %}
													<h2>Gallery - <a href="{{'artisan-gallery'|page({'slug':artisan.slug})}}" style="font-size:15px">View all</a></h2>
													<div class="row">
														{% for image in artisan.premium_gallery|slice(0,7) %}
															<div class="col-md-3">
																<div class="product" style="height:200px;">
																	<img src="{{image.path}}" width="200" alt="">
																</div>
															</div>
														{% endfor %}
													</div>
												{% endif %}
											{% endif %}
											<h2>Artisan Location</h2>

											<div id="map-leaflet" style="height: 300px">
											</div>
											<!-- /.listing-position -->

											{% if user %}
									{% component 'Rating' %}
									{% else %}
									<p>You must be registered and logged in to rate and comment</p>
									{% endif %}
                                            
                                            {% partial 'DisplayCommentsAndRatings::newtheme' %}

											
{# 
											<h2>Write Feedback</h2>

											<div class="comment-create clearfix">
												<form method="post" action="?">
													<div class="form-group">
														<label>Message</label>
														<textarea class="form-control" rows="5"></textarea>
													</div>
													<!-- /.form-group -->

													<div class="row">
														<div class="col-sm-4">
															<div class="form-group">
																<label>Name</label>
																<input type="text" class="form-control">
															</div>
															<!-- /.form-group -->
														</div>
														<!-- /.col-* -->

														<div class="col-sm-4">
															<div class="form-group">
																<label>E-mail</label>
																<input type="email" class="form-control">
															</div>
															<!-- /.form-group -->
														</div>
														<!-- /.col-* -->

														<div class="col-sm-4">
															<div class="form-group">
																<label>URL</label>
																<input type="text" class="form-control">
															</div>
															<!-- /.form-group -->
														</div>
														<!-- /.col-* -->
													</div>
													<!-- /.row -->

													<div class="form-group-btn">
														<a href="#" class="btn btn-primary btn-large pull-right">Post Comment</a>
													</div>
													<!-- /.form-group-btn -->
												</form>
											</div>
											<!-- /.comment-create --> #}
										</div>
										<!-- /.listing-detail -->
									</div>
									<!-- /.push-top-bottom -->
								</div>
								<!-- /.col-sm-9 -->

								<div class="col-md-4 col-lg-3">
									<div class="sidebar">
										<div class="widget">
											<div class="overview">
												<ul>
													<li>
														<strong>Location</strong>
														<span>{{artisan.address}}</span>
													</li>
													<li>
														<strong>Category</strong>
														<span>{{artisan.category.category_name}}</span>
													</li>
													<li>
														<strong>Phone</strong>
														
														<span> <a style="color:#fff" class="call btn btn-primary btn-block" data-request="onCountCall" data-request-data="'id':{{artisan.id}}" data-number="{{artisan.phone_number}}" href="tel:{{artisan.phone_number}}">Call</a> </span>

														{# <span> <a href="tel:{{artisan.phone_number}}">{{artisan.phone_number}}</a> </span> #}
													</li>
													<li>
														<strong>Customers Served</strong>
														<span> {{artisan.call_counter}} </span>

														{# <span> <a href="tel:{{artisan.phone_number}}">{{artisan.phone_number}}</a> </span> #}
													</li>
													<li>
														<strong>Rating</strong>
														<!-- Rating -->

														
											{% if artisan.premium %}
														<span><ul class="list-styles raitings-stars p-left10 inl-flex">
											{{'<li><i class="fa fa-star"></i></li>' | str_repeat(5) }}
											{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-5) }}
										</ul></span>
											{% else %}
											<span><ul class="list-styles raitings-stars p-left10 inl-flex">
											{{'<li><i class="fa fa-star"></i></li>' | str_repeat(overallAverageRounded) }}
											{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-overallAverageRounded) }}
										</ul></span>
											{% endif %}
														
													</li>
													
												</ul>
											</div>
											
											<!-- /.overview -->
										</div>
										<!-- /.widget -->

										{# <div class="widget">
											<h2 class="widgettitle">Contact Information</h2>

											<ul class="contact">
												<li>
													<i class="md-icon">email</i>
													<a href="mailto:hi@example.com">hi@example.com</a>
												</li>
												<li>
													<i class="md-icon">link</i>
													<a href="#">example.com</a>
												</li>
												<li>
													<i class="md-icon">phone</i> <a href="tel:{{artisan.phone_number}}">{{artisan.phone_number}}</a></li>
												<li>
													<i class="md-icon">location_on</i> {{artisan.address}}</li>
											</ul>
										</div> #}
										<!-- /.widget -->
									</div>
									<!-- /.sidebar -->
								</div>
								<!-- /.col-* -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-->
					</div>
					<!-- /.content -->
				</div>
				<!-- /.main-inner -->
			</div>
			<!-- /.main -->



{# Old theme #}

		<script type="text/javascript">
			var artisan = {{artisan|json_encode()|raw}};
			//var urlBase = "themes/jambolo/";
			var assetsBaseDir = "{{ asset('themes/materialist/assets/') }}";
		</script>
		<script type="text/javascript">
			var dataRequestParams = {};
			dataRequestParams.artisan_id = artisan.id;
			dataRequestParams.user_id = {{user.id|json_encode|raw}};
			var service;
			var quality;
			var pricing;
			function rateService(rating){
				service = rating;
				console.log(service);
				dataRequestParams.service = service;
			}
			
			function rateQuality(rating){
				quality = rating;
				console.log(quality);
				dataRequestParams.quality = quality;
			}

			function ratePricing(rating){
				pricing = rating;
				console.log(pricing);
				dataRequestParams.pricing = pricing;
				console.log(dataRequestParams);
			}

			function changeDataRequestAttributes(){
					dataRequestParams.comments = $('#comment').val();
         			$('#el-form-1').attr('data-request-data', JSON.stringify(dataRequestParams));
         			$('#el-form-1').removeData('request-data');			
				//$('#el-form-1').attr('data-request-data', 'service:'+service+',quality:'+quality+',pricing:'+pricing+',artisan_id:'+artisan.id);
			}



		</script>
		
		