[AssociationArtisanSearch]
[FooterCategories]
==
{% set association = __SELF__.association %}
<div class="header">
    <div class="header-inner">
        <div class="header-top">
            <div class="container">
                <a href="{{'association'|page({slug:AssociationDetails.association.slug})}}">
                    <img src="{{ AssociationDetails.association.logo.path}}" alt="" class="header-top-logo"> 
                </a>
                <div class="nav-primary-wrapper collapse navbar-toggleable-sm">
                    <ul class="nav nav-pills" style="margin: -3px 0 0 100px">
                        <li class="nav-item has-submenu">
                            <a href="{{'/'}}" class="nav-link">Jambolo Home </a>               
                        </li>
                        <li class="nav-item has-submenu">
                            <a href="{{url('associations')}}/{{AssociationDetails.association.slug}}" class="nav-link {% if this.page.id == 'associations' %} active2 {% endif %}">Association Home </a>               
                        </li>
                        
                        <li class="nav-item has-submenu">
                            <a href="{{'leadership'|page({slug:AssociationDetails.association.slug})}}" class="nav-link {% if this.page.id == 'leadership' %}active2{% endif %}">Leadership</a>   
                        </li>

                        <li class="nav-item has-submenu">
                            <a href="{{'chairmen'|page({slug:AssociationDetails.association.slug})}}" class="nav-link {% if this.page.id == 'chairmen' %}active2{% endif %}">Zonal Chairmen</a>   
                        </li>

                        <li class="nav-item has-submenu">
                            <a href="{{'find-association-artisan'|page({slug:AssociationDetails.association.slug})}}" class="nav-link {% if this.page.id == 'find-association-artisan' %}active2{% endif %}">Find a {{AssociationDetails.association.abbreviation}} Member</a> 
                        </li>
                    </ul><!-- /.nav -->
                </div><!-- /.nav-primary-wrapper -->
                <ul class="nav nav-pills secondary">
                    {# <li class="nav-item">
                        <a href="#" class="nav-link circle"><i class="md-icon">search</i></a>
                    </li>
                    <li class="nav-item"><a href="submit.html" class="nav-link circle"><i class="md-icon">add</i></a></li> #}
                    {# <li class="nav-item user-avatar-wrapper">
                        <a href="#" class="nav-link circle user-avatar-image" style="background-image: url('assets/img/tmp/profile-1.jpg')"></a>
                        <span class="user-avatar-status"></span>

                        <ul class="header-more-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Password</a></li>
                            <li><a href="#">Submissions</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>							
                    </li> #}
                </ul>
                <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                    <i class="md-icon">menu</i>
                </button>						
            </div><!-- /.container -->
        </div><!-- /.header-top -->

        <!-- Between headers -- Association Header Image -->
        


        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-label hidden-md-down">
                    I'm looking for
                </div><!-- /.header-bottom-label -->
                <ul class="nav nav-pills extrastylenav">
                    {% partial 'FooterCategories::headercategories' %}
                </ul><!-- /.nav -->
                {# <div class="header-bottom-more">
                    <i class="md-icon">more_horiz</i>
                    <ul class="header-more-menu">
                        <li><a href="submit.html">Submit New</a></li>
                        <li><a href="listings.html">All Listings</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div><!-- /.header-bottom-more --> #}
            </div><!-- /.container -->
        </div><!-- /.header-bottom -->
        <div>
            <div {% if not AssociationDetails.association.headerimage %} style="height:300px; background-image: url('{{'assets/img/noimg.jpg'|theme}}'); background-repeat: no-repeat; background-size: cover; background-position: center"{% else %}  style=" height:150px; background-image: url({{AssociationDetails.association.headerimage.path}});" {% endif %}>
						</div>
        </div>
        <div class="hero-form hero-form-association">{% partial 'AssociationArtisanSearch::newtheme' %}</div>		
    </div><!-- /.header-inner -->
</div><!-- /.header -->