[forumEmbedTopic]
embedCode = "{{:slug}}"
channelSlug = "blog-comments"
memberPage = 404
==
<div class="rainlab-forum">

    {# {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    {% endflash %} #}

    {% if returnUrl %}
        <p>&larr; <a href="{{ returnUrl }}">Back to {{ channel.title }}</a></p>
    {% endif %}

    {% if topic %}

        {# <h4>{{ topic.subject }}</h4> #}

        <div class="row">
           

          
            <div class="col-md-3 col-md-push-9">

                <div id="topicControlPanel">
                    {% partial "site/topic/controlpanel" %}
                </div>

            </div>
            <div class="col-md-9 col-md-pull-3">

                {% partial "site/topic/posts" %}

                {% partial "@pagination" %}

                {% if not member %}You should be logged in before you can post a comment. <br> <br/> Please <strong><a href="/login" data-toggle="modal" data-target="#modalLoginForm">login</a></strong> or <strong> <a href="/landing">register</a> </strong>{% endif %}
                <br><br>
                <h4>Reply to this post</h4>
                {% if not topic.canPost %}
                    <p>
                        You cannot edit posts or make replies:
                        
                        {% if member.is_banned %}Your account is banned.{% endif %}
                        {% if topic.is_locked %}This topic is locked.{% endif %}
                    </p>
                {% else %}
                    {% partial "site/topic/postform" %}
                {% endif %}

            </div>
        </div>

    {% elseif channel %}

        <h4>Create a new discussion topic</h4>
        {% partial "@createform" %}

    {% else %}

        <p>Topic not found</p>

    {% endif %}
</div>
{# 
<div class="comment-create clearfix">
                                    <form method="post" action="?">
                                        <div class="form-group">
                                            <label>Message</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div><!-- /.form-group -->

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control">
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>E-mail</label>
                                                    <input type="email" class="form-control">
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>URL</label>
                                                    <input type="text" class="form-control">
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                        </div><!-- /.row -->

                                        <div class="form-group-btn">
                                            <a href="#" class="btn btn-primary btn-large pull-right">Post Comment</a>
                                        </div><!-- /.form-group-btn -->
                                    </form>
                                </div><!-- /.comment-create --> #}