<div class="reply-form" id="postForm">

    {{ form_open({ request: 'onPost' }) }}

        <input type="hidden" name="topic" value="{{ topic.id }}" />

        <div class="member-area">
            <img src="{{ member.user.avatarThumb(50) }}" class="member-avatar" alt="{{ member.username }}" />
        </div>

        <div class="post-area">
            <textarea
                id="topicContent"
                name="content"
                rows="6"
                class="form-control">{{ form_value('content') }}</textarea>
            {# <span class="help-block">You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a> syntax.</span> #}
            <div class="btx-button btx-button--border btx-button-hover--inverse btx-button-size--medium btx-button-color--brand">
                                        <button class="btn btn-primary btn-large pull-right" type="submit" style="margin-top:15px">Post a comment</a>
                                    </div>
        </div>

    {{ form_close() }}

</div>