<ul class="comments" style="margin-top:10px">
{% for post in posts %}
<li>
    <div class="comment" data-post-id="{{ post.id }}" id="post-{{ post.id }}">
        {% partial "site/topic/post" post=post %}
    </div><!-- /.comment -->
</li>
{% endfor %}
</ul>