{% set backendUser = __SELF__.backendUser %}
{% if backendUser %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding:100px 0px">
            <div style="width: 100%;">
                <div style="margin: 0 auto;">
                    <h3>Artisan Bulk Upload</h3>
                    <form method="POST" action="{{url('bulkupload')}}" enctype="multipart/form-data">
                        <input type="hidden" name="_handler" value="runBulkUpload">
                        {{form_token()}}
                        {{form_sessionKey()}}
                        <input name="upload" type="file"> <br>
                        <button type="submit">Upload File</button>
                    </form>
                    <button data-request="onBulkExport">Export File</button>
                    <button data-request="onBulkEmailExport">Export User Emails</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="container">
    <div class="row">
        <div class="col-md-12" style="padding:100px 0px">
            <div style="width: 100%;">
                <div style="margin: 0 auto;">
                    <h5>This page is restricted</h5>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endif %}
