{% set artisans = __SELF__.artisans %}
{% set categoryObject = __SELF__.categoryObject %}
{% set categories = __SELF__.randomCategories %}
{% set artisanCount = __SELF__.artisansCount %}


	
<section><h2 class="hidden">WD</h2>
	<div class="container-fluid">
		<div class="row listing-details-main">
			<div class="m1170">
				
				
				<div class="col-sm-12 listing-details-right top60">
					<div class="sorts-by-results b-radius3 l-h-40 color777" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="col-sm-6 font13 semibold">
							There are currently <span class="extrabold blue">{{artisanCount}}</span> artisans in this association{% if resultsCount>1%}s{% endif %}
						</div>
						<div class="col-sm-6">
							<!-- <div class="f-right p-relative wordwrap">
								<a href="04-category-2.html"><div class="disp-style btn-list" tabindex="0"><i class="fa fa-list">&nbsp;</i></div></a>
								<a href="04-category-2.html"><div class="disp-style btn-th-large" tabindex="0"><i class="fa fa-th-large">&nbsp;</i></div></a>
								<div class="f-right font11 semibold dropdown-btn-list btn btn-lg dropdown-toggle uppercase" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sort results By
									<i class="fa fa-angle-down"></i>
								</div>
								<div class="clearfix"></div>
								<ul class="dropdown-menu width100 uppercase">
									<li><a href="#">raiting</a></li>
									<li><a href="#">date</a></li>
									<li><a href="#">user</a></li>
								</ul>
							</div> -->
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="results-container lr-15">
						
						
						{% for artisan in artisans %}	

							<div class="col-sm-3 top60">
								<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="memb-photo memb-photo1">
										{% if not artisan.artisan_image.path %}
											<img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="wd" class="b-radius3 img-responsive ">
										{% else %}
											<img src="{{ artisan.artisan_image.path }}" alt="wd" class="b-radius3 img-responsive ">
										{% endif %}
										<div class="memb-photo-hover memb-photo-hover1">
											<div class="memb-photo-links">
												<a href="#">
													<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
												</a>
												<a href="#">
													<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
												</a><br />
												<ul class="list-styles raitings-stars p-left10 inl-flex">
													
													{{'<li><i class="fa fa-star"></i></li>' | str_repeat((artisan.overall_average_rating|round(0,'floor'))) }}
				{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-(artisan.overall_average_rating|round(0,'floor'))) }}
													<!-- <li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li> -->
												</ul>
											</div>
										</div>
									</div>
									<div class="memb-txt">
										<div class="font11 semibold uppercase blue">{{artisan.category.category_name}}</div>
										<div class="font14 color333 uppercase"><b><a href="{{'artisan'|page({slug:artisan.slug}) }}">{{str_limit(artisan.company_name, 25)}}</a></b></div>
										{# <div class="font14 color333 uppercase"><b>{{artisan.first_name}} &nbsp; {{artisan.last_name}}</b></div> #}
										<div class="font12 color777 p-top10"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ str_limit(artisan.address,20)}}</div>
										{% if user %}
										<div class="font12 color777 p-top10"><i class="fa fa-phone"></i>{{artisan.phone_number}}</div>
										{% else %}
										<div class="font12 color777 p-top10">You need to be registered to view this information</div>
										{% endif %}
									</div>
								</div>
							</div>					
							
							
							
							{% endfor %}	
							<div class="clearfix"></div>					
						
						</div>
						{{artisans.render|raw}}
						
						
						<div class="clearfix"></div>
						<!-- <div class="text-center">
							<a href="04-category-2.html"><div class="grey-gradient-btn readmore-btn b-radius3 color777 uppercase top60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">load more</div></a>
						</div> -->
					</div>

				</div>
			</div>

		</div>
	</div>
</section>

		<script type="text/javascript">
		var artisans = {{artisans|json_encode()|raw}};
		var assetsBaseDir = "{{ asset('themes/jambolo/assets/') }}";
      
    </script>