
{{categories}}
{% for subcategory in categories %}

    <li class="{% if product.category.category_name == subcategory.category_name %} activecat {% endif %}"><a href="/marketplace/shop/category/{{subcategory.slug}}">{{subcategory.category_name}}</a>
        <ul>
            {% for category in subcategory.child_categories %}
                {% partial "::subcategories" catogories=category.child_categories %}
            {% endfor %}
        </ul>
    
    </li>
{% endfor %} 