{% set carpenters = __SELF__.carpenters %}
{% set artists = __SELF__.artists %}
{% set architects = __SELF__.architects %}
{% set aluminiumWorks = __SELF__.aluminiumWorks %}
<div class="row featured-collection">
                    <div class="m1170 height100">
                        <div class="col-sm-12">
                            <div class="about-title extrabold uppercase color333 width100">
                                <span class="bgfff wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">featured categories</span>
                            </div>
                        </div>
                        <div class="font14 color777 text-center wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Find &amp; check-out artisans near your area</div>
                        <div class="featured-coll-body top40 colorfff uppercase">
                            <a class="featuredcategory" href="{{'category-artisans'|page({'slug':carpenters.slug})}}">
                                <div class="col-sm-4 top20 p-relative wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
                                    <img src="{{ carpenters.category_image.path }}" alt="wd">
                                    <div class="fc-absolute">
                                        <div class="font20"><b>{{carpenters.category_name}}</b></div>
                                        <div class="font12 orange">{{carpenters.categoryartisans.count }} listings</div>
                                    </div>
                                </div>                
                            </a>  
                            <div class="col-sm-4 top20">
                                <a class="featuredcategory" href="{{'category-artisans'|page({'slug':architects.slug})}}">
                                    <div class="col-sm-12 fc-c-top p-left0 p-right0 p-relative wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                                        <img src="{{ architects.category_image.path }}" alt="wd">
                                        <div class="fc-absolute-c">
                                             <div class="font20"><b>{{architects.category_name}}</b></div>
                                        <div class="font12 orange">{{architects.categoryartisans.count }} listings</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="featuredcategory" href="{{'category-artisans'|page({'slug':aluminiumWorks.slug})}}">
                                    <div class="col-sm-12 fc-c-bottom p-left0 p-right0 p-relative wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                                        <img src="{{ aluminiumWorks.category_image.path }}" alt="wd">
                                        <div class="fc-absolute-c">
                                             <div class="font20"><b>{{aluminiumWorks.category_name}}</b></div>
                                        <div class="font12 orange">{{aluminiumWorks.categoryartisans.count }} listings</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a class="featuredcategory" href="{{'category-artisans'|page({'slug':artists.slug})}}">                 
                                <div class="col-sm-4 top20 p-relative wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                                    <img src="{{ artists.category_image.path }}" alt="wd">
                                    <div class="fc-absolute">
                                        <div class="font20"><b>{{artists.category_name}}</b></div>
                                        <div class="font12 orange">{{artists.categoryartisans.count }} listings</div>
                                    </div>
                                </div>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>