<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form method="post" data-request="onSignin">
                    <label for="">Username</label>
                    <input type="text" class="form-control" name="login" id="userSigninLogin" placeholder="Enter your {{ loginAttributeLabel|lower }}">


                    <label for="">Password</label>
                    <input class="form-control" name="password" type="password" id="userSigninPassword">

                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary pull-right">Sign In</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
