<div class="modal fade" id="modalRegisterForm" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form method="post" data-request="onRegister">
                    <div class="form-group">
                        <label for="">First name</label>
                        <input type="text" class="form-control" name="name" placeholder="">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="">Last name</label>
                        <input type="text" class="form-control" name="surname" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="">E-mail</label>
                        <input type="email" class="form-control" name="email" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <input type="text" class="form-control" name="phone_number" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="">Password</label>
                        <input class="form-control" name="password" type="password" id="userSigninPassword">
                    </div><!-- /.form-group -->


                    <label for="">Confirm Password</label>
                    <input class="form-control" name="password_confirm" type="password" id="userSigninPassword">


                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary pull-right">Register</button>
                    </div><!-- /.form-group-btn -->
                </form>

            </div>
        </div>
    </div>
</div>
