{% set results = __SELF__.results %}
{% set alternateResults = __SELF__.alternateResults %}
{% set categoryObject = __SELF__.categoryObject %}
{% set categories = __SELF__.randomCategories %}
{% set resultsCount = __SELF__.resultsCount %}
{% set resultsJSON = __SELF__.resultsJSON %}
{% set areaName = __SELF__.areaName %}



		<div class="row business-services-header">
			<div id="map-canvas" class="business-services-gmaps"></div><div class="clearfix"></div>
		</div>

		{# <div class="row listing-details-main">
			<div class="m1170 pl-15 pr-15" >

				<div class="make-reservation">
					<div class="about-title extrabold uppercase">
						<span class="font22 color333">Find an Artisan</span>
					</div>
					<div class="reservation-dropdowns top40">
						<div class="col-sm-3 p-left0 p-right0">
							<div class="btn-group width100">
								<div class="custom-select select-type4 category">
									<select class="chosen-select">
										<option value="0">Business Services</option>
										<option value="1">1 people</option>
										<option value="2">2 people</option>
										<option value="3">3 people</option>
										<option value="4">4 people</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-3 p-left0 p-right0">
							<div class="btn-group width100">
								<div class="custom-select select-type4 location">
									<select class="chosen-select">
										<option value="1">New York, USA</option>
										<option value="2">Today</option>
										<option value="3">Tomorrow</option>
										<option value="4">Other Date</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-3 p-left0 p-right0">
							<div class="btn-group width100">
								<div class="custom-select select-type4 category">
									<select class="chosen-select">
										<option value="1">- All Time -</option>
										<option value="1">6 : 00 PM</option>
										<option value="2">6 : 00 AM</option>
										<option value="4">Any hour</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-2 p-left0 p-right0">
							<div class="btn-group width100">
								<a href="#" class="searchButton"><div class="find-btn">FIND ARTISAN</div></a>
							</div>
						</div><div class="clearfix"></div>
					</div>
				</div>
				
			</div>
		</div> #}	

	</div>	
</header>	
<section><h2 class="hidden">WD</h2>
	<div class="container-fluid">
		<div class="row listing-details-main">

			

			<div class="m1170">
				<div class="about-title extrabold left15 right15 uppercase color333 top80">
					<span class="bgfff wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"> {{categoryObject.category_name}} / <span class="orange p-right0 p-left10">{{resultsCount}}</span></span>
				</div>
				<div class="col-sm-3 listing-details-left top60">
					<nav>
						<div class="left-1-menu nav-right-menu">
							<div id="MainMenu">
								<div class="list-group panel">
									{% for category in categories %}
										<a href="{{'category-artisans'|page({'slug':category.slug})}}" class="list-group-item-success" data-wow-delay="0.7s" data-wow-duration="1.5s" data-toggle="collapse" data-parent="#MainMenu">
											<ul class="top-10 start0 list-style top-menu">
												<li class="menu-link top0" tabindex="0"><i class="fa fa-star">&nbsp;</i>{{category.category_name}}
												</li>
											</ul>
										</a>
										<div class="clearfix"></div>
									{% endfor %}
													
			
					
								</div>
								<div class="clearfix"></div>				
							</div>
						</div>
					</nav>
				</div>
				<div class="col-sm-9 listing-details-right top60">
					<div class="sorts-by-results b-radius3 l-h-40 color777" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="col-sm-6 font13 semibold">

						{% if alternateResults is not null or alternateResults is not empty %}
							Your search for {{categoryObject.category_name}} in {{areaName.area_name}} returned <span class="extrabold blue">{{resultsCount}}</span> results.<span> Here are {{categoryObject.category_name}} (artisans) in different areas you may consider.</span>

							{% else %}
							Your search returned <span class="extrabold blue">{{resultsCount}}</span> result{% if resultsCount>1%}s{% endif %}
						{% endif %}
						</div>
						<div class="col-sm-6">
							<!-- <div class="f-right p-relative wordwrap">
								<a href="04-category-2.html"><div class="disp-style btn-list" tabindex="0"><i class="fa fa-list">&nbsp;</i></div></a>
								<a href="04-category-2.html"><div class="disp-style btn-th-large" tabindex="0"><i class="fa fa-th-large">&nbsp;</i></div></a>
								<div class="f-right font11 semibold dropdown-btn-list btn btn-lg dropdown-toggle uppercase" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sort results By
									<i class="fa fa-angle-down"></i>
								</div>
								<div class="clearfix"></div>
								<ul class="dropdown-menu width100 uppercase">
									<li><a href="#">raiting</a></li>
									<li><a href="#">date</a></li>
									<li><a href="#">user</a></li>
								</ul>
							</div> -->
						</div>
						<div class="clearfix"></div>
					</div>

					{% if alternateResults is not null or alternateResults is not empty %}
						<div class="results-container lr-15">
						
						
						{% for result in alternateResults %}	

							<div class="col-sm-4 top60">
								<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="memb-photo memb-photo1">
										{% if result.artisan_image.path %}
													<div class="card-image" style="background-image: url('{{ result.artisan_image.path }}');">
												{% elseif result.category.category_image.path %}
													<div class="card-image" style="background-image: url('{{ result.category.category_image.path }}');">
                                                {% else %}
                                                    <div class="card-image" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">
										        {% endif %}
										<div class="memb-photo-hover memb-photo-hover1">
											<div class="memb-photo-links">
												<a href="#">
													<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
												</a>
												<a href="#">
													<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
												</a><br />
												<ul class="list-styles raitings-stars p-left10 inl-flex">
													{{'<li><i class="fa fa-star"></i></li>' | str_repeat((result.overall_average_rating|round(0,'floor'))) }}
													{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-(result.overall_average_rating|round(0,'floor'))) }}
												</ul>
											</div>
										</div>
									</div>
									<div class="memb-txt">
										<div class="font11 semibold uppercase blue">{{result.category.category_name}}</div>
										<div class="font14 color333 uppercase"><b><a href="{{'artisan'|page({slug:result.slug}) }}">{{str_limit(result.company_name, 25)}}</a></b></div>
										<div class="font14 color333 uppercase"><b>{{result.first_name}} &nbsp; {{result.last_name}}</b></div>
										<div class="font12 color777 p-top10">{{ str_limit(result.address,20)}}</div>
										{% if user %}
										<div class="font12 color777 p-top10">{{result.phone_number}}</div>
										{% else %}
										<div class="font12 color777 p-top10">You need to be registered to view this information</div>
										{% endif %}
									</div>
								</div>
							</div>					
							
							
							
							{% endfor %}	
							<div class="clearfix"></div>					
						
						</div>
						{{result.render|raw}}
						
						
						<div class="clearfix"></div>
						<!-- <div class="text-center">
							<a href="04-category-2.html"><div class="grey-gradient-btn readmore-btn b-radius3 color777 uppercase top60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">load more</div></a>
						</div> -->
					</div>
					{% else %}
						<div class="results-container lr-15">
						
						
						{% for result in results %}	

							<div class="col-sm-4 top60">
								<div class="member-prof " data-wow-delay="0.7s" data-wow-duration="1.5s">
									<div class="memb-photo memb-photo1">
										{% if result.artisan_image.path %}
													<div class="card-image" style="background-image: url('{{ result.artisan_image.path }}');">
												{% elseif result.category.category_image.path %}
													<div class="card-image" style="background-image: url('{{ result.category.category_image.path }}');">
                                                {% else %}
                                                    <div class="card-image" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">
										        {% endif %}
										<div class="memb-photo-hover memb-photo-hover1">
											<div class="memb-photo-links">
												<a href="#">
													<div class="img-icons"><i class="fa fa-heart-o">&nbsp;</i></div>
												</a>
												<a href="#">
													<div class="img-icons"><i class="fa fa-share-alt">&nbsp;</i></div>
												</a><br />
												<ul class="list-styles raitings-stars p-left10 inl-flex">
													{{'<li><i class="fa fa-star"></i></li>' | str_repeat((result.overall_average_rating|round(0,'floor'))) }}
													{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-(result.overall_average_rating|round(0,'floor'))) }}
												</ul>
											</div>
										</div>
									</div>
									<div class="memb-txt">
										<div class="font11 semibold uppercase blue">{{result.category.category_name}}</div>
										<div class="font14 color333 uppercase"><b><a href="{{'artisan'|page({slug:result.slug}) }}">{{str_limit(result.company_name, 25)}}</a></b></div>
										<div class="font14 color333 uppercase"><b>{{result.first_name}} &nbsp; {{result.last_name}}</b></div>
										<div class="font12 color777 p-top10">{{ str_limit(result.address,20)}}</div>
										{% if user %}
										<div class="font12 color777 p-top10">{{result.phone_number}}</div>
										{% else %}
										<div class="font12 color777 p-top10">You need to be registered to view this information</div>
										{% endif %}
									</div>
								</div>
							</div>					
							
							
							
							{% endfor %}	
							<div class="clearfix"></div>					
						
						</div>
						{{result.render|raw}}
						
						
						<div class="clearfix"></div>
						<!-- <div class="text-center">
							<a href="04-category-2.html"><div class="grey-gradient-btn readmore-btn b-radius3 color777 uppercase top60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">load more</div></a>
						</div> -->
					</div>
					{% endif %}


					

				</div>
			</div>

		</div>
	</div>
</section>

	<script type="text/javascript">
		if ({{resultsCount}} == 0) {
			var artisans = {{alternateResults|json_encode()|raw}};
		} else {
			var artisans = {{results|json_encode()|raw}};
		}
		
		var assetsBaseDir = "{{ asset('themes/jambolo/assets/') }}"; 
    </script>