{% set faqs = FaqLast.faqs %}
<div class="faq">
 	{% for faq in faqs %}
     <div class="faq-item">
                <div class="faq-item-question">
                    <h2>{{ faq.question }}</h2>
                </div><!-- /.faq-item-question -->

                <div class="faq-item-answer">
                    <p>
                       {{ faq.answer|md }}
                    </p>
                </div><!-- /.faq-item-answer -->

                {# <div class="faq-item-meta">
                    Was this answer helpful?
                    <span class="rate">
                        <a href="#">Yes</a><span class="separator">/</span><a href="#">No</a>
                    </span><!-- /.rate -->
                </div><!-- /.faq-item-meta --> #}
            </div>
		{# <li>
			<div id="question_{{ faq.id }}">
 				<h3>Q: {{ faq.question }} </h3>
 				<span>{{ faq.created_at|date("d-m-Y")}}</span>
 				<span>{{ faq.answer|md }}</span>
 			</div>
 		</li> #}
	{% endfor %}
 </div>



{# 


 <!--Accordion wrapper-->
<div class="accordion accordion-blocks" id="accordionEx78" role="tablist" aria-multiselectable="true">
{% for faq in faqs %}
    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingUnfiled">

            <!--Options-->
            <div class="dropdown pull-left">
                <button class="btn btn-info btn-sm m-0 mr-3 p-2 dropdown-toggle" type="button" data-toggle="dropdown"> <i class="fa fa-pencil"></i>
                                                        </button>
                
            </div>

            <!-- Heading -->
            <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfiled" aria-expanded="true" aria-controls="collapseUnfiled">
                <h5 class="mt-1 mb-0">
                    <span>{{faq.question}}</span>
                    <i class="fa fa-angle-down rotate-icon"></i>
                </h5>
            </a>

        </div>

        <!-- Card body -->
        <div id="collapseUnfiled" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled" data-parent="#accordionEx78">
            <div class="card-body">

               {{ faq.answer|md }}

            </div>
        </div>
    </div>

{% endfor %}
    <!-- Accordion card -->
</div>
<!--/.Accordion wrapper--> #}