{% set associations = __SELF__.associations %}
<div class="col-sm-12 col-sm-offset-2">
	{% for association in associations %}
	<div style="text-align: center" class="width20 wow zoomIn homeassociationlist" data-wow-delay="0.7s" data-wow-duration="1.5s">
		<a class="homeassociationlist" href="{{'associations'|page({slug:association.slug})}}">
			<img src="{{association.logo.path}}" alt="wd"/>
		</a>
	{{association.association_name}}
	</div>
{% endfor %}
</div>
