{% set associations = __SELF__.associations %}


	{% for association in associations %}
    <div class="col-sm-12 col-md-3">
    <a href="{{'associations'|page({slug:association.slug})}}">
									<img data-lazy="{{association.logo.path}}" alt="" height="100"> <br>
                                    <h6>{{association.association_name}}</h6>
								</a>
	</div>
{% endfor %}


  {# <div class="carousel">
	{% for association in associations %}
    <a class="carousel-item" href="{{'associations'|page({slug:association.slug})}}"><img src="{{association.logo.path}}">{{association.association_name}}</a>
	{% endfor %}
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
  </div> #}
      

