title = "My Orders"
url = "/my-account/orders"
layout = "userDashboardLayout"
is_hidden = 0

[session]

==
{% component 'session' %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
                {# {{user.id}} #}
                {% partial 'user-dash/orders' %}
    </div>
    </div>
</div>

