title = "Order Details"
url = "/my-account/orders/:slug"
layout = "userDashboardLayout"
is_hidden = 0

[session]
security = "users"
[Cart]
[orders]
[displayorderdetails]
==
{% set order = displayorderdetails.order %}

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
                <p>Total: <b>NGN {{order.total|number_format(2, '.', ',')}}</b></p>
                {% component 'displayorderdetails' total=order.total order=order %}
          
    </div>
    </div>
</div>

