title = "My Settings"
url = "/my-account/settings"
layout = "userDashboardLayout"
is_hidden = 0

[session]
==
{% component 'session' %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">

                {% partial 'user-dash/user-update' %}
    </div>
    </div>
</div>
