{% set total = __SELF__.dbCartTotal %}
{% set cart = __SELF__.dbCart %}
<div class="main">
				<div class="main-inner">


					<div class="content">
						<div class="content-title">
							<div class="container">
								<h1>Cart</h1>

								<ul class="breadcrumb">
									<li>
										<a href="{{'/'}}">Home</a>
										<i class="md-icon">keyboard_arrow_right</i>
									</li>


									<li class="active">Cart</li>

								</ul>
								<!-- /.breadcrumb -->
							</div>
							<!-- /.container -->
						</div>
						<!-- /.content-title -->
						<div style="background-image:url('{{'assets/img/artisantools.jpg'|theme}}'); height:150px;">
						</div>
						<div class="container push-top-bottom">
							<div class="row">
								<div class="col-sm-9" style="text-align:center;">
                                    {% for cartItem in cart %}
                                        <div class="col-sm-6">
                                            <div class="box-small center">
                                                <h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Directory of Best Quality</h6>
                                            </div>
                                        </div>
                                    {% endfor %}
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-12" style="text-align:center">
									<h6 style="line-height:30px">
										Jambolo.com provides listings of over 100 different categories of artisans and SME’s in Nigeria, and also provides information on their physical location (i.e. addresses) and contact details (i.e. phone numbers) of each SME service provider. In addition, the portal also uses the Google map functionality to provide additional value added information e.g. directions on how to get to the location of each artisan/SME listed on Jambolo.com.<br /><br />

									The main objective of the portal is to provide users with information on where they can secure artisan services. The portal is also meant to open up the potential market space for artisans operating in urban centers of Nigeria and to basically provide a platform for them to “advertise” their services to a much wider audience than they would normally have access to. In addition, it also serves as a search engine for individuals who desire information on where they can access artisan/home services around their neighborhood. <br /> <br />

Currently Jambolo.com covers only the Lagos metropolitan area, however in the not too distant future the service will cover the main urban areas of Nigeria.
									</h6>
								</div>
							</div>


							<div class="row">
								<div class="col-sm-3">
									<div class="box-small center">
										<h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Directory of Best Quality</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center">
										<h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Verified Artisans</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center">
										<h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Well-Organized Listings</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center">
										<h6 class="no-margin"><i class="fa fa-heart-o blue">&nbsp;</i>Free Listings</h6>
									</div>
								</div>
							</div>
						
						</div>
						<!-- /.container -->
						
					</div>
					
					<!-- /.content -->
				</div>
				<!-- /.main-inner -->
			</div>


