{% set total = __SELF__.dbCartTotal %}
{% set cart = __SELF__.dbCart %}
<div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>

<div class="heading-banner-area overlay-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="heading-banner">
								<div class="heading-banner-title">
									<h2>Shopping Cart</h2>
								</div>
								<div class="breadcumbs pb-15">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li>Shopping Cart</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- HEADING-BANNER END -->
			<!-- SHOPPING-CART-AREA START -->
			<div class="shopping-cart-area  pt-80 pb-80">
				<div class="container">	
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">

						{% if cart is not empty %}
							<div class="shopping-cart">
								<!-- Nav tabs -->
								<ul class="cart-page-menu row clearfix mb-30">
									<li class="active"><a href="#shopping-cart" data-toggle="tab">shopping cart</a></li>
									{# <li><a href="#wishlist" data-toggle="tab">wishlist</a></li> #}
									<li><a href="#check-out" data-toggle="tab">check out</a></li>
									{# <li><a href="#order-complete" data-toggle="tab">order complete</a></li> #}
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<!-- shopping-cart start -->
									<div class="tab-pane active" id="shopping-cart">
										<form data-request="onDBCartUpdate" id="cartform">
											<div class="shop-cart-table">
												<div class="table-content table-responsive">
													<table>
														<thead>
															<tr>
																<th class="product-thumbnail">Product</th>
																<th class="product-description">Description</th>
																<th class="product-price">Price</th>
																<th class="product-quantity">Quantity</th>
																<th class="product-subtotal">Total</th>
																<th class="product-remove">Remove</th>
															</tr>
														</thead>
														<tbody>
														<input type="hidden" name="cartcount" value="{{cart|length}}">
															{% for cartItem in cart %}
																<tr>
																	<td class="product-thumbnail  text-left">
																		<!-- Single-product start -->
																		<div class="single-product">
																			<div class="product-img">
																				<a href="single-product.html"><img src="{{cartItem.product.product_image.path}}" alt="" /></a>
																			</div>
																			<div class="product-info">
																				<h4 class="post-title"><a class="text-light-black" href="#">{{cartItem.product.name}}</a></h4>
																				<input type="hidden" name="product[]" value="{{cartItem.product.id}}">
																				<input type="hidden" id="index{{loop.index}}" value="{{loop.index}}">
																				{# <p class="mb-0">Color :  Black</p> #}
																				{# {% if cartItem.product.category.slug == 'bed' %}
																					{% set sizes = cartItem.product.bedsizes %}
																					<select name="size[]" id="">
																						<option value="">Please select a bed size</option>
																						{% for size in sizes %}
																							<option value="{{size.bedsize}}" {% if size.bedsize == cartItem.size %} selected {% endif %}>{{size.bedsize}}</option>
																						{% endfor %}
																					</select>
																				{% elseif cartItem.product.category.slug == 'shoes' %}
																					{% set sizes = cartItem.product.shoesizes %}
																					<select name="size[]" id="">
																						{% for size in sizes %}
																							<option value="{{size.size}}" {% if size.size == cartItem.size %} selected {% endif %}>{{size.size}}</option>
																						{% endfor %}
																					</select>
																				{% endif %} #}
																				
																				{# <p class="mb-0">Size:{{cartItem.size}}</p> #}
																			</div>
																		</div>
																		<!-- Single-product end -->												
																	</td>
																	<td class="product-description">
																		{% set options = cartItem.item_options|json_decode %}
																		{# {{options|raw}} #}
																	{% for key, option in options|cast_to_array %}
																		<p><b>{{key|capitalize}}:</b> {{option}}</p>
																	{% endfor %}
																	</td>
																	<td class="product-price">NGN {{cartItem.product.price|number_format(2, '.', ',')}}</td>
																	<td class="product-quantity">
																		<div class="cart-plus-minus">
																		
																			<input type="text" value="{{cartItem.quantity}}" name="quantity[]" class="cart-plus-minus-box">
																		</div>
																	</td>
																	<td class="product-subtotal">NGN {{cartItem.cost|number_format(2, '.', ',')}} <input type="hidden" name="cartitemtotalcost[]" value="{{cartItem.cost}}"> </td>
																	<input type="hidden" name="cartitemid[]" value={{cartItem.id}}>
																	<td class="product-remove">
																		<a href="#" data-request="onRemoveFromDbCart" data-request-data="cartitemid:{{cartItem.id}}"><i class="zmdi zmdi-close"></i></a>
																	</td>
																</tr>
															{% endfor %}

															{# <tr>
																<td class="product-thumbnail  text-left">
																	<!-- Single-product start -->
																	<div class="single-product">
																		<div class="product-img">
																			<a href="single-product.html"><img src="img/product/12.jpg" alt="" /></a>
																		</div>
																		<div class="product-info">
																			<h4 class="post-title"><a class="text-light-black" href="#">dummy product name</a></h4>
																			<p class="mb-0">Color :  Black</p>
																			<p class="mb-0">Size :     SL</p>
																		</div>
																	</div>
																	<!-- Single-product end -->												
																</td>
																<td class="product-price">$56.00</td>
																<td class="product-quantity">
																	<div class="cart-plus-minus">
																		<input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
																	</div>
																</td>
																<td class="product-subtotal">$112.00</td>
																<td class="product-remove">
																	<a href="#"><i class="zmdi zmdi-close"></i></a>
																</td>
															</tr>
															<tr>
																<td class="product-thumbnail  text-left">
																	<!-- Single-product start -->
																	<div class="single-product">
																		<div class="product-img">
																			<a href="single-product.html"><img src="img/product/6.jpg" alt="" /></a>
																		</div>
																		<div class="product-info">
																			<h4 class="post-title"><a class="text-light-black" href="#">dummy product name</a></h4>
																			<p class="mb-0">Color :  Black</p>
																			<p class="mb-0">Size :     SL</p>
																		</div>
																	</div>
																	<!-- Single-product end -->												
																</td>
																<td class="product-price">$56.00</td>
																<td class="product-quantity">
																	<div class="cart-plus-minus">
																		<input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
																	</div>
																</td>
																<td class="product-subtotal">$112.00</td>
																<td class="product-remove">
																	<a href="#"><i class="zmdi zmdi-close"></i></a>
																</td>
															</tr> #}
															
														</tbody>
														
													</table>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 col-sm-12">
													<tr>
														<button class="button-one submit-button mt-15" data-text="Update Cart" form="cartform">Update Cart</button>
													</tr>
												</div>
											</div>
											<div class="row">
												{# <div class="col-md-6 col-sm-6 col-xs-12">
													<div class="customer-login mt-30">
														<h4 class="title-1 title-border text-uppercase">coupon discount</h4>
														<p class="text-gray">Enter your coupon code if you have one!</p>
														<input type="text" placeholder="Enter your code here.">
														<button type="submit" data-text="apply coupon" class="button-one submit-button mt-15">apply coupon</button>
													</div>
												</div> #}
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="customer-login payment-details mt-30">
														<h4 class="title-1 title-border text-uppercase">payment details</h4>
														<table>
															<tbody>
																<tr>
																	<td class="text-left">Cart Subtotal</td>
																	<td class="text-right">NGN {{total|number_format(2,'.',',')}}</td>
																</tr>
																{# <tr>
																	<td class="text-left">Cart Subtotal</td>
																	<td class="text-right">$15.00</td>
																</tr> #}
																{# <tr>
																	<td class="text-left">Vat</td>
																	<td class="text-right">$00.00</td>
																</tr> #}
																<tr>
																	<td class="text-left">Order Total</td>
																	<td class="text-right">NGN {{total|number_format(2,'.',',')}}</td>
																</tr>
																
															</tbody>
														</table>
													</div>
												</div>
											</div>
											{# <div class="row">
												<div class="col-md-12">
													<div class="customer-login mt-30">
														<h4 class="title-1 title-border text-uppercase">culculate shipping</h4>
														<p class="text-gray">Enter your coupon code if you have one!</p>
														<div class="row">
															<div class="col-md-4 col-sm-4 col-xs-12">
																<input type="text" placeholder="Country">
															</div>
															<div class="col-md-4 col-sm-4 col-xs-12">
																<input type="text" placeholder="Region / State">
															</div>
															<div class="col-md-4 col-sm-4 col-xs-12">
																<input type="text" placeholder="Post code">
															</div>
														</div>
														<button type="submit" data-text="get a quote" class="button-one submit-button mt-15">get a quote</button>
													</div>											
												</div>
											</div> #}
										</form>		
									</div>
									<!-- shopping-cart end -->
									<!-- wishlist start -->
									{# <div class="tab-pane" id="wishlist">
										<form action="#">
											<div class="shop-cart-table">
												<div class="table-content table-responsive">
													<table>
														<thead>
															<tr>
																<th class="product-thumbnail">Product</th>
																<th class="product-price">Price</th>
																<th class="product-stock">stock status</th>
																<th class="product-add-cart">Add to cart</th>
																<th class="product-remove">Remove</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td class="product-thumbnail  text-left">
																	<!-- Single-product start -->
																	<div class="single-product">
																		<div class="product-img">
																			<a href="single-product.html"><img src="img/product/2.jpg" alt="" /></a>
																		</div>
																		<div class="product-info">
																			<h4 class="post-title"><a class="text-light-black" href="#">dummy product name</a></h4>
																			<p class="mb-0">Color :  Black</p>
																			<p class="mb-0">Size : SL</p>
																		</div>
																	</div>
																	<!-- Single-product end -->				
																</td>
																<td class="product-price">$56.00</td>
																<td class="product-stock">in stock</td>
																<td class="product-add-cart">
																	<a class="text-light-black" href="#"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
																</td>
																<td class="product-remove">
																	<a href="#"><i class="zmdi zmdi-close"></i></a>
																</td>
															</tr>
															<tr>
																<td class="product-thumbnail  text-left">
																	<!-- Single-product start -->
																	<div class="single-product">
																		<div class="product-img">
																			<a href="single-product.html"><img src="img/product/12.jpg" alt="" /></a>
																		</div>
																		<div class="product-info">
																			<h4 class="post-title"><a class="text-light-black" href="#">dummy product name</a></h4>
																			<p class="mb-0">Color :  Black</p>
																			<p class="mb-0">Size :     SL</p>
																		</div>
																	</div>
																	<!-- Single-product end -->												
																</td>
																<td class="product-price">$56.00</td>
																<td class="product-stock">in stock</td>
																<td class="product-add-cart">
																	<a class="text-light-black" href="#"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
																</td>
																<td class="product-remove">
																	<a href="#"><i class="zmdi zmdi-close"></i></a>
																</td>
															</tr>
															<tr>
																<td class="product-thumbnail  text-left">
																	<!-- Single-product start -->
																	<div class="single-product">
																		<div class="product-img">
																			<a href="single-product.html"><img src="img/product/6.jpg" alt="" /></a>
																		</div>
																		<div class="product-info">
																			<h4 class="post-title"><a class="text-light-black" href="#">dummy product name</a></h4>
																			<p class="mb-0">Color :  Black</p>
																			<p class="mb-0">Size :     SL</p>
																		</div>
																	</div>
																	<!-- Single-product end -->												
																</td>
																<td class="product-price">$56.00</td>
																<td class="product-stock">in stock</td>
																<td class="product-add-cart">
																	<a class="text-light-black" href="#"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
																</td>
																<td class="product-remove">
																	<a href="#"><i class="zmdi zmdi-close"></i></a>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</form>									
									</div> #}
									<!-- wishlist end -->
									<!-- check-out start -->
									<div class="tab-pane" id="check-out">
										<form data-request="onSubmitCheckout" method="post" id="checkoutform">
											<div class="shop-cart-table check-out-wrap">
												<div class="row">
													<div class="col-md-12 col-sm-12 col-xs-12">
														<div class="billing-details pr-20">
															<h4 class="title-1 title-border text-uppercase mb-30">Billing & Shipping details</h4>
															<input type="text" name="first_name_shipping" placeholder="Your first name here..." value="{{user.name}}">
															<input type="text" name="last_name_shipping" placeholder="Your last name here..." value="{{user.surname}}">
															<input type="text" name="email_shipping" placeholder="Email address here..." value="{{user.email}}">
															<input type="text" name="phone_number_shipping" placeholder="Phone here..." value="{{user.phone_number}}">
															<input type="text" name="address_shipping1" placeholder="Address..." value="{{user.address1}}">
															<input type="text" name="address_shipping2" placeholder="Address..." value="{{user.address2}}">
															<input type="text" name="city_shipping" placeholder="City..." value="{{user.city}}">
															{# <select class="custom-select mb-15">
																<option>Contry</option>
																<option>Bangladesh</option>
																<option>United States</option>
																<option>united Kingdom</option>
																<option>Australia</option>
																<option>Canada</option>
															</select>
															<select class="custom-select mb-15">
																<option>State</option>
																<option>Dhaka</option>
																<option>New York</option>
																<option>London</option>
																<option>Melbourne</option>
																<option>Ottawa</option>
															</select>
															<select class="custom-select mb-15">
																<option>Town / City</option>
																<option>Dhaka</option>
																<option>New York</option>
																<option>London</option>
																<option>Melbourne</option>
																<option>Ottawa</option>
															</select> #}
															
														</div>
													</div>
													{# <div class="col-md-6 col-sm-6 col-xs-12 mt-xs-30">
														<div class="billing-details pl-20">
															<h4 class="title-1 title-border text-uppercase mb-30">ship to different address</h4>
															<input type="text" name="first_name_shipping" placeholder="Your first name here..." value="{{user.name}}">
															<input type="text" name="last_name_shipping" placeholder="Your last name here..." value="{{user.surname}}">
															<input type="text" name="email_shipping" placeholder="Email address here..." value="{{user.email}}">
															<input type="text" name="phone_number_shipping" placeholder="Phone here..." value="{{user.phone_number}}">
															<input type="text" name="address_shipping1" placeholder="Address..." value="{{user.address1}}">
															<input type="text" name="address_shipping2" placeholder="Address..." value="{{user.address2}}">
															<input type="text" name="city_shipping" placeholder="City..." value="{{user.city}}">
															
															<select class="custom-select mb-15">
																<option>Contry</option>
																<option>Bangladesh</option>
																<option>United States</option>
																<option>united Kingdom</option>
																<option>Australia</option>
																<option>Canada</option>
															</select>
															<select class="custom-select mb-15">
																<option>State</option>
																<option>Dhaka</option>
																<option>New York</option>
																<option>London</option>
																<option>Melbourne</option>
																<option>Ottawa</option>
															</select>
															<select class="custom-select mb-15">
																<option>Town / City</option>
																<option>Dhaka</option>
																<option>New York</option>
																<option>London</option>
																<option>Melbourne</option>
																<option>Ottawa</option>
															</select>
															
														</div>
													</div> #}
													<div class="col-md-6 col-sm-6 col-xs-12">
														<div class="our-order payment-details mt-60 pr-20">
															<h4 class="title-1 title-border text-uppercase mb-30">our order</h4>
															<table>
																<thead>
																	<tr>
																		<th><strong>Product</strong></th>
																		<th class="text-right"><strong>Total</strong></th>
																	</tr>
																</thead>
																<tbody>
																	{% for cartItem in cart %}
																		<tr>
																			<td>{{cartItem.product.name}}  x {{cartItem.quantity}}</td>
																			<td class="text-right">NGN {{cartItem.cost|number_format(2,'.',',')}}</td>
																		</tr>
																	{% endfor %}
				
																	<tr>
																		<td>Cart Subtotal</td>
																		<td class="text-right">NGN {{total|number_format(2, '.', ',')}}</td>
																	</tr>
																	{# <tr>
																		<td>Shipping and Handing</td>
																		<td class="text-right">$15.00</td>
																	</tr> #}
																	{# <tr>
																		<td>Vat</td>
																		<td class="text-right">$00.00</td>
																	</tr> #}
																	{% if __SELF__.vat %}
																		{% set vat = __SELF__.vat %}
																	<tr>
																		
																		<td>VAT</td>
																		{% set vatAmount = total * vat / 100 %}
																		<td class="text-right">NGN {{vatAmount|number_format(2, '.', ',')}}</td>
																		{# <td class="text-right">NGN {{total|number_format(2, '.', ',')}}</td> #}
																	</tr>
																	<tr>
																		<td>Order Total</td>
																		{% set totalWithVat = total + vatAmount %}
																		<td class="text-right">NGN {{totalWithVat|number_format(2, '.', ',')}}</td>
																	</tr>

																	{% else %}
																	<tr>
																		<td>Order Total</td>
																		<td class="text-right">NGN {{total|number_format(2, '.', ',')}}</td>
																	</tr>
																	{% endif %}

																	
																</tbody>
															</table>
														</div>
													</div>
													<!-- payment-method -->
													<div class="col-md-6 col-sm-6 col-xs-12">
														<div class="payment-method mt-60  pl-20">
															<h4 class="title-1 title-border text-uppercase mb-30">Available payment method</h4>
															<div class="payment-accordion">
																<!-- Accordion start  -->
																<h3 class="payment-accordion-toggle active">Debit / Credit Card</h3>
																<div class="payment-content default">
																	<p>Make your payment with your debit / credit card.</p>
																	
                                                                    {# <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p> #}
																	{# <a href="#"><img src="{{'assets/marketplace/img/payment/1.png' |theme }}" alt="" /></a> #}
																	{# <a href="#"><img src="{{'assets/marketplace/img/payment/2.png' |theme }}" alt="" /></a> #}
																	<a href="#"><img src="{{'assets/marketplace/img/payment/3.png' |theme }}" alt="" /></a>
																	{# <a href="#"><img src="{{'assets/marketplace/img/payment/4.png' |theme }}" alt="" /></a> #}
																</div> 
																<!-- Accordion end -->
																<!-- Accordion start -->
																{# <h3 class="payment-accordion-toggle">Cheque Payment</h3>
																<div class="payment-content">
																	<p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
																</div> #}
																<!-- Accordion end -->
																<!-- Accordion start -->
																{# <h3 class="payment-accordion-toggle">PayPal</h3>
																<div class="payment-content">
																	<p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
																	<a href="#"><img src="img/payment/1.png" alt="" /></a>
																	<a href="#"><img src="img/payment/2.png" alt="" /></a>
																	<a href="#"><img src="img/payment/3.png" alt="" /></a>
																	<a href="#"><img src="img/payment/4.png" alt="" /></a>
																</div> #}
																<!-- Accordion end --> 
																<button class="button-one submit-button mt-15" data-text="place order" type="submit" form="checkoutform">place order</button>			
															</div>															
														</div>
													</div>
												</div>
											</div>
										</form>											
									</div>
									<!-- check-out end -->
									<!-- order-complete start -->
									<div class="tab-pane" id="order-complete">
										<form action="#">
											<div class="thank-recieve bg-white mb-30">
												<p>Thank you. Your order has been received.</p>
											</div>
											<div class="order-info bg-white text-center clearfix mb-30">
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">order no</h4>
													<p class="text-uppercase text-light-black mb-0"><strong>m 2653257</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">Date</h4>
													<p class="text-uppercase text-light-black mb-0"><strong>june 15, 2016</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">Total</h4>
													<p class="text-uppercase text-light-black mb-0"><strong>$ 170.00</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">payment method</h4>
													<p class="text-uppercase text-light-black mb-0"><a href="#"><strong>check payment</strong></a></p>
												</div>
											</div>
											<div class="shop-cart-table check-out-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6 col-sm-12">
														<div class="our-order payment-details pr-20">
															<h4 class="title-1 title-border text-uppercase mb-30">our order</h4>
															<table>
																<thead>
																	<tr>
																		<th><strong>Product</strong></th>
																		<th class="text-right"><strong>Total</strong></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>Dummy Product Name  x 2</td>
																		<td class="text-right">$86.00</td>
																	</tr>
																	<tr>
																		<td>Dummy Product Name  x 1</td>
																		<td class="text-right">$69.00</td>
																	</tr>
																	<tr>
																		<td>Cart Subtotal</td>
																		<td class="text-right">$155.00</td>
																	</tr>
																	<tr>
																		<td>Shipping and Handing</td>
																		<td class="text-right">$15.00</td>
																	</tr>
																	<tr>
																		<td>Vat</td>
																		<td class="text-right">$00.00</td>
																	</tr>
																	<tr>
																		<td>Order Total</td>
																		<td class="text-right">$170.00</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
													<!-- payment-method -->
													<div class="col-md-6 col-sm-6 col-sm-12 mt-xs-30">
														<div class="payment-method  pl-20">
															<h4 class="title-1 title-border text-uppercase mb-30">payment method</h4>
															<div class="payment-accordion">
																<!-- Accordion start  -->
																<h3 class="payment-accordion-toggle active">Direct Bank Transfer</h3>
																<div class="payment-content default">
																	<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won't be shipped until the funds have cleared in our account.</p>
																</div> 
																<!-- Accordion end -->
																<!-- Accordion start -->
																<h3 class="payment-accordion-toggle">Cheque Payment</h3>
																<div class="payment-content">
																	<p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
																</div>
																<!-- Accordion end -->
																<!-- Accordion start -->
																<h3 class="payment-accordion-toggle">PayPal</h3>
																<div class="payment-content">
																	<p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
																	<a href="#"><img src="img/payment/1.png" alt="" /></a>
																	<a href="#"><img src="img/payment/2.png" alt="" /></a>
																	<a href="#"><img src="img/payment/3.png" alt="" /></a>
																	<a href="#"><img src="img/payment/4.png" alt="" /></a>
																</div>
																<!-- Accordion end --> 
																<button class="button-one submit-button mt-15" data-text="place order" type="submit">place order</button>			
															</div>															
														</div>
													</div>
												</div>
											</div>
										</form>										
									</div>
									<!-- order-complete end -->
								</div>

							</div>
						{% else %}
							<div>
							

								<h5>You have not added any product to the cart - go back to the <a href="/marketplace">marketplace</a> and shop</h5>


								
							</div>
						{% endif%}
						</div>
					</div>
				</div>
			</div>
			<script>
		function handleSubmit() {
			document.forms.checkoutform.cod.value = document.forms.cod.cod.value;
			document.forms.checkoutform.submit();
		}
</script>

<script>
$(document).ready(function(){

  if(window.location.hash != "") {
      $('a[href="' + window.location.hash + '"]').click()
  }

});
</script>