           <a href="{{'cart'|page}}" class="js-menu-cart">
                        <i class="fa fa-cart"></i>
                        <span class="btx-menu-cart-count">{%if cart %}{{cart|length}}{% else %}0{% endif %}</span>
                    </a>
                    <div class="btx-cart-box btx-s-bg-bg" style="display: block;">
                        <div class="widget_shopping_cart">
                            <div class="widget_shopping_cart_content">
                                    {% if cart %}
                                        <table class="mini-cart"><tr><th>Product</th><th>Quantity</th><th>Cost</th></tr>
                                        {# {% for productKey in cart %} #}
                                            {% for cartItem in cart %}
                                                <tr><td>{{cartItem.product}}</td><td>{{cartItem.quantity|raw}}</td><td>{{cartItem.cost|raw}}</td></tr>
                                            {% endfor %}
                                        {# {% endfor %} #}
                                       </table>
                                       <b>Total cost</b> {{cartTotal}}
                                       <a href="/cart">View Cart</a> <a href="/checkout">Checkout</a>
                                    {% else %}
                                        <p class="woocommerce-mini-cart__empty-message">No products in the cart.</p>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                