{% set total = __SELF__.total %}
<div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>
<section class="shopping-cart">
		<!-- .shopping-cart -->
        <form class="woocommerce-cart-form" data-request="onCartUpdate" method="post" id="#myCart_form">
		<div class="container">
			
			{% if cart is not empty %}
				<div class="col-md-8">
					<div style="border: 1px solid #e1e8ed; border-radius:10px 10px 0 0;">
						<div style=" padding:20px; background:#dedede; border: none; border-radius:10px 10px 0 0;" >
							<a href="/prints" class="button grey">Continue Shopping</a>
							<span style="padding:5px">You have {{cart|length}} item(s) in your cart</span>
							<a href="" class="button grey">Update Cart</a>
							<a href="" class="button darkgrey">Empty Cart</a>
						</div>
						{% for cartItem in cart %}
							<div style="display:inline-block">
								<div class="col-sm-4 col-md-4">
									<img src="{{cartItem.product_image}}" alt="13">
								</div>
								<div class="col-sm-8 col-md-8" style="margin-top:40px;">
									<h3>{{cartItem.product}}</h3>
									<p>{{cartItem.description}}</p>
									<p>
										<strong>NGN {{cartItem.price}}</strong> X
										<input type="number" name="quantity[]" min="1" max="500" value="{{cartItem.quantity}}">
									</p>
									Total: <strong>NGN {{cartItem.cost}}</strong> |
									<span class="red">
										<a href="#" class="remove" aria-label="Remove this item" data-request="onRemoveFromCart" data-request-data="product:{{cartItem.id}}">Remove Item</a>
										<input type="hidden" name="products[]" value="{{cartItem.slug}}">							
									</span>
									{# <div class="pro-text">
										<a href="#">{{cartItem.product}} x {{cartItem.quantity|raw}}</a>
										<div class="close">x</div>
										<strong>NGN {{cartItem.cost|raw}}</strong>
									</div> #}
								</div>
								<hr>
							</div>	
						{% endfor %}
					</div>
					
				</div>
			

			<div class="col-md-4" style="text-align:center">
				<div style="display:inline-block; border: 1px solid #e1e8ed; border-radius:4px; padding:45px;">
					<h4>Your Cart Total</h4>
					<h2>NGN {{total + 1000 }}</h2>
					<div style="margin-top:50px;">
						<a href="" class="button red" style="padding:20px 40px; ">CHECKOUT</a>
					</div>
					
				</div>
				
			
			</div>

			{% else %}
				<div class="col-md-12">
					<h3>You do not have any items in your cart</h3>
					<div style="margin-top:50px;">
						<a href="/prints" class="button red" >Go Shopping</a>
					</div>
				</div>
			{% endif %}
		</div>
        </form>
		<!-- /.shopping-cart -->
	</section>