{% set shippingCost = 1000 %}
{% set dbCart = __SELF__.dbCart %}
{% set dbCartTotal = __SELF__.dbCartTotal %}
{# <div id="minicart"> #}

<div class="col-sm-4 col-xs-5">
                    <div class="mini-cart text-right">
                        <ul>
                            <li>
                                <a class="cart-icon" href="/marketplace/cart">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                    <span>{{dbCart|length}}</span>
                                </a>
                                <div class="mini-cart-brief text-left">
                                    <div class="cart-items">
                                        <p class="mb-0">You have <span>{{dbCart|length}} item(s)</span> in your shopping bag</p>
                                    </div>
                                    <div class="all-cart-product clearfix">
                                        {% for cartItem in dbCart %}
                                            <div class="single-cart clearfix">
                                                <div class="cart-photo">
                                                    <a href="{{'new-single-product'|page({'product-slug':cartItem.product.slug}) }}"><img src="{{cartItem.product.product_image.path}}" alt="" /></a>
                                                </div>
                                                <div class="cart-info">
                                                    <h5><a href="{{'new-single-product'|page({'product-slug':cartItem.product.slug}) }}">{{cartItem.product.name}}</a></h5>
                                                    <p class="mb-0">Price : NGN {{cartItem.cost|number_format(2,',','.')}}</p>
                                                    <p class="mb-0">Qty : {{cartItem.quantity|raw}} </p>
                                                    {# <span class="cart-delete"><a href="#"><i class="zmdi zmdi-close"></i></a></span> #}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="cart-totals">
                                        <h5 class="mb-0">Total <span class="floatright">NGN {{dbCartTotal|number_format(2,',','.')}}</span></h5>
                                    </div>
                                    <div class="cart-bottom  clearfix">
                                        <a href="{{'/marketplace/cart'}}" class="button-one floatleft text-uppercase" data-text="View cart">View cart</a>
                                        {# <a href="{{'/checkout'}}" class="button-one floatright text-uppercase" data-text="Check out">Check out</a> #}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>