{% set total = __SELF__.dbCartTotal %}
{% set cart = __SELF__.dbCart %}
<div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>
<section class="shopping-cart">
		<!-- .shopping-cart -->
        <form class="woocommerce-cart-form" data-request="onCartUpdate" method="post" id="#myCart_form">
		<div class="container">
			
			{% if cart is not empty %}
				<div class="col-md-8">
					<div style="border: 1px solid #e1e8ed; border-radius:10px 10px 0 0;">
						<div style=" padding:13px; background:#bcbcbc; border: none; border-radius:10px 10px 0 0;" >
							
							<span style="padding:5px">You have {{cart|length}} item(s) in your cart</span>
							<a href="/marketplace" class="button darkgrey">Continue Shopping</a>
							<a href="" class="button darkgrey" data-request="onEmptyDbCart" >Empty Cart</a>
						</div>
						<input type="hidden" name="cartcount" value="{{cart|length}}">
						{% for cartItem in cart %}
							
							<input type="hidden" name="cartitemid[]" value="{{cartItem.id}}">
							<div style="display:inline-block">
								<div class="col-sm-4 col-md-4" style="padding-top:35px">
									<img class="cartthumb" src="{{cartItem.product.product_image.path}}" alt="13">
								</div>
								<div class="col-sm-8 col-md-8" style="padding-top:20px">
									<h4>{{cartItem.product.name}} <span class="red" style="font-size:12px; font-weight:100">|<a href="#" class="remove" aria-label="Remove this item" data-request="onRemoveFromDbCart" data-request-data="cartitemid:{{cartItem.id}}"> Remove Item </a></span></h4>
									
									<div>
										<input type="hidden" name="product[]" value="{{cartItem.product.id}}">
										<input type="hidden" id="index{{loop.index}}" value="{{loop.index}}">
										<span class="finalprice{{loop.index}}"><span data-price="{{cartItem.product.price}}">NGN {{cartItem.product.price|number_format(2, '.', ',')}}</span></span> X
										<span class="quantity"><input type="number" class="quantity{{loop.index}}" data-index="{{loop.index}}" name="quantity[]" min="1" max="10" style="width:50px !important" value="{{cartItem.quantity}}" onchange="getQuantityIndex(this.value, {{loop.index}})"></span>
										=> <strong class="itemtotalcost{{loop.index}}" >NGN {{cartItem.cost|number_format(2, '.', ',')}} <input type="hidden" name="cartitemtotalcost[]" value="{{cartItem.cost}}"></strong>
									</div>
									

									
									{# <div class="pro-text">
										<a href="#">{{cartItem.product}} x {{cartItem.quantity|raw}}</a>
										<div class="close">x</div>
										<strong>NGN {{cartItem.cost|raw}}</strong>
									</div> #}
								</div>
								<hr>
							</div>	
						{% endfor %}
					</div>
					
				</div>
			

			<div class="col-md-4" style="text-align:center; " >
				<div style="display:inline-block; border: 1px solid #e1e8ed; border-radius:4px; padding:45px; background-color: #222">
					<h4 style="color:#fff">Your Cart Total</h4>
					
					{% set newTotal = total %}
					<h2 style="color:#fff">NGN {{newTotal|number_format(2, '.', ',')}}</h2>
					<span style="color:#fff !important; font-size:12px"><strong>Update cart</strong> if you made any changes to your cart before checking out</span>
					<div style="margin-top:50px;" style="color: #fff !important">
						<a href="" class="button red" style="padding:20px 40px; color:#fff !important; border-color:#fff" data-request="onDBCartUpdate" >Update Cart</a>
					</div>
					<div style="margin-top:50px;" style="color: #fff !important">
						{% if user %}
							<a href="/checkout" class="button red" style="padding:20px 40px; color:#fff !important; border-color:#fff">CHECKOUT</a>
						{% else %}
							<a href="#" data-toggle="modal" data-target="#logRegModal" class="button red" style="padding:20px 40px; color:#fff !important; border-color:#fff">CHECKOUT</a>
						{% endif %}
					</div>
					
				</div>
				
			
			</div>

			{% else %}
				<div class="col-md-12">
					<h3>You do not have any items in your cart</h3>
					<div style="margin-top:50px;">
						<a href="/marketplace" class="button red" >Go Shopping</a>
					</div>
				</div>
			{% endif %}
		</div>
        </form>
		<!-- /.shopping-cart -->
	</section>

	