{% set ratingsAndComments = __SELF__.ratingsAndComments %}
{% set numberOfRatingsAndComments = __SELF__.numberOfRatingsAndComments %}
{% for ratingsAndComment in ratingsAndComments%}
<tr>
	<!-- <td>
		<div class="inline-block blog-comment-photo">
			<img src="media/100x100/blog-com1.jpg" alt="wd">
		</div>
	</td> -->
	<td>
		<div class="inline-block">
			<div class="font14 color333 l-h-1em"><b>{{ratingsAndComment.user.name}}</b></div>
			<div class="comment-raiting font13 semibold color777">
				<div class="rait-numb font13 colorfff"><b>{{((ratingsAndComment.rating_service+ratingsAndComment.rating_quality+ratingsAndComment.rating_pricing)/3)|round(1,'floor')}}</b></div>
				<div class="rait-serv">
					Service | {{ratingsAndComment.rating_service}}/5<br />
					<ul class="list-styles raitings-stars inl-flex">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_service|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_service|round(0,'floor')))}}
					</ul>
					
				</div>
				<div class="rait-qual">
					Quality | {{ratingsAndComment.rating_quality}}/5<br />
					<ul class="list-styles raitings-stars inl-flex">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_quality|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_quality|round(0,'floor')))}}
					</ul>
				</div>
				<div class="rait-price">
					Pricing | {{ratingsAndComment.rating_pricing}}/5<br />
					<ul class="list-styles raitings-stars inl-flex">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_pricing|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_pricing|round(0,'floor')))}}
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>{{ratingsAndComment.comments}}
			</div>
			<!-- <div class="font11 semibold color333 top10">Posted 2 days ago <a href="#">REPLY</a></div> -->
		</div>
	</td>
</tr>
{% endfor %}