{% set ratingsAndComments = DisplayCommentsAndRatings.ratingsAndComments %}
{% set numberOfRatingsAndComments = DisplayCommentsAndRatings.numberOfRatingsAndComments %}

{% if ratingsAndComments is empty %}
	<div>
		<br>
		<p>There are no comments for this artisan at the moment. Be the first to rate</p>
	</div>
{% else %}
	{% for ratingsAndComment in ratingsAndComments %}
<ul class="comments">
    <h5>{{ratingsAndComments|length}} comment(s) for this artisan</h5>
    <li>
        <div class="comment">
            <div class="comment-author">
                <a href="#" style="background-image: url({{'assets/img/tmp/profile-3.jpg'|theme}});"></a>
            </div>
            <!-- /.comment-author -->

            <div class="comment-content">
                <div class="comment-meta">
                    <div class="comment-meta-author">
                    Posted by {{ratingsAndComment.user.name}}
                        <span>
                            <ul class="list-styles raitings-stars p-left10 inl-flex" style="margin-left:10px">
                                {{'<li><i class="fa fa-star"></i></li>' | str_repeat(((ratingsAndComment.rating_service+ratingsAndComment.rating_quality+ratingsAndComment.rating_pricing)/3)|round(1,'floor')) }}
                                {{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5 - ((ratingsAndComment.rating_service+ratingsAndComment.rating_quality+ratingsAndComment.rating_pricing)/3)|round(1,'floor')) }}
                            </ul>
                        </span>
                    </div>
                    <!-- /.comment-meta-author -->

                    {# <div class="comment-meta-reply">
                        <a href="#">Reply</a>
                    </div> #}

                    {# <div class="comment-meta-date">
                        <span>8:54 PM 11/23/2016</span>
                    </div> #}
                </div>
                <!-- /.comment -->

                <div class="comment-body">
					<td>
		<div class="inline-block">
			<div class="font14 color333 l-h-1em"><b></b></div>
			<div class="comment-raiting font13 semibold color777">
				{# <div class="rait-numb font13 colorfff"><b>{{((ratingsAndComment.rating_service+ratingsAndComment.rating_quality+ratingsAndComment.rating_pricing)/3)|round(1,'floor')}}</b></div> #}
				<div class="rait-serv">
					Service | {{ratingsAndComment.rating_service}}/5<br />
					<ul class="list-styles raitings-stars inl-flex" style="margin-left:0px">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_service|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_service|round(0,'floor')))}}
					</ul>
					
				</div>
				<div class="rait-qual">
					Quality | {{ratingsAndComment.rating_quality}}/5<br />
					<ul class="list-styles raitings-stars inl-flex" style="margin-left:0px">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_quality|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_quality|round(0,'floor')))}}
					</ul>
				</div>
				<div class="rait-price">
					Pricing | {{ratingsAndComment.rating_pricing}}/5<br />
					<ul class="list-styles raitings-stars inl-flex" style="margin-left:0px">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_pricing|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_pricing|round(0,'floor')))}}
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>
			</div>
			<!-- <div class="font11 semibold color333 top10">Posted 2 days ago <a href="#">REPLY</a></div> -->
		</div>
	</td>
                    {# <div class="comment-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div> #}

                    <!-- /.comment-rating -->

                    {{ratingsAndComment.comments}}
                </div>
                <!-- /.comment-body -->
            </div>
            <!-- /.comment-content -->
        </div>
        <!-- /.comment -->
    </li>
{% endfor %}
</ul>
{% endif %}
