{% set allCategories = __SELF__.allCategories %}

<div class="row h-third-row">
	<div class="m1170 p-relative h250">
		<div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
			Artisan Category Directory
			<div class="h-current-page">
				<a href="{{'home'|page}}" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Directory
			</div>
		</div>
	</div>
</div>
<section>

	<div class="wrapper">

	{% for category in allCategories %}
		<div class="box"><a href="{{'category-artisans'|page({'slug':category.slug})}}" >{{category.category_name}}</a></div>
	{% endfor %}
		
	</div>

</section>