{% set allCategories = __SELF__.allPremiumCategories %}
{% for category in allCategories %}
    <div class="col-sm-3">
        <div class="box-small center">
            <a href="{{'premium-category-artisans'|page({'slug':category.slug})}}">{{str_limit(category.category_name, 26)}}</a>
        </div>
    </div>
{% endfor %}