title = "Artisan Gallery"
url = "/find-artisan/artisan/:slug/gallery"
layout = "default"
is_hidden = 0
[ArtisanDetails]
==
{% set artisan = ArtisanDetails.artisan %}

<div class="main">
				<div class="main-inner">


					<div class="content">
						<div class="content-title">
							<div class="container">
                                <h4 style="text-transform:capitalize"><a href="{{'artisan'|page({'slug':artisan.slug})}}">{{artisan.company_name}}</a>'s Gallery</h4>
                                <div class="row">
                                    {% if artisan.premium_gallery %}
                                    {% for image in artisan.premium_gallery|slice(0,7) %}
                                        <div class="col-md-3">
                                            <div class="product" style="height:200px;">
                                                <img src="{{image.path}}" width="200" alt="">
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                        <p>There are no images ot display</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>