title = "Artisan products"
url = "/find-artisan/artisan/:slug/products"
layout = "default"
is_hidden = 0

[ArtisanDetails]
==
{% set artisan = ArtisanDetails.artisan %}
<div class="main">
    <div class="main-inner">
        <div class="content">
            <div class="content-title">
                <div class="container">
                    <h4 style="text-transform:capitalize"><a href="{{'artisan'|page({'slug':artisan.slug})}}">{{artisan.company_name}}</a>'s Products</h4>
                    <div class="row">
                    {% if artisan.products %}
                        {% for product in artisan.products %}
                            <div class="col-md-3">
                                <div class="product" style="height:200px;">
                                    <a href="{{'single-product'|page({'slug':artisan.slug, 'product-slug':product.slug})}}">
                                        <img src="{{product.product_image.path}}" width="200" alt="">
                                    </a>
                                </div>
                                <a href="{{'single-product'|page({'slug':artisan.slug, 'product-slug':product.slug})}}">
                                    <p style="margin-bottom:5px; text-transform:capitalize">{{product.name}}</p>
                                </a>
                                <span>NGN {{product.price|number_format(2, '.', ',')}}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>There are no products to display</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>