title = "My account"
url = "/artisan-account"
layout = "dashboardLayout2"
is_hidden = 0

[session]
[account]
[ArtisanDashboard]

security = "user"
redirect = "register"
==

{% set artisan = ArtisanDashboard.loggedInArtisan %}



<div class="row">
    <div class="col-xs-6">
       
        <div class="admin-box">
            <p><strong>State: </strong>{{artisan.state.state_name}}</p>
            <p><strong>City: </strong>{{artisan.city.city_name}}</p>
            <p><strong>Area: </strong>{{artisan.area.area_name}}</p>
            <p><strong>Address: </strong>{{artisan.address}}</p>
            <p><strong>Phone number: </strong>{{artisan.phone_number}}</p>
        </div>
        
    </div>
    <div class="col-xs-6">
        <div class="admin-box">
            <p><strong>Category: </strong>{{artisan.category.category_name}}</p>
            <p><strong>Association: </strong>{{artisan.association.association_name}}</p>
            <p><strong>Description: </strong>{{artisan.description}}</p>
        </div>
    </div>
    <div class="col-xs-6">
        <img src="{{artisan.artisan_image.path}}" class="img img-responsive" alt="">
         <a href="{{'settings'|page}}">Edit Info</a>
    </div>
</div>

{# 
<div class="admin-stats">
	<div class="row">


		<div class="col-xs-12 col-lg-6 col-xl-3">
			<div class="admin-stat lime">
				<div class="admin-stat-icon">
					<i class="md-icon">shopping_cart</i>
				</div><!-- /.admin-stat-icon -->

				<div class="admin-stat-content">
					<h2>All Orders</h2>
					<h3>{{user.orders|length}}</h3>
				</div><!-- /.admin-stat-content -->
			</div><!-- /.admin-stat -->
		</div><!-- /.col-* -->

		<div class="col-xs-12 col-lg-6 col-xl-3">
			<div class="admin-stat blue">
				<div class="admin-stat-icon">
					<i class="md-icon">departure_board</i>
				</div><!-- /.admin-stat-icon -->

				<div class="admin-stat-content">
					<h2>Awaiting Delivery</h2>
					<h3></h3>
				</div><!-- /.admin-stat-content -->
			</div><!-- /.admin-stat -->
		</div><!-- /.col-* -->

		<div class="col-xs-12 col-lg-6 col-xl-3">
			<div class="admin-stat purple">
				<div class="admin-stat-icon">
					<i class="md-icon">favorite</i>
				</div><!-- /.admin-stat-icon -->

				<div class="admin-stat-content">
					<h2>Liked Prints</h2>
					<h3>{{user.likes|length}}</h3>
				</div><!-- /.admin-stat-content -->
			</div><!-- /.admin-stat -->
		</div><!-- /.col-* -->

        {% if user.type_id == 2 %}				
		<div class="col-xs-12 col-lg-6 col-xl-3">
			<div class="admin-stat brown">
				<div class="admin-stat-icon">
					<i class="md-icon">message</i>
				</div><!-- /.admin-stat-icon -->

				<div class="admin-stat-content">
					<h2>My Prints</h2>
					<h3>{{user.prints|length}}</h3>
				</div><!-- /.admin-stat-content -->
			</div><!-- /.admin-stat -->
		</div><!-- /.col-* -->
        {% endif %}
	</div><!-- /.row -->
</div><!-- /.admin-stats -->


<div class="row">
    <div class="col-lg-12 col-xl-7">

        {% if user.type_id == 2 %}
        <div class="admin-box no-padding">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">Prints Waiting For Approval</th>
                    </tr>
                </thead>

                <tbody>
                    {% for print in prints %} {% if print.published %}
                    <tr>
                        <td>
                            <a href="#">
                                <img src="{{print.product_image.path}}" alt=""> {{print.product_name}}</a>
                        </td>
                    </tr>
                    {% endif %} {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            <a href="#">Show Full List
                                <i class="md-icon">keyboard_arrow_right</i>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% endif %}
        <!-- /.admin-box -->

      

      

        <div class="admin-box no-padding">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">Processed Orders</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /.col-* -->

    <div class="col-lg-12 col-xl-5">
        <div class="admin-box">
            <div class="admin-posts">
                <h6>Orders Waiting To Be Processed</h6>


            </div>
            <!-- /.admin-posts -->
        </div>
        <!-- /.admin-box -->
    </div>
    <!-- /.col-* -->
</div>
<!-- /.admin-box --> #}
