title = "Blog"
url = "/blog/:page?"
layout = "default"
is_hidden = "0"
[HomeArtisans]
==



<div class="main">
    <div class="main-inner">

        <div class="content-title">
            <div class="container">
                <h1>Recent Posts</h1>

                <ul class="breadcrumb">
                    <li><a href="/">Home</a> <i class="md-icon">keyboard_arrow_right</i></li>


                    <li class="active">Recent Posts</li>

                </ul><!-- /.breadcrumb -->
            </div><!-- /.container -->
        </div><!-- /.content-title -->


        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="content">
                        <div class="container push-top-bottom">
                            <div class="posts">

                                
                                 {% partial 'site/posts2' %}

                                {# <div class="post">
                                    <div class="post-date">
                                        <strong>28</strong>
                                        <span>Mar</span>
                                    </div>

                                    <div class="post-image">
                                        <a href="blog-detail.html" class="post-image-link" style="background-image: url('assets/img/tmp/hero.jpg');"></a>

                                        <div class="post-author">
                                            <span class="post-author-image">
                                                <a href="blog-detail.html" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>
                                            </span><!-- /.post-author-image -->

                                            <a href="blog-detail.html">
                                                <span class="post-author-name">Alice Sharp</span>
                                            </a>
                                        </div><!-- /.post-author -->
                                    </div><!-- /.post-image -->

                                    <div class="post-title">
                                        <h2><a href="blog-detail.html">Praesent mollis arcu eget condimentum gravida</a></h2>
                                    </div><!-- /.post-title -->

                                    <div class="post-meta">
                                        <div class="post-meta-item">
                                            Posted by <a href="blog-detail.html">admin</a>
                                        </div><!-- /.post-meta-item -->

                                        <div class="post-meta-item">
                                            <i class="fa fa-calendar"></i> 3/28/2016
                                        </div><!-- /.post-meta-item -->

                                        <div class="post-meta-item">
                                            <i class="fa fa-comment"></i> <a href="blog-detail.html">3 comments</a>
                                        </div><!-- /.post-meta-item -->
                                    </div><!-- /.post-meta -->

                                    <div class="post-content">
                                        <p>
                                            In accumsan fermentum massa, vel tincidunt metus condimentum a. Nunc et
                                            aliquam ipsum. Nulla laoreet felis diam, sed blandit libero sollicitudin
                                            nec. Morbi eget risus id ligula ullamcorper tempor. Fusce magna dui,
                                            venenatis sed mollis vel, venenatis et turpis. Vivamus ac aliquam urna.
                                            Etiam malesuada massa nec purus euismod, non faucibus lorem condimentum.
                                            Aliquam erat volutpat.
                                        </p>
                                    </div><!-- /.post-content -->

                                    <div class="post-read-more">
                                        <a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a>
                                    </div><!-- /.post-read-more -->
                                </div><!-- /.post-->

                                <div class="post">
                                    <div class="post-date">
                                        <strong>28</strong>
                                        <span>Mar</span>
                                    </div>

                                    <div class="post-image">
                                        <a href="blog-detail.html" class="post-image-link" style="background-image: url('assets/img/tmp/hero.jpg');"></a>

                                        <div class="post-author">
                                            <span class="post-author-image">
                                                <a href="blog-detail.html" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>
                                            </span><!-- /.post-author-image -->

                                            <a href="blog-detail.html">
                                                <span class="post-author-name">Alice Sharp</span>
                                            </a>
                                        </div><!-- /.post-author -->
                                    </div><!-- /.post-image -->

                                    <div class="post-title">
                                        <h2><a href="blog-detail.html">Praesent mollis arcu eget condimentum gravida</a></h2>
                                    </div><!-- /.post-title -->

                                    <div class="post-meta">
                                        <div class="post-meta-item">
                                            Posted by <a href="blog-detail.html">admin</a>
                                        </div><!-- /.post-meta-item -->

                                        <div class="post-meta-item">
                                            <i class="fa fa-calendar"></i> 3/28/2016
                                        </div><!-- /.post-meta-item -->

                                        <div class="post-meta-item">
                                            <i class="fa fa-comment"></i> <a href="blog-detail.html">3 comments</a>
                                        </div><!-- /.post-meta-item -->
                                    </div><!-- /.post-meta -->

                                    <div class="post-content">
                                        <p>
                                            In accumsan fermentum massa, vel tincidunt metus condimentum a. Nunc et
                                            aliquam ipsum. Nulla laoreet felis diam, sed blandit libero sollicitudin
                                            nec. Morbi eget risus id ligula ullamcorper tempor. Fusce magna dui,
                                            venenatis sed mollis vel, venenatis et turpis. Vivamus ac aliquam urna.
                                            Etiam malesuada massa nec purus euismod, non faucibus lorem condimentum.
                                            Aliquam erat volutpat.
                                        </p>
                                    </div><!-- /.post-content -->

                                    <div class="post-read-more">
                                        <a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a>
                                    </div><!-- /.post-read-more -->
                                </div><!-- /.post-->

                                <div class="post">
                                    <div class="post-date">
                                        <strong>28</strong>
                                        <span>Mar</span>
                                    </div>

                                    <div class="post-image">
                                        <a href="blog-detail.html" class="post-image-link" style="background-image: url('assets/img/tmp/hero.jpg');"></a>

                                        <div class="post-author">
                                            <span class="post-author-image">
                                                <a href="blog-detail.html" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>
                                            </span><!-- /.post-author-image -->

                                            <a href="blog-detail.html">
                                                <span class="post-author-name">Alice Sharp</span>
                                            </a>
                                        </div><!-- /.post-author -->
                                    </div><!-- /.post-image -->

                                    <div class="post-title">
                                        <h2><a href="blog-detail.html">Praesent mollis arcu eget condimentum gravida</a></h2>
                                    </div><!-- /.post-title -->

                                    <div class="post-meta">
                                        <div class="post-meta-item">
                                            Posted by <a href="blog-detail.html">admin</a>
                                        </div><!-- /.post-meta-item -->

                                        <div class="post-meta-item">
                                            <i class="fa fa-calendar"></i> 3/28/2016
                                        </div><!-- /.post-meta-item -->

                                        <div class="post-meta-item">
                                            <i class="fa fa-comment"></i> <a href="blog-detail.html">3 comments</a>
                                        </div><!-- /.post-meta-item -->
                                    </div><!-- /.post-meta -->

                                    <div class="post-content">
                                        <p>
                                            In accumsan fermentum massa, vel tincidunt metus condimentum a. Nunc et
                                            aliquam ipsum. Nulla laoreet felis diam, sed blandit libero sollicitudin
                                            nec. Morbi eget risus id ligula ullamcorper tempor. Fusce magna dui,
                                            venenatis sed mollis vel, venenatis et turpis. Vivamus ac aliquam urna.
                                            Etiam malesuada massa nec purus euismod, non faucibus lorem condimentum.
                                            Aliquam erat volutpat.
                                        </p>
                                    </div><!-- /.post-content -->

                                    <div class="post-read-more">
                                        <a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a>
                                    </div><!-- /.post-read-more -->
                                </div><!-- /.post-->

                                <div class="post">
                                    <div class="post-date">
                                        <strong>28</strong>
                                        <span>Mar</span>
                                    </div>

                                    <div class="post-image">
                                        <a href="blog-detail.html" class="post-image-link" style="background-image: url('assets/img/tmp/hero.jpg');"></a>

                                        <div class="post-author">
                                            <span class="post-author-image">
                                                <a href="blog-detail.html" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>
                                            </span><!-- /.post-author-image -->

                                            <a href="blog-detail.html">
                                                <span class="post-author-name">Alice Sharp</span>
                                            </a>
                                        </div><!-- /.post-author -->
                                    </div><!-- /.post-image -->

                                    <div class="post-title">
                                        <h2><a href="blog-detail.html">Praesent mollis arcu eget condimentum gravida</a></h2>
                                    </div><!-- /.post-title -->

                                    <div class="post-meta">
                                        <div class="post-meta-item">
                                            Posted by <a href="blog-detail.html">admin</a>
                                        </div><!-- /.post-meta-item -->

                                        <div class="post-meta-item">
                                            <i class="fa fa-calendar"></i> 3/28/2016
                                        </div><!-- /.post-meta-item -->

                                        <div class="post-meta-item">
                                            <i class="fa fa-comment"></i> <a href="blog-detail.html">3 comments</a>
                                        </div><!-- /.post-meta-item -->
                                    </div><!-- /.post-meta -->

                                    <div class="post-content">
                                        <p>
                                            In accumsan fermentum massa, vel tincidunt metus condimentum a. Nunc et
                                            aliquam ipsum. Nulla laoreet felis diam, sed blandit libero sollicitudin
                                            nec. Morbi eget risus id ligula ullamcorper tempor. Fusce magna dui,
                                            venenatis sed mollis vel, venenatis et turpis. Vivamus ac aliquam urna.
                                            Etiam malesuada massa nec purus euismod, non faucibus lorem condimentum.
                                            Aliquam erat volutpat.
                                        </p>
                                    </div><!-- /.post-content -->

                                    <div class="post-read-more">
                                        <a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a>
                                    </div><!-- /.post-read-more -->
                                </div><!-- /.post--> #}

                            </div><!-- /.posts-->

                            {# <nav class="pagination-wrapper">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="#">1</a>
                                    </li>

                                    <li class="page-item active">
                                        <a class="page-link" href="#">2</a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav> #}
                        </div><!-- /.container -->
                    </div><!-- /.content -->
                </div><!-- /.col-* -->

                <div class="col-md-4 col-lg-3">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widgettitle">Recent Listings</h2>

                            <div class="cards-small-wrapper">

                                {% partial 'HomeArtisans::blog-artisans' %}

                                {# <div class="card-small">
                                    <div class="card-small-image">
                                        <a href="#" style="background-image: url('assets/img/tmp/card-1.jpg');"></a>
                                    </div><!-- /.card-small-image -->

                                    <div class="card-small-content">
                                        <h3><a href="listing-detail.html">Piano Lessons For Beginners</a></h3>
                                        <h4><a href="listing-detail.html">Education</a></h4>
                                    </div><!-- /.card-small-content -->
                                </div><!-- /.card-small -->

                                <div class="card-small">
                                    <div class="card-small-image">
                                        <a href="#" style="background-image: url('assets/img/tmp/card-3.jpg');"></a>
                                    </div><!-- /.card-small-image -->

                                    <div class="card-small-content">
                                        <h3><a href="listing-detail.html">Delicious Ocean Restaurant</a></h3>
                                        <h4><a href="listing-detail.html">Restaurant</a></h4>
                                    </div><!-- /.card-small-content -->
                                </div><!-- /.card-small -->

                                <div class="card-small">
                                    <div class="card-small-image">
                                        <a href="#" style="background-image: url('assets/img/tmp/card-4.jpg');"></a>
                                    </div><!-- /.card-small-image -->

                                    <div class="card-small-content">
                                        <h3><a href="listing-detail.html">Healthy Breakfast</a></h3>
                                        <h4><a href="listing-detail.html">Food &amp; Drink</a></h4>
                                    </div><!-- /.card-small-content -->
                                </div><!-- /.card-small --> #}

                            </div><!-- /.cards-small-wrapper -->
                        </div><!-- /.widget -->

                        {# <div class="widget">
                            <h2 class="widgettitle">Reviews</h2>

                            <div class="reviews">

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">See H. Oceguera</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star</i><i class="md-icon">star_border</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-2.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Claude M. Tinsley</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star</i><i class="md-icon">star</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-3.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Diedre S. Coleman</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star_border</i><i class="md-icon">star_border</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-4.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">John K. Olvera</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star_half</i><i class="md-icon">star_border</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-5.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Wayne S. Hernandez</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star</i><i class="md-icon">star</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-6.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Charles B. Stocks</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star_border</i><i class="md-icon">star_border</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                                <div class="review">
                                    <a href="#" class="review-user" style="background-image: url('assets/img/tmp/profile-7.jpg');"></a>

                                    <div class="review-content">
                                        <h3><a href="listing-detail.html">Micheal S. Haynes</a></h3>
                                        <div class="review-rating"><i class="md-icon">star</i><i class="md-icon">star</i><i
                                                class="md-icon">star</i><i class="md-icon">star_border</i><i class="md-icon">star_half</i></div><!-- /.review-rating -->
                                    </div><!-- /.review-content -->
                                </div><!-- /.review -->

                            </div><!-- /.reviews -->
                        </div><!-- /.widget --> #}

                        <div class="widget">
                            <h2 class="widgettitle">Navigation</h2>
                            {% partial 'site/blog-navigation' %}
                            {# <ul class="menu nav nav-stacked">
                                <li class="nav-item">
                                    <a href="listings.html" class="nav-link">Listings</a>
                                </li>

                                <li class="nav-item">
                                    <a href="blog.html" class="nav-link">Blog</a>
                                </li>

                                <li class="nav-item">
                                    <a href="admin-dashboard.html" class="nav-link">Dashboard</a>
                                </li>

                                <li class="nav-item">
                                    <a href="submit.html" class="nav-link">Upoad Listing</a>
                                </li>
                            </ul><!-- /.nav --> #}
                        </div><!-- /.widget -->
                    </div><!-- /.sidebar -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->

