title = "Categories"
url = "/categories"
layout = "default"
description = "Artisan Directory"
is_hidden = 0

[builderList]
modelClass = "Jambolo\Artisans\Models\ArtisanCategory"
scope = "-"
displayColumn = "category_name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[FullCategoryList]
==


<div class="main">
				<div class="main-inner">


					<div class="content">
						<div class="content-title">
							<div class="container">
								<h1>Directory</h1>

								<ul class="breadcrumb">
									<li>
										<a href="{{'/'}}">Home</a>
										<i class="md-icon">keyboard_arrow_right</i>
									</li>
									<li class="active">Directory</li>
								</ul>
								<!-- /.breadcrumb -->
							</div>
							<!-- /.container -->
						</div>
						<!-- /.content-title -->
						<div class="container push-top-bottom">
							<div class="row">
								{% partial 'FullCategoryList::newtheme' %}
							</div>

							
						</div>
						<!-- /.container -->
					</div>
					<!-- /.content -->
				</div>
				<!-- /.main-inner -->
			</div>
			<!-- /.main -->

