title = "FAQs"
url = "/faqs"
layout = "default"
is_hidden = 0
[FaqLast]
questionNumber = 10
==

{% put styles %}
	{# <link rel="stylesheet" href="{{'assets/profile/css/fontawesome-all.min.css' | theme}}" type="text/css" media="all"> #}
	
    {# <link rel="stylesheet" href="{{'assets/mdb/css/bootstrap.css' | theme}}" type="text/css" media="all"> #}
    {# <link rel="stylesheet" href="{{'assets/mdb/css/mdb.css' | theme}}" type="text/css" media="all"> #}
{% endput %}

{% put scripts %}
	{# <link rel="stylesheet" href="{{'assets/profile/css/fontawesome-all.min.css' | theme}}" type="text/css" media="all"> #}
	
    {# <link rel="stylesheet" href="{{'assets/mdb/js/bootstrap.js' | theme}}" type="text/css" media="all"> #}
    {# <link rel="stylesheet" href="{{'assets/mdb/css/mdb.js' | theme}}" type="text/css" media="all"> #}
{% endput %}

<div class="main">
    <div class="main-inner">
        <div class="content">
            <div class="content-title">
                <div class="container">
                    <h1>Frequently Asked Questions</h1>

                    <ul class="breadcrumb">
                        <li>
                            <a href="{{'/'}}">Home</a>
                            <i class="md-icon">keyboard_arrow_right</i>
                        </li>
                        <li class="active">Frequently Asked Questions</li>

                    </ul>
                    <!-- /.breadcrumb -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-title -->

            <div class="container push-top-bottom">
                <div class="faq">
                    {% partial 'faq/faq' %} 
                    
                    {# <div class="faq-item">
                        <div class="faq-item-question">
                            <h2>Nulla blandit eu eros nec ultrices?</h2>
                        </div>
                        <!-- /.faq-item-question -->

                        <div class="faq-item-answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio
                                sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus
                                vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
                            </p>
                        </div>
                        <!-- /.faq-item-answer -->

                        <div class="faq-item-meta">
                            Was this answer helpful?
                            <span class="rate">
                                <a href="#">Yes</a>
                                <span class="separator">/</span>
                                <a href="#">No</a>
                            </span>
                            <!-- /.rate -->
                        </div>
                        <!-- /.faq-item-meta -->
                    </div>
                    <!-- /.faq-item -->

                    <div class="faq-item">
                        <div class="faq-item-question">
                            <h2>Nulla blandit eu eros nec ultrices?</h2>
                        </div>
                        <!-- /.faq-item-question -->

                        <div class="faq-item-answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio
                                sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus
                                vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
                            </p>
                        </div>
                        <!-- /.faq-item-answer -->

                        <div class="faq-item-meta">
                            Was this answer helpful?
                            <span class="rate">
                                <a href="#">Yes</a>
                                <span class="separator">/</span>
                                <a href="#">No</a>
                            </span>
                            <!-- /.rate -->
                        </div>
                        <!-- /.faq-item-meta -->
                    </div>
                    <!-- /.faq-item -->

                    <div class="faq-item">
                        <div class="faq-item-question">
                            <h2>Nulla blandit eu eros nec ultrices?</h2>
                        </div>
                        <!-- /.faq-item-question -->

                        <div class="faq-item-answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio
                                sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus
                                vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
                            </p>
                        </div>
                        <!-- /.faq-item-answer -->

                        <div class="faq-item-meta">
                            Was this answer helpful?
                            <span class="rate">
                                <a href="#">Yes</a>
                                <span class="separator">/</span>
                                <a href="#">No</a>
                            </span>
                            <!-- /.rate -->
                        </div>
                        <!-- /.faq-item-meta -->
                    </div>
                    <!-- /.faq-item -->

                    <div class="faq-item">
                        <div class="faq-item-question">
                            <h2>Nulla blandit eu eros nec ultrices?</h2>
                        </div>
                        <!-- /.faq-item-question -->

                        <div class="faq-item-answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio
                                sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus
                                vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
                            </p>
                        </div>
                        <!-- /.faq-item-answer -->

                        <div class="faq-item-meta">
                            Was this answer helpful?
                            <span class="rate">
                                <a href="#">Yes</a>
                                <span class="separator">/</span>
                                <a href="#">No</a>
                            </span>
                            <!-- /.rate -->
                        </div>
                        <!-- /.faq-item-meta -->
                    </div>
                    <!-- /.faq-item -->

                    <div class="faq-item">
                        <div class="faq-item-question">
                            <h2>Nulla blandit eu eros nec ultrices?</h2>
                        </div>
                        <!-- /.faq-item-question -->

                        <div class="faq-item-answer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio
                                sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus
                                vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
                            </p>
                        </div>
                        <!-- /.faq-item-answer -->

                        <div class="faq-item-meta">
                            Was this answer helpful?
                            <span class="rate">
                                <a href="#">Yes</a>
                                <span class="separator">/</span>
                                <a href="#">No</a>
                            </span>
                            <!-- /.rate -->
                        </div>
                        <!-- /.faq-item-meta -->
                    </div> #}
                    <!-- /.faq-item -->

                </div>
                <!-- /.faq -->
{# 
                <nav class="pagination-wrapper">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">1
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav> #}
            </div>
            <!-- /.container -->

        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-inner -->
</div>
<!-- /.main -->

