title = "Find Association Artisan"
url = "/associations/:slug/find-association-artisan"
layout = "default"
is_hidden = 0

[AssociationDetails]
[AssociationArtisans]
[AssociationArtisanSearch]
==
{# <section>
	<div class="row row-explore-nerby bgf3 p-bottom60">
		<div class="m1170">
			<div class="col-sm-12">
				<div class="about-title extrabold uppercase color333 top60 btm15">
					<span class="bgf3 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">{{AssociationDetails.association.abbreviation}} Artisans</span>
				</div>
				{% component 'AssociationArtisans' %}	
			</div>
		</div>
	</div>
</section> #}
{% partial 'AssociationArtisans::newtheme' %}