title = "Home"
url = "/"
layout = "default"
description = "Homepage"
meta_title = "Home"
meta_description = "Home - Artisan Directory"
is_hidden = 0

[HomeArtisanSearch]
[Associations]
[FeaturedCategories]
[FooterCategories]
[HomeArtisans]
[FullCategoryList]
==
use Jambolo\Artisans\Models\Area;
function onAjaxCitySelect(){ 
    $city = 1;
    $areasInCity = Area::where('city_id', $city)->get(); 
    return $areasInCity;
}
==
{% set numberAreas = HomeArtisans.numberAreas %}
{% set numberArtisans = HomeArtisans.numberArtisans %}
{% set numberUsers = HomeArtisans.numberUsers %}
{% set numberCategories = HomeArtisans.numberCategories %}
<div class="main">
				<div class="main-inner">


					<div class="content">
						<div class="hero" style="background-image: url({{'assets/img/homeback.jpg'|theme}}); ">
							<div class="hero-content">
								<div class="container" style="margin: 0 auto">
									<img src="{{'assets/img/jambolologo.png'|theme}}" class="img-responsive" alt="">
									<p style="margin: 0 auto; text-align: center; text-transform: uppercase; font-size:18px; letter-spacing:1px">
										A premium artisans directory
									</p>

									{# <a href="#" class="btn btn-primary">Show Pricing</a> #}
								</div>
								<!-- /.container -->
							</div>
							<!-- /.hero-content -->


							<div class="hero-form ">
								<div class="container">
									
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs" role="tablist" id="menusearch">
                            <li class="active" id="areasearchtoggle" class="nav-link">
								<a class="nav-item" aria-controls="areasearch" data-target="#areasearch" data-toggle="tab" aria-expanded="true">
									Search By Area & Category
								</a>
							</li>
                            <li id="numbersearchtoggle">
								<a class="nav-item" data-target="#numbersearch" aria-controls="numbersearch" data-toggle="tab" aria-expanded="false">
									Search by Phone Number
								</a>
							</li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="areasearch">
							{% partial 'HomeArtisanSearch::newtheme' %}
						</div>
                        <div class="tab-pane fade" id="numbersearch">
							{% partial 'HomeArtisanSearch::searchbynumber' %}
						</div>
                    </div>
                </div>
            </div>
        
									

									<div class="hero-form-sub">
										<strong class="hidden-sm-down">Or click on the following categories</strong>
										<ul>
										{% set premiumCategories = FullCategoryList.allPremiumCategories %}
{% for category in premiumCategories %}
    <li>
        <a href="{{'premium-category-artisans'|page({'slug':category.slug})}}">{{str_limit(category.category_name, 15)}}</a>
    </li>
{% endfor %}
											

										</ul>
									</div>
								</div>
								<!-- /.container -->
							</div>
							<!-- /.hero-form -->

							<div class="hero-layer"></div>
						</div>
						<!-- /.hero -->

						<div class="container">
							<div class="row">
								<div class="col-sm-3">
									<div class="box-small center brag"><i class="fas fa-check-square fa-3x"></i>
										<h6 class="no-margin">Directory of Best Quality</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center brag">
										<i class="fas fa-thumbs-up fa-3x"></i>
										<h6 class="no-margin">Verified Artisans</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center brag">
										<i class="fas fa-align-justify fa-3x"></i>
										<h6 class="no-margin">Well-Organized</h6>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="box-small center brag">
										<i class="fas fa-money-bill fa-3x"></i>
										<h6 class="no-margin">Free Listings</h6>
									</div>
								</div>
							</div>
						</div>

						<div class="container">
							<div class="page-title">
								<h2>Featured Artisans</h2>

								{# <p>
									Maecenas augue magna, mollis a dictum id, ornare ac turpis. Morbi vel faucibus ligula.
								</p> #}
							</div>
							<!-- /.page-title -->

							<div class="row">
								<div class="col-sm-12 col-xl-10">
									<div class="cards-wrapper">
										<div class="row">
											{% component 'HomeArtisans' %}
										</div>
										<!-- /.row -->
									</div>
									<!-- /.card-wrapper -->
								</div>
								<!-- /.col-* -->

								<div class="col-sm-2 hidden-lg-down">
									<div class="your-space">
										<p>
											Do you want to be here?
										</p>

										<a href="tel:+234-(0)809-165-2586" class="btn btn-primary btn-block">Call us</a>

										<a href="mailto:info@jambolo.com" class="btn btn-secondary btn-block">e-mail us</a>
									</div>
									<!-- /.your-space -->
								</div>
								<!-- /.col-* -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container -->
                        
						<div class="container">
							<div class="page-title">
								<h2>Directory Categories</h2>
								<p>
									{# Maecenas augue magna, mollis a dictum id, ornare ac turpis. Morbi vel faucibus ligula. #}
								</p>
							</div>
							<!-- /.page-title -->

							<div class="cards-wrapper">
								<div class="row">

									{% partial 'HomeArtisans::homecategories'%}

								</div>
								<!-- /.row -->
							</div>
							<!-- /.cards-wrapper -->
						</div>
						<!-- /.container -->

						<div class="counter">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-3">
										<h2>The Nº1 Artisan Directory in Nigeria</h2>
									</div>
									<!-- /.col-* -->

									<div class="col-sm-12 col-md-9">
										<div class="row">
											<div class="col-sm-3">
												<i class="md-icon">layers</i>
												<h3>{{numberArtisans}}</h3>
												<p>Artisans Added</p>
											</div>
											<!-- /.col-* -->

											<div class="col-sm-3">
												<i class="md-icon">location_city</i>
												<h3>{{numberAreas}}</h3>
												<p>Areas Covered</p>
											</div>
											<!-- /.col-* -->

											<div class="col-sm-3">
												<i class="md-icon">people</i>
												<h3>{{numberUsers}}</h3>
												<p>Users Registered</p>
											</div>
											<!-- /.col-* -->

											<div class="col-sm-3">
												<i class="md-icon">public</i>
												<h3>{{numberCategories}}</h3>
												<p>Categories</p>
											</div>
											<!-- /.col-* -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.col-* -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.container -->
						</div>
						<!-- /.container -->

						{# <div class="push-bottom">
							<div class="container">
								<div class="page-title background-white">
									<h2>Recent News From Our Company</h2>
									<p>Best spots and events in your city hand picked by Materialist stuff</p>
								</div>
								<!-- /.page-title -->

								<div class="row">

									<div class="col-sm-12 col-md-4">
										<div class="card">
											<div class="card-image" style="background-image: url('assets/img/tmp/post-1.jpg');">
												<a href="#"></a>
											</div>
											<!-- /.card-image -->

											<div class="card-content">
												<h3>
													<a href="#">Marketing</a>
												</h3>
												<h2>
													<a href="#">Meeting All Deadlines</a>
												</h2>
											</div>
											<!-- /.card-content -->

											<div class="card-actions">
												<a href="#" class="card-action-icon">
													<i class="md-icon">insert_comment</i>
													<span> 12</span>
												</a>
												<a href="#" class="card-action-icon">
													<i class="md-icon">access_time</i>
													<span> 18. June</span>
												</a>

												<a href="#" class="card-action-btn btn btn-transparent">Read More</a>
											</div>
											<!-- /.card-actions -->
										</div>
										<!-- /.card -->
									</div>
									<!-- /.col-* -->

									<div class="col-sm-12 col-md-4">
										<div class="card">
											<div class="card-image" style="background-image: url('assets/img/tmp/post-2.jpg');">
												<a href="#"></a>
											</div>
											<!-- /.card-image -->

											<div class="card-content">
												<h3>
													<a href="#">Pricing Models</a>
												</h3>
												<h2>
													<a href="#">Best Pricing Model</a>
												</h2>
											</div>
											<!-- /.card-content -->

											<div class="card-actions">
												<a href="#" class="card-action-icon">
													<i class="md-icon">insert_comment</i>
													<span> 12</span>
												</a>
												<a href="#" class="card-action-icon">
													<i class="md-icon">access_time</i>
													<span> 18. June</span>
												</a>

												<a href="#" class="card-action-btn btn btn-transparent">Read More</a>
											</div>
											<!-- /.card-actions -->
										</div>
										<!-- /.card -->
									</div>
									<!-- /.col-* -->

									<div class="col-sm-12 col-md-4">
										<div class="card">
											<div class="card-image" style="background-image: url('assets/img/tmp/post-3.jpg');">
												<a href="#"></a>
											</div>
											<!-- /.card-image -->

											<div class="card-content">
												<h3>
													<a href="#">Development</a>
												</h3>
												<h2>
													<a href="#">How To Hire Developer</a>
												</h2>
											</div>
											<!-- /.card-content -->

											<div class="card-actions">
												<a href="#" class="card-action-icon">
													<i class="md-icon">insert_comment</i>
													<span> 12</span>
												</a>
												<a href="#" class="card-action-icon">
													<i class="md-icon">access_time</i>
													<span> 18. June</span>
												</a>

												<a href="#" class="card-action-btn btn btn-transparent">Read More</a>
											</div>
											<!-- /.card-actions -->
										</div>
										<!-- /.card -->
									</div>
									<!-- /.col-* -->

								</div>
								<!-- /.row -->
							</div>
							<!-- /.container -->
						</div> #}
						<!-- /.push-bottom -->

						<div class="partners">
							<div class="container">

								<h4>Partnering Associations</h4>
								<div class="carousel">
								{% partial 'Associations::newtheme' %}
								</div>
							</div>
							<!-- /.container -->
						</div>
						<!-- /.partners -->

						{# <div class="cta">
							<div class="container">
								<h2>Join our Artisan Directory</h2>

								<p>
									Mauris ac neque sed nisl posuere pretium. Aliquam volutpat, lectus nec varius mollis, turpis urna accumsan odio, eget eleifend
									justo mauris vitae neque.
								</p>

								<a href="#" class="btn btn-primary">More Information</a>
							</div>
							<!-- /.container -->
						</div> #}
						<!-- /.cta -->

					</div>
					<!-- /.content -->
				</div>
				<!-- /.main-inner -->
			</div>
			<!-- /.main -->