title = "Landing"
url = "/landingold"
layout = "landing"
description = "Login Page"
meta_title = "Landing"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0

[HomeArtisanSearch]

[Associations]

[FeaturedCategories]

[FooterCategories]

[HomeArtisans]

[session]
security = "guest"
redirect = "home"
==
{% set numberAreas = HomeArtisans.numberAreas %}
{% set numberArtisans = HomeArtisans.numberArtisans %}
{% set numberUsers = HomeArtisans.numberUsers %}
{% set numberCategories = HomeArtisans.numberCategories %}
{% set areas = HomeArtisanSearch.areas %}
{% set categories = HomeArtisanSearch.artisanCategories %}



<div class="main">
    <div class="main-inner">


        <div class="content">
            <div class="hero hero-landing" style="background-image: url({{'assets/img/landing.jpg'|theme}}); ">

                <div class="hero-content">
                    <div class="row">
                        <div class="container" style="margin-top: 300px">

                            <div class="col-md-6">
                                {# <img src="{{'assets/img/jambolologo.png'|theme}}" class="img-responsive" alt=""> #}
                                <h3 style="margin: 0 auto; text-align: justify; font-size:25px; color: #fff; line-height:40px;">
                                    Tired of engaging the wrong carpenter, mechanic, hairdresser, plumber? <br><br> Look no further as we have the best verified artisans for you on jambolo.com. Register and stand a chance to win a free service


                                </h3>
								<p>
								</p>
                            </div>
                            <div class="col-md-6">
                                <form method="post" data-request="onRegister">
                                    <fieldset style="background-color:#fff">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>First Name</label>

                                                
                                                        <input type="text" name="name" class="form-control"/>
                                                    
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Last Name</label>

                                                     <input type="text" name="surname" class="form-control"/>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
											<div class="col-sm-4">
												<div class="form-group">
													<label>Email</label>
													<input type="text" name="email" class="form-control"/>
												</div><!-- /.form-group -->
                                        </div><!-- /.col-* -->
                                        </div><!-- /.row -->
                                        
                                        <div class="row">


                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Phone number</label>

                                                      <input type="number" name="phone_number" class="form-control"/>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
											<div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Location</label>

                                                    <select class="form-control" name="area_id">
                                                    <option value="">Please Choose your location</option>
												{% for area in areas %}
                                                        <option value="{{area.id}}">{{area.area_name}}</option>
												{% endfor %}
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
											<div class="row">
											    <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Your Preferred Artisan Category</label>

                                                    <select class="form-control" name="category_id" required>
                                                        <option value="">Please Choose a Category</option>
                                                        {% for category in categories %}
                                                        <option value="{{category.id}}">{{category.category_name}}</option>
												{% endfor %}
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
											</div>
											
                                        </div><!-- /.row -->
                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Password</label>

                                                      <input type="password" name="password" class="form-control"/>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Confirm Password</label>

                                                      <input type="password" name="password_confirm" class="form-control"/>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-* -->
                                        </div><!-- /.row -->
                                        <div class="row col-sm-12">
                                            <input type="checkbox" name="registration-consent" id="regconsent" required> <label for="regconsent">I have agreed that I can be registered on jambolo.com</label>
                                            <em>*Discounts and/or free services are not on purchase items but on the services an artisan provides</em>
                                        </div>
                                    </fieldset>
                                    <button class="btn btn-primary">Register Here</button>
                                </form>
                            </div>
                        </div>

                        {# <a href="#" class="btn btn-primary">Show Pricing</a> #}
                    </div>
                    <!-- /.container -->
                </div>




                {# <div class="hero-form ">
                    <div class="container">

                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs" role="tablist" id="menusearch">
                                    <li class="active" id="areasearchtoggle" class="nav-link">
                                        <a class="nav-item" aria-controls="areasearch" data-target="#areasearch"
                                            data-toggle="tab" aria-expanded="true">
                                            Search By Area & Category
                                        </a>
                                    </li>
                                    <li id="numbersearchtoggle">
                                        <a class="nav-item" data-target="#numbersearch" aria-controls="numbersearch"
                                            data-toggle="tab" aria-expanded="false">
                                            Search by Phone Number
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="areasearch">
                                        {% partial 'HomeArtisanSearch::newtheme' %}
                                    </div>
                                    <div class="tab-pane fade" id="numbersearch">
                                        {% partial 'HomeArtisanSearch::searchbynumber' %}
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="hero-form-sub">
                            <strong class="hidden-sm-down">Or click on the following categories</strong>
                            <ul>
                                {% partial 'FooterCategories::searchrandomcategories' %}

                            </ul>
                        </div>
                    </div>
                    <!-- /.container -->
                </div> #}
                <!-- /.hero-form -->

            </div>
            <!-- /.hero -->







            <!-- /.partners -->

            {# <div class="cta">
                <div class="container">
                    <h2>Join our Artisan Directory</h2>

                    <p>
                        Mauris ac neque sed nisl posuere pretium. Aliquam volutpat, lectus nec varius mollis, turpis
                        urna accumsan odio, eget eleifend
                        justo mauris vitae neque.
                    </p>

                    <a href="#" class="btn btn-primary">More Information</a>
                </div>
                <!-- /.container -->
            </div> #}
            <!-- /.cta -->

        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-inner -->
</div>
<!-- /.main -->