title = "login"
url = "/login"
layout = "default"
description = "Login Page"
meta_title = "Jambolo Login"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0

[resetPassword]
paramCode = "code"
==
<!-- Get directions API_KEY 
AIzaSyCOJYIH1FZLLIKB-gJX1IAMr4PUdasaT_Q -->


{# <div class="container" style="margin: 30px;">
<section> #}
	{% if not user %}

    {# <div class="row"> #}

        {# <div class="col-md-6 col-md-offset-3"> #}
            {# <h3>User Login</h3> #}
            
            {% partial 'site/user-login' %}
        {# </div> #}
        {# <div class="col-md-6 col-md-offset-3"> 
        {% component 'resetPassword' %}
        </div> #}
    {# </div> #}

{% else %}
{# <div class="col-md-6 col-md-offset-3">
    {% partial account ~ '::activation_check' %}

    
    {% partial 'site/user-update' %}
  

    {% partial account ~ '::deactivate_link' %}
  </div> #}
{% endif %}	
{# </section>
</div> #}