title = "Marketplace"
url = "/marketplace-old"
layout = "default"
description = "Jambolo Marketplace listing all products"
is_hidden = 0
[Cart]
[products]
==
{% set results = products.results %}
<div class="main">
    <div class="main-inner">
        <div class="content">
            <div class="container-fluid fullwidth-wrapper">
                {# <div class="row">
                    <div class="col-sm-12">
                        <div id="map-leaflet" class="full" style="height:300px"></div>
                    </div>
                    <!-- /.col-* -->
                </div> #}
                <div class="row">
                    <div class="col-sm-12">
                        {# <div class="filter filter-white push-bottom">
                            {% partial 'HomeArtisanSearch::searchpagefilter'%}
                        </div> #}
                        <!-- /.filter -->
                        <div class="row" style="padding:15px 0px; text-align:center">
                            <div class="col-sm-12">
                                {# {% if alternateResults is not null or alternateResults is not empty %} Your search for {{categoryObject.category_name}} in
                                {{areaName.area_name}} returned
                                <span class="extrabold blue">{{resultsCount}}</span> results.
                                <span> Here are {{categoryObject.category_name}} (artisans) in different areas you may consider.</span>

                                {% else %} Your search returned
                                <span class="extrabold blue">{{resultsCount}}</span> result{% if resultsCount>1%}s{% endif %} {% endif %} #}
                                {# {{ resultsMessage }} #}
                            </div>
                        </div>
                        <div class="row" style="padding:15px 0px">
                             {% for product in results %}

                            <div class="col-sm-6 col-md-3">
                                <div class="card">
                                    
													<div class="card-image" style="background-image: url('{{ product.product_image.path }}');">
												

                                            <a href="{{'new-single-product'|page({slug:product.slug}) }}"></a>

                                            
                                            <!-- /.card-image-rating -->
                                        </div>
                                        <!-- /.card-image -->

                                        <div class="card-content">
                                            <h3>
                                                <a href="{{'category-products'|page({'slug':product.category.slug})}}">{{product.category.category_name}}</a>
                                            </h3>
                                            <h2>
                                                <a href="{{'new-single-product'|page({'product-slug':product.slug}) }}">{{str_limit(product.name, 20)}}</a> <span class="pull-right">NGN{{product.price}}</span>
                                            </h2>
                                            {# <a href="" data-request="onAddToDBCart" data-request-data="product_id: '{{product.id}}'">Add to cart</a> #}
                                        </div>
                                        <!-- /.card-content -->

                                        {# <div class="card-actions">
                                            <a href="listing-detail.html" class="card-action-icon">
                                                
                                                <i class="md-icon">favorite</i>
                                            </a>
                                            <a href="listing-detail.html" class="card-action-icon">
                                                
                                                <i class="md-icon">flag</i>
                                            </a>
                                            <a href="{{'artisan'|page({slug:artisan.slug}) }}" class="card-action-btn btn btn-transparent">Show More</a>
                                        </div> #}
                                        <!-- /.card-actions -->
                                </div>
                                    <!-- /.card -->
                            </div>
                                <!-- /.col-* -->

                                 {% endfor %}
                            <div class="clearfix"></div>

                    
                            


                            <div class="clearfix"></div>
                            
							{# {% if alternateResults is not null or alternateResults is not empty %}
								{{alternateResults.render|raw}}
							{% else %}
								{{results.render|raw}}
							{% endif %} #}
                        </div>
                        <!-- /.row -->

                        {#
                        <div class="center">
                            <a href="#" class="btn btn-secondary btn-large">Load More</a>
                        </div> #}
                        <!-- /.center -->
                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-inner -->
</div>
<!-- /.main -->


{# <script type="text/javascript">
    if ( {{ resultsCount }} == 0) {
        var artisans = {{ alternateResults | json_encode() | raw }};
    } else {
        var artisans = {{ results | json_encode() | raw }};
    }
    var assetsBaseDir = "{{ asset('themes/jambolo/assets/') }}";
</script> #}