title = "Marketplace"
url = "/marketplace"
layout = "marketplace-default"
description = "Marketplace Homepage"
meta_title = "Marketplace Homepage"
meta_description = "Homepage - Marketplace"
is_hidden = 0

[HomeArtisanSearch]
[Associations]
[FeaturedCategories]
[FooterCategories]
[HomeArtisans]
[FullCategoryList]
[Cart]
[products]
[displayfeatures]
==
<section class="slider-banner-area clearfix">
    <!-- Sidebar-social-media start -->
    <div class="sidebar-social hidden-xs">
        <div class="table">
            <div class="table-cell">
                <ul>
                    <li><a href="#" target="_blank" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>
                    <li><a href="#" target="_blank" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a href="#" target="_blank" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a href="#" target="_blank" title="Linkedin"><i class="zmdi zmdi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Sidebar-social-media start -->
    <div class="banner-left floatleft">
        <!-- Slider-banner start -->
        <div class="slider-banner">
            {% partial 'displayfeatures::featureone' %}
            {% partial 'displayfeatures::featuretwo' %}
            
        </div>
        <!-- Slider-banner end -->
    </div>
    <div class="slider-right floatleft">
        <!-- Slider-area start -->
        <div class="slider-area">
            <div class="bend niceties preview-2">
                
                <!-- direction 1 -->
                {% partial 'displayfeatures::topslides' %}
            </div>
        </div>
        <!-- Slider-area end -->
    </div>
    <!-- Sidebar-social-media start -->
    <div class="sidebar-account hidden-xs">
        <div class="table">
            <div class="table-cell">
                <ul>
                    {# <li><a class="search-open" href="#" title="Search"><i class="zmdi zmdi-search"></i></a></li> #}
                    {# <li><a href="#" title="Login"><i class="zmdi zmdi-lock"></i></a> #}
                        <div class="customer-login text-left">
                            <form action="#">
                                <h4 class="title-1 title-border text-uppercase mb-30">Registered customers</h4>
                                <p class="text-gray">If you have an account with us, Please login!</p>
                                <input type="text" name="email" placeholder="Email here..." />
                                <input type="password" placeholder="Password" />
                                <p><a class="text-gray" href="#">Forget your password?</a></p>
                                <button class="button-one submit-button mt-15" data-text="login" type="submit">login</button>
                            </form>
                        </div>
                    </li>
                    {# <li><a href="my-account.html" title="My-Account"><i class="zmdi zmdi-account"></i></a></li> #}
                    {# <li><a href="wishlist.html" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a></li> #}
                </ul>
            </div>
        </div>
    </div>
    <!-- Sidebar-social-media start -->
</section>
<!-- End Slider-section -->
<!-- sidebar-search Start -->
<div class="sidebar-search animated slideOutUp">
    <div class="table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 p-0">
                        <div class="search-form-wrap">
                            <button class="close-search"><i class="zmdi zmdi-close"></i></button>
                            <form action="#">
                                <input type="text" placeholder="Search here..." />
                                <button class="search-button" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sidebar-search End -->
<!-- PRODUCT-AREA START -->
<div class="product-area pt-80 pb-35">
    <div class="container">
        <!-- Section-title start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title-border">Featured Products</h2>
                </div>
            </div>
        </div>
        <!-- Section-title end -->
        <div class="row cus-row-30">
            <div class="product-slider arrow-left-right">
                {% partial 'products::featuredproducts' %}
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT-AREA END -->
<!-- DISCOUNT-PRODUCT START -->
<div class="discount-product-area">
    <div class="container">
        <div class="row">
            <div class="discount-product-slider dots-bottom-right">
                {% partial 'displayfeatures::midslides' %} 
            </div>
        </div>
    </div>
</div>
<!-- DISCOUNT-PRODUCT END -->
<!-- PURCHASE-ONLINE-AREA START -->
<div class="purchase-online-area pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title-border">Purchase Online on Jambolo</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {# <div class="col-lg-12 text-center">
                <!-- Nav tabs -->
                <ul class="tab-menu clearfix">
                    <li class="active"><a href="#new-arrivals" data-toggle="tab">New Arrivals</a></li>
                    <li><a href="#best-seller"  data-toggle="tab">Best Seller </a></li>
                    <li><a href="#most-view" data-toggle="tab">Most View </a></li>
                    <li><a href="#discounts" data-toggle="tab">Discounts</a></li>
                </ul>
            </div> #}
            <div class="col-lg-12">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="new-arrivals">
                        <div class="row">
                            <!-- Single-product start -->
                            {% partial 'products::homeproducts' %}
                           
                        </div>
                    </div>
                    {# <div class="tab-pane" id="best-seller">
                        <div class="row">
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label new-label">new</span>
                                    <a href="single-product.html"><img src="img/product/2.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 56.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label sale-label">Sale</span>
                                    <a href="single-product.html"><img src="img/product/9.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 36.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/8.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 66.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/6.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 57.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label new-label">new</span>
                                    <a href="single-product.html"><img src="img/product/4.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 55.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label sale-label">Sale</span>
                                    <a href="single-product.html"><img src="img/product/3.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 65.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-xs-12 hidden-md hidden-sm">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/7.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 60.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-xs-12 hidden-md hidden-sm">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/5.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 66.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                        </div>
                    </div>
                    <div class="tab-pane" id="most-view">
                        <div class="row">
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label new-label">new</span>
                                    <a href="single-product.html"><img src="img/product/1.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 56.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label sale-label">Sale</span>
                                    <a href="single-product.html"><img src="img/product/3.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 36.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/5.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 66.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/9.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 57.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label new-label">new</span>
                                    <a href="single-product.html"><img src="img/product/7.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 55.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label sale-label">Sale</span>
                                    <a href="single-product.html"><img src="img/product/5.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 65.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-xs-12 hidden-md hidden-sm">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/7.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 60.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-xs-12 hidden-md hidden-sm">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/8.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 66.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                        </div>
                    </div>
                    <div class="tab-pane" id="discounts">
                        <div class="row">
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label new-label">new</span>
                                    <a href="single-product.html"><img src="img/product/8.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 56.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label sale-label">Sale</span>
                                    <a href="single-product.html"><img src="img/product/9.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 36.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/7.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 66.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/6.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 57.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label new-label">new</span>
                                    <a href="single-product.html"><img src="img/product/3.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 55.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-img">
                                    <span class="pro-label sale-label">Sale</span>
                                    <a href="single-product.html"><img src="img/product/4.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 65.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-xs-12 hidden-md hidden-sm">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/5.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 60.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product col-lg-3 col-xs-12 hidden-md hidden-sm">
                                <div class="product-img">
                                    <a href="single-product.html"><img src="img/product/2.jpg" alt="" /></a>
                                    <div class="product-action clearfix">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <div class="fix">
                                        <h4 class="post-title floatleft"><a href="#">dummy Product name</a></h4>
                                        <p class="floatright hidden-sm">Furniture</p>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-price floatleft">$ 66.20</span>
                                        <span class="pro-rating floatright">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single-product end -->
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
</div>