title = "My Gallery"
url = "/artisan-account/my-gallery"
layout = "dashboardLayout2"
is_hidden = 0

[ArtisanDashboard]
[DashboardProducts]
[session]
==
{% set artisan = ArtisanDashboard.loggedInArtisan %}
{% component 'session' %}

<div class="container-fluid">
<a href="{{'create-image'|page}}" class="btn btn-primary">Add Image to Gallery</a>
        <div class="row">
             <br/>
             <br/>

            {% for image in user.listing.premium_gallery %}
                <div class="col-md-3">
                    <img src="{{image.path}}" width="200" alt="">
                    <br/><br/>
                    <button data-request="onGalleryImageDelete" data-request-data="image:{{image}}, artisan_id:{{artisan.id}}">Delete</button>
                </div>
                
            {% endfor %}
        </div>
        
    
</div>

