title = "My Products"
url = "/artisan-account/my-products"
layout = "dashboardLayout2"
is_hidden = 0

[ArtisanDashboard]
[DashboardProducts]
[session]
==
{% component 'session' %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">

                {% component 'DashboardProducts' %}
    </div>
    </div>
</div>

