title = "Single Product Marketplace"
url = "/marketplace/shop/:product-slug"
layout = "marketplace-default"
is_hidden = 0
[products]
[Cart]
[singleproduct]
==
{% set sizes = singleproduct.sizes %}
{% set product = singleproduct.product %}
{% set categories = products.categories %}
{% set bedsizes = singleproduct.bedSizes %}
{% set shoesizes = Cart.shoeSizes %}

{# {% set bedSizes = %} #}
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>{{product.name}}</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{{'/marketplace'}}">Marketplace</a></li>
                            <li>{{product.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
			<!-- HEADING-BANNER END -->
			<!-- PRODUCT-AREA START -->
<div class="product-area single-pro-area pt-80 pb-80 product-style-2">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">		
				<div class="row shop-list single-pro-info">
					<!-- Single-product start -->
					<div class="col-lg-12">
						<div class="single-product clearfix">
							<!-- Single-pro-slider Big-photo start -->
							<div class="single-pro-slider single-big-photo view-lightbox slider-for">
								
										
								{% if product.other_images is not empty %}
									{% for image in product.other_images %}	
									<div>
										<img src="{{image.path}}" alt="" />
										<a class="view-full-screen" href="{{image.path}}"  data-lightbox="roadtrip" data-title="{{product.name}}">
											<i class="zmdi zmdi-zoom-in"></i>
										</a>
									</div>
									{% endfor %}
								{% else %}
									<div>
										<img src="{{product.product_image.path}}" alt="" />
									</div>
								{% endif %}
							</div>	
							<form action="" method="post" data-request="onAddToDBCart">
							<!-- Single-pro-slider Big-photo end -->										
								<div class="product-info">
									<div class="fix">
										<h4 class="post-title floatleft">{{product.name}}</h4>
									</div>
									<div class="fix mb-20">
										<span class="pro-price" id="product-price">
											NGN {{product.price|number_format(2, '.', ',')}}
											<input type="hidden" name="price" value={{product.price}}>
										</span>
										
									</div>
									<div class="product-description">
										<p>{{ product.product_excerpt|raw }}</p>
									</div>

									{% if (product.category.slug == 'Bed') or (product.category.slug == 'bed') %}
										<div class="size-filter single-pro-size mb-35 clearfix">
											Select a Bed Size:
											<select name="item_options[bedsize]" id="bedsize" data-request="onOptions" required>
													{# <option value="">Choose a Bed Size</option> #}
												{% for size in bedsizes %}
													<option value="{{size.bedsize}}">{{size.bedsize}}</option>
												{% endfor %}
											</select>

										</div>
										{# <div class="size-filter single-pro-size mb-35 clearfix">
											<ul>
												<li><span class="color-title text-capitalize">Bed Sizes: </span></li>
												{% for size in sizes %}
													<li><a href="#">{{size.bedsize}}</a></li>
												{% endfor %}
											</ul>
										</div> #}
										<div style="margin-bottom:35px;">
											<ul>
												<li><span class="color-title text-capitalize">Other Options</span></li>
												<li>
													<input type="radio" name="item_options[bedfloor]" id="wooden" value="wooden" data-request="onOptions" checked> 
													<label for="wooden">Wooden Bedfloor</label>
													<input type="radio" name="item_options[bedfloor]" id="padded" value="padded" data-request="onOptions"> 
													<label for="padded">Padded Bedfloor</label>
												</li>
												<li>
													<p>Number of Bedside Drawers</p>
													<input type="radio" id="zero" name="item_options[drawers]" value="0" data-request="onOptions" checked>
													<label for="zero">Zero</label><br>
													<input type="radio" id="one" name="item_options[drawers]" value="1" data-request="onOptions">
													<label for="one">One</label><br>
													<input type="radio" id="two" name="item_options[drawers]" value="2" data-request="onOptions">
													<label for="two">Two</label>
												</li>
											</ul>
										</div>
										
									{% elseif product.category.slug == 'shoes' or product.category.slug == 'naija-footwear' %}
										{# <div class="size-filter single-pro-size mb-35 clearfix">
											<ul>
												<li><span class="color-title text-capitalize">Shoe Sizes: </span></li>
												{% for size in sizes %}
													<li><a href="#">{{size.size}}</a></li>
												{% endfor %}
											</ul>
										</div> #}
										
										<div class="size-filter single-pro-size mb-35 clearfix">
											Select a Shoe Size:<select name="item_options[shoesize]" id="shoesize" required>
													<option value="">Select a Shoe Size</option>
												{% for size in shoesizes %}
													<option value="{{size.shoesize}}">{{size.shoesize}}</option>
												{% endfor %}
											</select>

										</div>
									{% endif %}
									<!-- Size end -->
									<div class="clearfix">
										<div class="cart-plus-minus" data-request="onOptions">
											<input type="text" value="1" name="quantity" class="cart-plus-minus-box" id="productquantity">
										</div>
										<div class="product-action clearfix">
											{# <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a> #}
											{# <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a> #}
											{# <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a> #}
											<input type="hidden" value="{{product.id}}" name="product">
											{# <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus proaddtocart"></i></a> #}
											{# <a href="#" data-request="onAddToDBCart" data-request-data="product_id: '{{product.id}}'" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a> #}
											<button type="submit" class="submit-button">Add To Cart</button>
										</div>
									</div>
									<!-- Single-pro-slider Small-photo start -->
									<div class="single-pro-slider single-sml-photo slider-nav">
										{% for image in product.other_images %}
											<div>
												<img src="{{image.path}}" alt="" />
											</div>
										{% endfor %}
										{# <div>
											<img src="{{'assets/marketplace/img/single-product/small/2.jpg'|theme}}" alt="" />
										</div>
										<div>
											<img src="{{'assets/marketplace/img/single-product/small/3.jpg'|theme}}" alt="" />
										</div>
										<div>
											<img src="{{'assets/marketplace/img/single-product/small/4.jpg'|theme}}" alt="" />
										</div>
										<div>
											<img src="{{'assets/marketplace/img/single-product/small/5.jpg'|theme}}" alt="" />
										</div> #}
									</div>
									<!-- Single-pro-slider Small-photo end -->
								</div>
							</form>
						</div>
					</div>
					<!-- Single-product end -->
				</div>
				
				<!-- single-product-tab start -->
				<div class="single-pro-tab">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
							<div class="single-pro-tab-menu">
								<!-- Nav tabs -->
								<ul class="">
									<li class="active"><a href="#description" data-toggle="tab">Description</a></li>
									{# <li class="active"><a href="#reviews"  data-toggle="tab">Reviews</a></li> #}
									{# <li><a href="#information" data-toggle="tab">Information</a></li> #}
									{# <li><a href="#tags" data-toggle="tab">Tags</a></li> #}
								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="description">
									<div class="pro-tab-info pro-description">
										<h3 class="tab-title title-border mb-30">{{product.name}}</h3>
										{{product.product_description|raw}}
									</div>
								</div>
								{# <div class="tab-pane active" id="reviews">
									<div class="pro-tab-info pro-reviews">
										<div class="customer-review mb-60">
											<h3 class="tab-title title-border mb-30">Customer review</h3>
											<ul class="product-comments clearfix">
												<li class="mb-30">
													<div class="pro-reviewer">
														<img src="img/reviewer/1.jpg" alt="" />
													</div>
													<div class="pro-reviewer-comment">
														<div class="fix">
															<div class="floatleft mbl-center">
																<h5 class="text-uppercase mb-0"><strong>Gerald Barnes</strong></h5>
																<p class="reply-date">27 Jun, 2016 at 2:30pm</p>
															</div>
															<div class="comment-reply floatright">
																<a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
																<a href="#"><i class="zmdi zmdi-close"></i></a>
															</div>
														</div>
														<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at est bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
													</div>
												</li>
												<li class="threaded-comments">
													<div class="pro-reviewer">
														<img src="img/reviewer/1.jpg" alt="" />
													</div>
													<div class="pro-reviewer-comment">
														<div class="fix">
															<div class="floatleft mbl-center">
																<h5 class="text-uppercase mb-0"><strong>Gerald Barnes</strong></h5>
																<p class="reply-date">27 Jun, 2016 at 2:30pm</p>
															</div>
															<div class="comment-reply floatright">
																<a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
																<a href="#"><i class="zmdi zmdi-close"></i></a>
															</div>
														</div>
														<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at est bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="leave-review">
											<h3 class="tab-title title-border mb-30">Leave your reviw</h3>
											<div class="your-rating mb-30">
												<p class="mb-10"><strong>Your Rating</strong></p>
												<span>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
												</span>
												<span class="separator">|</span>
												<span>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
												</span>
												<span class="separator">|</span>
												<span>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
												</span>
												<span class="separator">|</span>
												<span>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
												</span>
												<span class="separator">|</span>
												<span>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
													<a href="#"><i class="zmdi zmdi-star-outline"></i></a>
												</span>
											</div>
											<div class="reply-box">
												<form action="#">
													<div class="row">
														<div class="col-md-6">
															<input type="text" placeholder="Your name here..." name="name" />
														</div>
														<div class="col-md-6">
															<input type="text" placeholder="Subject..." name="name" />
														</div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<textarea class="custom-textarea" name="message" placeholder="Your review here..." ></textarea>
															<button type="submit" data-text="submit review" class="button-one submit-button mt-20">submit review</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>		
								</div> #}
								<div class="tab-pane" id="information">
									<div class="pro-tab-info pro-information">
										<h3 class="tab-title title-border mb-30">Product information</h3>
										<p>{{product.product_description|raw}}</p>
										
									</div>											
								</div>
								{# <div class="tab-pane" id="tags">
									<div class="pro-tab-info pro-information">
										<h3 class="tab-title title-border mb-30">tags</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at est bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at est bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at est bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
									</div>											
								</div> #}
							</div>									
						</div>
					</div>
				</div>
				<!-- single-product-tab end -->
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12 mt-tab-30">
				<!-- Widget-Search start -->
				{# <aside class="widget widget-search mb-30">
					<form action="#">
						<input type="text" placeholder="Search here..." />
						<button type="submit">
							<i class="zmdi zmdi-search"></i>
						</button>
					</form>
				</aside> #}
				<!-- Widget-search end -->
				<!-- Widget-Categories start -->
				<aside class="widget widget-categories  mb-30">
					<div class="widget-title">
						<h4>Categories</h4>
					</div>
					<div id="cat-treeview"  class="widget-info product-cat boxscrol2">
						<ul>
							{% for category in categories %}
									<li class="open {% if product.category.category_name == category.category_name %} activecat {% endif %}"><a href="/marketplace/shop/category/{{category.slug}}">{{category.category_name}}</a>
										<ul>
											{% for subcategory in category.allChildrenAccounts %}

												<li class="{% if product.category.category_name == subcategory.category_name %} activecat {% endif %}"><a href="/marketplace/shop/category/{{subcategory.slug}}">{{subcategory.category_name}}</a>
													<ul>
														{% for subsubcategory in subcategory.child_categories %}
															<li class="{% if product.category.category_name == subsubcategory.category_name %} activecat {% endif %}"><a href="/marketplace/shop/category/{{subsubcategory.slug}}">{{subsubcategory.category_name}}</a>
														{% endfor %}
													</ul>
												</li>
											{% endfor %} 
										{# {% set childcategories = category.child_categories %}
										{% partial "singleproduct::subcategories" catogories = "childcategories" %} #}
										</ul>
									</li>
							{% endfor %}
						</ul>
					</div>
				</aside>
				<!-- Widget-categories end -->
				<!-- Widget-product start -->
				<aside class="widget widget-product mb-30">
					<div class="widget-title">
						<h4>Recent products</h4>
					</div>
					<div class="widget-info sidebar-product clearfix">
						<!-- Single-product start -->
						{% partial 'products::recentproducts' %}
						<!-- Single-product end -->
						<!-- Single-product start -->
						{# <div class="single-product col-lg-12">
							<div class="product-img">
								<a href="single-product.html"><img src="img/product/1.jpg" alt="" /></a>
							</div>
							<div class="product-info">
								<h4 class="post-title"><a href="#">Product name</a></h4>
								<span class="pro-price">$ 56.20</span>
							</div>
						</div> #}
						<!-- Single-product end -->
						<!-- Single-product start -->
						{# <div class="single-product col-lg-12">
							<div class="product-img">
								<a href="single-product.html"><img src="img/product/6.jpg" alt="" /></a>
							</div>
							<div class="product-info">
								<h4 class="post-title"><a href="#">Product name</a></h4>
								<span class="pro-price">$ 56.20</span>
							</div>
						</div> #}
						<!-- Single-product end -->
						<!-- Single-product start -->
						{# <div class="single-product col-lg-12">
							<div class="product-img">
								<a href="single-product.html"><img src="img/product/3.jpg" alt="" /></a>
							</div>
							<div class="product-info">
								<h4 class="post-title"><a href="#">Product name</a></h4>
								<span class="pro-price">$ 56.20</span>
							</div>
						</div> #}
						<!-- Single-product end -->
					</div>
				</aside>
				<!-- Widget-product end -->
				<!-- Widget-banner start -->
				<aside class="widget widget-banner">
					<div class="widget-info widget-banner-img">
						<a href="#"><img src="img/banner/5.jpg" alt="" /></a>
					</div>
				</aside>
				<!-- Widget-banner end -->
			</div>
		</div>
	</div>
</div>










