title = "Marketplace - Shop"
url = "/marketplace/shop"
layout = "marketplace-default"
is_hidden = 0
[Cart]
[products]
==
<?php
use Jambolo\Products\Models\Product;
use Jambolo\Artisans\Models\Artisan;
    function onStart(){
        //$this['artisan'] = Artisan::where('slug',$this->param('slug'))->first();
        $this['product'] = Product::where('slug', $this->param('product-slug'))->first();
    }

?>
==
{% set categories = products.categories %}
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>Jambolo Shop</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{{'/marketplace-home'}}">Marketplace</a></li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
			<!-- HEADING-BANNER END -->
			<!-- PRODUCT-AREA START -->
<div class="product-area pt-80 pb-80 product-style-2">
                <div class="container">
                    <div class="row">
						{% partial 'products::shop-products' %}
                        
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <!-- Widget-Search start -->
                            {# <aside class="widget widget-search mb-30">
                                <form action="#">
                                    <input type="text" placeholder="Search here..." />
                                    <button type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </aside> #}
                            <!-- Widget-search end -->
                            <!-- Widget-Categories start -->
                            {# <aside class="widget widget-categories  mb-30">
                                <div class="widget-title">
                                    <h4>Categories</h4>
                                </div>
                                <div id="cat-treeview"  class="widget-info product-cat boxscrol2">
                                    <ul>
										{% for category in categories %}
											{% if category.parent_category_id == null %}
												<li class="open"><a href="/marketplace/shop/category/{{category.slug}}">{{category.category_name}}</a>
													<ul>
														{% for subcategory in category.categories %}
															<li><a href="/marketplace/shop/category/{{subcategory.slug}}">{{subcategory.category_name}}</a></li>
														{% endfor %}
													</ul>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
                                </div>
                            </aside> #}
                            <aside class="widget widget-categories  mb-30">
					<div class="widget-title">
						<h4>Categories</h4>
					</div>
					<div id="cat-treeview"  class="widget-info product-cat boxscrol2">
						<ul>
							{% for category in categories %}
									<li class="open {% if product.category.category_name == category.category_name %} activecat {% endif %}"><a href="/marketplace/shop/category/{{category.slug}}">{{category.category_name}}</a>
										<ul>
											{% for subcategory in category.allChildrenAccounts %}

												<li class="{% if product.category.category_name == subcategory.category_name %} activecat {% endif %}"><a href="/marketplace/shop/category/{{subcategory.slug}}">{{subcategory.category_name}}</a>
													<ul>
														{% for subsubcategory in subcategory.child_categories %}
															<li class="{% if product.category.category_name == subsubcategory.category_name %} activecat {% endif %}"><a href="/marketplace/shop/category/{{subsubcategory.slug}}">{{subsubcategory.category_name}}</a>
														{% endfor %}
													</ul>
												</li>
											{% endfor %} 
										{# {% set childcategories = category.child_categories %}
										{% partial "singleproduct::subcategories" catogories = "childcategories" %} #}
										</ul>
									</li>
							{% endfor %}
						</ul>
					</div>
				</aside>
                            <!-- Widget-categories end -->
                            <!-- Shop-Filter start -->
                            {# <aside class="widget shop-filter mb-30">
                                <div class="widget-title">
                                    <h4>Price</h4>
                                </div>
                                <div class="widget-info">
                                    <div class="price_filter">
                                        <div class="price_slider_amount">
                                            <input type="submit"  value="You range :"/> 
                                            <input type="text" id="amount" name="price"  placeholder="Add Your Price" /> 
                                        </div>
                                        <div id="slider-range"></div>
                                    </div>
                                </div>
                            </aside> #}
                            <!-- Shop-Filter end -->
                            <!-- Widget-Color start -->
                            {# <aside class="widget widget-color mb-30">
                                <div class="widget-title">
                                    <h4>Color</h4>
                                </div>
                                <div class="widget-info color-filter clearfix">
                                    <ul>
                                        <li><a href="#"><span class="color color-1"></span>LightSalmon<span class="count">12</span></a></li>
                                        <li><a href="#"><span class="color color-2"></span>Dark Salmon<span class="count">20</span></a></li>
                                        <li><a href="#"><span class="color color-3"></span>Tomato<span class="count">59</span></a></li>
                                        <li class="active"><a href="#"><span class="color color-4"></span>Deep Sky Blue<span class="count">45</span></a></li>
                                        <li><a href="#"><span class="color color-5"></span>Electric Purple<span class="count">78</span></a></li>
                                        <li><a href="#"><span class="color color-6"></span>Atlantis<span class="count">10</span></a></li>
                                        <li><a href="#"><span class="color color-7"></span>Deep Lilac<span class="count">15</span></a></li>
                                    </ul>
                                </div>
                            </aside> #}
                            <!-- Widget-Color end -->
                            <!-- Widget-Size start -->
                            {# <aside class="widget widget-size mb-30">
                                <div class="widget-title">
                                    <h4>Size</h4>
                                </div>
                                <div class="widget-info size-filter clearfix">
                                    <ul>
                                        <li><a href="#">M</a></li>
                                        <li class="active"><a href="#">S</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">SL</a></li>
                                        <li><a href="#">XL</a></li>
                                    </ul>
                                </div>
                            </aside> #}
                            <!-- Widget-Size end -->
                            <!-- Widget-banner start -->
                            <aside class="widget widget-banner hidden-sm">
                                <div class="widget-info widget-banner-img">
                                    <a href="#"><img src="{{'assets/marketplace/img/banner/5.jpg'|theme}}" alt="" /></a>
                                </div>
                            </aside>
                            <!-- Widget-banner end -->
                        </div>
                    </div>
                </div>
            </div>







