title = "not-found"
url = "/404"
layout = "default"
description = "Jambolo Not Found Page"
meta_title = "Jambolo Page Not Found"
is_hidden = 0

==
<div class="row h-third-row">
					<div class="m1170 p-relative h250">
						<div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
							Page Not Found
							<div class="h-current-page">
								<a href="#" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Not Found
							</div>
						</div>
					</div>
				</div>

<section>
			<div class="container-fluid">
				<div class="row margin0">
					<div class="m1170">
						<div class="not-found-title margin60 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<span class="color555 extrabold">OOPS!!!</span> <b class="color333">This Page Is Not found</b>
						</div>
						<div class="error404 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<span class="error-blue">404</span><br />
							<span class="error-orange">ERROR</span>
						</div>
						<div class="text-center color777 top40 font14 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<strong>The page you are looking for might have been removed, has its name changed or is temporarily unavailable</strong>
						</div>
						 <div class="row s-row-line margin60">
						</div> 

						<!-- <div class="main-content-404">
							<div class="col-sm-1"></div>
							<div class="col-sm-4 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<h5 class="color333"><b>These links might help you ...</b></h5>
								<div class=" font13 top30 color777">Eiusmod tempor incidiunt labore velit dolore magna aliq
									sed eniminim veniam quis nostrud exercition.
								</div>
								<ul class="list-styles start0 top40 error404list color333">
									<li><a href="03-category-1.html"><i class="fa icon-ok-circle">&nbsp;</i>Business Featured Listings</a></li>
									<li><a href="04-category-2.html"><i class="fa icon-ok-circle">&nbsp;</i>Featured Coupons</a></li>
									<li><a href="03-category-1.html"><i class="fa icon-ok-circle">&nbsp;</i>Latest FREE Listings</a></li>
									<li><a href="05-category-3.html"><i class="fa icon-ok-circle">&nbsp;</i>Recently Submitted Coupons</a></li>
									<li><a href="04-category-2.html"><i class="fa icon-ok-circle">&nbsp;</i>All Listings & Coupons</a></li>
									<li><a href="05-category-3.html"><i class="fa icon-ok-circle">&nbsp;</i>Submit Your Ad</a></li>
								</ul>
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-5 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<h5 class="color333"><b>Try searching a page ...</b></h5>
								<div class=" font13 top30 color777">Eiusmod tempor incidiunt labore velit dolore magna aliq sed eniminim veniam
									quis nostrud exercition.
								</div>
								<div class="search top30 width100">
									<input class="search-input width100 f-left borderccc">
									<a href="#"><div class="search-button f-right"><i class="fa fa-search"></i></div></a>
								</div>						
								<div class=" font13 top30 color777">OR try going to the Home Page ...</div>
								<div class="f-left top20"><form action="01-home-1.html" method="POST"><b><input type="submit" value="go to homepage" class="uppercase submit-btn b-radius3 button-white"></b></form></div>
							</div>
							<div class="col-sm-1"></div>
						</div> -->

					</div>
				</div>
			</div>
		</section>