title = "profile"
url = "/profile"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
==
<div class="row h-third-row">
    <div class="m1170 p-relative h250">
        <div class="col-sm-12 h-page-name p-absolute wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            Profile
            <div class="h-current-page">
                <a href="#" ><span class="f-orange">Home</span></a> <span class="f-slash">/</span> Profile
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin: 30px;">
<section>
    {% if not user %}

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            {% partial 'site/user-login' %}
        </div>

    </div>

{% else %}

<div class="col-md-6 col-md-offset-3">
    {% partial account ~ '::activation_check' %}

    
    {% partial 'site/user-update' %}
  

    {% partial account ~ '::deactivate_link' %}
  </div>

{% endif %}	
</section>
</div>