title = "register"
url = "/register"
layout = "default"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
{# <div class="container" style="margin: 30px;">
<section> #}
	{% if not user %}
{# 
    <div class="row">

        <div class="col-md-6 col-md-offset-3"> #}
            
            {% partial 'site/user-register' %}
        {# </div>

    </div> #}

{% else %}

  {# <div class="col-md-6 col-md-offset-3">
    {% partial account ~ '::activation_check' %}

    
    {% partial 'site/user-update' %}
  

    {% partial account ~ '::deactivate_link' %}
  </div> #}

{% endif %}	
{# </section>
</div> #}