title = "Single Product"
url = "/find-artisan/artisan/:slug/products/:product-slug"
layout = "default"
is_hidden = 0
==
<?php
use Jambolo\Products\Models\Product;
use Jambolo\Artisans\Models\Artisan;
    function onStart(){
        $this['artisan'] = Artisan::where('slug',$this->param('slug'))->first();
        $this['product'] = Product::where('slug', $this->param('product-slug'))->where('artisan_id', $this['artisan']->id)->first();
    }

?>
==
<div class="main">
				<div class="main-inner">
					<div class="content">
						<div class="content-title">
							<div class="container">
								<h1>Product Details Page</h1>
                                <ul class="breadcrumb">
									<li>
										<a href="{{'/'}}">Home</a>
										<i class="md-icon">keyboard_arrow_right</i>
									</li>
									{% if not prev == url('/') and prev == this.page.url %}
									<li>
									    <a href="{{prev}}">Artisan List</a>
									    <i class="md-icon">keyboard_arrow_right</i>
									</li>
									{% endif %}
									<li class="active">Product Details Page</li>
								</ul>
							</div>
							<!-- /.container -->
						</div>
						<!-- /.content-title -->
						{# <div class="listing-navigation">
							<a href="#">
								<i class="md-icon">keyboard_arrow_right</i>
							</a>
							<a href="#">
								<i class="md-icon">favorite_border</i>
							</a>
							<a href="#">
								<i class="md-icon">compare</i>
							</a>
							<a href="#">
								<i class="md-icon">keyboard_arrow_left</i>
							</a>
						</div> #}
						<!-- /.listing-navigation -->
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-lg-9">
									<div class="push-top-bottom">
										<div class="listing-detail">
											<div class="gallery">
												{# <div class="gallery-item" style="background-image: url('assets/img/tmp/gallery/1.jpg');">
													<div class="gallery-item-description">
														Quisque ornare efficitur risus eu bibendum
													</div>
													<!-- /.gallery-item-description -->
												</div>
												<!-- /.gallery-item -->
												<div class="gallery-item" style="background-image: url('assets/img/tmp/gallery/2.jpg');">
													<div class="gallery-item-description">
														Quisque ornare efficitur risus eu bibendum
													</div>
													<!-- /.gallery-item-description -->
												</div>
												<!-- /.gallery-item --> #}
                                                {% if product.product_image.path %}
													<div class="gallery-item" style="background-image: url('{{ product.product_image.path }}');">
												{% elseif artisan.category.category_image.path %}
													<div class="gallery-item" style="background-image: url('{{ artisan.category.category_image.path }}');">
												{% else %}
													<div class="gallery-item" style="background-image: url('{{ 'assets/img/noimg.jpg'|theme }}');">
												{% endif %}
													<div class="gallery-item-description">
														{{ product.name }}
													</div>
													<!-- /.gallery-item-description -->
												</div>
												<!-- /.gallery-item -->
											</div>
											<!-- /.gallery -->
													<h2>Description</h2>
													{{ product.product_description|raw }}					
{# 
											<h2>Write Feedback</h2>

											<div class="comment-create clearfix">
												<form method="post" action="?">
													<div class="form-group">
														<label>Message</label>
														<textarea class="form-control" rows="5"></textarea>
													</div>
													<!-- /.form-group -->

													<div class="row">
														<div class="col-sm-4">
															<div class="form-group">
																<label>Name</label>
																<input type="text" class="form-control">
															</div>
															<!-- /.form-group -->
														</div>
														<!-- /.col-* -->

														<div class="col-sm-4">
															<div class="form-group">
																<label>E-mail</label>
																<input type="email" class="form-control">
															</div>
															<!-- /.form-group -->
														</div>
														<!-- /.col-* -->

														<div class="col-sm-4">
															<div class="form-group">
																<label>URL</label>
																<input type="text" class="form-control">
															</div>
															<!-- /.form-group -->
														</div>
														<!-- /.col-* -->
													</div>
													<!-- /.row -->

													<div class="form-group-btn">
														<a href="#" class="btn btn-primary btn-large pull-right">Post Comment</a>
													</div>
													<!-- /.form-group-btn -->
												</form>
											</div>
											<!-- /.comment-create --> #}
										</div>
										<!-- /.listing-detail -->
									</div>
									<!-- /.push-top-bottom -->
								</div>
								<!-- /.col-sm-9 -->

								<div class="col-md-4 col-lg-3">
									<div class="sidebar">
										<div class="widget">
											<div class="overview">
												<ul>
                                                    <li>
														<strong>Product Name</strong>
														<span style="text-transform:capitalize">{{product.name}}</span>
													</li>
                                                    <li>
														<strong>Price</strong>
														<span>NGN {{product.price|number_format(2, '.', ',')}}</span>
													</li>
													<li>
														<strong>Location</strong>
														<span>{{artisan.address}}</span>
													</li>
													<li>
														<strong>Category</strong>
														<span>{{artisan.category.category_name}}</span>
													</li>
													<li>
														<strong>Phone</strong>
														
														<span> <a style="color:#fff" class="call btn btn-primary btn-block" data-request="onCountCall" data-request-data="'id':{{artisan.id}}" data-number="{{artisan.phone_number}}" href="tel:{{artisan.phone_number}}">Call</a> </span>

														{# <span> <a href="tel:{{artisan.phone_number}}">{{artisan.phone_number}}</a> </span> #}
													</li>
													{# <li>
														<strong>Customers Served</strong>
														<span> {{artisan.call_counter}} </span>

													</li> #}
													{# <li>
														<strong>Rating</strong>
														<!-- Rating -->

														
											{% if artisan.premium %}
														<span><ul class="list-styles raitings-stars p-left10 inl-flex">
											{{'<li><i class="fa fa-star"></i></li>' | str_repeat(5) }}
											{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-5) }}
										</ul></span>
											{% else %}
											<span><ul class="list-styles raitings-stars p-left10 inl-flex">
											{{'<li><i class="fa fa-star"></i></li>' | str_repeat(overallAverageRounded) }}
											{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-overallAverageRounded) }}
										</ul></span>
											{% endif %}
														
													</li> #}
													
												</ul>
											</div>
											
											<!-- /.overview -->
										</div>
										<!-- /.widget -->

										{# <div class="widget">
											<h2 class="widgettitle">Contact Information</h2>

											<ul class="contact">
												<li>
													<i class="md-icon">email</i>
													<a href="mailto:hi@example.com">hi@example.com</a>
												</li>
												<li>
													<i class="md-icon">link</i>
													<a href="#">example.com</a>
												</li>
												<li>
													<i class="md-icon">phone</i> <a href="tel:{{artisan.phone_number}}">{{artisan.phone_number}}</a></li>
												<li>
													<i class="md-icon">location_on</i> {{artisan.address}}</li>
											</ul>
										</div> #}
										<!-- /.widget -->
									</div>
									<!-- /.sidebar -->
								</div>
								<!-- /.col-* -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-->
					</div>
					<!-- /.content -->
				</div>
				<!-- /.main-inner -->
			</div>
			<!-- /.main -->