title = "Thank-you"
url = "/thank-you/"
layout = "marketplace-default"
description = "A thank you page for orders"
is_hidden = 0
[Checkout]
[Cart]
[account]
[session]
[PaystackPayment]
==
{% set order = PaystackPayment.order %}
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
                <div class="col-md-12" style="height:50px">
                
                    
                </div>
                
         </div>
    </div>
</section>
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
                <div class="col-md-6">
                    <div class="teasertext">
                        <h3 style="line-height:40px">Your payment was successful and your order confirmed</h3>
                        <div>
                            Thank you for your order! <br/>Your order number is <strong>JMB{{order.id}}</strong>.
                            {% if order.transref %}
                            Your transaction reference is <strong>{{order.transref}}</strong>.
                            {% endif %}
                            Check your dashboard to follow up on the status of your order, <a href="/marketplace" style="color:black !important"><strong>Continue Shopping</strong></a> or Return to the <a href="/" style="color:black !important"><strong>Homepage</strong></a>. 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">  
                    <img class="img img-responsive" src="{{'assets/images/thankyou.jpg'|theme}}" alt="">
                </div> 
         </div>
    </div>
</section>
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
                <div class="col-md-12" style="height:50px">
                
                    
                </div>
                
         </div>
    </div>
</section>