.admin-sidebar {
    background: #000;
}

.btn-primary{
    background: #000;
}

.breadcrumb i {
    color: #000;
}

.form-control:active, .form-control:focus {
    box-shadow: 0 2px 0 0 #000 !important;
}

.admin-sidebar .nav-link span {
    background: #fff;
    color: #000;
}