[FooterCategories]
==
<footer>
				<div class="row f-second-row footer">
					<div class="m1170">
						<div class="col-sm-4 f-1td top40" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<h5 class="uppercase colorfff footer-title"><b class="footer-title">About Jambolo</b></h5>
							<div class="footer-logo top30"><a class="footerLogo" href="{{'home'|page}}"><div class="no-wrap"><h5 class="f-wisem color777"><img class="brandlogo" src="{{ 'assets/img/jambolologo.png'|theme }}" alt="Jambolo">The Artisan Directory</h5></div></a></div>
							<div class="footer-td1-txt coloraaa top30 p-right20">
								Jambolo.com is an online business directory for artisans and small and medium scale enterprises (“SMEs”) in Nigeria.
							</div>
							<!-- <div class="button1-1 b-radius3 right30 button-blue top20">Read More</div> -->
							<div class="clearfix"></div>
						</div>

						<div class="col-sm-4 f-2td top40" >
							<h5 class="uppercase colorfff"><b class="footer-title">Some categories</b></h5>
							<ul class="list-styles left-40 top30 f-left coloraaa footer-list p-right20">
							{% component 'FooterCategories' %}
							</ul>
							<div class="clearfix"></div>
						</div>

						<div class="col-sm-4 f-3td top40" >
							<h5 class="uppercase colorfff"><b class="footer-title">GET IN TOUCH</b></h5>
							<div class="top30 p-right20 coloraaa">
								<b class="uppercase colorfff">JAMBOLO | THE ARTISAN DIRECTORY</b>
								<br />
								29 Ijaoye street,yaba, lagos, Nigeria.
								<!-- <a href="#" class="uppercase">see on map</a> -->
								<br />
								<table>
									<tr><td>Tele</td><td class="p-left10">+234-(0)809-165-2586</td></tr>
									<tr><td>Tele</td><td class="p-left10">+234-(0)818-215-6246</td></tr>
									<tr><td>Tele</td><td class="p-left10">+234-(0)813-259-7396</td></tr>
									<tr><td>E-mail</td><td class="p-left10">info@jambolo.com</td></tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="row f-third-row footer2">
					<div class="m1170">
						<div class="footer-relative">
							<div class="col-sm-6 left-footer2">
								&copy; 2017 <a href="{{'home'|page}}">Jambolo | The Artisan Directory</a> - All Rights Reserved. <a href="#">Privacy Policy </a>
							</div>
							<div class="col-sm-6 right-footer2" data-wow-delay="0.7s" data-wow-duration="1.5s">
								<!-- <a href="#">
									<div class="img-icons-2"><i class="fa fa-facebook">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-google-plus">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-twitter">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-pinterest">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-vimeo">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-dribbble">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-linkedin">&nbsp;</i></div>
								</a>
								<a href="#">
									<div class="img-icons-2"><i class="fa fa-rss">&nbsp;</i></div>
								</a> -->
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<a id="to-top" href="#header-top"><i class="fa fa-chevron-up"></i></a>
		</footer>