<div class="container-fluid">
    <div class="row h-first-row">
        <div class="m1170">
            <div class="col-xs-5 text-uppercase">Welcome to Jambolo - The Artisan Directory</div>
            <div class="col-xs-7 text-right">
                <div class="row">
                    <!-- <div class="h-curr col-sm-5">
                                    <a href="#" class="h-curr-active">$ USD</a>
                                    <a href="#">&#8364; EUR</a>
                                    <a href="#">&#163; GBP</a>
                                </div> -->
                    <div class="h-login col-sm-7">
                        {% if user %} Hello! {{user.name}} {% endif %} {% if not user %}<a href="{{'login'|page}}" class="h-a-login">LOGIN</a>{%
                        endif %} {% if not user %}<a href="{{'register'|page}}" class="h-a-login">REGISTER</a>{% endif %}
                         {% if user
                        %}
                        <a data-request="onLogout" data-request-data="redirect: '/'" class="h-a-login">SIGNOUT</a> {% endif
                        %}
                        <!-- <a href="#" class="h-a-register">REGISTER</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header" class="row h-second-row">
        <div class="m1170">
            <div class="col-sm-4 col-xs-10 h-logo">
                <div class="logotype">
                    <a href="{{'home'|page}}"><img class="brandlogo" src="{{ 'assets/img/jambolologo.png'|theme }}" alt="Jambolo"></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-8 col-xs-2 h-menu padding0">
                <nav>
                    <div class="nav-container container-fluid padding0">
                        <i class="fa fa-times close-menu mobileMenuSwitcher onlyMobileMenu"></i>
                        <ul class="nav navbar-nav navbar-main navbar-right">
                            <li class="{% if this.page.id == 'home' %} active {% endif %}">
                                <a href="{{'home'|page}}" role="button" aria-expanded="false">Home </a>

                            </li>
                            <!-- <li class="{% if this.page.id == 'about-us' %} active {% endif %}"><a href="11-about.html">about us</a></li> -->
                            <li class="dropdown {% if this.page.id == 'about-jambolo' %}active{% endif %}">
                                <a href="{{'about-jambolo'|page}}" class="" aria-haspopup="true" aria-expanded="false">About us</a>

                            </li>
                            <li class="dropdown {% if this.page.id == 'directory' %}active{% endif %}">
                                <a href="{{'directory'|page}}" class="" aria-haspopup="true" aria-expanded="false">Directory</a>

                            </li>
                            <li class="dropdown {% if this.page.id == 'faqs' %}active{% endif %}">
                                <a href="{{'faqs'|page}}" class="" aria-haspopup="true" aria-expanded="false">FAQs</a>

                            </li>
                            <li class="dropdown {% if this.page.id == 'contact-us' %}active{% endif %}">
                                <a href="{{'contact-us'|page}}" class="" aria-haspopup="true" aria-expanded="false">Contact us</a>

                            </li>
                            <!-- <li class="dropdown">
                                            <a href="08-blog-details.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PAGES <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="08-blog-details.html">Post</a></li>
                                                <li><a href="09-pricing.html">Pricing</a></li>                                              
                                                <li role="separator" class="divider"></li>
                                                <li><a href="12-not-found.html">Not found</a></li>
                                                <li><a href="13-typography.html">Typography</a></li>
                                            </ul>
                                        </li> -->
                            <!-- <li><a href="07-blog-1.html">Blog</a></li> -->
                            <!-- <li><a href="10-contact.html">CONTACT</a></li> -->
                            <!-- <li class="h-submit-listing"><a href="06-listing-details.html"><span class="h-plus">+</span> SUBMIT LISTING</a></li> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
