First Name: {{firstname}} <br />
Last Name: {{lastname}} <br />
E-mail: {{email}} <br />
Just placed an order. Please login to get more details on the order. <br />
<h2>The Order ID is: <b>{{ordernumber}}</b></h2>

{{cart|raw}}