
   <table width="100%" style="width:100%; text-align:center" align="center">
                <tbody>
                    <tr>
                        <td class="m_5948577815359119527m_-1152266124961260828m_9176225586646589090m_-6855321801164878003float-center"
                            valign="top" align="center">
                            
                                <table align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:16px;line-height:16px" height="16px">
                                                                 </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="600" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr width="100%">
                                                            <td style="padding-left:16px"><span
                                                                    style="color:#656565;padding:0 16px">Your Order Notification</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="m_5948577815359119527m_-1152266124961260828m_9176225586646589090m_-6855321801164878003row">
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                    
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th>
                                                                                        <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="text-align:center; width:50% !important;" align="center">
                                                                                                        <a href="https://jambolo.com" style="font-size:48px;/*! text-align:center; */text-transform:uppercase;color:#000" rel="noopener noreferrer noreferrer" target="_blank" data-saferedirecturl="https://jambolo.com/"><img style="display:block;/*! margin:auto; *//*! width:40%; */ margin-top:40px; margin-bottom:40px;margin-left: auto;margin-right: auto;width: 250px;" src="https://jambolo.com/storage/app/media/jambolologo.png" alt="kokore-logo"></a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </th>
                                                                                </tr>
                                                                            </tbody>
                                                                        
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                    {# <tbody>
                                                        <tr>
                                                            <td>
                                                                <table
                                                                    class="m_5948577815359119527m_-1152266124961260828m_9176225586646589090m_-6855321801164878003row m_5948577815359119527m_-1152266124961260828m_9176225586646589090m_-6855321801164878003text-center m_5948577815359119527m_-1152266124961260828m_9176225586646589090m_-6855321801164878003container m_5948577815359119527m_-1152266124961260828m_9176225586646589090m_-6855321801164878003float-center"
                                                                    style="border-bottom:1px solid #999999;padding-bottom:10px;width:100%"
                                                                    align="center">
                                                                    <tbody>
                                                                        <tr style="height:25px">
                                                                            <td
                                                                                style="width:30%;text-align:center;padding-bottom:0px;padding-left:32px">
                                                                                <a style="color:#000000;text-decoration:none"
                                                                                    href="https://test.thisiskokore.co/prints"
                                                                                    rel="noreferrer" target="_blank"
                                                                                    data-saferedirecturl="https://test.thisiskokore.co/prints/bestsellers">BESTSELLERS</a>
                                                                            </td>
                                                                            <td
                                                                                style="width:30%;text-align:center;padding-bottom:0px">
                                                                                <a style="color:#000000;text-decoration:none"
                                                                                    href="https://test.thisiskokore.co/en/artiklar/new-in/index.html"
                                                                                    rel="noreferrer" target="_blank"
                                                                                    data-saferedirecturl="https://test.thisiskokore.co/prints/new">NEW
                                                                                    IN</a></td>
                                                                            <td
                                                                                style="width:30%;text-align:center;padding-bottom:0px;padding-right:16px">
                                                                                <a style="color:#000000;text-decoration:none"
                                                                                    href="https://test.thisiskokore.co/prints"
                                                                                    rel="noreferrer" target="_blank"
                                                                                    data-saferedirecturl="https://test.thisiskokore.co/prints">PRINTS</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody> #}
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:50px 32px;text-align:left; display:block; margin-left:auto; margin-right:auto">
                                                                <h1 style="text-align:center">Your Order Notification</h1>
      

                                                                    {{order|raw}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            
                        </td>
                    </tr>
                </tbody>
            </table>
                     
















