{% set feature = __SELF__.featureTwo %}
<div class="single-banner banner-2">
                <a class="banner-thumb" href="{{'new-single-product'|page({'product-slug':feature.product.slug}) }}"><img src="{{ feature.featureimg.path }}" alt="" /></a>
                <div class="banner-brief">
                    <h2 class="banner-title hidden-md"><a href="#">{{ feature.product.name }}</a></h2>
                    <p class="hidden-md hidden-sm hidden-xs">{{ feature.product.description }}</p>
                    <a href="{{'new-single-product'|page({'product-slug':feature.product.slug}) }}" class="button-one font-16px" data-text="Buy now">Buy now</a>
                </div>
            </div>