{% set feature = __SELF__.featureOne %}
<div class="single-banner banner-1">
                <a class="banner-thumb" href="{{'new-single-product'|page({'product-slug':feature.product.slug}) }}"><img src="{{ feature.featureimg.path }}" alt="" /></a>
                <span class="pro-label new-label hidden-md">new</span>
                <span class="price hidden-md">NGN {{feature.product.price|number_format(2, '.', ',')}}</span>
                <div class="banner-brief">
                    <h2 class="banner-title hidden-md"><a href="#">{{ feature.product.name }}</a></h2>
                    <p class="mb-0 hidden-md">{{feature.product.category.category_name}}</p>
                </div>
                <a href="{{'new-single-product'|page({'product-slug':feature.product.slug}) }}" class="button-one font-16px" data-text="Buy now">Buy now</a>
            </div>