
{% set slides = __SELF__.midSlides %}
{% for slide in slides %}
    <div class="col-lg-12">
        <div class="discount-product">
            <img src="{{slide.slider_image.path}}" alt="" />
            {# <div class="discount-img-brief">
                <div class="onsale">
                    <span class="onsale-text">On Sale</span>
                    <span class="onsale-price">NGN {{product.price|number_format(2, '.', ',')}}</span>
                </div>
                <div class="discount-info">
                    <h1 class="text-dark-red hidden-xs">Discount 50%</h1>
                    <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed does eiusmodes tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venim, quis nostrud exercitation ullamco laboris.</p>
                    <a href="#" class="button-one font-16px style-3 text-uppercase mt-5" data-text="Buy now">Buy now</a>
                </div>
            </div> #}
        </div>
    </div>
{% endfor %}