{% set slides = __SELF__.topSlides %}
 <div id="ensign-nivoslider" class="slides">
    {% for slide in slides %}
        <img src="{{ slide.slider_image.path }}" alt="" title="#slider-direction-{{loop.index}}"  />
    {% endfor %}
</div>
{% for slide in slides %}
<div id="slider-direction-{{loop.index}}" class="t-cn slider-direction">
    <div class="slider-progress"></div>
    <div class="slider-content t-lfl s-tb slider-1">
        <div class="title-container s-tb-c title-compress">
            <div class="layer-1">
                {# <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h2 class="slider-title3 text-uppercase mb-0" >welcome to our</h2>
                </div>
                <div class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.5s">
                    <h2 class="slider-title1 text-uppercase mb-0">furniture</h2>
                </div>
                <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="2.5s">
                    <h3 class="slider-title2 text-uppercase" >gallery 2016</h3>
                </div> #}
                <div class="wow fadeIn" data-wow-duration="2.5s" data-wow-delay="3.5s">
                    <a href="{{slide.link}}" class="button-one style-2 text-uppercase mt-20" data-text="Shop now">{{slide.button_label}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}