{% set ratings = [5,4,3,2,1] %}
{% set artisan = ArtisanDetails.artisan %}

<h2>Give Feedback</h2>



<form class="el-form-1 raiting-post f-left" style="width:100%" id="el-form-1" method="post" value="onRate" data-request="onRate">
<div class="write-comment-raiting font13 semibold color777 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
	<div class="rait-serv">

		Service
		<ul class="list-styles raitings-stars rating inl-flex">
			{% for rating in ratings %}
				 <label>
    				<input type="radio" onclick="rateService({{rating}})" name="rating" value="rateService({{rating}})" title="{{rating}} stars"> 5
  				</label>
			{% endfor %}
		</ul>		
		
		
		<div class="clearfix"></div>
	</div>
	<div class="rait-qual">
		Quality
		<ul class="list-styles raitings-stars rating2 inl-flex">
			{% for rating in ratings %}
				 <label>
    				<input type="radio" onclick="rateQuality({{rating}})" name="rating2" value="rateQuality({{rating}})" title="{{rating}} stars"> 5
  				</label>
			{% endfor %}
		</ul>	

		<div class="clearfix"></div>
	</div>
	<div class="rait-price">
		Pricing
		<ul class="list-styles raitings-stars rating3 inl-flex">
			{% for rating in ratings %}
				 <label>
    				<input type="radio" onclick="ratePricing({{rating}})" name="rating3" value="ratePricing({{rating}})" title="{{rating}} stars"> 5
  				</label>
			{% endfor %}
		</ul>	
		<div class="clearfix"></div>
	</div>
</div>
	<div class="comment-create clearfix">
												
													<div class="form-group">
														<label>Message</label>
														<textarea class="form-control" rows="5" placeholder="Comment" id="comment" name="comments"></textarea>
													</div>
													<!-- /.form-group -->

							
													<!-- /.row -->

													<div class="form-group-btn">
														<input type="submit" id="submitcomment" value="Post Comment" onclick="changeDataRequestAttributes()" class="btn btn-primary btn-large pull-right">
													</div>
													<!-- /.form-group-btn -->
												
											</div>

	{# <div class="col-sm-12 top20 padding0 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
		<textarea class="form-1-style2 border1 borderddd p-right0" placeholder="Comment" id="comment" name="comments"></textarea>
		<input type="submit" id="submitcomment" value="SUBMIT" onclick="changeDataRequestAttributes()" class="submit-btn button1-1 b-radius3 right30 button-orange top20"/>
	</div> #}
</form>	

