{% set ratingsAndComments = DisplayCommentsAndRatings.ratingsAndComments %}
{% set numberOfRatingsAndComments = DisplayCommentsAndRatings.numberOfRatingsAndComments %}
{% set overallAverage = DisplayCommentsAndRatings.overallAverage %}
{% set overallAverageRounded = DisplayCommentsAndRatings.overallAverageRounded %}
{% set serviceAverage = DisplayCommentsAndRatings.serviceAverage %}
{% set serviceAverageRounded = DisplayCommentsAndRatings.serviceAverageRounded %}
{% set qualityAverage = DisplayCommentsAndRatings.qualityAverage %}
{% set qualityAverageRounded = DisplayCommentsAndRatings.qualityAverageRounded %}
{% set pricingAverage = DisplayCommentsAndRatings.pricingAverage %}
{% set pricingAverageRouned = DisplayCommentsAndRatings.pricingAverageRounded %}
<div class="raiting-review top40">
	<div class="col-sm-7 padding0 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
		<div class="valign-table r-review">
			<div class="valign-table-cell left-side col-sm-6 b-right-1 b-color-eee p-left30">
				<div class="font40 color333"><b>
					{{overallAverage|round(1,'floor')}}
				</b></div><span class="font14 color777 uppercase"><b>Overall Rating</b></span>
			</div>
			<div class="valign-table-cell right-side col-sm-6 b-right-1 b-color-eee text-center">
				<ul class="list-styles raitings-stars p-left10 inl-flex">
					
						{{'<li><i class="fa fa-star"></i></li>' | str_repeat(overallAverageRounded) }}
						{{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(5-overallAverageRounded) }}
				</ul>
				<div class="clearfix"></div>
				<span class="font12 semibold color777">Based on recent {{numberOfRatingsAndComments}} reviews</span>
			</div>
		</div>
	</div>
	<div class="col-sm-5 padding0 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
		<div class="valign-table r-review font13 color777 lh-15-em padding20 wordwrap">
			<div class="valign-table-cell col-sm-6 left-side p-left0 p-right0">
				
				Service Level&nbsp;<b class="blue">{{serviceAverage|round(1,'floor')}}</b><br />
				Quality Rating&nbsp;<b class="blue">{{qualityAverage|round(1,'floor')}}</b><br />
				Pricing&nbsp;<b class="blue">{{pricingAverage|round(1,'floor')}}</b>
			</div>
			<div class="valign-table-cell col-sm-6 right-side p-left0 p-right0">
				
			</div>
		</div>
	</div>
	<div class="clearfix"></div>			
</div>