@font-face {
    font-family: norwester;
    src: url("/themes/materialist/assets/fonts/norwester/norwester.eot");
    src:
    url("/themes/materialist/assets/fonts/norwester/norwester.woff") format("woff"),
    url("/themes/materialist/assets/fonts/norwester/norwester.otf") format("opentype");
    /* url("assets/fonts/norwester/Harabara.svg#filename") format("svg"); */
    
}

@font-face {
    font-family: lato;
    src: url("/themes/materialist/assets/fonts/lato/Lato-Light.eot");
    src:
    url("/themes/materialist/assets/fonts/lato/Lato-Light.woff") format("woff"),
    url("/themes/materialist/assets/fonts/lato/Lato-Light.otf") format("opentype");
    /* url("assets/fonts/norwester/Harabara.svg#filename") format("svg"); */
    
}

.header-top-logo{
    width: 40%;
}

body{
    text-align: center;
}


html, body, h1, h2, p{
    font-family: lato !important;
}

h3{
    font-family: norwester !important;
    font-size: 40px;
    text-transform: uppercase;
}

h4{
    font-family: norwester !important;
    font-size: 20px;
    text-transform: uppercase;
}

h5{
    font-family: norwester !important;
    font-size: 15px;
    text-transform: uppercase;
}

h6 {
    font-size: 14px;
}

.landing-text{
    padding: 50px;
}

.form{
    padding: 30px;
    background-color: rgba(223, 47, 47, 0.8);
}

.landing-button {
    background-color: transparent;
    padding: 8px 90px !important;
    border: #fff solid 1px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.form .form-control {
    background-color: #CDA2A0;
    border: #CDA2A0 solid 1px;
    border-radius: 0px;
    height: 40px;
    padding: 10px 2px; 
}

.fab {
    padding-right: 20px;
    color: #DF2F2F;
}

label {
    text-align: left !important;
}