.partners {
    text-align: center;
    white-space: unset !important;
}
.partners a {
    width: auto;
}

.partners h6 {
    padding-top: 15px;
}

.partners img {
    -webkit-filter: none !important;
}

.active2 {
    color: #DA3228 !important;

}

.pagination {
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
}

.pagination-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.pagination li {
    padding-left: 20px;
}

.hero {
    height: 500px;
}

.hero-form {
    margin-bottom: 100px;
}

.hero-content {
    top: 40%;
}

.hero-content > div > img {
    margin: 0 auto;
    display: block;
    max-width:100%;
}

@media (min-width: 100px) and (max-width: 736px) {
    .hero-content {
        top: 0%;
    }
    .hero-content > div > img {
        margin: 0 auto;
        display: block;
        margin-top: 10px;
        width: 55%;
    } 
}

@media (min-width: 100px) and (max-width: 736px) {
    .hero-form {
        margin-bottom: 0px !important;
    }
}

.nav-pills-social > .nav-item {
    margin-left: 15px !important;
}
.header-bottom-label{
    background: none;
    color: #fff;
}

.extrastylenav > li {
    background: #b70303;
    padding: 6px 3px;
    margin-left: 3px;
}

.extrastylenav>li:hover {
    background: #780202;
    padding: 6px 3px;
    margin-left: 3px;
}

.brag > h6 {
    margin-top:15px !important;
}

.brag > i {
    color: #DF2F2F;
}

.hero-form-association{
    margin-bottom: 20px;
}




.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    line-height: 1;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.nohover {
    background-color: #333;
}
.nohover:hover {
    background-color: #333 !important;
    color: white !important;
}




/* displaying stars */

span.stars,
span.stars span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}



/* new rating related code */

ul.raitings-stars {
    list-style-type: none;
}

ul.raitings-stars li {
    float: left;
}

.raitings p {
    line-height: 25px;
}


.list-det-title .raitings-stars li,
.list-det-address i {
    width: 30px;
}

.list-det-title .raitings-stars .fa {
    font-size: 23px;
}

.list-det-title .raitings-stars li i,
.list-det-address i {
    position: relative;
    height: 23px;
}

.list-det-title .raitings-stars li i:before,
.list-det-address i:before {
    position: absolute;
}

.list-det-title ul.raitings-stars {
    margin: 0;
}

.row-explore-nerby .memb-photo-links .raitings-stars i.fa.fa-star {
    color: #eba100;
}

.list-det-left .raitings-stars {
    padding-left: 0 !important;
}

.inl-flex {
    display: inline-flex;
}

.list-styles li {
    list-style-type: none;
}


.list-styles .fa {
    padding-right: 10px;
    font-size: 14px;
}

.list-styles li .blue-circle {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-right: 10px;
}

.list-styles li .fa-circle {
    font-size: 10px;
}

/* comment and rating */ 

.comment-raiting div,
.write-comment-raiting div {
    float: left;
    margin-left: 25px;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 25px;
}

.write-comment-raiting div {
    line-height: 1em !important;
}

.comment-raiting div:first-child,
.write-comment-raiting div:first-child {
    margin-left: 0;
}

.comment-raiting .rait-numb {
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
}

.comment-raiting ul {
    padding: 0;
}

.write-comment-raiting ul {
    margin-left: 0;
    margin-bottom: 0;
}

.write-comment-raiting div .fa {
    font-size: 18px;
    padding-right: 20px;
}

.write-comment-raiting li i,
.write-comment-raiting i {
    position: relative;
    height: 11px;
}

.write-comment-raiting li i:before,
.write-comment-raiting i:before {
    position: absolute;
}

.write-comment-raiting div,
.write-comment-raiting div:first-child {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
}

.write-comment-raiting div .fa {
    color: #d8d8d8;
}

.raiting-review-sort .el-form-1 .form-1-style2 {
    background: #fff;
    border-color: #dddddd;
    color: #777777;
}

.listing-details-header .p-relative,
.raiting-review-sort .el-form-1 .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}

.el-form-1,
.el-form-2,
.el-form-3,
.el-form-4 {
    margin-left: -15px;
    float: left;
}

.raiting-post {
    margin-left: 0 !important;
}

.f-left {
    float: left;
}

.list-det-left .raitings-stars {
    padding-left: 0 !important;
}

ul.raitings-stars {
    list-style-type: none;
}

ul.raitings-stars li {
    float: left;
}

.list-det-title .raitings-stars li,
.list-det-address i {
    width: 30px;
}

.list-det-title .raitings-stars .fa {
    font-size: 23px;
}

.list-det-title .raitings-stars li i,
.list-det-address i {
    position: relative;
    height: 23px;
}

.list-det-title .raitings-stars li i:before,
.list-det-address i:before {
    position: absolute;
}

.list-det-title ul.raitings-stars {
    margin: 0;
}

.row-explore-nerby .memb-photo-links .raitings-stars i.fa.fa-star {
    color: #eba100;
}

label > input[type="radio"].radio-style1+span {
    display: none !important;
}

label > input[type=radio] {
    display: none !important;
}

/* rating related code */

/* ===================== */

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating > label {
    display: inline-block;
    font-size: 0px !important;
}

.rating > label::before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label::before,
.rating > label.selected::before,
.rating > label.selected ~ label::before {
    color: #f0ad4e !important;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

/* ===================== */

.rating2 {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating2 input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating2 label {
    display: inline-block;
    font-size: 0;
}

.rating2>label:before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating2>label:hover:before,
.rating2>label:hover~label:before,
.rating2>label.selected:before,
.rating2>label.selected~label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===================== */

.rating3 {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating3 input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating3 label {
    display: inline-block;
    font-size: 0;
}

.rating3>label:before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating3>label:hover:before,
.rating3>label:hover~label:before,
.rating3>label.selected:before,
.rating3>label.selected~label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comments {
    margin-top: 400px;
}

.write-comment-raiting{
    margin-bottom: 60px;
}

.comment-body {
    margin: 0px;
    padding-top: 0px;
}

.comment-meta-author{
    margin-bottom: 15px;
}

.fa{
    /* background-color: #DF2F2F !important; */
    color: #DF2F2F !important;
}

#menusearch .nav-item{
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px 5px 0px 0px;
    color: #333 !important;
}

#menusearch .nav-item.active {
    background: #f9f9f9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px 5px 0px 0px;
    color: red !important;
    font-weight: bold !important;
}

#menusearch > li:nth-of-type(2) > .nav-item {
    margin-left: 5px;
}

.hero-landing {
    height:650px;
    margin: 0px;
}

.adspacetop {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 150px;
    margin-bottom:60px;
    /* background-color: #000; */
}

.adspacetop img {
    position: absolute;
    top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.adspaceright {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    height: 600px;
    /* background-color: #000; */
}

.adspaceright img {
    position: absolute;
    top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.SocialSharingButtons .share-btn {
    margin-left: 10px !important;
}

.cartthumb {
    width: 150px;
}