{% set ratingsAndComments = __SELF__.ratingsAndComments %}
{% set numberOfRatingsAndComments = __SELF__.numberOfRatingsAndComments %}

<h2>hello</h2>
{% for ratingsAndComment in ratingsAndComments %}

<h2>{{ratingsAndComment|length}} comments in this topic</h2>

											<ul class="comments">
												<li>
													<div class="comment">
														<div class="comment-author">
															<a href="#" style="background-image: url('assets/img/tmp/profile-1.jpg');"></a>
														</div>
														<!-- /.comment-author -->

														<div class="comment-content">
															<div class="comment-meta">
																<div class="comment-meta-author">
																	Posted by
																	<a href="#">admin</a>
																</div>
																<!-- /.comment-meta-author -->

																<div class="comment-meta-reply">
																	<a href="#">Reply</a>
																</div>

																<div class="comment-meta-date">
																	<span>8:54 PM 11/23/2016</span>
																</div>
															</div>
															<!-- /.comment -->

															<div class="comment-body">
																<div class="comment-rating">
																	<i class="md-icon">star</i>
																	<i class="md-icon">star</i>
																	<i class="md-icon">star</i>
																	<i class="md-icon">star</i>
																	<i class="md-icon">star</i>
																</div>
																<!-- /.comment-rating -->

																Integer condimentum sodales metus, quis pellentesque nisi tempor at. Quisque ornare efficitur risus eu bibendum. Donec feugiat
																consequat magna in interdum. Donec malesuada orci et mi fermentum
															</div>
															<!-- /.comment-body -->
														</div>
														<!-- /.comment-content -->
													</div>
													<!-- /.comment -->
                                                    

													<ul>
														<li>
															<div class="comment">
																<div class="comment-author">
																	<a href="#" style="background-image: url('assets/img/tmp/profile-2.jpg');"></a>
																</div>
																<!-- /.comment-author -->

																<div class="comment-content">
																	<div class="comment-meta">
																		<div class="comment-meta-author">
																			Posted by
																			<a href="#">admin</a>
																		</div>
																		<!-- /.comment-meta-author -->

																		<div class="comment-meta-reply">
																			<a href="#">Reply</a>
																		</div>

																		<div class="comment-meta-date">
																			<span>8:54 PM 11/23/2016</span>
																		</div>
																	</div>
																	<!-- /.comment -->

																	<div class="comment-body">
																		<div class="comment-rating">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-half-o"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<!-- /.comment-rating -->

																		Donec malesuada orci et mi fermentum, ac tincidunt arcu tincidunt. Ut fringilla tellus sem, quis rhoncus dolor condimentum
																		id. Vivamus ut commodo felis. Fusce in lacus egestas, mattis ex et, molestie est.
																	</div>
																	<!-- /.comment-body -->
																</div>
																<!-- /.comment-content -->
															</div>
															<!-- /.comment -->
														</li>
													</ul>
												</li>

												<li>
													<div class="comment">
														<div class="comment-author">
															<a href="#" style="background-image: url('assets/img/tmp/profile-3.jpg');"></a>
														</div>
														<!-- /.comment-author -->

														<div class="comment-content">
															<div class="comment-meta">
																<div class="comment-meta-author">
																	Posted by
																	<a href="#">admin</a>
																</div>
																<!-- /.comment-meta-author -->

																<div class="comment-meta-reply">
																	<a href="#">Reply</a>
																</div>

																<div class="comment-meta-date">
																	<span>8:54 PM 11/23/2016</span>
																</div>
															</div>
															<!-- /.comment -->

															<div class="comment-body">
																<div class="comment-rating">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star-half-o"></i>
																</div>
																<!-- /.comment-rating -->

																Integer condimentum sodales metus, quis pellentesque nisi tempor at. Quisque ornare efficitur risus eu bibendum. Donec feugiat
																consequat magna in interdum. Donec malesuada orci et mi fermentum
															</div>
															<!-- /.comment-body -->
														</div>
														<!-- /.comment-content -->
													</div>
													<!-- /.comment -->
												</li>
											</ul>




<tr>
	<!-- <td>
		<div class="inline-block blog-comment-photo">
			<img src="media/100x100/blog-com1.jpg" alt="wd">
		</div>
	</td> -->
	<td>
		<div class="inline-block">
			<div class="font14 color333 l-h-1em"><b>{{ratingsAndComment.user.name}}</b></div>
			<div class="comment-raiting font13 semibold color777">
				<div class="rait-numb font13 colorfff"><b>{{((ratingsAndComment.rating_service+ratingsAndComment.rating_quality+ratingsAndComment.rating_pricing)/3)|round(1,'floor')}}</b></div>
				<div class="rait-serv">
					Service | {{ratingsAndComment.rating_service}}/5<br />
					<ul class="list-styles raitings-stars inl-flex">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_service|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_service|round(0,'floor')))}}
					</ul>
					
				</div>
				<div class="rait-qual">
					Quality | {{ratingsAndComment.rating_quality}}/5<br />
					<ul class="list-styles raitings-stars inl-flex">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_quality|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_quality|round(0,'floor')))}}
					</ul>
				</div>
				<div class="rait-price">
					Pricing | {{ratingsAndComment.rating_pricing}}/5<br />
					<ul class="list-styles raitings-stars inl-flex">
						{{'<li><i class="fa fa-star"></i></li>'| str_repeat((ratingsAndComment.rating_pricing|round(0,'floor')))}}
						{{'<li><i class="fa fa-star-o"></i></li>'| str_repeat(5-(ratingsAndComment.rating_pricing|round(0,'floor')))}}
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>{{ratingsAndComment.comments}}
			</div>
			<!-- <div class="font11 semibold color333 top10">Posted 2 days ago <a href="#">REPLY</a></div> -->
		</div>
	</td>
</tr>
{% endfor %}