{% set areaArtisanCount = artisanCountByArea %}
{% set category = category %}
<h3>Number of {{category.category_name}}(s) in</h3>
{% for key,value in areaArtisanCount %}
    <div>
        <h6><b>{{key}}</b> : {{value}}</h6> 
    </div>
    
    
{% endfor %}