{% set categories = __SELF__.categories %}
{% set backendUser = __SELF__.backendUser %}
{% if backendUser %}
<div class="container" style="padding-bottom:100px">
    <div class="row">
        <div class="col-md-12" style="padding:100px 0px">
            <div style="width: 100%;">
                <div style="margin: 0 auto;">
                    <h1>Dashboard - Reporting Tool</h1>
                    <form method="POST" enctype="multipart/form-data">
                        {{form_token()}}
                        {{form_sessionKey()}}
                        
                        <div>
                            <select name="category" id="category" class="form-control" style="-webkit-box-shadow: 0 5px 6px -6px #333;
	   -moz-box-shadow: 0 5px 6px -6px #333;
	        box-shadow: 0 5px 6px -6px #333;">
                                <option value="">Please Select an Artisan Category</option>
                                {% for category in categories %}
                                    <option value="{{category.slug}}">{{category.category_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button data-request="onCategory" class="btn btn-primary btn-block" style="margin-top:10px"> Submit</button>
                    </form>
                    {# <button data-request="onBulkExport">Export File</button> #}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="categoryinfo">
                {# {% partial 'categoryinfo' %} #}
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="container">
    <div class="row">
        <div class="col-md-12" style="padding:100px 0px">
            <div style="width: 100%;">
                <div style="margin: 0 auto;">
                    <h5>This page is restricted</h5>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endif %}